@import '../../assets/sharedscss/color';

.pop_code{
    .modal-dialog{
        max-width: 650px;
        .modal-content{
            border-radius: 15px;
            padding: 0px 1em;
            .modal-header{
                border-bottom: 0;
                .modal-title{
                    font-size: 22px;
                    font-weight: 600;
                }
                .close-popup{
                    padding: 1rem 0px;
                }
            }
            .modal-body{
                padding: 0px 1rem;
                color: $black-color;
                div, p{
                    font-size: 13px;
                    line-height: 20px;
                }
            }
            .modal-footer{
                p{
                    font-size: 12px;
                    color: #9B9B9B;
                    font-family: $medium;
                    width: 70%;
                    @media screen and (max-width:600px) {
                        width: auto;
                    }
                }
                .btn-primary{
                    color: #ffffff !important;
                    font-weight: 700;
                    font-family: $medium;
                    &:hover{
                        color: #ffffff !important;
                        box-shadow: 0px 4px 14px 0px #2874F04D;
                    }
                }
            }
            @media screen and (max-width:600px) {
                position: absolute;
                bottom: 0px;
            }
        }
    }
    .modal-dialog-scrollable{

        @media screen and (max-width:600px) {
            height: calc(100% - 0rem);
        }
        
    }
    
}

.w-25{
    @media screen and (max-width: 575.98px) {
        width: 100% !important;
    }
}

.mdis{
     margin: 0px !important;
}
.mdisbody{
    min-height: 245px !important;
    max-height: 60vh !important;
}
.mdistop{
border-radius: 15px 15px 0px 0px !important;
}



