<!-- Disclamier popup code  -->
<!-- Button trigger modal -->
  <button type="button" class="hideHeader redirection_dis_popup" data-bs-toggle="modal" data-bs-target="#disclamierPopupTest" ></button>

<!-- Modal -->
<div class="modal fade pop_code" id="disclamierPopupTest" tabindex="-1" role="dialog" aria-labelledby="disclamierPopupTestTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable modal-lg lgpopup" role="document">
    <div class="modal-content lgpopuptop">
      <div class="modal-header">
        <h5 class="modal-title" id="disclamierPopupTestTitle">Disclaimer</h5>
        <button type="button" class="close close-popup" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body lgpopupbody">
        <div>
           <p>By clicking "I ACCEPT," you are acknowledging and agreeing to this disclaimer and the subsequent automatic redirection to a third-party website, i.e., the website of Reward360, which you may proceed to use for your transactions.</p>

		<p > This Website is not owned, controlled or endorsed by HDFC Bank Limited, its affiliates, subsidiaries, employees, officers, directors, personnel or agents (hereinafter "HDFC Bank")</p>

		<p >HDFC Bank does not warrant the accuracy or completeness of the services, information, materials, tools or reliability of any service, advice, opinion, statement or information displayed or distributed through the Website. Furthermore, it is advised that you make your own enquiries and arrangements to verify, scan and check the Website for any viruses, malicious code or malware. HDFC Bank provides no warranties whatsoever in this regard. Upon agreeing, you understand and acknowledge that accessing/availing any service offered on the Website or relying on any opinion, statement, or information presented on the Website shall be at your sole risk.</p>

		<p > The information/services available on the Website is subject to change, revision, verification and/or amendment without notice. Such services/information may change materially at any time, and you agree and accept the same.</p>

        </div>
      </div>
      <div class="modal-footer justify-content-between border-0 pt-1 m-modal-footer">
        <div class="modal-footer justify-content-between w-100  pb-0 px-0">
          <p>By choosing Proceed, I am accepting all <a href="{{domainRedirect}}terms_conditions" target="_blank">terms and conditions</a></p>
          <a class="btn btn-primary rounded w-25 pt-10 redirectPopupUrlR"     (click)="closePopup()" style="text-transform: capitalize;">Proceed</a>
        </div>
      </div>
    </div>
  </div>
</div>  

<!-- Amazon Redirect popup  -->
<!-- Button trigger modal -->
  <button type="button" class="hideHeader redirection_popup" data-bs-toggle="modal" data-bs-target="#redirectPopup" ></button>
<!-- Modal -->
<div class="modal fade pop_code " id="redirectPopup" tabindex="-1" role="dialog" aria-labelledby="redirectPopupTitle" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-scrollable modal-lg lgpopup" role="document">
    <div class="modal-content lgpopuptop">
      <div class="modal-header text-center redirect-modal-header">
        <h6 class="modal-title" id="redirectPopupTitle" ></h6>
        <button type="button" class="close close-popup" data-bs-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body lgpopupbody">
        <div>
         <p>Dear Customer,</p>
        <div class=" col-xs-12 p0">
        <p  id="redirectPopupMessage"></p>
        </div> 
        
       <div class=" col-xs-12 p0 " id="redirectPopupMessageL">
        <div class="col-xs-12 p0 pad_left_40 pt-11"  ><b>Important Note:</b> </div>
        <p  id="redirectPopupImpmessage"></p>
        </div> 
        
        </div>
      </div>
      <div class="modal-footer justify-content-center m-modal-footer border-0 pt-1">
        <div class="modal-footer justify-content-between w-100  pb-0 px-0">
          <p>Thank&nbsp;you&nbsp;for&nbsp;visiting&nbsp; {{domainRedirect}}. Please <a href="{{domainRedirect}}terms_conditions" target="_blank"><u>click here</u></a> for detailed terms & conditions.</p>
          <a class="btn btn-primary rounded w-25 pt-10 redirectPopupUrl"  (click)="closePopup()" href="" style="text-transform: capitalize;"  >Proceed</a>
        </div>
      </div>
    </div>
  </div>
</div>
