
.head_title{
    color: #000000;
    font-family: 'opensans-light';
    font-size: 40px;
    margin: 20px 0;
}

.travel_section{
    position: relative;
    border-radius: 20px;
    height: 370px;
    /* box-shadow: 0px 13px 44px rgba(0, 0, 0, 0.15); */
    margin-bottom: 3em;
    .heading_sec{
        border-radius: 20px;
        padding: 25px;
        position: absolute;
        width: 100%;
        z-index: 3;
        background-position: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        h5{
            color: #ffffff;
            font-family: 'opensans-medium';
            font-size: 28px;
        }
        &::after{
            content: '';
            background-image: url(./../../../assets/images/smartbuy/icons/path-w.svg);
            width: 90px;
            height: 10px;
            position: absolute;
            bottom: -3px;
            left: 43%;
            background-repeat: no-repeat;
            transition: transform .2s ease-in-out;
        }
    }
    .flight_bg{
        background-image: url('./../../../assets/regalia_gold/images/banners/flight_bg.png');
    }
    .hotel_bg{
        background-image: url('./../../../assets/regalia_gold/images/banners/stay_bg.png');
    }
    .selection_sec{
        border-radius: 0px 0px 20px 20px;
        padding: 25px;
        background-color: #ffffff;
        width: 100%;
        height:100px;
        box-shadow: 0px 13px 44px rgba(0, 0, 0, 0.15);
        top: 110px;
        position: absolute;
        z-index: 2;
        .class_sel{
            position: relative;
            &::after{
                content: '';
                background-image: url(./../../../assets/images/smartbuy/icons/path.svg);
                width: 90px;
                height: 10px;
                position: absolute;
                bottom: -58px;
                left: 43%;
                background-repeat: no-repeat;
                transition: transform .2s ease-in-out;
            }
        }
        
    }
    .city_select_sec{
        border-radius: 0px 0px 20px 20px;
        padding: 25px;
        background-color: #ffffff;
        width: 100%;
        height:100px;
        top: 200px;
        position: absolute;
        z-index: 1;
        box-shadow: 0px 13px 44px rgba(0, 0, 0, 0.15);
        &::after{
            content: '';
            background-image: url(./../../../assets/images/smartbuy/icons/path.svg);
            width: 90px;
            height: 10px;
            position: absolute;
            bottom: -3px;
            left: 43%;
            background-repeat: no-repeat;
            transition: transform .2s ease-in-out;
        }
    }
    .date_select_sec{
        border-radius: 0px 0px 20px 20px;
        padding: 25px;
        background-color: #ffffff;
        width: 100%;
        height:100px;
        top: 290px;
        position: absolute;
        z-index: 0;
        box-shadow: 0px 13px 44px rgba(0, 0, 0, 0.15);

        &::after{
            content: '';
            background-image: url(./../../../assets/images/smartbuy/icons/path.svg);
            width: 90px;
            height: 10px;
            position: absolute;
            bottom: -3px;
            left: 43%;
            background-repeat: no-repeat;
            transition: transform .2s ease-in-out;
        }

    }
}

.sub_text {
    color: #ffffff;
    font-size: 12px;
    span {
        margin-right: 10px;
        img{
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(137deg) brightness(144%) contrast(103%);
        }
    }
    .part_logo {
        margin-right: 15px;
    }
}
.tag_desc {
    font-size: 12px;
    font-weight: 600;
    color: #ffffff;
    i {
        transform: rotate(75deg);
        margin-right: 4px; 
    }
}
.switch-sec{
    img{
        background-color: #fff;
        padding: 15px;
        box-shadow: 0px 0px 13px rgb(0 0 0 / 25%);
        border-radius: 50%;
    }
}

.btn-icn-search{
    background: radial-gradient(100.63% 100.63% at 91.14% 124.68%, #CF8D56 26.04%, #2C0E00 74.48%);
    box-shadow: 0px 6px 18px rgba(44, 14, 0, 0.32);
    padding: 15px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}