<div class="container">
    <h5 class="head_title">Book Travel & Stay</h5>
    <div>
        <div class="row">
            <div class="col-6">
                <div class="travel_section">
                    <div class="heading_sec flight_bg">
                        <h5>Flights</h5>
                        <p class="sub_text"><span>Powered by</span>
                            <span *ngFor="let flights of poweredByPartners.flights" >
                                <img *ngIf="flights.flag" src="{{cdnUrl}}images/smartbuy/partner/travel/{{flights.img}}" alt="{{flights.name}}">
                            </span>
                        </p>
                        <p class="tag_desc"><i class="fa fa-tag mr-10"></i>Up to {{serviceSettings.offer_construct.flight.cashback}}% cashback and {{serviceSettings.offer_construct.flight.reward}}X reward points</p>
                    </div>
                    <div class="selection_sec">
                        <div class="class_sel">
                            <div class="row">
                                <div class="col-6">
                                    one way
                                </div>
                                <div class="col-6">
                                    passenfgers
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="city_select_sec">
                        <div class="row">
                            <div class="col-5">
                                <div>
                                    <p>1</p>
                                </div>
                            </div>
                            <div class="col-2 text-center">
                                <div class="switch-sec">
                                    <img src="{{cdnUrl}}images/smartbuy/icons/icn-switch.svg" alt="icn">
                                </div>
                            </div>
                            <div class="col-5">
                                <div>
                                    <p>2</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="date_select_sec">
                        <div class="row">
                            <div class="col-5">
                                <div>
                                    <p>3</p>

                                </div>
                            </div>
                            <div class="col-2">
                                <div class="text-center">
                                    <img class="p-4" src="{{cdnUrl}}images/smartbuy/icons/icn-line.svg" alt="icn">
                                </div>
                            </div>
                            <div class="col-5 mt-10">
                                <div class="row">
                                    <div class="col-8">
                                        <p>4</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="#"><img class="btn-icn-search" src="{{cdnUrl}}images/smartbuy/icons/icn-right-w.svg" alt="icn"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="travel_section">
                    <div class="heading_sec hotel_bg">
                        <h5>Stays</h5>
                        <p class="sub_text"><span>Powered by</span>
                            <span *ngFor="let hotels of poweredByPartners.hotels" >
                                <img *ngIf="hotels.flag" src="{{cdnUrl}}images/smartbuy/partner/travel/{{hotels.img}}" alt="{{hotels.name}}">
                            </span>
                        </p>
                        <p class="tag_desc"><i class="fa fa-tag mr-10"></i>Up to {{serviceSettings.offer_construct.hotel.cashback}}% cashback and {{serviceSettings.offer_construct.hotel.reward}}X reward points</p>
                    </div>
                    <div class="selection_sec">
                        <div class="class_sel">
                            <div class="row">
                                <div class="col-12">
                                    Rooms
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="city_select_sec">
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <p>1</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="date_select_sec">
                        <div class="row">
                            <div class="col-5">
                                <div>
                                    <p>3</p>

                                </div>
                            </div>
                            <div class="col-2">
                                <div class="text-center">
                                    <img class="p-4" src="{{cdnUrl}}images/smartbuy/icons/icn-line.svg" alt="icn">
                                </div>
                            </div>
                            <div class="col-5 mt-10">
                                <div class="row">
                                    <div class="col-8">
                                        <p>4</p>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="#"><img class="btn-icn-search" src="{{cdnUrl}}images/smartbuy/icons/icn-right-w.svg" alt="icn"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>