<div class="container ">
    <h5 class="modal-title" id="disclamierPopupTitle">Disclaimer 
      <img src="{{cdnUrl}}images/smartbuy/icons/close_bold.svg" (click)="closeSheet()" class="float-right" alt="close">
    </h5>
    <div class="modal-body">
        <div>
            <p>SmartBuy is a platform that solely displays offers extended by Merchants to HDFC Bank's Customers. HDFC Bank is not responsible for selling/rendering any of the listed Products/Services. HDFC Bank does not act as an express or implied agent of the listed Merchants/owners of the following vis-a-vis the Customers.</p>

		        <p> HDFC Bank merely facilitates the payment from Customers by providing Payment Gateway Services, and will not earn any fee by hosting this website.</p>

		        <p>HDFC Bank neither guarantees nor makes any representation with respect to the offers made by the Merchant. HDFC Bank is not responsible for the sale/quality/features of the Products/Services listed.</p>

	        	<p> If the Customer proceeds, any purchase of Products/Services made through HDFC Bank's credit/debit cards/net banking facilities only. The Products/Services offered by Merchants may also be available at other stores/online platforms. The Customer's discretion is advised in this regard.</p>

        </div>
      </div>
      <div class="m-modal-footer modal-footer px-0 py-0">
        <div class="w-100">
          <p>By choosing Proceed, I am accepting all <a href="{{domainRedirect}}terms_conditions" target="_blank">terms and conditions</a></p>
          <a class="btn btn-primary rounded w-25 pt-10"   id="redirectPopupUrl1"  (click)="closeSheet()" style="text-transform: capitalize;">Proceed</a>
        </div>
      </div>
</div>
