       <!-- start header area -->
       <header class="header" id="headerHide">
        <!-- Mobile Menu -->
        <div class="mobile-menu-container">
            <div class="mobile-menu-close"></div>
            <div id="mobile-menu-wrap"></div>
        </div>
        <!-- Mobile Menu End --> 
        
        <!--// Main header -->
        <div class="main-header"> 
            <div class="container">
                <nav class="navbar navbar-expand-lg main-navigation flex-column ">
                    <div class="w-100 topheaders">
                        <!--  Show this only on mobile to medium screens  -->
                        <button class="mobile-menu-trigger"> 
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img src="./assets/images/logo.png" class="img-fluid" width="180" alt="logo" />
                        </a>                             
                        <div class="h-search">
                            <form action="">
                                <input type="text" name="search" placeholder="What's on your mind?">
                                <div class="search-right"> 
                                    <a href=""><img src="./assets/images/icons/search.png" alt=""></a>
                                    <span class="ms-2 me-2">| </span>
                                    <a href=""><a href=""><img src="./assets/images/icons/microphone.png" alt=""></a></a>
                                </div>
                            </form>
                        </div>
                        <div class="h-right">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="" class="fs_20">
                                        <img src="./assets/images/icons/notification.png" alt="">
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="" class="ms-2 fw_5">
                                        Hello,   <i class="fas fa-angle-down"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    
                    <!--  Use flexbox utility classes to change how the child elements are justified  -->
                    <div class="w-100 main-menus">
                        <div class="header-navigation-area justify-content-between ms-auto">
                            <ul id="main-menu" class="menu m-0">
                                <li><a href="#">Four you</a></li>
                                <li class="active"><a href="#">Travel & Stays </a></li>
                                <li><a href="#">Shop </a></li>
                                <li><a href="#">Vouchers</a></li>
                                <li><a href="#">Privileges</a></li>
                                <li><a href="#">Deals & Offers</a></li> 
                            </ul> 
                        </div>      
                    </div>
                </nav>
            </div>
        </div>
        <!--// Main End -->
    </header>
    <!-- end header area -->       