
            <footer class="footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="footer-desc">
                                <p>Disclaimer: HDFC Bank SmartBuy is a platform for communication of offers extended by Merchants to HDFC Bank's Customers. HDFC Bank is only communicating the offers extended by Merchants to its Customers and not Selling/Rendering any of these Products/Services. HDFC Bank is merely facilitating the payment to its Customers by providing the Payment Gateway Services. HDFC Bank is neither guaranteeing nor making any representation. HDFC Bank is not responsible for Sale/Quality/Features of the Products/Services under the offers.</p>
                            </div>
                            <div class="footer-nav">
                                <ul>
                                    <li>
                                        <a href="">About Us</a>
                                    </li>
                                    <li>
                                        <span>|</span>
                                    </li>
                                    <li>
                                        <a href="">FAQ's</a>
                                    </li>
                                    <li>
                                        <span>|</span>
                                    </li>
                                    <li>
                                        <a href="">Terms & Conditions</a>
                                    </li>
                                    <li>
                                        <span>|</span>
                                    </li>
                                    <li>
                                        <a href="">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <span>|</span>
                                    </li>
                                    <li>
                                        <a href="">Customer Support</a>
                                    </li> 
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-call-area">
                                <div class="footer-call">
                                    <p class="footer-title">Call</p>
                                    <p>1860 425 1188 / 9986896688</p>
                                    <span>(9 to 21 hrs, Mon to Sat Only)</span>
                                </div>
                                <div class="footer-mail">
                                    <p class="footer-title">Mail</p>
                                    <a href="mailto:support@smartbuyoffers.co">support@smartbuyoffers.co</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <!-- Copyright Start-->
                            <div class="copyright-bottom-info">
                                <div class="copyright">
                                    <p class="m-0">© 2022 SmartBuy</p>
                                </div> 
                                <div class="footer-Powered">
                                    <span>Powered by <img src="./assets/images/Powered_by.png" class="ms-2" alt=""></span>
                                </div>
                            </div>
                            <!-- Copyright End-->
                        </div>
                    </div>
                </div>
            </footer>