<!--New smartbuy footer Starts-->
<footer class="footer-smartbuy sb_footer ">
    <div class="mb-4 mb-sm-0 mt-4 mt-sm-0 menu_footer">
        <p>
            <span href="javascript:;">About Us</span> <span>|</span>
            <span href="javascript:;">FAQ's</span> <span>|</span>
            <span href="javascript:;">Terms & Conditions</span> <span>|</span>
            <span href="javascript:;">Terms of Use </span> <span>|</span>
            <span href="javascript:;">Security Tips </span> <span>|</span>   
            <span href="javascript:;">Data Privacy </span> <span>|</span>
            <span href="javascript:;">contact Us</span>
        </p>
    </div>
    <div >
        
         <p>©Copyright 2023 Standard Chartered Bank &nbsp;&nbsp;&nbsp;&nbsp;  Powered by <img src="../../assets/images/R360-logo.png"></p>
           
    </div>
    <!-- <app-redirect-popup [redirectPopupTriggerTimestamp]="redirectPopupTriggerTimestamp" [redirectPopupTrigger]="redirectPopupTrigger" [redirectPopup]="redirectPopup" [redirectPopupPartner]="redirectPopupPartner" [redirectPopupType]="redirectPopupType" [redirectPopupUrl]="redirectPopupUrl"
        [redirectPopupHeader]="redirectPopupHeader" [redirectPopupImpmessage]="redirectPopupImpmessage" [redirectPopupMessage]="redirectPopupMessage"></app-redirect-popup> -->
</footer>
<!--New smartbuy footer ends-->