<!--New smartbuy footer Starts-->
<footer class="footer-smartbuy sb_footer"  *ngIf="domainName=='SMARTBUY'">
   <div class="footer_two">
    <div class="footer_info container_fftab">
        <div class="row">
            <div class="content col-9">
                <!-- <p class="img"><img src="{{cdnUrl}}images/sb_img/logo_sb.svg" alt="smartbuy"></p> -->
                <p class="text">Disclaimer: HDFC Bank SmartBuy is a platform for communication of offers extended by Merchants to HDFC Bank's Customers. HDFC Bank is only communicating the offers extended by Merchants to its Customers and not Selling/Rendering any of these Products/Services. HDFC Bank is merely facilitating the payment to its Customers by providing the Payment Gateway Services. HDFC Bank is neither guaranteeing nor making any representation. HDFC Bank is not responsible for Sale/Quality/Features of the Products/Services under the offers.</p>
            </div>
            <div class="col-3">
                <div class="footer_customercare">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="info">
                                <p class="title">Call</p>
                                <p class="value">{{conciergeNumber_footer}}</p>
                                <p class="day">(9 to 21 hrs, Mon to Sat Only)</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="info">
                                <p class="title">Mail</p>
                                <p class="value"><a href="mailto:{{programEmail}}">{{programEmail}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu_footer">
            <p>
                <a  href="javascript:;" (click)="clickUrl('aboutus')">About Us</a>  <span>|</span>
                <a  href="javascript:;" (click)="clickUrl('faqs')">FAQ's</a>  <span>|</span>
                <a  href="javascript:;" (click)="clickUrl('terms_conditions')">Terms & Conditions</a>  <span>|</span>
                <a  href="javascript:;" (click)="clickUrl('privacy_policy')">Privacy Policy </a>  <span>|</span>
                <a  href="javascript:;" (click)="clickUrl('customer_support')">Customer Support</a>  
            </p>
        </div>
        <div class="footer_final">
            <div class="row">
                <div class="col-6">
                    <p>© {{currentYear}} SmartBuy</p>
                </div>
                <div class="col-6 text-end">
                    <p><span>Powered by </span> <img src="{{cdnUrl}}images/smartbuy/icons/r360_w.svg" alt="icon"></p>
                </div>
            </div>
        </div>
    </div>
   </div>
<app-redirect-popup 
[redirectPopupTriggerTimestamp]="redirectPopupTriggerTimestamp" 
[redirectPopupTrigger]="redirectPopupTrigger" 
[redirectPopup]="redirectPopup" 
[redirectPopupPartner]="redirectPopupPartner" 
[redirectPopupType]="redirectPopupType" 
[redirectPopupUrl]="redirectPopupUrl" 
[redirectPopupHeader]="redirectPopupHeader" 
[redirectPopupImpmessage]="redirectPopupImpmessage"
[redirectPopupMessage]="redirectPopupMessage"></app-redirect-popup>
</footer>
<!--New smartbuy footer ends-->
