<main class="site-main"> 

   

    <section class="flight-details-area mt-10">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="booking-process-content"  >
                        <div class="booking-title-box">
                            <h4>Flight Details</h4>
                        </div>
                        <div class="booking-inner-box from-to-box">
                            
                            <div class="booking-inner-title">
                                <div class="booking-inner-title-left" *ngIf="parseSearchVal">
                                    <h6>
                                        {{parseSearchVal.fromCity}}
                                        <img src="./assets/images/icons/flight-right.png" class="ms-2 me-2" alt="">    
                                        {{parseSearchVal.toCity}}
                                    </h6>
                                    <p> {{parseSearchVal.departure | date:"EEE,dd MMM"}}  | {{flightDetails[0].stops}} Stop  | {{totalDuration + dateHour| durationTime}}</p>
                                </div>
                                <div class="booking-inner-title-right" >
                                    <p class="non-refundable" *ngIf="selectedVendor.refundStatus != 1">NON-REFUNDABLE</p>
                                    <p class="non-refundable" *ngIf="selectedVendor.refundStatus == 1">REFUNDABLE</p>
                                </div>
                            </div>

                            <div class="Flight-One" *ngFor="let flights of flightDetails;let i = index">
                                <div class="Booking-Flight-name" >
                                    <div class="Booking-Flight-name-left">
                                        <img *ngIf="flightIcons" src="{{flightIcons[flights.airline].logo}}" width="22px" alt="">
                                        <span class="fw_7">{{flights.airlineName}}</span>
                                        <span class="opacity_05">{{flights.airline}}-{{flights.flightNumber}}</span>
                                    </div>
                                    <div class="Booking-Flight-name-right">
                                        <p>Economy > <span class="text-black me-1">SAVER</span> <img src="./assets/images/icons/info.png" width="10px" alt=""></p>
                                    </div>
                                </div>
                                <div class="Booking-Flight-time">
                                    <h6>{{flights.departureDateTime| date:'HH:mm'}}</h6>
                                    <span class="round round-line"></span>
                                    <div class="Flight-time-name" *ngIf="airportsNameJson">
                                        <h6>{{airportsNameJson[flights.departureAirport].city}}</h6>
                                        <p>{{airportsNameJson[flights.departureAirport].airport_name}}</p>
                                        <span class="round-time mt-20 d-inline-block">{{flights.duration | durationTime}} </span>
                                    </div>
                                </div> 

                                <div class="Booking-Flight-time">
                                    <h6>{{flights.arrivalDateTime | date:'HH:mm'}}</h6>
                                    <span class="round"></span>
                                    <div class="Flight-time-name" *ngIf="airportsNameJson">
                                        <h6>{{airportsNameJson[flights.arrivalAirport].city}}</h6>
                                        <p>{{airportsNameJson[flights.arrivalAirport].airport_name}}</p>
                                    </div>
                                </div> 

                                <div class="Booking-Flight-passanger">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h6>Baggage</h6>
                                            <p>Adult</p>
                                            <p>Child</p>
                                            <p>Infant</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Check-in</h6>
                                            <p>15 Kgs <span>(1 piece only)</span></p>
                                            <p>15 Kgs <span>(1 piece only)</span></p>
                                            <p>Cabin bag only</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Cabin</h6>
                                            <p>7 Kgs <span>(1 plece only)</span></p>
                                            <p>7 Kgs  <span>(1 plece only)</span></p>
                                            <p>7 Kgs <span>(1 plece only)</span></p> 
                                        </div>
                                        <div class="col-md-4">
                                            <h6>Flight Extras</h6>
                                            <p class="text-green fw_6"><img src="./assets/images/icons/meals.png" alt="" /> Meals</p>
                                            <p class="text-green fw_6"><img src="./assets/images/icons/sat.png" alt="" />  Seat Selections</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="change-planes" *ngIf="getLayoverHour(flightDetails[i],flightDetails[i+1]) && airportsNameJson">
                                    <h6>Change of planes・{{getLayoverHour(flightDetails[i],flightDetails[i+1]) | durationTime}} Layover in {{airportsNameJson[flights.arrivalAirport].airport_name}} </h6>
                                </div> -->
                                <div class="change-planes" *ngIf="dateHour && airportsNameJson && flightDetails[i+1]">
                                    <h6>Change of planes・{{dateHour | durationTime}} Layover in {{airportsNameJson[flights.arrivalAirport].airport_name}} </h6>
                                </div>
                            </div>

                            <!-- <div class="Flight-One">
                                <div class="Booking-Flight-name">
                                    <div class="Booking-Flight-name-left">
                                        <img src="./assets/images/flights/flight-1.png" width="22px" alt="">
                                        <span class="fw_7">IndiGo</span>
                                        <span class="opacity_05">6E-956</span>
                                    </div>
                                    <div class="Booking-Flight-name-right">
                                        <p>Economy > <span class="text-black me-1">SAVER</span> <img src="./assets/images/icons/info.png" width="10px" alt=""></p>
                                    </div>
                                </div>
                                <div class="Booking-Flight-time">
                                    <h6>08:05</h6>
                                    <span class="round round-line"></span>
                                    <div class="Flight-time-name">
                                        <h6>Mumbai</h6>
                                        <p>Chhatrapati Shivaji International Airport T1, Vile Parle, Mumbai</p>
                                        <span class="round-time mt-20 d-inline-block">1h 40m </span>
                                    </div>
                                </div> 

                                <div class="Booking-Flight-time">
                                    <h6>08:05</h6>
                                    <span class="round"></span>
                                    <div class="Flight-time-name">
                                        <h6>Nagpur</h6>
                                        <p>Dr. Babasaheb Ambedkar International Airport</p>
                                    </div>
                                </div> 

                                <div class="Booking-Flight-passanger">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h6>Baggage</h6>
                                            <p>Adult</p>
                                            <p>Child</p>
                                            <p>Infant</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Check-in</h6>
                                            <p>15 Kgs <span>(1 piece only)</span></p>
                                            <p>15 Kgs <span>(1 piece only)</span></p>
                                            <p>Cabin bag only</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Cabin</h6>
                                            <p>7 Kgs <span>(1 plece only)</span></p>
                                            <p>7 Kgs  <span>(1 plece only)</span></p>
                                            <p>7 Kgs <span>(1 plece only)</span></p> 
                                        </div>
                                        <div class="col-md-4">
                                            <h6>Flight Extras</h6>
                                            <p class="text-green fw_6"><img src="./assets/images/icons/meals.png" alt="" /> Meals</p>
                                            <p class="text-green fw_6"><img src="./assets/images/icons/sat.png" alt="" />  Seat Selections</p>
                                        </div>
                                    </div>
                                </div>

                            </div> -->

                            <div class="luggage-box">
                                <div class="luggage-text">
                                    <img src="./assets/images/icons/luggage.png" alt="">
                                    <p>Got excess luggage? Don't stress, buy extra check-in baggage allowance at fab  rate!</p>
                                </div>
                                <div class="luggage-btn">
                                    <a class="luggage-add" data-bs-toggle="collapse" href="#luggagecollapse" role="button" aria-expanded="false" aria-controls="luggagecollapse">+ Add</a>
                                </div>
                            </div>
                            <div  class="collapse luggage-add-box" id="luggagecollapse">
                                <div class="luggage-add-list">
                                    <div class="luggage-add-name">
                                        <h6><img src="./assets/images/icons/bag.png" alt=""> 5 KG</h6>
                                    </div>
                                    <div class="luggage-add-items">
                                        <div class="">
                                            <h6>&#8377; 600</h6>
                                        </div>
                                        <div class="Travellers-qty ms-4">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="qty-buttons minus">
                                                <input type="number" step="1" min="1" max="6" name="quantity" value="0" title="Qty" class="input-text qty text quantity_adult1_events" size="4" pattern="" inputmode="">
                                                <input type="button" value="+" class="qty-buttons plus">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="luggage-add-list">
                                    <div class="luggage-add-name">
                                        <h6><img src="./assets/images/icons/bag-more.png" alt=""> 10 KG</h6>
                                    </div>
                                    <div class="luggage-add-items">
                                        <div class="">
                                            <h6>&#8377; 1200</h6>
                                        </div>
                                        <div class="Travellers-qty ms-4">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="qty-buttons minus">
                                                <input type="number" step="1" min="1" max="6" name="quantity" value="0" title="Qty" class="input-text qty text quantity_adult1_events" size="4" pattern="" inputmode="">
                                                <input type="button" value="+" class="qty-buttons plus">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="luggage-add-list">
                                    <div class="luggage-add-name">
                                        <h6><img src="./assets/images/icons/bag-more.png" alt=""> 15 KG</h6>
                                    </div>
                                    <div class="luggage-add-items">
                                        <div class="">
                                            <h6>&#8377; 1800</h6>
                                        </div>
                                        <div class="Travellers-qty ms-4">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="qty-buttons minus">
                                                <input type="number" step="1" min="1" max="6" name="quantity" value="0" title="Qty" class="input-text qty text quantity_adult1_events" size="4" pattern="" inputmode="">
                                                <input type="button" value="+" class="qty-buttons plus">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="luggage-add-list">
                                    <div class="luggage-add-name">
                                        <h6><img src="./assets/images/icons/bag-more.png" alt=""> 20 KG</h6>
                                    </div>
                                    <div class="luggage-add-items">
                                        <div class="">
                                            <h6>&#8377; 2400</h6>
                                        </div>
                                        <div class="Travellers-qty ms-4">
                                            <div class="quantity buttons_added">
                                                <input type="button" value="-" class="qty-buttons minus">
                                                <input type="number" step="1" min="1" max="6" name="quantity" value="0" title="Qty" class="input-text qty text quantity_adult1_events" size="4" pattern="" inputmode="">
                                                <input type="button" value="+" class="qty-buttons plus">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="luggage-add-list">
                                    <div class="luggage-add-name">
                                        <h6 class="fw_7 fs_18">Total</h6>
                                    </div>
                                    <div class="luggage-add-items">
                                        <div class="">
                                            <h6 class="fw_7 fs_18">&#8377; 600</h6>
                                        </div> 
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="booking-inner-box fare-rules-box">
                            <div class="fare-rules-title">
                                <h6>Fare Rules</h6>
                            </div>
                            <div class="flight-extra-details">
                                <ul class="list-unstyled flight-extra-tabs"> 
                                    <li>
                                        <a href="javascript:void(0);" class="flight-extra-tabs-active" data-bind="CancellationDetails"> Cancellation Details</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-bind="DateChange"> Date Change Charges</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-bind="Fare"> Fare Rules </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-bind="Cancellation"> Cancellation Protection </a>
                                    </li>
                                </ul>
                                <div class="rules-flight">
                                    <div class="rules-flight-items">
                                        <div class="rules-flight-thumbe">
                                            <img src="./assets/images/flights/flight-1.png" alt="">    
                                        </div>
                                        <div class="rules-flight-content">
                                            <h6>
                                                {{parseSearchVal.fromCity}}
                                                <img src="./assets/images/icons/flight-right.png" alt="">    
                                                {{parseSearchVal.toCity}}
                                            </h6>
                                        </div>                                                
                                    </div>
                                    <!-- <div class="rules-flight-items opacity_05">
                                        <div class="rules-flight-thumbe">
                                            <img src="./assets/images/flights/flight-1.png" alt="">    
                                        </div>
                                        <div class="rules-flight-content">
                                            <h6>
                                                Hyderabad
                                                <img src="./assets/images/icons/flight-right.png" alt="">    
                                                Mumbai
                                            </h6>
                                        </div>                                                
                                    </div> -->
                                </div>
                                <div class="extra-tabs-ara"> 
                                    <div id="CancellationDetails" class="flight-extra-content extra-active">
                                        <table class="table-bordered table-content w-100"> 
                                            <tbody>
                                                <tr> 
                                                    <td>
                                                        <p class="fw_6 fs_13">Time Frame</p>
                                                        <p class="opacity_05">(From Scheduled flight departure)</p>
                                                    </td>
                                                    <td>
                                                        <p class="fw_6 fs_13">Airline Fee</p>
                                                        <p class="opacity_05">(Per passenger)</p>
                                                    </td>
                                                </tr>
                                                <tr> 
                                                    <td>
                                                        <p class="opacity_05">0 hours to 2 hours*</p>
                                                    </td>
                                                    <td>
                                                        <p>Adult : Non refundable</p>
                                                        <p>Child : Non refundable</p>
                                                        <p>Infant : Non refundable</p>
                                                    </td>
                                                </tr>
                                                <tr> 
                                                    <td>
                                                        <p class="opacity_05">2 hours to 3 days*</p>
                                                    </td>
                                                    <td>
                                                        <p>Adult : Non refundable</p>
                                                        <p>Child : Non refundable</p>
                                                        <p>Infant : Non refundable</p>
                                                    </td>
                                                </tr>
                                                <tr> 
                                                    <td>
                                                        <p class="opacity_05">3 days to 365 days*</p>
                                                    </td>
                                                    <td>
                                                        <p>Adult : Non refundable</p>
                                                        <p>Child : Non refundable</p>
                                                        <p>Infant : Non refundable</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="oth-text mt-10">*From the date of Departure</p>
                                    </div>
                                    <div id="DateChange" class="flight-extra-content">
                                        <table class="table-bordered table-content w-100"> 
                                            <tbody>
                                                <tr> 
                                                    <td>
                                                        <p class="fw_6 fs_13">Time Frame</p>
                                                        <p class="opacity_05">(From Scheduled flight departure)</p>
                                                    </td>
                                                    <td>
                                                        <p class="fw_6 fs_13">Airline Fee</p>
                                                        <p class="opacity_05">(Per passenger)</p>
                                                    </td>
                                                </tr>
                                                <tr> 
                                                    <td>
                                                        <p class="opacity_05">0 hours to 2 hours*</p>
                                                    </td>
                                                    <td>
                                                        <p>Adult : Non refundable</p>
                                                        <p>Child : Non refundable</p>
                                                        <p>Infant : Non refundable</p>
                                                    </td>
                                                </tr>
                                                <tr> 
                                                    <td>
                                                        <p class="opacity_05">2 hours to 3 days*</p>
                                                    </td>
                                                    <td>
                                                        <p>Adult : Non refundable</p>
                                                        <p>Child : Non refundable</p>
                                                        <p>Infant : Non refundable</p>
                                                    </td>
                                                </tr>
                                                <tr> 
                                                    <td>
                                                        <p class="opacity_05">3 days to 365 days*</p>
                                                    </td>
                                                    <td>
                                                        <p>Adult : Non refundable</p>
                                                        <p>Child : Non refundable</p>
                                                        <p>Infant : Non refundable</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="oth-text mt-10">*From the date of Departure</p>
                                    </div>
                                    <div id="Fare" class="flight-extra-content">
                                        <table class="table-bordered table-content w-100"> 
                                            <tbody>
                                                <tr> 
                                                    <td>
                                                        <p class="fw_6 fs_13">Time Frame</p>
                                                        <p class="opacity_05">(From Scheduled flight departure)</p>
                                                    </td>
                                                    <td>
                                                        <p class="fw_6 fs_13">Airline Fee</p>
                                                        <p class="opacity_05">(Per passenger)</p>
                                                    </td>
                                                </tr>
                                                <tr> 
                                                    <td>
                                                        <p class="opacity_05">0 hours to 2 hours*</p>
                                                    </td>
                                                    <td>
                                                        <p>Adult : Non refundable</p>
                                                        <p>Child : Non refundable</p>
                                                        <p>Infant : Non refundable</p>
                                                    </td>
                                                </tr>
                                                <tr> 
                                                    <td>
                                                        <p class="opacity_05">2 hours to 3 days*</p>
                                                    </td>
                                                    <td>
                                                        <p>Adult : Non refundable</p>
                                                        <p>Child : Non refundable</p>
                                                        <p>Infant : Non refundable</p>
                                                    </td>
                                                </tr>
                                                <tr> 
                                                    <td>
                                                        <p class="opacity_05">3 days to 365 days*</p>
                                                    </td>
                                                    <td>
                                                        <p>Adult : Non refundable</p>
                                                        <p>Child : Non refundable</p>
                                                        <p>Infant : Non refundable</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <p class="oth-text mt-10">*From the date of Departure</p> 
                                    </div>
                                    <div id="Cancellation" class="flight-extra-content">
                                        <div class="extra-tabs-details Cancellation-box">
                                            <div class="extra-tabs-details-bottom">
                                                <ul class="m-0 tabs-list-data"> 
                                                    <li><p>While Booking your flight ticket, select 'Cancellation Protection' option and pay a nominal cancellation premium and enjoy ZERO penalty in case you wish to cancel the booking.</p></li>
                                                    <li><p>Cancellation Protection is applicable on select one way domestic flights and starts at only Rs.149</p></li>
                                                    <li><p>Cancellation Protection is applicable on select one way domestic flights</p></li>
                                                    <li><p>Tickets should be cancelled 25 hrs prior to scheduled departure of the flight to avail this feature.</p></li>
                                                    <li><p>Cancellation should be done ONLY on airlines for the cancellation charges to be void.</p></li>
                                                    <li><p>Waiver is valid only for FULL cancellations (cancellations of all flights of a particular passenger, booked in an itinerary) for any or all passengers in a booking.</p></li>
                                                    <li><p>In case of partial cancellation (cancelation of only some flights booked in an itinerary), waiver will not be given & normal cancelation penalties will be charged.</p></li>
                                                    <li><p>ZERO Cancellation service is valid only on complete cancellation of itinerary and not on date change of itinerary.</p></li>
                                                </ul>
                                            </div> 
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="booking-inner-box important-information-box">
                            <div class="imp-Information">
                                <h6>Important Information</h6>
                                <ul class="imp-Information-list">
                                    <li>
                                        <p>Flights are operating in strict compliance with the EXIT and ENTRY regulations applicable at origin and destination as defined by the competent authorities.</p>
                                    </li>
                                    <li>
                                        <p>Effective 22nd May,2021 it is mandatory for all passengers to carry a negative RT-PCR test report with QR code for boarding international flights to destinations where test reports are required as per the guidelines issued by the destination countries.</p>
                                    </li>
                                </ul>
                            </div>                                     
                        </div>
                    </div>
                </div>
                
                <div class="col-md-4">
                <app-fare-summary></app-fare-summary>
            </div>
            </div>
        </div>
    </section>
</main>
