<main class="site-main"> 

    <section class="details-steps-area mt-40 mb-40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="details-steps-box">
                        <ul class="m-0 details-steps-ul">
                            <li>
                                
                                <a href="flight_details.html" class="active"> <!-- steps-done - Class For done steps -->
                                    <span class="steps-icons"><img src="./assets/images/flights_details/flight.png" alt="" /></span>
                                    <span class="steps-text">Flight Details</span>
                                </a>
                            </li>
                            <li> 
                                <a href="flight_traveller_details.html">
                                    <span class="steps-icons"><img src="./assets/images/flights_details/user.png" alt="" /></span>
                                    <span class="steps-text">Traveller Details</span>
                                </a>
                            </li>
                            <li> 
                                <a href="flight_seats.html">
                                    <span class="steps-icons"><img src="./assets/images/flights_details/meal.png" alt="" /></span>
                                    <span class="steps-text">Seats & Meals</span>
                                </a>
                            </li>
                            <li> 
                                <a href="flight_review.html">
                                    <span class="steps-icons"><img src="./assets/images/flights_details/review.png" alt="" /></span>
                                    <span class="steps-text">Review Booking</span>
                                </a>
                            </li>
                            <li> 
                                <a href="flight_payment.html">
                                    <span class="steps-icons"><img src="./assets/images/flights_details/payment.png" alt="" /></span>
                                    <span class="steps-text">Payment</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flight-details-area mt-10">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="booking-process-content">
                        <div class="booking-title-box">
                            <h4>Flight Details</h4>
                        </div>
                        <div class="booking-inner-box from-to-box">
                            
                            <div class="booking-inner-title">
                                <div class="booking-inner-title-left">
                                    <h6>
                                        Mumbai
                                        <img src="./assets/images/icons/flight-right.png" class="ms-2 me-2" alt="">    
                                        Hyderabad
                                    </h6>
                                    <p> Monday, Jul 11  | 1 Stop | 6h 10m</p>
                                </div>
                                <div class="booking-inner-title-right">
                                    <p class="non-refundable">NON-REFUNDABLE</p>
                                </div>
                            </div>


                            <div class="Flight-One">
                                <div class="Booking-Flight-name">
                                    <div class="Booking-Flight-name-left">
                                        <img src="./assets/images/flights/flight-1.png" width="22px" alt="">
                                        <span class="fw_7">IndiGo</span>
                                        <span class="opacity_05">6E-956</span>
                                    </div>
                                    <div class="Booking-Flight-name-right">
                                        <p>Economy > <span class="text-black me-1">SAVER</span> <img src="./assets/images/icons/info.png" width="10px" alt=""></p>
                                    </div>
                                </div>
                                <div class="Booking-Flight-time">
                                    <h6>08:05</h6>
                                    <span class="round round-line"></span>
                                    <div class="Flight-time-name">
                                        <h6>Mumbai</h6>
                                        <p>Chhatrapati Shivaji International Airport T1, Vile Parle, Mumbai</p>
                                        <span class="round-time mt-20 d-inline-block">1h 40m </span>
                                    </div>
                                </div> 

                                <div class="Booking-Flight-time">
                                    <h6>08:05</h6>
                                    <span class="round"></span>
                                    <div class="Flight-time-name">
                                        <h6>Nagpur</h6>
                                        <p>Dr. Babasaheb Ambedkar International Airport</p>
                                    </div>
                                </div> 

                                <div class="Booking-Flight-passanger">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h6>Baggage</h6>
                                            <p>Adult</p>
                                            <p>Child</p>
                                            <p>Infant</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Check-in</h6>
                                            <p>15 Kgs <span>(1 piece only)</span></p>
                                            <p>15 Kgs <span>(1 piece only)</span></p>
                                            <p>Cabin bag only</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Cabin</h6>
                                            <p>7 Kgs <span>(1 plece only)</span></p>
                                            <p>7 Kgs  <span>(1 plece only)</span></p>
                                            <p>7 Kgs <span>(1 plece only)</span></p> 
                                        </div>
                                        <div class="col-md-4">
                                            <h6>Flight Extras</h6>
                                            <p class="text-green fw_6"><img src="./assets/images/icons/meals.png" alt="" /> Meals</p>
                                            <p class="text-green fw_6"><img src="./assets/images/icons/sat.png" alt="" />  Seat Selections</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="change-planes">
                                <h6>Change of planes・3h 0m Layover in Nagpur</h6>
                            </div>

                            <div class="Flight-One">
                                <div class="Booking-Flight-name">
                                    <div class="Booking-Flight-name-left">
                                        <img src="./assets/images/flights/flight-1.png" width="22px" alt="">
                                        <span class="fw_7">IndiGo</span>
                                        <span class="opacity_05">6E-956</span>
                                    </div>
                                    <div class="Booking-Flight-name-right">
                                        <p>Economy > <span class="text-black me-1">SAVER</span> <img src="./assets/images/icons/info.png" width="10px" alt=""></p>
                                    </div>
                                </div>
                                <div class="Booking-Flight-time">
                                    <h6>08:05</h6>
                                    <span class="round round-line"></span>
                                    <div class="Flight-time-name">
                                        <h6>Mumbai</h6>
                                        <p>Chhatrapati Shivaji International Airport T1, Vile Parle, Mumbai</p>
                                        <span class="round-time mt-20 d-inline-block">1h 40m </span>
                                    </div>
                                </div> 

                                <div class="Booking-Flight-time">
                                    <h6>08:05</h6>
                                    <span class="round"></span>
                                    <div class="Flight-time-name">
                                        <h6>Nagpur</h6>
                                        <p>Dr. Babasaheb Ambedkar International Airport</p>
                                    </div>
                                </div> 

                                <div class="Booking-Flight-passanger">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <h6>Baggage</h6>
                                            <p>Adult</p>
                                            <p>Child</p>
                                            <p>Infant</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Check-in</h6>
                                            <p>15 Kgs <span>(1 piece only)</span></p>
                                            <p>15 Kgs <span>(1 piece only)</span></p>
                                            <p>Cabin bag only</p>
                                        </div>
                                        <div class="col-md-3">
                                            <h6>Cabin</h6>
                                            <p>7 Kgs <span>(1 plece only)</span></p>
                                            <p>7 Kgs  <span>(1 plece only)</span></p>
                                            <p>7 Kgs <span>(1 plece only)</span></p> 
                                        </div>
                                        <div class="col-md-4">
                                            <h6>Flight Extras</h6>
                                            <p class="text-green fw_6"><img src="./assets/images/icons/meals.png" alt="" /> Meals</p>
                                            <p class="text-green fw_6"><img src="./assets/images/icons/sat.png" alt="" />  Seat Selections</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="luggage-box">
                                <div class="luggage-text">
                                    <img src="./assets/images/icons/luggage.png" alt="">
                                    <p>Got excess luggage? Don't stress, buy extra check-in baggage allowance at fab  rate!</p>
                                </div>
                                <div class="luggage-btn">
                                    <a class="luggage-add" data-bs-toggle="collapse" href="#luggagecollapse" role="button" aria-expanded="false" aria-controls="luggagecollapse">+ Add</a>
                                </div>
                            </div> 

                        </div>
                        <div class="booking-inner-box fare-rules-box">
                            <div class="fare-rules-title">
                                <h6>Fare Rules</h6>
                            </div> 

                        </div> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="default-sidebar">
                        <div class="sidebar-widget session-expires-widget">
                            <p><img src="./assets/images/icons/sestion.png" class="me-2" alt="">Session Expires in: <strong>14:54</strong></p>
                        </div>
                        <div class="sidebar-widget fare-summary-widget">
                            <div class="widget-title">
                                <h4>Fare Summary</h4>
                                <img src="./assets/images/flights/1.png" alt="">
                            </div>
                            <div class="widget-content">
                                <ul class="widget-list clearfix">
                                    <li class="fare-list-item">
                                        <div class="fare-list-box">
                                            <div class="fare-list-left">
                                                <p>
                                                    <img class="me-2" src="./assets/images/icons/add.png" alt="">
                                                    Base Fare
                                                </p>
                                            </div>
                                            <div class="fare-list-right">
                                                <p>&#8377;16,650</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="fare-list-item">
                                        <div class="fare-list-box">
                                            <div class="fare-list-left">
                                                <p>
                                                    <img class="me-2" src="./assets/images/icons/add.png" alt="">
                                                    Taxes and Fees
                                                </p>
                                            </div>
                                            <div class="fare-list-right">
                                                <p>&#8377;2,034</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="fare-list-item">
                                        <div class="fare-list-box">
                                            <div class="fare-list-left">
                                                <p>
                                                    <img class="me-2" src="./assets/images/icons/add.png" alt="">
                                                    Baggage/Seat/Meals
                                                </p>
                                            </div>
                                            <div class="fare-list-right">
                                                <p>&#8377;600</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="fare-list-item">
                                        <div class="fare-list-box">
                                            <div class="fare-list-left">
                                                <p>
                                                    <img class="me-2" src="./assets/images/icons/add.png" alt="">
                                                    Discounts
                                                </p>
                                            </div>
                                            <div class="fare-list-right">
                                                <p class="text-green">-&#8377;500</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="fare-list-item">
                                        <div class="fare-list-box pt-30">
                                            <div class="fare-list-left">
                                                <h6 class="fw_7">Grand Total</h6>
                                            </div>
                                            <div class="fare-list-right">
                                                <h6 class="fw_7">₹18,784</h6>
                                                <p class="opacity_05">EMI @ 789/month</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="continue-widget mb-20">
                            <a href="" class="button-style w-100">Continue</a>
                        </div>
                        <div class="sidebar-widget coupon-code-widget">
                            <div class="widget-title">
                                <h4>Coupon Code</h4>
                            </div>
                            <div class="widget-content">
                                <form action="coupon-code-form">
                                    <div class="coupon-input">
                                        <input type="text" value="SBFLY">
                                        <a href="">Apply</a>
                                    </div>
                                </form>
                                <div class="couponcode-box">
                                    <div class="couponcode-list active">
                                        <h6>SBFLY</h6>
                                        <p class="text-green">Congratulations! Promo discount of  ₹500 applied successfully</p>
                                        <a href="" class="remove-text">Remove</a>
                                    </div>
                                    <div class="couponcode-list">
                                        <h6>CT15</h6>
                                        <p class="opacity_05">Flat 1.5% on cleartrip flight bookings</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
