<div class="container-no" *ngIf="foryouBrands.length > 0 ">
    <h5 class="head_title">Brands in Focus</h5>
    <div class="trend_items_carousel mb-30">
        <owl-carousel-o [options]="brandOptions" class="partners_container">
            <ng-template carouselSlide *ngFor="let brand of foryouBrands; let i = index">
                <div>
                    <a href="">
                        <div class="item_brand">
                            <a (click)="redirectUrl('instavouchers',1,brand.url)"><img src="{{cdnUrl}}images/smartbuy/brands/svg/{{brand.image}}" alt="{{brand.title}}"></a>
                        </div>
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<app-redirect-popup [redirectPopupTriggerTimestamp]="redirectPopupTriggerTimestamp" [redirectPopupTrigger]="redirectPopupTrigger" [redirectPopup]="redirectPopup" [redirectPopupPartner]="redirectPopupPartner" [redirectPopupType]="redirectPopupType" [redirectPopupUrl]="redirectPopupUrl"
    [redirectPopupHeader]="redirectPopupHeader" [redirectPopupImpmessage]="redirectPopupImpmessage" [redirectPopupMessage]="redirectPopupMessage"></app-redirect-popup>

