@import '../../../../assets/sharedscss/color';
@import '../../../../assets/sharedscss/fonts';
 
 $break-mob-xsmall: 320px;
 $break-mob-x2small: 375px;
 $break-mob-small: 425px;
 $break-md-small: 768px;

.main-site{
  margin: 120px 0px;
}

 .page-root{
  font-size: 12px;
 }
 .review-title{
  font-family: opensans-regular;
  font-size: 24px;
  font-weight: 600;
  color: $color-dark-gray;
  @media screen and (max-width: 425px) and (min-width: 320px) {
    font-size: 20px;
  }
 }
 .review-slogan{
    font-family: opensans-regular;
    font-size: 14px;
    color: $color-gray2;
    @media screen and (max-width: 425px) and (min-width: 320px) {
        font-size: 12px;
    }
 }
 .id-slogan{
    font-family: opensans-regular;
    font-size: 11px;
    color: $color-dark-gray-01;
    // position: absolute;
    // top: 45px;
 }
 
 .terms, .copy_address{
    color: $color-gray2;
    font-size: 13px;
    font-family: 'opensans-regular';
  @media screen and (max-width: 425px) and (min-width: 320px) {
      font-size: 11px;
  }
}
 .passenger-reg-note{
    background-color: #FDBC1530;
    padding: 10px 10px;
    margin: 15px 0px 15px 0px;
    font-weight: 500;
    color: #000000;
    border-radius: 3px;
    display: flex;
    font-size: 14px;
    .pass-icon{
      transform: rotate(180deg); 
      color: $color-dark-gray;
      padding: 0px 5px;
    }
    .primary-msg div{
        /* color: $color-dark-gray; */
      @media screen and (max-width: 425px) and (min-width: 320px) {
          font-size: 11px;
      }
    }
  }
  
  .sbi_promo{
    border-radius: 3px;
    border: solid 1px #d8e5f1;
    background-color: #ecf6ff;
    padding: 10px;
    font-size: 13px;
    font-family: opensans-regular;
    margin: 15px 10px 15px 0px;
    .pro-one{
      color: $color-dark-gray;
      font-size: 13px;
      @media screen and (max-width: 425px) and (min-width: 320px) {
        font-size: 11px;
      }
    }
    .pro-two{
      color: $color-gray2;
      font-size: 13px;
      @media screen and (max-width: 425px) and (min-width: 320px) {
        font-size: 11px;
      }
    }
  }
 .arrow{
  font-size: 12px;
  margin-left: 0.4em;
  margin-right: 0.4em;
 }
 .lg-none{
  @media screen and (min-width: $break-md-small) {
   display: none;
  }
 }
 .xs-none{
  @media screen and (max-width: $break-mob-small) {
   display: none;
  }
 }
 p{
  margin: 0px;
 }
.seat-showDesktop{
 position: relative;
 left: 500px;
 top: 18px;
 @media screen and (max-width: 768px) and (min-width: 426px) {
  position: relative;
  left: 190px;
  top: -40px;
 }
}
.seat-showMobile{
  float: right;
  color: $color-dark-gray;
  font-size: 14px;
  font-weight: bold;
}
.btn-paynow{
 width: 294.2px;
 height: 41px;
 border-radius: 3px;
 text-transform: uppercase;
 color: $color-white;
 display: inherit;
 font-size: 14.6px;
 margin-bottom: 20px;
 background-color: $color-vivid-blue;
 @media screen and (max-width: $break-mob-small) {
  width: 100%
  
 }
}
 .btn-c, .btn-b{
  width: 102px;
  height: 33px;
  border-radius: 3px;
  margin: 0px 20px 0px 0px;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  @media screen and (max-width: $break-mob-small) {
   width: 95px;
   margin: 0px 20px 0px 0px;
  }
 }
 .btn-b{
  border: 1px solid $color-blue-btn;
  background: $color-white;
  color: $color-vivid-blue;
  cursor: pointer;
  
 }
 .xs-center{
  @media screen and (max-width: $break-mob-small) {
   text-align: center;
  }
 }
.session-exp{
  // width: 695px;
  // height: 34px;
  border-radius: 2px;
  background-color: $color-light-orange;
  margin-bottom: 10px;
  p{
   font-family: opensans-regular;
   font-size: 15px;
   margin-left: 4em;
   padding: 5px;
   color: $color-dark-gray;
   @media screen and (max-width: $break-mob-small) {
    font-size: 13px;
   }
  }
}
.session-exp-img{
 float: left;
 width: 30px;
 height: 30px;
 margin-left: 20px;
  padding: 2px;
}
.redeem-section{
 padding: 10px;
 margin: 20px 0px;
 background-color: #fef6ca;
 a, .redeem-title{
  font-size: 12px;
 }
}
.redeem-bor{
  border-right: 1px solid #b7b7b7;
  position: relative;
  right: 15px;
  // top: 5px;
  // height: 14px;
}
.f-14{
 @media screen and (max-width: $break-mob-small) {
  font-size: 14px;
 }
 
}
.f-16i{
 font-size: 16px !important;
 @media screen and (max-width: $break-md-small) {
  font-size: 14px !important;
 }
}
.expandHeader{
  // width: 696px;
 height: 55px;
 // border: solid 1px $color-lightGray;
 background-color: $color-light-blue;
 border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
 background-color: $color-light-blue;
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover, .mat-panel-title{
 background-color: $color-light-blue;
}
.ff-op{
 font-family: opensans-regular;
 font-size: 16px;
 @media screen and (max-width: 425px) {
  font-size: 15px;
 }
}
.seat-num{
 font-size: 14px;
 font-weight: normal;
}
.travel-title{
 font-family: opensans-regular;
 font-size: 14px;
 font-weight: bold;
 color: $color-dark-gray;
}
mat-expansion-panel-header, .expandHeader:hover{
 background-color: $color-light-blue;
}
.mat-accordion[_ngcontent-c1] .mat-expansion-panel[_ngcontent-c1]:first-of-type{
 border: 1px solid $color-lightGray !important;
 box-shadow: none;
}
.mat-expansion-panel:not([class*=mat-elevation-z]){
 border: 1px solid $color-lightGray !important;
 box-shadow: none;
}
.mat-expansion-panel-body{
 @media screen and (max-width: $break-mob-small) {
  padding: 0 15px 10px;
 }
}
.cvv-w {
 margin-left: 30px;
}
.expandBody{
  // width: 696px;
  height: 1031px;
  background-color: $color-white;
}
.travel-count{
 margin: 15px 0px;
 font-family: opensans-medium;
 font-size: 16px;
 color: $color-dark-gray;
}
.traveler-details-info{
 display: flex;
 flex-direction: column;
 width: 100%;
}
.traveller-header span{
 font-family: opensans-regular;
}
.ladies-span{
 font-weight: normal;
 font-size: 14px;
 font-family: opensans-regular;
}
.message-trav{
 margin: 20px 0px 20px 0px;
 .view-sec{
  font-size: 14px;
  font-weight: 600;
 }
}
.traveler-details, .contact-details{
  // width: 653px;
  // height: 216px;
  border: solid 1px #e8e8e8;
  margin: 20px 0px 20px 0px;
  background-color: $color-traveler-bg;
  padding: 20px;
}
.contact-header{
 margin-bottom: 20px;
}
.agree-info{
  margin: 10px 0px;
}
.summary-section{
  // width: 224px;
  max-height: 500px;
  min-height: 300px;
  border-radius: 3px;
  // box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
  border: solid 1px #cbcbcb;
  z-index: 2;
  background-color:$color-white;
  @media screen and (max-width: $break-md-small) {
    height: 500px;
  }
  @media screen and (max-width: $break-mob-small) {
    display: none;
    margin: 20px;
    height: auto;
  }
  h6{
    margin: 20px 0px 0px 0px;
  }
  p{
    font-size: 12px;
    color: $color-dark-gray-01; 
    // margin-left: 10px;

  }
}
// set as primary radio buttons
$dark: #292929;
$light: $color-white;
$green: #2ECC71;
$blue: #4183D7;
$small: 40em;
.mat-expansion-panel-body{
 padding: 0 !important;
}
.button-wrap {
 position: relative;
 top: 50%;
 // @media (max-width: $small) {margin-top: -1.5em;}
}
.hidden {
 display: none;
}
.radio-label:checked + .button-label {
 background: $green;
 color: $light;
 &:hover {
  background: darken($green, 5%);
  color: darken($light, 5%);
 }
}
.below-bor::after{
 content: "";
 border-bottom: 1px dotted #000;
 width: 100%;
 margin: 10px 15px;
}
.summary-section.sticky-top{
 top: 9em;
}

.below-bor::after{
  content: "";
  border-bottom: 1px dotted #000;
  width: 100%;
  margin: 10px 15px;
}
.summary-section.sticky-top{
  top: 9em;
}
.xs-fare-charges{
 // height: 70.1px;
 border-radius: 3px;
 box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.67);
 border: solid 1px #cbcbcb;
 background-color: #e9ecff;
 margin: 25px 0px;
 padding: 10px;
 a{
  font-size: 10px;
  font-weight: 600;
 }
 .fare-title{
  opacity: 0.77;
  font-family: opensans-regular;
  font-size: 10px;
  font-weight: 600;
  text-align: left;
  color: $color-gray2;
 }
 .fare-price{
  font-family: opensans-regular;
 font-size: 18px;
 font-weight: bold;
 line-height: 1.2;
 color: $color-dark-gray;
 .tax{
  font-family: opensans-regular;
  font-size: 8px;
  line-height: 4.31;
  color: $color-dark-gray;
 }
   
 }
 .seat-title{
  opacity: 0.76;
 font-family: opensans-regular;
 font-size: 10px;
 font-weight: 600;
 color: $color-gray2;
 }
  .seat-num{
   font-family: opensans-regular;
  font-size: 12px;
  font-weight: 600;
  color: $color-dark-gray;
 }
 
}
.newcard-info-img{
  position: absolute;
  top: 0px;
  right: 0px;
  left: 11em;
  width: 20px;
  @media screen and (max-width: $break-mob-small) {
   top: 2px;
   right: 0px;
   left: 20em;
  }
  @media screen and (max-width: $break-mob-x2small) {
   top: 2px;
   right: 0px;
   left: 17em;
  }
  @media screen and (max-width: $break-mob-xsmall) {
   top: 2px;
   right: 0px;
   left: 13em;
  }
}
/* .primary-msg{
 color: $color-gray2;
 font-size: 12px;
} */
.newcard-info-cvvimg{
 position: absolute;
 top: 0px;
 right: 0px;
 left: 6em;
 width: 20px;
 @media screen and (max-width: $break-mob-small) {
  top: 2px;
  right: 0px;
  left: 8em;
 }
 @media screen and (max-width: $break-mob-x2small) {
  top: 2px;
  right: 0px;
  left: 7em;
 }
 @media screen and (max-width: $break-mob-xsmall) {
  top: 2px;
  right: 0px;
  left: 5em;
 }
}
.text-cut{
 text-overflow: ellipsis;
 overflow: hidden; 
 width: 69px; 
 height: 19px; 
 white-space: nowrap;
 font-family: opensans-regular;
 font-size: 14px;
 font-weight: bold;
 line-height: 1.29;
 letter-spacing: normal;
 color: $color-dark-gray;
}
.sum-date-info, .sum-seat-info {
 margin: 5px 0px 5px 0px;
 img{
  float: left;
  margin-right: 10px;
 }
}
.fare-header{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}
.fare-total, .smart-charges, .total-charges{
  color:$color-dark-gray-01;
  // margin-bottom: 15px;
  // max-height: 60px;
  // min-height: 35px;
  p{
    @media screen and (max-width: $break-mob-small) {
      color: $color-dark-gray-01;
      font-size: 12px;
    }
  }
}
.total-charges{
  text-transform: uppercase;
}
.fare-total{
    // border-bottom: 1px dashed $color-lightGray;
    p{
      margin: 0px;
    }
}
.smart-discount{
  text-decoration: line-through;
  // border-bottom: 1px solid #000;
  // padding: 20px 0px;
  color: $color-dark-gray-01;
}
.gst-optional-data{
  margin: 15px 0px;
}
.mat-form-field .mat-focused .mat-form-field-label{
 color: red !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label{
 color: red !important;
}
// Font-Icons
.fas{
 color: $color-dark-gray-01;
 margin: 0px 5px;
}
.final-amount{
 font-family: opensans-regular;
 font-size: 16px !important;
 font-weight: 600;
 line-height: 1.28;
 text-align: right;
 color: $color-dark-gray !important;
 text-transform: capitalize;
}
.timing-zone{
 margin: 5px 25px;
 .time{
  font-family: opensans-regular;
  font-size: 12px;
  color: $color-dark-gray-01;
 }
 .line {
  border-top: 2px solid #CBCBCB;
  padding-top:5px;
  padding-bottom: 5px;
  margin: 12px 12px 0;
  width: 30%;
  position: absolute;
  @media screen and (max-width: $break-mob-small) {
   width: 20%;
  }
  
 }
 
 .line:before, .line:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #CBCBCB;
  border-radius: 5px;
  position: absolute;
  top: -6px;
 }
 
 .line:after {
  right: 0;
 }
 .time-two {
  margin-left: 9em;
  @media screen and (max-width: $break-mob-small) {
   margin-left: 9em;
  }
  @media screen and (max-width: $break-mob-xsmall) {
   margin-left: 7em;
  }
 }
}
// Payemnet Method CSS
.saved-cards, .other-cards{
 .pay-card-title{
  p{
   font-size: 12px;
   color: $color-dark-gray;
  }
 }
}
.radio {
 position: relative;
 cursor: pointer;
 line-height: 20px;
 padding: 0px;
 font-size: 14px;
 margin: 20px 0px;
 font-weight: bold;
}
.radio .label {
 position: relative;
 display: block;
 float: left;
 margin-right: 20px;
 width: 20px;
 height: 20px;
 border: 2px solid #c8ccd4;
 border-radius: 100%;
 -webkit-tap-highlight-color: transparent;
}
.radio .label:after {
 content: '';
 position: absolute;
 top: 3px;
 left: 3px;
 width: 10px;
 height: 10px;
 border-radius: 100%;
 background: $color-vivid-blue;
 transform: scale(0);
 transition: all 0.2s ease;
 opacity: 0.08;
 pointer-events: none;
}
input[type="radio"]:checked + .label {
 border-color: $color-vivid-blue;
}
input[type="radio"]:checked + .label:after {
 transform: scale(1);
 transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
 opacity: 1;
}
.save-card-img{
 margin-left: 3em;
 width: 94px;
 height: 60px;
 margin-top: -23px;
 border-radius: 5px;
 @media screen and (max-width: $break-mob-small) {
  margin-left: 3em;
 }
 @media screen and (max-width: $break-mob-x2small) {
  margin-left: 40px;
  margin-top: -20px;
 }
 @media screen and (max-width: $break-mob-xsmall) {
  margin-left: 0;
 }
}
.w-40{
 width: 40px;
}
.save-card-info{
 display: inline-block;
 margin-left: 50px;
 margin-top: 15px;
 @media screen and (max-width: $break-mob-x2small) {
   margin-left: 10px;
  }
  .save-card-num{
   @media screen and (max-width: $break-mob-x2small) {
     font-weight: normal;   
    }
  }
}
.new-card-titleoffer{
 margin-left: 2.2em;
  width: 20px;
  position: absolute;
}
.xs-mti-50{
 @media screen and (max-width: $break-mob-small) {
   margin-top: 50px !important;
 }
}
.offer2{
  position: relative;
  top: 65px;
  left: 250px;
  @media screen and (max-width: $break-md-small) {
   top: -1px;
   left: 100px;
   right: 0px;
  }
  @media screen and (max-width: $break-mob-small) {
   top: 10px;
   left: 60px;
   right: 0px;
   display: block;
  }
  
}
.new-card-info, .pay-emi-info, .hdfcNetBank-info, .bharatqr-info, .payzapp-info{
 // width: 653px;
 // height: 216px;
 border: solid 1px #e8e8e8;
 margin: 20px 0px 20px 0px;
 background-color: $color-traveler-bg;
 padding: 20px;
}
.pay-emi-info{
 .payTitle{
  height: 22px;
  font-family: opensans-regular;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.16;
  letter-spacing: normal;
  text-align: left;
  color: $color-dark-gray;
  @media screen and (max-width: $break-md-small) {
   line-height: normal;
   height: auto;
  }
 }
}
.payMethod-label{
 font-weight: normal;
  font-size: 16px;
}
.xs-check-font{
 font-size: 11px;
 @media screen and (max-width: $break-mob-small) {
  font-size: 10px;
 }
}
.mat-form-field{
 @media screen and (max-width: $break-mob-small) {
  width: 100%;
 }
}
.mobile-click-coupon{
  height: 55px;
  border: solid 1px #9ca2ef;
  background-color: #edeefc;
  padding: 5px;
  cursor: pointer;
  .coupon-msg{
   margin: 10px 2px;
  }
}
.sub-info{
 margin-left: 2em;
 .payemi-best{
  background-color: $color-redmix;
  padding: 4px;
  border-radius: 5px;
  color: $color-white;
  font-family: opensans-regular;
  font-size: 11px;
  width: 56px;
  height: 15px;
  @media screen and (max-width: $break-mob-small) {
   font-size: 9px;
  }
 }
 .emi-duration{
  font-family: opensans-regular;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
 }
 .emi-tenure{
  font-family: opensans-regular;
  font-size: 12px;
  font-weight: normal;
  @media screen and (max-width: $break-mob-small) {
   margin-left: 12px;
  }
  
 }
}
.hdfcNetBank-info{
 .netBank-total{
  height: 19px;
  font-family: opensans-regular;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: normal;
  color: $color-dark-gray;
 }
 .netBank-price{
  font-family: opensans-regular;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.44;
  height: 33px;
  margin: 5px 0px;
  color: $color-dark-gray;
 }
 .netBank-fee{
  font-size: 12px;
  height: 17px;
  font-weight: 600;
  color: $color-dark-gray;
 }
}
.bharatqr-info{
 .bharatqr-title{
  height: 22px;
  font-family: opensans-regular;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0px;
  color: $color-dark-gray;
 }
 .bharat-refund{
  margin: 15px 0px;
  font-family: opensans-regular;
  font-size: 11px;
  line-height: 1.27;
  color:$color-dark-gray-01;
 }
 .bharatqr-price-section{
  display:inline-block;
  vertical-align: top;
  .bharat-total{
   height: 19px;
   font-family: opensans-regular;
   font-size: 14px;
   font-weight: bold;
   color:$color-dark-gray;
  }
  .bharat-price{
   height: 33px;
   margin: 10px 0px;
   font-family: opensans-regular;
   font-size: 24px;
   font-weight: bold;
   color: $color-dark-gray;
  }
  .bharat-list{
   margin: -6px 18px;
   padding: 0px;
   font-size: 12px;
   width: 100%;
  }
  
 }
 img{
  margin-right: 20px;
  width: 172px;
  height: 172px;
  display: inline-block;
 }
}
.payzapp-info{
 img{
  width: 141px;
  height: 47px;
 }
 .payzapp-total{
  height: 19px;
  font-family: opensans-regular;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px;
  color: $color-dark-gray;
 }
 .payzapp-price{
  height: 33px;
  font-family: opensans-regular;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.44;
  color: $color-dark-gray;
 }
 .payzapp-fee{
  height: 17px;
  font-family: opensans-regular;
  font-size: 12px;
  font-weight: 600;
  color: $color-dark-gray;
 }
}
.mlr-15{
 margin: 0px -29px;
 padding: 20px 30px;
 background-color: #fef5e1;
 @media screen and (max-width: $break-mob-small) {
  padding: 15px 25px;
 }
}
.train-schedule-title{
 position: relative;
 top: 25px;
 @media screen and (max-width: $break-mob-small) {
  float: right;
  position: static;
  top:0;
 }
 span{
  color: $color-dark-gray-01;
  font-size: 14px;
  font-family: opensans-medium;
  
 }
}
.train-btn{
 @media screen and (max-width: $break-mob-small) {
  width: 100%;
  margin: 0;
 }
}
.add-title{
 color: $color-dark-gray;
 font-size: 14px;
 font-family: opensans-medium;
 margin: 20px 0px ;
 margin: 2.5em -20px 0px -14em;
}
.res-area{
  margin: 3.5em 0px 0.5em -7.5em;
  @media screen and (max-width: 768px) and (min-width: 426px){
   margin:-0.5em 0px 0.5em 0.5em;
  }
 @media screen and (max-width: $break-mob-small) {
  margin: 0em 0px 0.5em -0.5em;
 }
 @media screen and (max-width: $break-mob-xsmall) {
  margin: 0em 0px 0.5em -0.5em;
 }
}
.imp-note{
 border-radius: 2px;
 background-color: #fef5e1;
 padding: 5px 10px;
 .note-one{
  border-radius: 2px;
  background-color: #fcc564;
  font-size: 9px;
  padding: 3px;
  margin-right: 5px;
  color: $color-dark-gray;
 }
 .note-two{
  font-size: 12px;
  color: $color-dark-gray;
  font-family: opensans-medium;
 }
}
.res-option{
 font-family: opensans-regular;
 font-size: 14px;
 color: $color-dark-gray;
 font-weight: normal;
 @media screen and (max-width: $break-mob-small){
  display: table;
 }
}
.senior-text{
 color: $color-vivid-blue;
 font-size: 14px;
}
.senior-text-gray{
 color: $color-dark-gray-01;
 font-size: 11px;
}
.remove-traveller{
 font-size: 11px;
 float: right;
 cursor: pointer;
 padding: 5px;
}
.add-traveller-section, .add-child-section{
  cursor: pointer;
 .add-traveller-sym, .add-child-sym{
  color: $color-vivid-blue;
  margin-right: 10px;
  font-size: 18px;
  float: left;
 }
 .add-text{
  color: $color-vivid-blue;
  font-family: opensans-medium;
 }
}

.add-title{
  color: $color-dark-gray;
  font-size: 14px;
  font-family: opensans-medium;
  margin: 20px 0px ;
  margin: 2.5em -20px 0px -14em;

}
.res-area{
   margin: 3.5em 0px 0.5em -7.5em;
   @media screen and (max-width: 768px) and (min-width: 426px){
      margin:-0.5em 0px 0.5em 0.5em;
   }
  @media screen and (max-width: $break-mob-small) {
    margin: 0em 0px 0.5em -0.5em;
  }
  @media screen and (max-width: $break-mob-xsmall) {
    margin: 0em 0px 0.5em -0.5em;
  }
}
.imp-note{
  border-radius: 2px;
  background-color: #fef5e1;
  padding: 5px 10px;
  .note-one{
    border-radius: 2px;
    background-color: #fcc564;
    font-size: 9px;
    padding: 3px;
    margin-right: 5px;
    color: $color-dark-gray;
  }
  .note-two{
    font-size: 12px;
    color: $color-dark-gray;
    font-family: opensans-medium;
  }
}
.res-option{
  font-family: opensans-regular;
  font-size: 14px;
  color: $color-dark-gray;
  font-weight: normal;
  @media screen and (max-width: $break-mob-small){
    display: table;
  }
}
.senior-text{
  color: $color-vivid-blue;
  font-size: 14px;
}
.senior-text-gray{
  color: $color-dark-gray-01;
  font-size: 11px;

}
.remove-traveller{
  font-size: 11px;
  float: right;
  cursor: pointer;
  padding: 5px;
}
.add-traveller-section, .add-child-section{
    cursor: pointer;
  .add-traveller-sym, .add-child-sym{
    color: $color-vivid-blue;
    margin-right: 10px;
    font-size: 18px;
    float: left;
  }
  .add-text{
    color: $color-vivid-blue;
    font-family: opensans-medium;
  }
}

// #mobile-summary-popup{
//   .modal-dialog{
//     margin: 0;
//   }
//   .modal-content{
//     border-radius: 0;
//     border: none;
//   }
//   .close{
//     opacity: 1;
//     color: $color-vivid-blue;
//   }
//   .pop-header{
//     padding: 15px 20px 0px 20px;
//     border-bottom: none;
//   }
//   .pop-body{
//     padding: 0px;
//   }
//   .title{
//     color: #0a0a0a;
//     font-size: 16px;
//     font-family: opensans-medium;
//   }
//   .vehicle-data{
//     padding: 20px;
//   }
//   .travels-name{
//     color: $color-dark-gray-01;
//     font-size: 11px;
//   }
//   .pop-fas{
//     margin: 5px 8px 5px 0px;
//   }
//   .pop-text-cut{
//     font-family: opensans-regular;
//     font-size: 14px;
//     font-weight: bold;
//     color: $color-dark-gray;
//     text-transform: uppercase;
//   }
//   .place-names{
//     font-size: 12px;
//     color: $color-dark-gray;
//   }
//   .pop-seats{
//     margin-left: 2.3em;
//     font-size: 11.5px;
//     color: $color-dark-gray;
//     font-family: opensans-medium;
//   }
//   .pop-table-header tr th{
//     font-size: 12px;
//     color: $color-dark-gray;
//     font-family: opensans-medium;
//     padding: 10px;
//     border: none;
//   }
//   .pop-table-header{
//     border: solid 1px #e8e8e8;
//     background-color: $color--white-blue;
//   }
//   .pop-list-data tr td{
//     font-size: 11px;
//     color: $color-dark-gray;
//     font-family: opensans-regular;
//   }
//   .msg{
//     color: $color-gray2;
//     font-size: 11px;
//     margin: 5px 10px 20px;
//     width: 100%;
//     .pop-i{
//       font-size: 15px;
//       width: 5%;
//       float: left;
//     }
//     span{
//       width: 90%;
//       float: left;
//       margin: 0px -15px 20px 9px;
//     }
//   }
//   .fare-details{
//     clear: both;
//     .fare-title{
//       font-family: opensans-medium;
//       font-size: 14px;
//       color: $color-dark-gray;
//       border: solid 1px #e8e8e8;
//       background-color: $color--white-blue;
//       padding: 15px;
//     }
   
//   }

// }



.error{
  color: $color-red;
  padding: 0px 0px;
    margin-top: -14px;
    margin-bottom: 10px;

}

// IRCTC Forgot Popup Style

.title-for{
  color: $color-dark-gray;
  font-size: 18px;
  margin: 5px 0px;
  font-family: opensans-medium;
}

.sub_title-for{
  color: $color-gray2;
  font-size: 12px;
  font-family: opensans-regular;
}

.otp-mobile{
  border-radius: 2px;
  border: solid 1px #a3cc9c;
  background-color: #ecf5ea;
  padding: 10px;
  font-size: 11px;
  margin: 15px 0px !important;
}

.resend-otp{
  float: right;
    font-size: 12px;
    position: relative;
    top: -15px;
}

.bg_sec{
    border-radius: 8px;
    background-color: #fff;
}

.register-tab{
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 10px 10px 0px 10px;
  @media only screen and (max-width:600px){
    overflow-x: auto;
    flex-wrap: nowrap;
  }
  li{
    flex: 1;
  }

  .nav-link{
    font-weight: 600;
    font-size: 14px;
    font-weight: 600;
    color: #00000040;
    @media only screen and (max-width:600px){
      font-size: 12px;
    }
  }
  .nav-link [disabled]{
    cursor: not-allowed;
  }

  .nav-link.active, .show>.nav-link{
    color: #000000 !important;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    @media only screen and (max-width:600px){
      font-size: 12px;
    }
    &::after{
      content: "";
      position: absolute;
      height: 4px;
      width: 35px;
      background: #1d86ff; 
      border-radius: 20px;
      z-index: 1;
      opacity: 1;
      left: 0;
      right: 0;
      margin: 0 auto;
      bottom: -2px;
      @media only screen and (max-width:600px){
        bottom: 0;
      }
    }

  }
}

.cm_btn{
  width: 150px;
  margin-right: 15px;
  @media only screen and (max-width:375px){
       width: 110px;
      margin-right: 10px;
  }
}

.irctc_heading{
  font-family: 'opensans-regular';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
  margin-top:1rem;
  margin-bottom:1rem;
  @media screen and (max-width:600px){
    font-size: 16px;
  }
}
.bg_sec{
    font-family: 'opensans-regular';
    font-style: normal;
    padding:50px 0px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    @media screen and (max-width:600px){
      padding:50px 10px;
    }
    .tq_hdr{
      font-weight: 300;
      font-size: 30px;
      line-height: 25px;
      color: #00981770;
    }
    .tq_pri_hdr{
      font-weight: 600;
      font-size: 16px;
      color: #00000070;
      line-height:55px;
      @media screen and (max-width:600px){
        font-size: 14px;
      }
  }
  .tq_sec_hdr{
      font-weight: 300;
      font-size: 16px;
      color: #00000070;
      line-height:25px;
      @media screen and (max-width:600px){
        font-size: 14px;
      }
  }
  .blue_btn{
    background: #1D86FF;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding:10px 25px;
    margin-top:2rem;
  }
}

.mob-listing-header-center h6{
      font-size: 12px;
}

