.area-root-departure, .area-root-reutrn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 5px 0px;

}
.area-root-departure{
  border-right: none;

}
.cdk-overlay-pane {
  top: 215px;
    left: 1040.66px;
}
.add_anotherbutton{

  background: #ffff;
  color: #1d86ff;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 27px;
  border: 1px solid #1d86ff;
  font-weight: bold;

}
