.p-y-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}



.payment-tab-container{
    float: left;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.pointspluscash-main .master-text {
    font-size: 14px;
    font-weight: bold;
    color: #191919;
    margin-bottom: 4px;
    /* padding-top: 40px;
    padding-right: 35px; */
}

.pointspluscash-main .box-m .box-sub {
    float: left;
    width: 100%;
    border: 1px solid rgba(14, 88, 153, 0.2);
    padding: 15px;
    border-radius: 6px;
    font-size: 14px;
}

.pointspluscash-main .note {
    font-size: 11px;
    color: #757575;
    padding-left: 0;
}
.pointspluscash-main .box-m .in-range {
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ede9d7;
    font-size: 12px;
    font-weight: 600;
    color: #191919;
    min-width: 70px;
}
.pointspluscash-main .card-no {
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #000000;
    text-align: left;
    
}
.pointspluscash-main .card-name {
    font-size: 10px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.5);
    text-align: right;
    text-transform: uppercase;
}
.pointspluscash-main .box-m .in-range-in {
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: #191919;
    border-radius: 4px;
    min-width: 70px;
    background-color: rgba(0, 74, 143, 0.17);
}
.pointspluscash-main .box-m .divider-redeem {
    border: 1px solid rgba(14, 88, 153, 0.2);
    float: left;
    width: 100%;
    position: relative;
    top: 14px;
    margin: 5px 0;
}

.pointspluscash-main .box-m {
    margin-top: 30px;
    border-radius: 6px;
     /*float: left;*/
    width: 100%;
    padding: 10px 30px;
    @media screen and (max-width: 425px) and (min-width: 320px){
        padding: 10px;
    }
}

.pointspluscash-main .border-bottom-box {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.btn:hover {
   /* color: #ffffff; */
    text-decoration: none;
}
.pay-right{
    width: 40%;
    float: right;
    @media screen and (max-width: 425px) and (min-width: 320px){
        width: 100%;
        margin: 20px 0px;
    }
}
.in-range-text{
    @media screen and (max-width: 425px) and (min-width: 320px){
        font-size: 12px;
    }
}
.slider-title{
    /* margin: 15px 0px;*/
    font-size: 14px;
    @media screen and (max-width: 425px) and (min-width: 320px){
        font-size: 12px;
    }
}
.error {
        background-color: #ffe0e0;
        color: red;
        position: absolute;
        border-radius: 5px;
        z-index: 2;
        text-align: center;
        font-size: 10px;
        padding: 0px 5px 0px 5px;
    &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid #67606000;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #ffe0e0;
        z-index: 3;
        position: absolute;
        left: 5px;
        top: -5px;
    }
}

.error1 {
    color: red;
    font-size: 10px;
    margin-top: 5px;
    text-align: left;
    margin-left: 5px;
}

.m-pop-btn{
    @media screen and (max-width: 425px) and (min-width: 320px){
        margin: 10px 0px;
        border: 1px solid rgba(14, 88, 153, 0.2);
        padding: 20px 0px;
    }
}
.card-drop-section{
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);*/
}
.drop-card-btn{
    padding-left: 1.7rem ;
    width: 90%;
    @media screen and (max-width: 425px) and (min-width: 320px){
       padding-left: 1.8rem;
    }
    @media screen and (max-width: 1280px) {
        width: 100%;
     }
}
.drop-card-btn:focus{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    border-top: 1px solid #e5e5e5;
    border-radius: 0px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.card-drop-menu{
    width: 90%;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);*/
    margin-top: -2px;
    padding: 0px;
    border: none;
    border-radius: 0px;
}
.card-drop-menu li{
    border-bottom: 1px solid #e5e5e5;
    padding: 0.5em 2em;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}
.card-drop-menu li a:hover{
    text-decoration: none;
}
.card-drop-menu li:first-child{
    border-top: 1px solid #e5e5e5;
}
.card-drop-menu li:last-child{
    /* border: none;*/
}

/* popup code css*/

.voucher-code-entry .small-gray-text {
    margin: 0px 0px;
    font-size: 14px;
}

.card-num-edit .card-input {
    border: 0;
    top: 102px;
    right: auto;
    left: 47em;
    width: 5% !important;
    position: absolute;
    padding: 0px 5px;
    background: transparent;
}

.card-num-edit .crad_x {
   /*  top: 262px;
     right: auto;
     left: 46em;*/
    font-size: 14px;
    /* position: absolute;*/
    color: #b3b3b3;
    /* padding: 10px;*/
}
input:focus, .in-range:focus{
    outline: none;
}

.voucher-code-entry input {
    width: 100%;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 10px;
}
.creditcard-det1 input {
    width: 100%;
}

.pop-range .in-range{
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ede9d7;
    font-size: 12px;
    font-weight: 600;
    color: #191919;
    min-width: 70px;
}

.f-12{
    font-size: 12px;
}

.master-text {
    font-size: 14px;
    font-weight: bold;
    color: #191919;
    /* padding-top: 40px;
     padding-right: 35px;*/
}
.bal-text{
    font-size: 12px;
    font-weight: bold;
    color: #191919;
}

.note {
    font-size: 11px;
    color: #757575;
}
.note-green{
    font-size: 14px;
    color: #008000;
    font-weight: bold;
}
p{
    margin-bottom: 0rem;
}

.line{
    margin:0.6rem 0em;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.checkmark{
    top: 5px;
}

.voucher-main .img-offer {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    object-fit: cover;
    width: 240px;
    height: 200px;
}

/* .voucher-main .voucher-content {
     padding: 30px 30px 30px 28px;
 }*/
.voucher-main .txt-title {
    color: #4a90e2;
    font-size: 20px;
    padding: 5px 0px;
    @media screen and (max-width: 425px) and (min-width: 320px){
        font-size: 18px;
    }
}

.payment-tab-container .border-success-pos {
    position: relative;
}
.text-green {
    color: #2bb368 !important;
}
.content-msg{
    font-size: 14px;
    @media screen and (max-width: 425px) and (min-width: 320px){
        font-size: 12px;
    }
}
.img-border{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    @media screen and (max-width: 425px) and (min-width: 320px){
        height: 100px;
        width: 100%;
        border-radius: 5px;
    }
}
.m-redeemsuccess{
    @media screen and (max-width: 425px) and (min-width: 320px){
        font-size: 12px;
        margin: 15px 0px;
    }
}
.border-success {
  /*   position: absolute;
     top: -10px;*/
    margin: 0.5em 0em;
    border-top: solid 1px rgba(225, 225, 225, 0.6);
    float: left;
    width: 100%;
}
.close-icon {
    float: right;
    position: relative;
    bottom: 10px;
    left: 10px;
    background-color: transparent;
    @media screen and (max-width: 425px) and (min-width: 320px){
        bottom: -10px;
        left: -11px;
    }
    i{
        cursor: pointer;
    }
}
.xs-check-font{
    @media screen and (max-width: 425px) and (min-width: 320px){
        font-size: 10px;
    }
}

.two-inputs{
    border: 1px solid #aecde8;
    border-radius: 5px;
    /* padding: 10px;*/
    .cus-input{
        border: none;
        /* margin-left: 2px;*/
        border-radius: 0px;
    }
}

.cc-template img {
    height: 37px;
    width: 60px;
}

.date-section{
    position: relative;
    .date-icon{
        position: absolute;
        right: 15px;
    }
}
.noteOne {
    font-size:14px;
    color:#191919;
}

.redeem-value-section{
    max-width: 550px;
    @media screen and (max-width: 425px){
        max-width: 350px;
    }
}

.w-checkbox {
    top:2px;
}

.payment_cnt{
  border: solid 1px #e6e6e6;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  .text_highlight_bold{
    font-size:15px;
    font-weight:600;
  }
  .card_partner_info{
    .amount_sec{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    .partner_name{
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }
    .partner_logo{
      float: left;
      margin-right: 15px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      padding: 5px;
      border: 1px solid #ccc;
    }
    .title{
      color: #000000;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .title_sub{
      color: #8F8888;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .title_value{
      font-size: 20px;
      font-weight: bold;
      color: #000000;
      a{
        font-size: 12px;
        font-weight: 600;
        color: #1d86ff;
      }
    }
    .card_img_sec{
      ul{
        list-style-type: none;
        padding: 0px;
        li{
          margin-right: 10px;
          display: inline;
          img{
            height: 20px;
            width: 45px;
            display: inline;
          }
        }
      }
    }
  }

  .payment_final_sec{
    border: solid 1px #e6e6e6;
    background-color: #fff;
    border-radius: 8px;
    .powered_sec{
      padding: 15px 15px 5px;
      .title{
        font-size: 10px;
        font-weight: 600;
        color: #9f9f9f;
      }
      img{
        width: 50%;
      }
    }
    .nav-tabs {
        display: none;
      }

      @media (min-width: 768px) {
        .nav-tabs {
          display: flex;
          flex-flow: column nowrap;
        }
        .nav-tabs {
          border-bottom: none;
          // border-right: 1px solid #e6e6e6;
          display: flex;
        }
        .tab-content.payment-content{
          border-left: 1px solid #e6e6e6;
          display: flex;
          height: 100%;
        }
        // .nav-tabs {
        //   margin: 0 15px;
        // }
        .nav-tabs .nav-item + .nav-item {
          // margin-top: 0.25rem;
          // padding: 10px 0px;
          margin-bottom: 0px;
        }
        .nav-tabs .nav-link {
          transition: border-color 0.125s ease-in;
          white-space: nowrap;
          border: none;
          padding: 15px 15px;
          color: #555;
          font-size: 14px;
        }
        .nav-tabs .nav-link:hover {
          background-color: #f0f7ff;
          border-color: transparent;
        }
        .nav-tabs .nav-link.active {
          // border-bottom-color: #ddd;
          // border-right-color: #fff;
          // margin-right: -1px;
          background-color: #f0f7ff;
          font-size: 14px;
          font-weight: 600;
          border-left: 3px solid #1d86ff;
          border-radius: 0px;
          color: #000000;
          img{
            filter: invert(1%) sepia(379%) saturate(8482%) hue-rotate(198deg) brightness(140%) contrast(103%);;
            // filter: invert(1%) sepia(69%) saturate(6482%) hue-rotate(198deg) brightness(100%) contrast(103%);
          }
        }
        // .nav-tabs .nav-link.active:hover {
        //   background-color: #1d86ff;
        // }

        .card {
          border: none;
        }

        .card .card-header {
          display: none;
        }

        .card .collapse {
          display: block;
        }
      }

      @media (max-width: 767px) {
        .payment-content{

          .tab-content{
            border-radius: 8px;
            border: solid 0px #e6e6e6;
            background-color: #fff;
            padding: 10px 0px;
          }
          .card.tab-pane {
            display: block !important;
            opacity: 1;
            border: none;
            border-bottom: 1px dashed #e6e6e6;
            h6{
              a{
                font-size: 16px;
                font-weight: 600;
                color: #000;
              }
            }
          }
        }
        
      }

  }

}
.card-drop{
    border: 1px solid #E6E6E6;
}
.point-section{
    background:rgba(29, 134, 255, 0.1);
    border:1px solid rgba(29,134,255,0.5);
    border-radius:5px;
   
}
.border-box{
    padding:10px 15px;
    border:1px solid #e6e6e6;
    border-radius:5px;
    display:flex;
    align-items:center;
    padding:5px 10px;
}
.card_drpdwn_btn{
    width:65%;
    @media screen and (max-width:600px){
    width:100%
    }
}
.card_drpdwn_ul{
    width:65%;
        @media screen and (max-width:600px){
    width:100%
    }
}
.blue_link{
    color:#1d86ff;
}


    .card_imag{
     width:60px !important;
     height:37px !important;
    }
    .card_details{
    padding-left:5px;
    padding-right:5px;
     .card_number{
    font-size:12px;
    margin-bottom:0px;
    color:#000000;
    font-weight:600;
    }
    .card_type{
    font-size:10px;
    color:#00000050;
    }
    }
    .voucherotpcountdown{
    color:#E31E24;
    }
   

   .otp_input{
   position:relative;
   width:50%;
   a{
    font-size: 14px;
    position: absolute;
    top: 12px;
    right: 3%;
    color: #1d86ff;
   }
   @media screen and (max-width:600px){
        width:100%;
   }
   }

   .voucher_apply{
    color: #1d86ff;
    cursor:pointer;
    font-size: 15px;
    font-family: 'opensans-medium';
    @media screen and (max-width:600px){
        margin-top:1rem;
   }
   }
   .green-font{
    color:#008000;
    font-size:14px;
   }
   .brown-box{
   padding: 15px;
    background: rgba(219, 158, 0, 0.1);
    border-radius: 8px;
    p{
        color: #DB9E00;
    }

   }
   .vouchertitle{
        color:rgba(0, 0, 0, 0.5);
        font-size:12px;
    }
   .grey-box{
   padding:20px;
    background: rgba(217, 217, 217, 0.1);
    border-radius: 8px;
   }
   .voucherImg{
    padding:15px 0 0 15px;
   }

   .primary_hdr{
   font-weight:600;
   font-size:20px
   }
   .hdr_pdng{
   padding-top:2rem;
    font-size:15px;
   @media screen and (max-width:600px){
padding-top:1rem;
   }
   }

   .points{
   font-size:18px;
      @media screen and (max-width:600px){
  font-size:15px;
  padding-top:10px;
   }
   }
   .point_msg{
   
      @media screen and (max-width:600px){
        text-align: center!important;
   }
   }

   .coupon_mlite_popup {
    animation-name: slideInUp;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    .modal-dialog {
        margin: 0;
        display: flex;
        align-items: flex-end;
        min-height: calc(100% - 0px);
        .modal-content {
            border-radius: 15px 15px 0px 0px;
            .modal-content-paywithpts {
                padding:20px;
                }
            .modal-header {
                border-bottom: 0px;
                .modal-title {
                    font-family: 'opensans-bold';
                    font-size: 18px;
                }

            }
        }
    }
}

.ng5-slider .ng5-slider-pointer:after {
    background: #0db9f0 !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.payment_add_btn{
    padding:10px 45px;
}













