<div class="container payment_cnt" *ngIf="hasCards">
  <div class="row">
    <div class="col-6">
      <div class="dropdown">
  <button class="btn  dropdown-toggle border-box" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="pl-1">
        <span class="cc-template"><img src="{{cdnUrl}}images/smartbuy/icons/payment/card.png" class="card_img"></span>
    </div>
    <div class=" pl-2 card_details">
      <div class="card-no topcard card_number" *ngIf="selectedCardDetails && selectedCardDetails.card">{{selectedCardDetails.card}} </div>
      <div class="card-name card_type">Credit Card</div>
    </div>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li *ngFor="let card of cards;let i=index;">
      <a class=" border-box" href="javascript:;"  (click)="selectedCard(card.id)">
       <div class="pl-0 ">
                          <span class="cc-template"><img src="{{cdnUrl}}images/smartbuy/icons/payment/card.png" class="card_img"></span>
                      </div>
                      <div class="pl-2 pr-3 card_details">
                        <div class="card-no topcard card_number">{{card.card}}</div>
                        <div class="card-name card_type">Credit Card</div>
                        <!-- <span class="pl-3 d-none"><i class="fa fa-caret-down" aria-hidden="true"></i></span> -->
                      </div>
    </a>
  </li>
    
  </ul>
</div>
     
      
    </div>
    <div class="col-6 pt-2 point-section pay-right">
      <div class="master-text">Reward Points Balance - <span class="pointsavailble">{{points_available}}</span> pts</div>
          <div class="col-12 note">Note: <span class="ptcon">1 point = {{points_percentage}} Rs</span></div>
    </div>
    
      <div class="col-6">Pay with Points and Money</div>
      <div class="col-6"><span id="selectedPoints" class="minpoints" *ngIf="value>0">{{value}} pts <span *ngIf="value>0 && (orderamount - value*points_percentage)>0">+</span></span><span class="balamt" *ngIf="(orderamount - value*points_percentage)>0">  &#8377; {{orderamount - value*points_percentage}}</span>
      </div>
       <div class="box-m ">
          <div class="box-sub showslider">
            <div class="col-md-12 my-4 slider-container">
              <div class="row">
                  <div class="col-md-12">
                    <div class="my-3">
                      <!-- [(value)]="value" -->
                        <ng5-slider [(ngModel)]="value"  [options]="options" (change)="onChangePoint()"></ng5-slider>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-md-12">
              <p>Please note that you can pay maximum {{redemption_value}}% of the transaction amount through Points i.e,<br>
              &#8377; <span>{{orderamount* (redemption_value/100)}}</span> ({{redemption_value}}% of &#8377;<span>{{orderamount}}</span>) only. Balance amount should be paid by Card or Account. </p><br>
                <p ><input checked="" name="" type="checkbox"><label class="checkbox xs-check-font">By Redeeming points you agree to our
                  <a href="https://smartbuyuat.reward360.us/corporate/terms_conditions" target="_blank">Terms and Conditions</a></label>
                </p>
              
              <div class="col-12">
                <button type="" class="btn btn-primary" id="header_submit3">Get OTP</button>
              </div>
            </div>
          </div>
        </div>
    
  </div>
  
</div>
<div class="container payment_cnt">
  <div class="col-12">
    <div class="col-6"><img src="{{cdnUrl}}images/smartbuy/icons/payment/voucher.png" alt="Voucher"> Have a Voucher?</div>
    <div class="col-6 pay-right">Apply Voucher</div>
  </div>
</div>
<div class="container payment_cnt">
  <div class="col-12">
    <div class="col-6"><img src="{{cdnUrl}}images/smartbuy/icons/payment/new_card.png" alt="Voucher"> Would you like use another card</div>
    <div class="col-6 pay-right">Add Card</div>
  </div>
</div>
