<section class="flight-area mt-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="travel-box mb-20">
                    <div class="travel-select-data-area">
                        <div class="travel-select-trip mt-0">
                            <ul class="travel-select-trip-ul">
                                <li>
                                    <span class="selectway ">Round Way</span>
                                </li>
                                <li>
                                    <span class="selectway active">One Way</span>
                                </li>
                                <li>
                                    <span class="selectway">Multicity</span>
                                </li>
                                <li>
                                    <div class="Travellers-dropdown ms-3">
                                        <div class="Travellers-dropdown-title">
                                            <h5>03 Passengers <i class="fas fa-caret-down"></i></h5>
                                        </div>
                                        <ul class="Travellers-dropdown-data Travellershide">
                                            <li>
                                                <p class="t-title">Travellers</p>
                                            </li>
                                            <li>
                                                <div class="Travellers-passengers-data">
                                                    <div class="Travellers-name">
                                                        <h6>Adult</h6>
                                                        <p>12 years & above</p>
                                                    </div>
                                                    <div class="Travellers-qty">
                                                        <div class="quantity buttons_added">
                                                            <input type="button" value="-" class="qty-buttons minus">
                                                            <input type="number" step="1" min="1" max="6" name="quantity" value="0" title="Qty" class="input-text qty text quantity_adult1_events" size="4" pattern="" inputmode="">
                                                            <input type="button" value="+" class="qty-buttons plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="Travellers-passengers-data">
                                                    <div class="Travellers-name">
                                                        <h6>Child</h6>
                                                        <p>2 - 11 years</p>
                                                    </div>
                                                    <div class="Travellers-qty">
                                                        <div class="quantity buttons_added">
                                                            <input type="button" value="-" class="qty-buttons minus">
                                                            <input type="number" step="1" min="1" max="6" name="quantity" value="0" title="Qty" class="input-text qty text quantity_adult1_events" size="4" pattern="" inputmode="">
                                                            <input type="button" value="+" class="qty-buttons plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="Travellers-passengers-data">
                                                    <div class="Travellers-name">
                                                        <h6>Infant</h6>
                                                        <p>Under 2 years</p>
                                                    </div>
                                                    <div class="Travellers-qty">
                                                        <div class="quantity buttons_added">
                                                            <input type="button" value="-" class="qty-buttons minus">
                                                            <input type="number" step="1" min="1" max="6" name="quantity" value="0" title="Qty" class="input-text qty text quantity_adult1_events" size="4" pattern="" inputmode="">
                                                            <input type="button" value="+" class="qty-buttons plus">
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                                <li>
                                    <select name="" class="liothers selectpicker ms-4" aria-label="Default select example">
                                        <option selected="selected">Business Class</option>
                                        <option>Economy Class</option>
                                        <option>First Class</option>
                                        <option>Premium Economy</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                        <div class="travel-data">
                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <div class="select-root-area">
                                        <div class="select-root-left">
                                            <span class="select-roottitle">FROM</span>
                                            <h5 class="">Gujarat</h5>
                                            <span class="select-roottitle">Bangalore Internationl Airport</span>
                                            <div class="flight-from-data flight-from-hide">
                                                <div class="flight-from-data-search">
                                                    <input type="text" name="" class="w-100" id="" placeholder="Search City">
                                                </div>
                                                <ul class="flight-from-data-ul mCustomScrollbar" data-mcs-theme="dark">
                                                    <li class="flight-from-ul-li">
                                                        <p class="flight-Results-text">Results</p>
                                                    </li>
                                                    <li class="flight-from-ul-li">
                                                        <a href="#" class="flight-from-ul-li-a">
                                                            <div class="flight-from-name">
                                                                <h6>Mumbai, India</h6>
                                                                <p>Chhatrapati Shivaji International Airport </p>
                                                            </div>
                                                            <div class="flight-from-shortname">
                                                                <h6>BOM</h6>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="flight-from-ul-li">
                                                        <a href="#" class="flight-from-ul-li-a">
                                                            <div class="flight-from-name">
                                                                <h6>Pune, India</h6>
                                                                <p>Pune Airport </p>
                                                            </div>
                                                            <div class="flight-from-shortname">
                                                                <h6>PNQ</h6>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="flight-from-ul-li">
                                                        <a href="#" class="flight-from-ul-li-a">
                                                            <div class="flight-from-name">
                                                                <h6>Bengaluru, India</h6>
                                                                <p>Bengaluru International Airport </p>
                                                            </div>
                                                            <div class="flight-from-shortname">
                                                                <h6>BLR</h6>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="flight-from-ul-li">
                                                        <a href="#" class="flight-from-ul-li-a">
                                                            <div class="flight-from-name">
                                                                <h6>New Delhi, India</h6>
                                                                <p>Indira Gandhi International Airport </p>
                                                            </div>
                                                            <div class="flight-from-shortname">
                                                                <h6>DLE</h6>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="flight-from-ul-li">
                                                        <a href="#" class="flight-from-ul-li-a">
                                                            <div class="flight-from-name">
                                                                <h6>Chennai, India</h6>
                                                                <p>Chennai International Airport  </p>
                                                            </div>
                                                            <div class="flight-from-shortname">
                                                                <h6>MAA</h6>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="select-root-icons">
                                            <img src="./assets/images/icons/twoway.png" alt="">
                                        </div>
                                        <div class="select-root-right">
                                            <span class="select-roottitle">TO</span>
                                            <h5 class="">Pune</h5>
                                            <span class="select-roottitle">Pune Internationl Airport</span>

                                            <div class="flight-to-data flight-from-hide">
                                                <div class="flight-from-data-search">
                                                    <input type="text" name="" class="w-100" id="" placeholder="Search City">
                                                </div>
                                                <ul class="flight-from-data-ul mCustomScrollbar" data-mcs-theme="dark">
                                                    <li class="flight-from-ul-li">
                                                        <p class="flight-Results-text">Results</p>
                                                    </li>
                                                    <li class="flight-from-ul-li">
                                                        <a href="#" class="flight-from-ul-li-a">
                                                            <div class="flight-from-name">
                                                                <h6>Mumbai, India</h6>
                                                                <p>Chhatrapati Shivaji International Airport </p>
                                                            </div>
                                                            <div class="flight-from-shortname">
                                                                <h6>BOM</h6>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="flight-from-ul-li">
                                                        <a href="#" class="flight-from-ul-li-a">
                                                            <div class="flight-from-name">
                                                                <h6>Pune, India</h6>
                                                                <p>Pune Airport </p>
                                                            </div>
                                                            <div class="flight-from-shortname">
                                                                <h6>PNQ</h6>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="flight-from-ul-li">
                                                        <a href="#" class="flight-from-ul-li-a">
                                                            <div class="flight-from-name">
                                                                <h6>Bengaluru, India</h6>
                                                                <p>Bengaluru International Airport </p>
                                                            </div>
                                                            <div class="flight-from-shortname">
                                                                <h6>BLR</h6>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="flight-from-ul-li">
                                                        <a href="#" class="flight-from-ul-li-a">
                                                            <div class="flight-from-name">
                                                                <h6>New Delhi, India</h6>
                                                                <p>Indira Gandhi International Airport </p>
                                                            </div>
                                                            <div class="flight-from-shortname">
                                                                <h6>DLE</h6>
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="flight-from-ul-li">
                                                        <a href="#" class="flight-from-ul-li-a">
                                                            <div class="flight-from-name">
                                                                <h6>Chennai, India</h6>
                                                                <p>Chennai International Airport  </p>
                                                            </div>
                                                            <div class="flight-from-shortname">
                                                                <h6>MAA</h6>
                                                            </div>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="root-date">
                                        <div class="select-root-area">
                                            <div class="select-dep-ret">
                                                <div class="area-root-departure">
                                                    <div class="select-root-departure">
                                                        <span class="select-roottitle">DEPARTURE</span>
                                                        <h5 class=" ">23 May</h5>
                                                        <span class="select-roottitle">Friday</span>
                                                    </div>
                                                    <div class="select-root-date">
                                                        <i class="far fa-calendar-alt single-datepicker me-3 fs_22"></i>
                                                    </div>
                                                </div>
                                                <div class="area-root-reutrn">
                                                    <div class="select-root-reutrn">
                                                        <span class="select-roottitle">RETURN</span>
                                                        <!-- <h5 class="">29 May</h5> -->
                                                        <span class="select-roottitle d-block w-100">Select Return</span>
                                                    </div>
                                                    <div class="select-root-date">
                                                        <i class="far fa-calendar-alt daterange-right me-3 fs_22"></i>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        <div class="root-search">
                                            <a href="flight_listing.html" class="searchbn">Search</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-lg-12">
                <div class="layout-box">
                    <div class="layout-left">
                        <div class="Filterslayout d-flex justify-content-between align-items-center">
                            <h6 class="fs_16">Filters</h6>
                            <a href="" class="fs_13 text-color">Clear all</a>
                        </div>
                        <hr>
                        <div class="default-sidebar flight-sidebar">
                            <div class="sidebar-widget search-widget">
                                <div class="widget-title">
                                    <h6 class="">Populat Filters</h6>
                                    <img src="assets/images/icons/up.png" alt="">
                                </div>
                                <div class="widget-content">
                                    <ul class="category-list clearfix mt-2">
                                        <li class="custom-check-box">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control material-checkbox">
                                                    <input type="checkbox" class="material-control-input" />
                                                    <span class="material-control-indicator"></span>
                                                    <span class="description">Refundable Fares (84)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="custom-check-box">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control material-checkbox">
                                                    <input type="checkbox" class="material-control-input" checked="checked" />
                                                    <span class="material-control-indicator"></span>
                                                    <span class="description">Non-stop (23)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="custom-check-box">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control material-checkbox">
                                                    <input type="checkbox" class="material-control-input" />
                                                    <span class="material-control-indicator"></span>
                                                    <span class="description">Morning Departures (66)</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="custom-check-box">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control material-checkbox">
                                                    <input type="checkbox" class="material-control-input" />
                                                    <span class="material-control-indicator"></span>
                                                    <span class="description">Meals Included</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- <hr>
                            <div class="sidebar-widget flighttimings-widget">
                                <div class="widget-title">
                                    <h6 class="">Flight Timings</h6>
                                    <img src="assets/images/icons/up.png" alt="">
                                </div>
                                <div class="widget-content">
                                    <p class="flighttimings-text">Departing flight (BOM-HYD)</p>
                                    <div class="flighttiming-content flight-departing">
                                        <div class="flighttiming-list">
                                            <img src="https://dummyimage.com/20x20" alt="">
                                            <p>00-06</p>
                                        </div>
                                        <div class="flighttiming-list active">
                                            <img src="https://dummyimage.com/20x20" alt="">
                                            <p>06-12</p>
                                        </div>
                                        <div class="flighttiming-list">
                                            <img src="https://dummyimage.com/20x20" alt="">
                                            <p>12-18</p>
                                        </div>
                                        <div class="flighttiming-list">
                                            <img src="https://dummyimage.com/20x20" alt="">
                                            <p>18-00</p>
                                        </div>
                                    </div>
                                    <p class="flighttimings-text">Returning flight (HYD-BOM)</p>
                                    <div class="flighttiming-content flight-Returning">
                                        <div class="flighttiming-list">
                                            <img src="https://dummyimage.com/20x20" alt="">
                                            <p>00-06</p>
                                        </div>
                                        <div class="flighttiming-list active">
                                            <img src="https://dummyimage.com/20x20" alt="">
                                            <p>06-12</p>
                                        </div>
                                        <div class="flighttiming-list">
                                            <img src="https://dummyimage.com/20x20" alt="">
                                            <p>12-18</p>
                                        </div>
                                        <div class="flighttiming-list">
                                            <img src="https://dummyimage.com/20x20" alt="">
                                            <p>18-00</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="sidebar-widget stops-widget">
                                <div class="widget-title">
                                    <h6 class="">Price</h6>
                                    <img src="assets/images/icons/up.png" alt="">
                                </div>
                                <div class="widget-content mt-20 mb-10">
                                    <input type="text" class="js-range-slider" name="my_range" value="" />
                                </div>
                            </div>
                            <hr>
                            <div class="sidebar-widget stops-widget">
                                <div class="widget-title">
                                    <h6 class="">Stops</h6>
                                    <img src="assets/images/icons/up.png" alt="">
                                </div>
                                <div class="widget-content">
                                    <div class="Stops-content">
                                        <div class="Stops-list">
                                            <p>No <br> stops</p>
                                        </div>
                                        <div class="Stops-list active">
                                            <p>1 <br> stops</p>
                                        </div>
                                        <div class="Stops-list">
                                            <p>2+ <br> stops</p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        </div>

                    </div>
                    <div class="layout-right">


                        <div class="flightsfound">
                            <div class="flight-tosearch">
                                <h6>
                                    <img src="assets/images/icons/flight-listing.png" alt="">
                                    {{fromCityName}} to {{toCityName}}
                                    <!-- <small>Thu, 12 Mar</small> -->
                                    <small>{{flightListDate | date:"EEE ,dd MMM"}}</small>
                                </h6>

                                <div class="flight-search-filters-right">
                                    <select name="" class="liothers selectpicker ms-4" aria-label="Default select example">
                                        <option selected="selected">Price Low to High</option>
                                        <option>Price High to Low</option>
                                        <option>Depart Ealry</option>
                                        <option>Depart Late</option>
                                    </select>
                                </div>
                            </div>
                            <div class="flight-search-filters">
                                <div class="flight-search-filters-left">
                                    <p>{{flightList.length}} flights found</p>
                                </div>
                            </div>
                            <div class="search-date-slider">
                                <div class="owl-carousel carousel-search-date" data-nav-arrow="false" data-items="7" data-md-items="6" data-sm-items="5" data-xs-items="3" data-xx-items="2" data-space="0" data-autoheight="true">
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items active">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing -->
                        <div class="flight-listing-area">

                            <div class="flight-listing" *ngFor="let list of flightList">
                                <div class="flight-listing-content">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="flight-radio">
                                                <div class="flight-radio-image">
                                                    <img src="assets/images/flights/flight-1.png" alt="">
                                                </div>
                                                <div class="flight-radio-time" *ngIf="list.flights.length > 0">
                                                    <h6>{{list.flights[0].airlineName}}</h6>
                                                    <p>{{list.flights[0].airline}} {{list.flights[0].flightNumber}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="flight-city-box" *ngIf="list.flights.length > 0">
                                                <div class="flight-listing-time">
                                                    <h6>{{list.flights[0].departureDateTime | date:'HH:mm'}} </h6>
                                                    <p>{{list.flights[0].departureAirport}}</p>
                                                    <img src="./assets/images/icons/flight-right.png" alt="">
                                                </div>
                                                <div class="flight-listing-time">
                                                    <h6>{{list.flights[0].arrivalDateTime | date:'HH:mm'}}</h6>
                                                    <p>{{list.flights[0].arrivalAirport}}</p>
                                                </div>
                                                <div class="flight-listing-time" *ngIf="list.flights.length > 0">
                                                    <h6>{{ list.flights[0].duration }}</h6>
                                                    <p *ngIf="list.flights.length > 0 && list.flights[0].stops==0">non stop</p>
                                                    <p *ngIf="list.flights.length > 0 && list.flights[0].stops!=0">{{list.flights[0].stops}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="flight-listing-pri">
                                                <div class="flight-listing-image" *ngIf="list.flights.length > 0">
                                                    <!-- <img src="assets/images/flights/1.png" alt=""> -->
                                                    <p>{{list.flights[0].airlineName}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="flight-listing-pri">
                                                <div class="flight-listing-price" *ngIf="list.priceSummary.length > 0">
                                                    <h6>&#8377;  {{list.priceSummary[0].totalFare}} <img src="assets/images/icons/info.png" class="ms-2" alt=""></h6>
                                                    <a href="" class="moreview">+1 more </a>
                                                </div>
                                                <div class="flight-listing-viewfares">
                                                    <a href="" class="button-style">Selected</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flight-info-box">
                                    <p><img src="./assets/images/icons/price.png" alt=""> Book return Indigo flight to get &#8377; 1500 off on SmartBuy</p>
                                    <a href="#">Flight Details <img src="./assets/images/icons/down.png" alt=""></a>
                                </div>
                                <div class="flight-details-box flight-details-box-hide">
                                  <div class="flight-details-options">
                                      <ul>
                                          <li>
                                              <input name="radiog_lite" id="radio1" class="" type="radio" checked="checked">
                                        <label for="radio1" class="css-label radGroup1">Economy</label>
                                          </li>
                                          <li>
                                              <input name="radiog_lite" id="radio2" class="" type="radio">
                                        <label for="radio2" class="css-label radGroup1">Saver</label>
                                              <span class="information-icon">
                                                  <img src="assets/images/icons/info.png" class="" alt="">
                                                  <div class="hover-popover">
                                                      <div class="hover-popover-title">
                                                          <h6>Economy SAVER</h6>
                                                          <span>Fare by Airline</span>
                                                      </div>
                                                      <div class="hover-popover-content">
                                                          <div class="hover-popover-content-list">
                                                              <p>  Date change fee starting at ₹2,465</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Tickets will be issued instantly</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Cancellation fee starting at ₹3,000</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Free seats are available</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Cabin baggage 7Kgs</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </span>
                                          </li>
                                          <li class="FlexiPlus">
                                              <input name="radiog_lite" id="radio3" class="" type="radio">
                                        <label for="radio3" class="css-label radGroup1">Flexi Plus</label>
                                              <span class="information-icon">
                                                  <img src="assets/images/icons/info.png" class=" " alt="">
                                                  <div class="hover-popover">
                                                      <div class="hover-popover-title">
                                                          <h6>Economy FLEXI PLUS</h6>
                                                          <span>Fare by Airline</span>
                                                      </div>
                                                      <div class="hover-popover-content">
                                                          <div class="hover-popover-content-list">
                                                              <p>  Free seats available</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Free date change allowed</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Complimentary meals</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Ticket will be issues instantly</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Cancellation fee starting at ₹500</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Cabin baggage 7kgs, Check-in baggage included</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </span>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="flight-options-box">
                                      <div class="flight-options-list">
                                          <div class="flight-options-list-left">
                                              <div class="flight-options-logo">
                                                  <img src="./assets/images/flights/1.png" alt="" />
                                              </div>
                                              <div class="flight-options-text">
                                                  <p class="text-red">Non-Refundable</p>
                                              </div>
                                          </div>
                                          <div class="flight-options-list-right">
                                              <div class="emi-options">
                                                  <p>EMI starts at &#8377;460 per month</p>
                                              </div>
                                              <div class="flight-options-price d-flex align-items-center">
                                                  <p>&#8377;4,892</p>
                                                  <span class="information-icon">
                                                      <img src="assets/images/icons/info.png" class="ms-2" alt="">
                                                      <div class="hover-popover">
                                                          <div class="hover-popover-title">
                                                              <h6>Price Breakdown</h6>
                                                          </div>
                                                          <div class="hover-popover-content">
                                                              <div class="hover-popover-content-list">
                                                                  <p>Base Fare</p>
                                                                  <p>&#8377;4,892</p>
                                                              </div>
                                                              <div class="hover-popover-content-list">
                                                                  <p>Base Fare</p>
                                                                  <p>&#8377;4,892</p>
                                                              </div>
                                                              <hr class="m-0" />
                                                              <div class="hover-popover-content-list popover-total">
                                                                  <p>Total</p>
                                                                  <p>&#8377;4,892</p>
                                                              </div>
                                                          </div>
                                                          <div class="hover-popover-footer">
                                                              <p>*Partner Convenience Fee is applicable</p>
                                                          </div>
                                                      </div>
                                                  </span>
                                              </div>
                                              <div class="flight-options-book">
                                                  <a href="" class="button-style">Book</a>
                                              </div>
                                          </div>
                                      </div>
                                      <div class="flight-options-list">
                                          <div class="flight-options-list-left">
                                              <div class="flight-options-logo">
                                                  <img src="./assets/images/flights/1.png" alt="" />
                                              </div>
                                              <div class="flight-options-text">
                                                  <p class="text-green">Refundable</p>
                                              </div>
                                          </div>
                                          <div class="flight-options-list-right">
                                              <div class="emi-options">
                                                  <p>EMI starts at &#8377;460 per month</p>
                                              </div>
                                              <div class="flight-options-price d-flex align-items-center">
                                                  <p>&#8377;4,892</p>
                                                  <span class="information-icon">
                                                      <img src="assets/images/icons/info.png" class="ms-2" alt="">
                                                      <div class="hover-popover">
                                                          <div class="hover-popover-title">
                                                              <h6>Price Breakdown</h6>
                                                          </div>
                                                          <div class="hover-popover-content">
                                                              <div class="hover-popover-content-list">
                                                                  <p>Base Fare</p>
                                                                  <p>&#8377;4,892</p>
                                                              </div>
                                                              <div class="hover-popover-content-list">
                                                                  <p>Base Fare</p>
                                                                  <p>&#8377;4,892</p>
                                                              </div>
                                                              <hr class="m-0" />
                                                              <div class="hover-popover-content-list popover-total">
                                                                  <p>Total</p>
                                                                  <p>&#8377;4,892</p>
                                                              </div>
                                                          </div>
                                                          <div class="hover-popover-footer">
                                                              <p>*Partner Convenience Fee is applicable</p>
                                                          </div>
                                                      </div>
                                                  </span>
                                              </div>
                                              <div class="flight-options-book">
                                                  <a href="" class="button-style">Book</a>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                              </div>
                            </div>


<!--
                            <div class="flight-listing">
                                <div class="flight-listing-content">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="flight-radio">
                                                <div class="flight-radio-image">
                                                    <img src="assets/images/flights/flight-1.png" alt="">
                                                </div>
                                                <div class="flight-radio-time">
                                                    <h6>IndiGo</h6>
                                                    <p>6E 5334, 6E 7137</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="flight-city-box">
                                                <div class="flight-listing-time">
                                                    <h6>08:05</h6>
                                                    <p>Mumbai</p>
                                                    <img src="./assets/images/icons/flight-right.png" alt="">
                                                </div>
                                                <div class="flight-listing-time">
                                                    <h6>17:15</h6>
                                                    <p>Hyderabad</p>
                                                </div>
                                                <div class="flight-listing-time">
                                                    <h6>1hr 10 min</h6>
                                                    <p>1 stop</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="flight-listing-pri">
                                                <div class="flight-listing-image">
                                                    <img src="assets/images/flights/1.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="flight-listing-pri">
                                                <div class="flight-listing-price">
                                                    <h6>&#8377; 4,892 <img src="assets/images/icons/info.png" class="ms-2" alt=""></h6>
                                                    <a href="" class="moreview">+1 more </a>
                                                </div>
                                                <div class="flight-listing-viewfares">
                                                    <a href="" class="button-style">Selected</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flight-info-box">
                                    <p><img src="./assets/images/icons/price.png" alt=""> Book return Indigo flight to get &#8377; 1500 off on SmartBuy</p>
                                    <a href="#">Flight Details <img src="./assets/images/icons/down.png" alt=""></a>
                                </div>
                            </div>  -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
