<section class="flight-area mt-10">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="travel-box mb-20" >
                    <form [formGroup]="flightDataModify" (ngSubmit)="flightSearch()">
                        <div class="travel-select-data-area" >
                            <div class="travel-select-trip">
                                <ul class="travel-select-trip-ul">
                                    <li>
                                        <span class="selectway ">Round Trip</span>
                                    </li>
                                    <li>
                                        <span class="selectway active">One Way</span>
                                    </li>
                                    <li>
                                        <span class="selectway">Multicity</span>
                                    </li>
                                    <li>
                                        <div class="Travellers-dropdown ms-3">
                                            <div class="Travellers-dropdown-title">
                                                <h5>0{{totalPassenger}} Passengers <i class="fas fa-caret-down"></i></h5>
                                            </div>
                                            <ul class="Travellers-dropdown-data Travellershide">
                                                <li>
                                                    <p class="t-title">Travellers</p>
                                                </li>
                                                <li>
                                                    <div class="Travellers-passengers-data">
                                                        <div class="Travellers-name">
                                                            <h6>Adult</h6>
                                                            <p>12 years & above</p>
                                                        </div>
                                                        <div class="Travellers-qty">
                                                            <div class="quantity buttons_added">
                                                                <input type="button" (click)="decreaseAdult()"  value="-" class="qty-buttons minus" >
                                                                <input type="number" step="1" oninput="if(this.value.length > 1) this.value = this.value.substring(0,1)" min="1" max="9" name="quantity" value="0" title="Qty" class="input-text qty text quantity_adult1_events" [(ngModel)]="adultsVal" formControlName="adults" size="4" pattern="" inputmode="">
                                                                <input type="button" (click)="increaseAdult()" value="+" [disabled]="disableParent"  class="qty-buttons plus">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="Travellers-passengers-data">
                                                        <div class="Travellers-name">
                                                            <h6>Child</h6>
                                                            <p>2 - 11 years</p>
                                                        </div>
                                                        <div class="Travellers-qty">
                                                            <div class="quantity buttons_added">
                                                                <input type="button" (click)="decreaseChild()" value="-" class="qty-buttons minus" >
                                                                <input type="number" step="1" min="0" max="6" name="quantity" value="0" title="Qty" class="input-text qty text quantity_adult1_events" size="4" pattern="" inputmode=""  [(ngModel)]="childVal" formControlName="child">
                                                                <input type="button" (click)="increaseChild()" [disabled]="disablechildren" value="+" class="qty-buttons plus">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>


                                                    <div class="Travellers-passengers-data">
                                                        <div class="Travellers-name">
                                                            <h6>Infant</h6>
                                                            <p>Under 2 years</p>
                                                        </div>
                                                        <div class="Travellers-qty">
                                                            <div class="quantity buttons_added">
                                                                <input type="button" (click)="decreaseInfant()" value="-" class="qty-buttons minus" >
                                                                <input type="number" step="1" min="0" max="6" name="quantity" value="0" title="Qty" class="input-text qty text quantity_adult1_events" size="4" pattern="" [(ngModel)]="infantsVal" formControlName="infants" inputmode="">
                                                                <input type="button" (click)="increaseInfant()" [disabled]="disableinfants" value="+" class="qty-buttons plus">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>

                                    </li>
                                    <li>
                                        <select name="" class="liothers class-select ms-4" value="B" [(ngModel)]="flightClassVal" aria-label="Default select example" formControlName="flightclass">
                                            <option selected="selected" value="B">Business Class</option>
                                            <option value="E">Economy Class</option>
                                            <option value="F">First Class</option>
                                            <option value="P">Premium Economy</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                            <div class="travel-data">
                                <div class="row g-2">
                                    <div class="col-lg-6">
                                        <div class="select-root-area">
                                            <div class="select-root-left">
                                                <span class="select-roottitle">FROM</span>
                                                <h5 class="fw_6 ">{{fromCityName}}</h5>
                                                <span class="select-roottitle">{{fromAirpotName}}</span>
                                                <div class="flight-from-data flight-from-hide" >
                                                    <div class="flight-from-data-search">
                                                        <input type="text" autocomplete="off" name=""   class="w-100" id="fromCitySearch"   placeholder="Search City" (keyup)="fromList($event)">
                                                        <!-- <input type="hidden" name="" id="hdnFromCitySearch" formControlName="flightfrom" placeholder="Search City">
                                                        {{flightDataModify.value.flightfrom}} -->
                                                    </div>
                                                    <ul class="flight-from-data-ul" *ngIf="fromFlightList">
                                                        <li class="flight-from-ul-li">
                                                            <p class="flight-Results-text">Results</p>
                                                        </li>
                                                        <li class="flight-from-ul-li" *ngFor="let fromCity of cityList">
                                                            <a  class="flight-from-ul-li-a"  (click)="selectFromFlightList(fromCity._source)" >
                                                                <div class="flight-from-name"   >
                                                                    <h6>{{fromCity._source.city}}, {{fromCity._source.country}}</h6>
                                                                    <p>{{fromCity._source.airport_name}} </p>
                                                                </div>
                                                                <div class="flight-from-shortname" >
                                                                    <h6>{{fromCity._source.airport_code}}</h6>
                                                                </div>
                                                            </a>
                                                        </li>


                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="select-root-icons" (click)="swap()">
                                                <img src="./assets/images/icons/twoway.png" alt="">
                                            </div>
                                            <div class="select-root-right">
                                                <span class="select-roottitle">TO</span>
                                                <h5 class="fw_6 ">{{toCityName}}</h5>
                                                <span class="select-roottitle">{{toAirpotName}}</span>

                                                <div class="flight-to-data flight-from-hide" >
                                                    <div class="flight-from-data-search">
                                                        <input type="text" name="" autocomplete="off" class="w-100" id="toCitySearch" placeholder="Search City"  (keyup)="toList($event)">
                                                    </div>
                                                    <ul class="flight-from-data-ul" *ngIf="toFlightList">
                                                        <li class="flight-from-ul-li">
                                                            <p class="flight-Results-text">Results</p>
                                                        </li>
                                                        <li class="flight-from-ul-li" *ngFor="let toCity of cityList">
                                                            <a  class="flight-from-ul-li-a" (click)="selectToFlightList(toCity._source)"  >
                                                                <div class="flight-from-name"  >
                                                                    <h6>{{toCity._source.city}}, {{toCity._source.country}}</h6>
                                                                    <p>{{toCity._source.airport_name}} </p>
                                                                </div>
                                                                <div class="flight-from-shortname"  >
                                                                    <h6>{{toCity._source.airport_code}}</h6>
                                                                </div>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="root-date">
                                            <div class="select-root-area">
                                                <div class="select-dep-ret">
                                                    <div class="area-root-departure"  id="DepartureDate">
                                                        <div class="select-root-departure">
                                                            <span class="select-roottitle">DEPARTURE</span>
                                                            <h5 class=" ">{{departureDate | date:'dd MMM' }}</h5>
                                                            <span class="select-roottitle">{{departureDate | date:'EEEE' }}</span>
                                                        </div>
                                                        <div class="select-root-date">
                                                            <i class="far fa-calendar-alt single-datepicker me-3 fs_22" ></i>
                                                            <input type="hidden" name="hdnDepartureDate" value={{departureDate}}  formControlName="departure">
                                                        </div>
                                                    </div>
                                                    <div class="area-root-reutrn">
                                                        <div class="select-root-reutrn">
                                                            <span class="select-roottitle">RETURN</span>
                                                            <!-- <h5 class="">29 May</h5> -->
                                                            <span class="select-roottitle d-block w-100">Tap to add a <br>  return date</span>
                                                        </div>
                                                        <div class="select-root-date">
                                                            <!-- <i class="far fa-calendar-alt daterange-right me-3 fs_22"></i> -->
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="root-search">
                                                <button type="submit" class="searchbn">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    </div>
            </div>


            <div class="col-lg-12">
                <div class="layout-box">
                  <div class="layout-left">
                    <div class="Filterslayout d-flex justify-content-between align-items-center">
                        <h6 class="fs_16">Filters</h6>
                        <a href="" class="fs_13 text-color">Reset all</a>
                    </div>
                    <hr>
                    <div class="default-sidebar flight-sidebar">
                        <div class="sidebar-widget search-widget">
                            <div class="widget-title">
                                <h6 class="">Populat Filters</h6>
                                <a href="">Reset</a>
                            </div>
                            <div class="widget-content">
                                <ul class="category-list clearfix mt-2" id="popular-filters">
                                    <li class="custom-check-box" >
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" value="Refundable-Fares" (change)="popularFilterFlightData()"/>
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Refundable Fares ({{RefundableFaresCount}})</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" value="non-stop" (change)="popularFilterFlightData()"/>
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Non-stop ({{nonStopCount}})</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" value="Morning-Departures"  (change)="popularFilterFlightData()"/>
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Morning Departures (66)</span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" value="Meals-Included"  (change)="popularFilterFlightData()"/>
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Meals Included</span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="sidebar-widget flighttimings-widget">
                            <div class="widget-title">
                                <h6 class="">Flight Timings</h6>
                                <a href="">Reset</a>
                            </div>
                            <div class="widget-content">
                                <p class="flighttimings-text">Departing flight (BOM-HYD)</p>
                                <div class="flighttiming-content flight-departing">
                                    <div class="flighttiming-list">
                                        <img src="assets/images/icons/timings/1.png" alt="">
                                        <p>00-06</p>
                                    </div>
                                    <div class="flighttiming-list active">
                                        <img src="assets/images/icons/timings/2.png" alt="">
                                        <p>06-12</p>
                                    </div>
                                    <div class="flighttiming-list">
                                        <img src="assets/images/icons/timings/3.png" alt="">
                                        <p>12-18</p>
                                    </div>
                                    <div class="flighttiming-list">
                                        <img src="assets/images/icons/timings/4.png" alt="">
                                        <p>18-00</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="sidebar-widget Price-widget">
                            <div class="widget-title">
                                <h6 class="">Price</h6>
                                <a href="">Reset</a>
                            </div>
                            <div class="widget-content mt-10 mb-30 price-widget-content">
                                <div style="margin:0 0 20px 0">
                                    <input type="number" min="0" max="9900" oninput="validity.valid||(value='0');" id="min_price" class="price-range-field" />
                                    <span class="ms-3 me-3">-</span>
                                    <input type="number" min="0" max="10000" oninput="validity.valid||(value='10000');" id="max_price" class="price-range-field" />
                                </div>
                                <div id="slider-range" class="price-filter-range" name="rangeInput"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="sidebar-widget stops-widget">
                            <div class="widget-title">
                                <h6 class="">Stops</h6>
                                <a href="">Reset</a>
                            </div>
                            <div class="widget-content">
                                <div class="Stops-content">
                                    <div class="Stops-list">
                                        <p>No <br> stops</p>
                                    </div>
                                    <div class="Stops-list active">
                                        <p>1 <br> stops</p>
                                    </div>
                                    <div class="Stops-list">
                                        <p>2+ <br> stops</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="sidebar-widget Airlines-widget">
                            <div class="widget-title">
                                <h6 class="">Airlines</h6>
                                <a href="">Reset</a>
                            </div>
                            <div class="widget-content">
                                <ul class="category-list clearfix mt-2">
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" />
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Indigo (84)</span>
                                            </label>
                                            <p>&#8377;5,252</p>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" checked="checked" />
                                                <span class="material-control-indicator"></span>
                                                <span class="description">SpiceJet (23)</span>
                                            </label>
                                            <p>&#8377;6,356</p>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" />
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Air India (66)</span>
                                            </label>
                                            <p>&#8377;7,356</p>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" />
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Go First (12)</span>
                                            </label>
                                            <p>&#8377;9,356</p>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" />
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Vistara (34)</span>
                                            </label>
                                            <p>&#8377;9,525</p>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" />
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Air Asia (24)</span>
                                            </label>
                                            <p>&#8377;10,110</p>
                                        </div>
                                    </li>
                                </ul>
                                <a href="#" class="widget-content-more ml-20">+2 more</a>
                            </div>
                        </div>
                        <hr>
                        <div class="sidebar-widget stopover-widget">
                            <div class="widget-title">
                                <h6 class="">Stopover</h6>
                                <a href="">Reset</a>
                            </div>
                            <div class="widget-content mt-20 mb-20">
                                <!-- <input type="text" class="js-range-slider" name="my_range" value="" /> -->

                                <div class="price-slider"></div>
                                <div class="Stopover-value">
                                    <p class="price-value"></p>
                                    <p class="price-value2"></p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="sidebar-widget layover-airports-widget">
                            <div class="widget-title">
                                <h6 class="">Layover Airports</h6>
                                <a href="">Reset</a>
                            </div>
                            <div class="widget-content">
                                <ul class="category-list clearfix mt-2">
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" />
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Chennai Airport</span>
                                            </label>
                                            <p>&#8377;5,252</p>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" checked="checked" />
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Kempegowda Internat</span>
                                            </label>
                                            <p>&#8377;6,356</p>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" />
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Jabalpur</span>
                                            </label>
                                            <p>&#8377;7,356</p>
                                        </div>
                                    </li>
                                    <li class="custom-check-box">
                                        <div class="custom-controls-stacked">
                                            <label class="custom-control material-checkbox">
                                                <input type="checkbox" class="material-control-input" />
                                                <span class="material-control-indicator"></span>
                                                <span class="description">Chatrapati Shivaji</span>
                                            </label>
                                            <p>&#8377;9,356</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>

                    <div class="layout-right">


                        <div class="flightsfound">
                            <div class="flight-tosearch">
                                <h6>
                                    <img src="assets/images/icons/flight-listing.png" alt="">
                                    {{fromCityName}} to {{toCityName}}
                                    <!-- <small>Thu, 12 Mar</small> -->
                                    <small>{{departureDate | date:"EEE ,dd MMM"}}</small>
                                </h6>

                                <div class="flight-search-filters-right">
                                    <select name="" class="liothers selectpicker ms-4" aria-label="Default select example" id="priceAscDesc" (change)="popularFilterFlightData()">
                                        <option selected="selected" value="P_L_H">Price Low to High</option>
                                        <option value="P_H_L">Price High to Low</option>
                                        <option value="P_D_E">Depart Ealry</option>
                                        <option value="P_D_L">Depart Late</option>
                                    </select>
                                </div>
                            </div>
                            <div class="flight-search-filters">
                                <div class="flight-search-filters-left">
                                    <p *ngIf="flightList">{{flightList.length}} flights found</p>
                                </div>
                            </div>
                            <div class="search-date-slider">
                                <div class="owl-carousel carousel-search-date" data-nav-arrow="false" data-items="7" data-md-items="6" data-sm-items="5" data-xs-items="3" data-xx-items="2" data-space="0" data-autoheight="true">
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items active">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="search-date-items">
                                            <p>Fri, Jul 08</p>
                                            <h6>&#8377; 6,474</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Listing -->
                        <div class="flight-listing-area">

                            <div class="flight-listing" *ngFor="let list of flightList; let i = index">
                                <div class="flight-listing-content">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="flight-radio">
                                                <div class="flight-radio-image">
                                                    <img src="assets/images/flights/flight-1.png" alt="">
                                                </div>
                                                <div class="flight-radio-time" *ngIf="list.flights.length > 0">
                                                    <h6>{{list.flights[0].airlineName}}</h6>
                                                    <p>{{list.flights[0].airline}} {{list.flights[0].flightNumber}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="flight-city-box" *ngIf="list.flights.length > 0">
                                                <div class="flight-listing-time">
                                                    <h6>{{list.flights[0].departureDateTime | date:'HH:mm'}} </h6>
                                                    <p>{{list.flights[0].departureAirport}}</p>
                                                    <img src="./assets/images/icons/flight-right.png" alt="">
                                                </div>
                                                <div class="flight-listing-time">
                                                    <h6>{{list.flights[0].arrivalDateTime | date:'HH:mm'}}</h6>
                                                    <p>{{list.flights[0].arrivalAirport}}</p>
                                                </div>
                                                <div class="flight-listing-time" *ngIf="list.flights.length > 0">
                                                    <h6>{{ list.flights[0].duration }}</h6>
                                                    <p *ngIf="list.flights.length > 0 && list.flights[0].stops==0">non stop</p>
                                                    <p *ngIf="list.flights.length > 0 && list.flights[0].stops!=0">{{list.flights[0].stops}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="flight-listing-pri">
                                                <div class="flight-listing-image" *ngIf="list.flights.length > 0">
                                                    <!-- <img src="assets/images/flights/1.png" alt=""> -->
                                                    <p>{{list.flights[0].airlineName}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="flight-listing-pri">
                                                <div class="flight-listing-price" *ngIf="list.priceSummary.length > 0">
                                                    <h6>&#8377;  {{list.priceSummary[0].totalFare}} <img src="assets/images/icons/info.png" class="ms-2" alt=""></h6>
                                                    <a href="" class="moreview">+1 more </a>
                                                </div>
                                                <div class="flight-listing-viewfares">
                                                    <a href="" class="button-style">Selected</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flight-info-box">
                                    <p><img src="./assets/images/icons/price.png" alt=""> Book return Indigo flight to get &#8377; 1500 off on SmartBuy</p>
                                    <a href="javascript:void(0)" (click)="HideShowCompareToFly(i)" >Flight Details <img src="./assets/images/icons/down.png" alt=""></a>
                                </div>
                                <div class="flight-details-box flight-details-box-hide" id="CompareToFly_{{i}}">
                                  <div class="flight-details-options">
                                      <ul>
                                          <li>
                                              <input name="radiog_lite" id="radio1" class="" type="radio" checked="checked">
                                        <label for="radio1" class="css-label radGroup1">Economy</label>
                                          </li>
                                          <li>
                                              <input name="radiog_lite" id="radio2" class="" type="radio">
                                        <label for="radio2" class="css-label radGroup1">Saver</label>
                                              <span class="information-icon">
                                                  <img src="assets/images/icons/info.png" class="" alt="">
                                                  <div class="hover-popover">
                                                      <div class="hover-popover-title">
                                                          <h6>Economy SAVER</h6>
                                                          <span>Fare by Airline</span>
                                                      </div>
                                                      <div class="hover-popover-content">
                                                          <div class="hover-popover-content-list">
                                                              <p>  Date change fee starting at ₹2,465</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Tickets will be issued instantly</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Cancellation fee starting at ₹3,000</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Free seats are available</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Cabin baggage 7Kgs</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </span>
                                          </li>
                                          <li class="FlexiPlus">
                                              <input name="radiog_lite" id="radio3" class="" type="radio">
                                          <label for="radio3" class="css-label radGroup1">Flexi Plus</label>
                                              <span class="information-icon">
                                                  <img src="assets/images/icons/info.png" class=" " alt="">
                                                  <div class="hover-popover">
                                                      <div class="hover-popover-title">
                                                          <h6>Economy FLEXI PLUS</h6>
                                                          <span>Fare by Airline</span>
                                                      </div>
                                                      <div class="hover-popover-content">
                                                          <div class="hover-popover-content-list">
                                                              <p>  Free seats available</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Free date change allowed</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Complimentary meals</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Ticket will be issues instantly</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Cancellation fee starting at ₹500</p>
                                                          </div>
                                                          <div class="hover-popover-content-list">
                                                              <p> Cabin baggage 7kgs, Check-in baggage included</p>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </span>
                                          </li>
                                      </ul>
                                  </div>
                                  <div class="flight-options-box">
                                      <div class="flight-options-list" *ngFor="let item of list.priceSummary">
                                            <div class="flight-options-list-left">
                                                <div class="flight-options-logo">
                                                    {{item.partnerName}}
                                                    <!-- <img src="./assets/images/flights/1.png" alt="" /> -->
                                                </div>
                                                <div class="flight-options-text">
                                                    <p class="text-green" *ngIf="item.refundStatus == 1">Refundable</p>
                                                    <p class="text-red" *ngIf="item.refundStatus != 1">Non-Refundable</p>
                                                </div>
                                            </div>
                                            <div class="flight-options-list-right">
                                                <div class="emi-options" *ngIf="item.totalFare > EMIAvailableLimit">
                                                    <p>EMI starts at &#8377; {{item.totalFare}} per month</p>
                                                </div>
                                                <div class="flight-options-price d-flex align-items-center">
                                                    <p>&#8377;{{item.totalFare}}</p>
                                                    <span class="information-icon">
                                                        <img src="assets/images/icons/info.png" class="ms-2" alt="">
                                                        <div class="hover-popover">
                                                            <div class="hover-popover-title">
                                                                <h6>Price Breakdown</h6>
                                                            </div>
                                                            <div class="hover-popover-content">
                                                                <div class="hover-popover-content-list">
                                                                    <p>Base Fare</p>
                                                                    <p>&#8377;{{item.baseFare}}</p>
                                                                </div>
                                                                <div class="hover-popover-content-list">
                                                                    <p>Base Fare</p>
                                                                    <p>&#8377;{{item.baseFare}}</p>
                                                                </div>
                                                                <hr class="m-0" />
                                                                <div class="hover-popover-content-list popover-total">
                                                                    <p>Total</p>
                                                                    <p>&#8377;{{item.totalFare}}</p>
                                                                </div>
                                                            </div>
                                                            <div class="hover-popover-footer">
                                                                <p>*Partner Convenience Fee is applicable</p>
                                                            </div>
                                                        </div>
                                                    </span>
                                                </div>
                                                <div class="flight-options-book">
                                                    <a href="" class="button-style">Book</a>
                                                </div>
                                            </div>
                                      </div>

                                  </div>

                              </div>
                            </div>


<!--
                            <div class="flight-listing">
                                <div class="flight-listing-content">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="flight-radio">
                                                <div class="flight-radio-image">
                                                    <img src="assets/images/flights/flight-1.png" alt="">
                                                </div>
                                                <div class="flight-radio-time">
                                                    <h6>IndiGo</h6>
                                                    <p>6E 5334, 6E 7137</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="flight-city-box">
                                                <div class="flight-listing-time">
                                                    <h6>08:05</h6>
                                                    <p>Mumbai</p>
                                                    <img src="./assets/images/icons/flight-right.png" alt="">
                                                </div>
                                                <div class="flight-listing-time">
                                                    <h6>17:15</h6>
                                                    <p>Hyderabad</p>
                                                </div>
                                                <div class="flight-listing-time">
                                                    <h6>1hr 10 min</h6>
                                                    <p>1 stop</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="flight-listing-pri">
                                                <div class="flight-listing-image">
                                                    <img src="assets/images/flights/1.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="flight-listing-pri">
                                                <div class="flight-listing-price">
                                                    <h6>&#8377; 4,892 <img src="assets/images/icons/info.png" class="ms-2" alt=""></h6>
                                                    <a href="" class="moreview">+1 more </a>
                                                </div>
                                                <div class="flight-listing-viewfares">
                                                    <a href="" class="button-style">Selected</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flight-info-box">
                                    <p><img src="./assets/images/icons/price.png" alt=""> Book return Indigo flight to get &#8377; 1500 off on SmartBuy</p>
                                    <a href="#">Flight Details <img src="./assets/images/icons/down.png" alt=""></a>
                                </div>
                            </div>  -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





