.bootstrap-select>select.bs-select-hidden, select.bs-select-hidden, select.selectpicker
{
    display: block!important;
}


.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.difference-error
{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: red;
}

.flight_found_sec{
  margin-top: 100px ;
  @media screen and (max-width:320px){
    margin-top: 110px;
  }
}


