.bootstrap-select>select.bs-select-hidden, select.bs-select-hidden, select.selectpicker
{
    display: block!important;
}


.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.difference-error
{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: red;
}

.flight_found_sec{
  margin-top: 100px ;
  @media screen and (max-width:600px){
    margin-top: 5rem;
  }
}
.mob-all-flight{
  ul{
    background: rgba(29, 134, 255, 0.07);
    border: 1.28125px solid rgba(0, 0, 0, 0.1);
    border-radius: 7.6875px;
    li{
      a{
        background:none;
      }
      a.active{
        background:#1d86ff;
        border:1.28125px solid #1d86ff;
        margin:-1px;
      }
    }
  }
}
.mob-listing-fiters{
  a{
    padding:5px 10px;
  }
}


.no_flights_sec{
  text-align: center;
  margin: 2em 0;

  .title{
    color: #555555;
    font-size: 20px;
    font-weight: 700;
  }
  img{
    margin: 2em 0;
  }
  .text_info{
   font-size: 16px;
   font-weight: 400;
   color: #00000060;
   @media only screen and (max-width:600px){
    font-size: 14px;
    width: 90%;
    margin: 0 auto;
   }
  }
  .search_btn{
    margin-top: 3em;
    width: 250px;
    text-transform: capitalize;
  }
}
.name-bottom-bottom {
  margin-left:-10px;
  margin-right:-10px;
  padding:10px 20px 0px 20px;
}
