.bootstrap-select>select.bs-select-hidden, select.bs-select-hidden, select.selectpicker
{
    display: block!important;
}


.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.difference-error
{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: red;
}

.flight_found_sec{
  margin-top: 100px ;
  @media screen and (max-width:600px){
    margin-top: 5rem;
  }
}
.mob-all-flight{
  ul{
    /* background: rgba(29, 134, 255, 0.07); */
    border: 1.28125px solid rgba(0, 0, 0, 0.1);
    border-radius: 7.6875px;
    li{
      a{
        /* background:none; */
      }
      a.active{
        /* background:#1d86ff;
        border:1.28125px solid #1d86ff; */
        margin:-1px;
      }
    }
  }
}
.mob-listing-fiters{
  a{
    padding:5px 10px;
  }
}



.name-bottom-bottom {
  margin-left:-10px;
  margin-right:-10px;
  padding:10px 20px 0px 20px;
}

.listing-loader{
  background:#ffffff;
  padding:13px 10px 0px 10px;
  border-radius:8px;
  border:1px solid #00000010;
}
@media screen and (max-width:600px){
  .filter-loader {
      background:#ffffff;
      border:1px solid #00000020;
      border-radius:8px;
      padding:10px;
  }

}
.flight-partners{
  p{
    font-family:'opensans-medium';
  }
  .flight_partner_box{
    background:#fff;
    padding:5px 15px; 
    margin-left:5px;
    justify-content:center;
    border-radius:5px;
    .flight_partner_box_div{
      width:75px;
      height:35px;
      display:table-cell; 
      vertical-align:middle; 
      text-align:center;
    }

  }
}
