
.disableDiv {
    pointer-events: none;
}


@media only screen and (max-width: 991px){
    .select-dep-ret .area-root-departure {
        border: none;
        width: 100% !important;
    }
    
    .select-dep-ret.mob-select-dep-ret div#datePickerOpen {
        border-right: 1px solid #d3d3d3;
        width: 50%;
    }
    .mob-select-dep-ret {
        flex-direction: row !important;
    }
    .mob-select-dep-ret .area-root-reutrn{
        display: inline-flex !important;
    } 
    
.select_city {
	 display: -ms-flexbox;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 position: relative;
}
 .select_city .input_box {
	 width: 100%;
	 height:65px;
	 border-radius: 8px;
	 border: solid 1px #ccc;
}
 .select_city .input_box label {
	 padding: 10px 10px;
	 display: flex;
	 flex-direction: column;
	 cursor: pointer;
	 margin-bottom: 0px;
}
 .select_city .input_box label .inputField {
	 border: 0;
	 outline: 0;
	 background: none;
	 min-width: 140px;
	 max-height: 36px;
	 cursor: pointer;
	 padding: 5px 0px;
	 margin: 0px;
	 font-size: 20px;
	 position: relative;
}
 .select_city .input_box label .truncate {
	 width: 100%;
	 overflow: hidden;
	 text-overflow: ellipsis;
	 white-space: nowrap;
}
 .select_city .input_box label span {
	 font-size: 12px;
}
}
.validate-msg {
	 position: absolute;
	 padding: 5px;
	 height: auto;
	 margin-top:10px;
	 background-color: #ffe0e0;
	 color: #f00;
	 width: auto;
	 border-radius: 5px;
	 z-index: 2;
	 text-align: center;
}
 @media screen and (max-width: 768px) and (min-width: 576px) {
	 .validate-msg {
		 bottom: -20px;
		 left: 20px;
		 height: auto;
		 padding: 1px;
		 width: 90%;
	}
}
 @media screen and (max-width: 425px) {
	 .validate-msg {
		 padding: 5px;
		 height: auto;
	}
}
 .validate-msg::before {
	 content: '';
	 border-style: solid;
	 border-width: 10px 15px 10px 0;
	 border-color: transparent #ffe0e0 transparent transparent;
	 display: inline-block;
	 vertical-align: middle;
	 margin-right: 5px;
	 transform: rotate(90deg);
	 -moz-transform: rotate(90deg);
	 -webkit-transform: rotate(90deg);
	 -ms-transform: rotate(90deg);
	 position: absolute;
	 top: -15px;
	 left: 45%;
}
.w-35{
width:35%;
}


/* new style */
.fw_6{
	font-weight:600;
	color:#000;
	font-size:18px;
}
.departure_div{
	width: 100%;
	border-right:none;
}
.m_height{
	height:71px;
	padding:8px 0px;

}
.m_height_from_to{
	height:73px;
}
.h_lft_div{
	height:100%;
	padding:10px 0px;
}
.h_rgt_div{
	height:100%;
	padding:10px 10px;
}
.bus_seperater{
	right:-12px;
}
.gray_txt_highlight{
	color:#686262;
}
.sponsar_logo{
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: rgba(0, 0, 0, 0.7);
	padding:22px 10px 10px 10px;
}
.sponsar_logo img{
	width:32px;
	height:22px;
}

@media only screen and (max-width: 600px) {
	.fw_6{
        font-size:16px;
    }
	.gray_txt_highlight{
		display:block;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
		color: #00000060;
	}
	.bus_seperater{
		right:0px;
	}
	.departure-date{
		padding: 0.5rem 0px;
	}
.mob-title{
	margin-top:30px;
}
.bottom_mlite_popup{
	margin-top:15px;
	border-radius: 20px 20px 0px 0px;
}
.fixed-top{
	z-index:1 !important;
}
}
/* end of new style */

