                        <form [formGroup]="searchBusForm">
                            <div class="travel-select-data-area">
                                    <div class="travel-data">
                                    <div class="row g-2">
                                        <div class="col-lg-8">
                                            <div class="select-root-area m_height_from_to">
                                                <div class="select-root-left h_lft_div" appDropdown (click)='focusInput("from")'>
                                                    <span class="select-roottitle">FROM</span>
                                                    <h5 class="fw_6"><span class="city_align">{{fromCityName}} <span class="d-none d-md-block pe-1">, </span> <span class="gray_txt_highlight">{{fromStateName}}</span></span></h5>
                                        <div class="error_msg w-50" *ngIf="!isMobile && submitted && Error('fromTravelCode', 'required')">
                                        <small   class="validate-msg">Please select to city</small>
                                        </div>


                                        <div class="error_msg w-50" *ngIf="!isMobile && Error('toTravelCode', 'MustMatch')">
                                        <small  *ngIf="!isMobile" class="validate-msg">From and To cannot be same</small>
                                        </div>

                                                 <div class="" *ngIf="isMobile && submitted && Error('fromTravelCode', 'required')">
                                        <small   class="validate-msg">Please select to city</small>
                                        </div>


                                        <div class="" *ngIf="isMobile && Error('toTravelCode', 'MustMatch')">
                                        <small  *ngIf="!isMobile" class="validate-msg">From and To cannot be same</small>
                                        </div>




                                                    <div               class="flight-from-data flight-from-hide ff-form-data dropdown">
                                                        <div class="mob-title">
                                                            <h3>Select From City</h3>
                                                            <a href="javascript:void(0)"
                                                                class="mob-close mob-ff-from-close close-mobile">
                                                                <img src="{{cdnUrl}}images/icons/close.png"
                                                                     class="close-mobile" alt="" />
                                                            </a>
                                                        </div>

                                                   <div class="mob-search" *ngIf="isMobile">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="mob-search-list">
                                                                        <label for="">From</label>
                                                                        <input type="text" autocomplete="off" class="w-100 searchFromBus" placeholder="Search City"  name="searchFrom" formControlName="searchFrom"  (keyup)="searchAutoComplete($event,'searchFrom' ,'mobile');"  id="searchFrom" >
                                                                        <input type="hidden"  formControlName="fromTravelCode">
                                                                        <input type="hidden"  formControlName="fromState">
                                                                        
                                                                    </div>
                                                                    <div class="mob-search-list">
                                                                        <label for="">To</label>
                                                                <input type="text"  autocomplete="off" class="w-100 searchToBus" placeholder="Search City" name="searchTo"  formControlName="searchTo"  (keyup)="searchAutoComplete($event,'searchTo' ,'mobile');">
                                                                <input type="hidden"  formControlName="toTravelCode">
                                                                <input type="hidden"  formControlName="toState">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="flight-from-data-search" *ngIf="!isMobile">

                                                        <input type="text" autocomplete="off" class="w-100 searchFromBus"
                                                        id="searchFrom" placeholder="Search City"
                                                        (keyup)="searchAutoComplete($event,'searchFrom' ,'web');"
                                                       autofocus #fromCityInput
                                                        >
                                                        <input type="hidden" name="searchFrom" formControlName="searchFrom">

                                                        <input type="hidden"  formControlName="fromTravelCode">
                                                        <input type="hidden"  formControlName="fromState">



                                                        </div>

                                                <ul class="flight-from-data-ul" >
                                                <li class="flight-from-ul-li">
                                                <p class="flight-Results-text">{{searchTravelFromHeader}}</p>
                                                </li>
                          <li class="flight-from-ul-li"  *ngFor="let fromOptions of travelFromOptions;let ind=index;">
                                        <a  class="flight-from-ul-li-a"   (click)="onFromClick(fromOptions,'web')">
                                        
                                              <div class="hotel-from-name">
                                        <h6><i class="fa fa-bus"></i> &nbsp;{{fromOptions._source.name}}, {{fromOptions._source.state}}</h6>
                                        <p></p>
                                        </div>
                                        <div class="flight-from-shortname">
                                        <h6></h6>
                                        </div>
                               
                                        </a>
                                        </li>
                                          <li *ngIf="travelFromOptions.length==0"><a>No Results Found...</a></li>
                                                </ul>




                                                    </div>

                                                </div>

                                                <div class="select-root-icons bus_seperater" (click)="swap()">
                                                    <img src="{{cdnUrl}}images/icons/twoway.png" alt="">
                                                </div>
                                                <div class="select-root-right h_rgt_div" appDropdown #toCityDiv id="toCityDiv" (click)='focusInput("to")'> 
                                                    <span class="select-roottitle">TO</span>
                                                    <h5 class="fw_6 "><span class="city_align">{{toCityName}} <span class="d-none d-md-block pe-1">, </span><span class="gray_txt_highlight">{{toStateName}}</span></span></h5>
                                                                                                     <div class="error_msg w-50"  *ngIf="!isMobile && submitted && Error('toTravelCode', 'required')" >
                                <small class="validate-msg">Please select to city</small>
                                </div>

                                              <div class="" *ngIf="isMobile && submitted && Error('toTravelCode', 'required')">
                                        <small   class="validate-msg">Please select to city</small>
                                        </div>



                                                    <div class="flight-to-data flight-from-hide dropdown"
                                                        #removeClassToCity>
                                                        <div class="mob-title">
                                                            <h3>Select To City</h3>
                                                            <a href="javascript:void(0)"
                                                                class="mob-close mob-ff-from-close close-mobile">
                                                                <img src="{{cdnUrl}}images/icons/close.png"
                                                                    class="close-mobile" alt="" />
                                                            </a>
                                                        </div>
                                                                            <div class="mob-search" *ngIf="isMobile">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="mob-search-list">
                                                                        <label for="">From</label>
                                                                        <input type="text" autocomplete="off" class="w-100 searchFromBus" placeholder="Search City"  name="searchFrom" formControlName="searchFrom"  (keyup)="searchAutoComplete($event,'searchFrom' ,'mobile');"  >
                                                                        <input type="hidden"  formControlName="fromTravelCode">
                                                                        <input type="hidden"  formControlName="fromState">

                                                                    </div>
                                                                    <div class="mob-search-list">
                                                                        <label for="">To</label>
                                                                <input type="text"  autocomplete="off" class="w-100 searchToBus" placeholder="Search City" name="searchTo"  formControlName="searchTo"  (keyup)="searchAutoComplete($event,'searchTo' ,'mobile');"   id="searchTo"  id="toCitySearch"  #toCityInput>
                                                                <input type="hidden"  formControlName="toTravelCode">
                                                                <input type="hidden"  formControlName="toState">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="flight-from-data-search" *ngIf="!isMobile">
                                                            <input type="text" autocomplete="off" class="w-100 searchToBus"
                                                                id="searchTo" placeholder="Search City"
                                                                (keyup)="searchAutoComplete($event,'searchTo' ,'web');"
                                                                 #toCityInput autofocus
                                                                id="busToMob">
                                                            <input type="hidden"  formControlName="searchTo">
                                                                   <input type="hidden"  formControlName="toTravelCode">
                                                                            <input type="hidden"  formControlName="toState">
                                                        </div>
                                                        <ul class="flight-from-data-ul" >
                                                        <li class="flight-from-ul-li">
                                                        <p class="flight-Results-text">{{searchTravelToHeader}}</p>
                                                        </li>
                                                             <li class="flight-from-ul-li"  *ngFor="let toOptions of travelToOptions;let ind=index;">
                                        <a  class="flight-from-ul-li-a"   (click)="onToClick(toOptions,'web')">
                                          <div class="hotel-from-name">
                                        <h6><i class="fa fa-bus"></i> &nbsp;{{toOptions._source.name}}, {{toOptions._source.state}}</h6>
                                        <p></p>
                                        </div>
                                        <div class="flight-from-shortname">
                                        <h6></h6>
                                        </div>
                                        
                                        </a>
                                        </li>
                                          <li *ngIf="travelToOptions.length==0"><a>No Results Found...</a></li>
                                                        </ul>


                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-4">
                                            <div class="root-date">
                                            <!--Web Date Picker--> 
                                            <div class="select-root-area" *ngIf="!isMobile">
                                                    <div class="select-dep-ret " [ngClass]="isMobile == true && navItemActive == 'Round Trip' ? 'mob-select-dep-ret':''" >
                                                 <div class="area-root-departure departure_div" (click)="picker.open()"
                                                            id="datePickerOpen">

                                                            <div class="select-root-departure departure-date m_height">
                                                                <p class="select-roottitle">DEPARTURE</p>
                                                                <h5 class=" ">{{departureDate | date:'dd MMM' }}</h5>

                                                                    <span class="select-roottitle d-block w-100" *ngIf="departureDate=='' ||departureDate==undefined">Select Departure</span>
                                                                <span class="select-roottitle"
                                                                    *ngIf="departureDate!='' ||departureDate!=undefined">{{departureDate|date:'EEEE'
                                                                    }}</span>

                                                            </div>

                                                            <div class="select-root-date"
                                                                style="position: relative; left: 0;">
                                                                <i
                                                                    class="far fa-calendar-alt single-datepicker me-3 fs_22"></i>

                                                                <mat-form-field
                                                                    style="visibility:hidden;position: absolute;right: 0;bottom: 0;">
                                                                    <input matInput [min]="minDate"
                                                                        [matDatepicker]="picker"
                                                                        formControlName="departure"
                                                                        [(ngModel)]="departureDate"
                                                                       >
                                                                    <mat-datepicker-toggle matSuffix [for]="picker">
                                                                    </mat-datepicker-toggle>
                                                                    <mat-datepicker #picker></mat-datepicker>
                                                                </mat-form-field>
                                                            </div>
                                                        </div>
                                              
                                                    </div>
                                                </div>
                                            <!--Web Date Picker-->
                                            <!--Mobile Date Picker-->
                                                <div class="select-root-area" *ngIf="isMobile">
                                                    <div class="select-dep-ret " >
                                                        <div class="area-root-departure " (click)="openMliteDatePicker('departure')"  id="datePickerOpen">
                                                            <div class="select-root-departure departure-date">
                                                                <span class="select-roottitle">DEPARTURE</span>
                                                                <h5 class=" ">{{departureDate | date:'dd MMM' }}</h5>
                                                                   <span class="select-roottitle d-block w-100"
                                                                    *ngIf="departureDate=='' ||departureDate==undefined">Select
                                                                      Departure</span>
                                                                <span class="select-roottitle"
                                                                    *ngIf="departureDate!='' ||departureDate!=undefined">{{departureDate|date:'EEEE'
                                                                    }}</span>

          <div class="mt-30"  *ngIf="submitted && Error('departure', 'required')" >
                                        <small class="validate-msg" >Please select departure date</small>
                                        </div>

                                                            </div>

                                                            <div class="select-root-date"                    style="position: relative; left: 0;">
                                                                <i   class="far fa-calendar-alt single-datepicker me-3 fs_22"></i>
                                                                <mat-form-field       style="visibility:hidden;position: absolute;right: 0;bottom: 0;">
                                                                <input  matInput   [(ngModel)]="departureDate"   autocomplete="off"  readonly formControlName="departure"  id="departure" >
                                                                </mat-form-field>
                                                            </div>

                                                        </div>
                                                         <div class="modal bottom_mlite_popup" id="bus_departure_mlite" tabindex="-1" aria-hidden="true">
                                                                <div class="modal-dialog">
                                                                <div class="modal-content">
                                                                <div class="modal-header">
                                                                <h5 class="modal-title">Select Departure Date</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body" >
                                                                <mat-calendar  [minDate]="minDateMlite" (selectedChange)="onSelectMliteDate($event,'departure')" [selected]="departureDate"></mat-calendar>
                                                                </div>
                                                                <div class="modal-footer">
                                                                <button type="button" class="w-100 btn btn-primary"  data-bs-dismiss="modal"> Done</button>
                                                                </div>
                                                                </div>
                                                                </div>
                                                                </div>

                                               
                                                    </div>
                                                </div>

                                            <!--Mobile Date Picker Ends-->

                                                <div class="root-search">
                                                    <button type="button" class="searchbn" (click)="busSearch()">Search</button>
                                                </div>
                                            </div>
                                        <div class="home-error d-flex" *ngIf="!isMobile">
                                        <div class="error_msg w-35"  >
                                        <small class="validate-msg"  *ngIf="submitted && Error('departure', 'required')">Please select departure date</small>
                                        </div>
                                        </div>
                                         </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="sponsar_logo">Powered By: <img src="{{cdnUrl}}images/smartbuy/partner/48/svg/redbus.svg" class="ms-2"></p>
                            </div>
                        </div>
