// .right-img::after{


//     background : url(assets/images/icons/right-arrow.svg) no-repeat;

//     content : "";   

// }

// .rightArrow-img::after{
//     background : url(../src/assets/images/icons/right-arrow.svg) no-repeat;
//     content: '';
//   }
.mobile-summary-section{
    overflow-x: hidden;
}
.pop-body{
    // width: 224px;
    // max-height: 700px;
    // min-height: 300px;
    // border-radius: 3px;
    // z-index: 2;
    // padding: 0px;
    // // box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
    // border: solid 1px #cbcbcb;
    // background-color:$color-white;
    // @media screen and (max-width: $break-md-small) {
    //   height: 500px;
    // }
    // @media screen and (max-width: $break-mob-small) {
    //   display: none;
    //   margin: 20px;
    //   height: auto;
    // }
    h6{
     padding: 15px;
     font-weight: bold;
      font-size: 14px;
      background-color: #dcebf8;
    }
    .bus-journey-details{
      padding: 0px 0px 30px;
    }
    .bus-time{
      font-size: 12px;
      line-height: 1.5;
      color: #868686;
    }
    .bus-from, .bus-to{
      font-size: 12px;
      font-weight: 600;
      line-height: 1.5;
      color: #4d4949;
    }
    
    .w-dashed-line::after {
      width: 100%;
      width: 100%;
      height: 35px;
      border-left: 2px dashed #b6b6b6;
      position: absolute;
      top: 58px;
      left: 22px;
      content: '';
      @media screen and (max-width:460px) {
        //   left: 5px;
      }
  }
  }

  .travels-name{
    font-size: 12px;
    color: #4d4949;
    margin: 10px 0px;
  }
  .m-fare-value{
      font-family: "opensans-medium";
      font-size: 12px;
      float: right;
  }
  .final-amount{
      font-size: 14px;
      float: right;
      font-family: "opensans-medium";
  }
  