
.disableDiv {
    pointer-events: none;
}




@media only screen and (max-width: 991px){
    .select-dep-ret .area-root-departure {
        border: none;
        width: 100% !important;
    }

    .select-dep-ret.mob-select-dep-ret div#datePickerOpen {
        border-right: 1px solid #d3d3d3;
        width: 50%;
    }
    .mob-select-dep-ret {
        flex-direction: row !important;
    }
    .mob-select-dep-ret .area-root-reutrn{
        display: inline-flex !important;
    }
}

.add_anotherbutton{

  background: #ffff;
  color: #1d86ff;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 15px;
  line-height: 27px;
  border: 1px solid #1d86ff;
  font-weight: bold;

}
