<main class="site-main">
    <!-- page title area start -->
    <section class="page-title-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="page-title-content text-center">
                        <h1 class="h1-title fw-bold text-white">Gateway to Premium Lifestyle</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page title area end -->


    <!-- welcome tabs area start -->
    <section class="welcome-tabs-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="welcome-tabs-box">
                        <ul class="nav-tabs-ul list-unstyled">
                            <li>
                                <a  (click)="scrollToElement(WelcomeBenefits ,'WelcomeBenefits')"   [ngClass]="navTitle == 'WelcomeBenefits' ? 'active':''">Welcome Benefits</a>
                            </li>
                            <li>
                                <a  (click)="scrollToElement(LifestyleBenefits,'LifestyleBenefits')" [ngClass]="navTitle == 'LifestyleBenefits' ? 'active':''">Lifestyle Benefits</a>
                            </li>
                            <li>
                                <a  (click)="scrollToElement(TravelBenefits,'TravelBenefits')"  [ngClass]="navTitle == 'TravelBenefits' ? 'active':''">Travel Benefits</a>
                            </li>
                            <li>
                                <a  (click)="scrollToElement(DiningBenefits,'DiningBenefits')" [ngClass]="navTitle == 'DiningBenefits' ? 'active':''">Dining Benefits</a>
                            </li>
                            <li>
                                <a  (click)="scrollToElement(CoreRewardPoints,'CoreRewardPoints')" [ngClass]="navTitle == 'CoreRewardPoints' ? 'active':''">Core Reward Points</a>
                            </li>
                            <li>
                                <a  (click)="scrollToElement(AdditionalBenefits,'AdditionalBenefits')" [ngClass]="navTitle == 'AdditionalBenefits' ? 'active':''">Additional Benefits</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- welcome tabs area End -->



    <!-- Welcome-Benefits start -->
    <section id="WelcomeBenefits" class="Welcome-Benefits-area mt-5 mb-5" #WelcomeBenefits>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="tabs-Welcome text-center">
                        <h1 class="fw-1">Welcome Benefits</h1>
                    </div>
                    <div class="benefits-membership-area mt-4">
                        <div class="common-table-title">
                            <ul class="list-unstyled ">
                                <li>
                                    <a href="javascript:void(0); " class="common-table-title-active" (click)="showHideMember()"
                                        data-bind="Membership" id="activeMember">Complimentary Club Marriott Membership </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" id="activePoint" data-bind="Points" (click)="showHidePoints()"> Welcome Bonus Reward Points </a>
                                </li>
                            </ul>
                        </div>

                        <div class="">
                            <div id="Membership" class="common-table-list common-table-list-active" >
                                <div class="common-table-list-box mt-4">
                                    <div class="text-center pb-4">
                                        <p>Complimentary Club Marriott membership for first year that offers up to 20%
                                            discounts for Dining and stay <br> across Asia – Pacific region. </p>
                                    </div>
                                    <div class="row justify-content-center benefits-box">
                                    <ng-container *ngIf="!isMobile">
                                        <div class="col-md-3" *ngFor="let item of benefitList">
                                            <div class="benefits-list min-height-230">
                                                <div class="benefits-icon">
                                                    <img src="{{item.img}}" alt="" />
                                                </div>
                                                <div class="benefits-content">
                                                    <h6><strong>{{item.title}}</strong> </h6>
                                                    <p>{{item.desc}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <owl-carousel-o [options]="customOptions" *ngIf="isMobile">
                                        <ng-container *ngFor="let item of benefitList">
                                            <ng-template carouselSlide>
                                                <div class="col-md-3">
                                                    <div class="benefits-list min-height-230">
                                                        <div class="benefits-icon">
                                                            <img src="{{item.img}}" alt="" />
                                                        </div>
                                                        <div class="benefits-content">
                                                            <h6><strong>{{item.title}}</strong> </h6>
                                                            <p>{{item.desc}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                    </owl-carousel-o>


                                    </div>



                                    <div class="visit-text text-center">
                                        <p>Please visit <a target="_blank"
                                                href="www.clubmarriott.in">www.clubmarriott.in</a> for list of
                                            participating hotels in Asia Pacific and Spas in India.</p>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-md-10">
                                            <div class="Process-item">
                                                <h6 class="Process-item-title " id="addActiveToggle{{1}}" (click)="welcomeBenefit('1')" >Process to Redeem Welcome Benefits</h6>
                                                <div class="Benefits-datas d-none" id="redeemWelcome{{1}}">
                                                    <ul class="list-disc">
                                                        <li >
                                                            <p>Go to Infinia Benefit section and refer tab “ Club
                                                                Marriott Membership” </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="terms-conditions-area">
                                                <h6 class="terms-title">Terms & Conditions</h6>
                                                <ul class="list-disc">
                                                    <li>
                                                        <p>Infinia cardholders onboarded on or after 20th March 2019 are
                                                            eligible for this membership for the first year of
                                                            cardholding.</p>
                                                    </li>
                                                    <li>
                                                        <p><a href="javaScript:void(0);">Click here for detailed T&C </a></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="Points" class="common-table-list"  >
                                <div class="common-table-list-box mt-4">
                                    <div class="row justify-content-center benefits-box pt-4">


                                        <div class="col-md-3">
                                            <div class="benefits-list">
                                                <div class="benefits-icon">
                                                    <img src="{{cdnUrl}}images/infinia_static/Benefits/5.svg" alt="" />
                                                </div>
                                                <div class="benefits-content">
                                                    <p>Get welcome benefit of 12,500 reward points upon fee realisation
                                                        and card activation </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Welcome-Benefits end -->

    <!-- Lifestyle-Benefits start -->
    <section id="LifestyleBenefits" class="lifestyle-Benefits-area pt-5 pb-5" #LifestyleBenefits>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="tabs-Welcome text-center">
                        <h1 class="fw-1">Lifestyle Benefits</h1>
                    </div>
                    <div class="benefits-membership-area mt-4">
                        <div class="common-table-title">
                            <ul class="list-unstyled ">
                                <li>
                                    <a href="javascript:void(0); " class="common-table-title-active"
                                        data-bind="Unlimited" id="golfActive" (click)="showHideGolf('Unlimited')">Unlimited Golf Access </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" id="supportActive" data-bind="support" (click)="showHideGolf('Premium')"> Premium Concierge support </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" id="PriorityActive" data-bind="Priority" (click)="showHideGolf('Priority')"> Priority Customer service </a>
                                </li>
                            </ul>
                        </div>
                        <div class="">
                            <div id="Unlimited" class="common-table-list common-table-list-active">
                                <div class="common-table-list-box mt-4 pb-4">
                                    <div class="row justify-content-center benefits-box pt-4">
                                    <ng-container *ngIf="!isMobile">
                                        <div class="col-md-3" *ngFor="let item of lifeStyleBenefit">
                                            <div class="benefits-list min-height-206">
                                                <div class="benefits-icon">
                                                    <img src="{{item.img}}" alt="" />
                                                </div>
                                                <div class="benefits-content">
                                                    <p>{{item.title}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <owl-carousel-o [options]="customOptions" *ngIf="isMobile">
                                        <ng-container *ngFor="let item of lifeStyleBenefit">
                                            <ng-template carouselSlide>
                                                <div class="col-md-3" >
                                                    <div class="benefits-list min-height-206">
                                                        <div class="benefits-icon">
                                                            <img src="{{item.img}}" alt="" />
                                                        </div>
                                                        <div class="benefits-content">
                                                            <p>{{item.title}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                    </owl-carousel-o>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-md-10">
                                            <div class="Process-item">
                                                <h6 class="Process-item-title" id="addActiveToggle{{2}}" (click)="welcomeBenefit('2')">Process to Redeem Welcome Benefits</h6>
                                                <div class="Benefits-datas d-none" id="redeemWelcome{{2}}">
                                                    <ul>
                                                        <li>
                                                            <p>Please call the concierge at 1800 118 887 | 022 42320226
                                                                to place booking </p>
                                                        </li>
                                                        <li>
                                                            <p>Alternatively email concierge at
                                                                Infinia.support@smartbuyoffers.co​​​​​ for booking
                                                                request </p>
                                                        </li>
                                                    </ul>
                                                    <div class="lifestyle-Click text-center pb-4">
                                                        <a href="javaScript:void(0);">Click here for list of Domestic golf courses</a>
                                                        <span>|</span>
                                                        <a href="javaScript:void(0);">Click here for list of international golf courses
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="terms-conditions-area">
                                                <h6 class="terms-title">Terms & Conditions</h6>
                                                <ul class="list-disc">
                                                    <li>
                                                        <p>Please place booking 4 clear days in advance (excluding date
                                                            of request and date of play) for domestic booking & 15 clear
                                                            days in advance for International bookings </p>
                                                    </li>
                                                    <li>
                                                        <p>Applicable only for Primary cardholders </p>
                                                    </li>
                                                    <li>
                                                        <p><a href="javaScript:void(0);">Click here for detailed T&C </a></p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="support" class="common-table-list">
                                <div class="common-table-list-box mt-4">

                                    <div class="text-center pb-4">
                                        <p>Customize your travel, entertainment, and business experiences with our 24x7
                                            Global Concierge Assistance <br> Here are some of the services provided by
                                            our concierge. </p>
                                    </div>
                                    <ng-container *ngIf="!isMobile">
                                    <div class="benefits-box grid-5">
                                        <div class="benefits-list " *ngFor="let item of premiumSport">
                                            <div class="benefits-icon">
                                                <img src="{{item.img}}" alt="" />
                                            </div>
                                            <div class="benefits-content">
                                                <p>{{item.title}} </p>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                                <owl-carousel-o [options]="customOptions" *ngIf="isMobile">
                                    <ng-container  *ngFor="let item of premiumSport">
                                        <ng-template carouselSlide>
                                            <div class="benefits-box">
                                            <div class="benefits-list">
                                                    <div class="benefits-icon">
                                                        <img src="{{item.img}}" alt="" />
                                                    </div>
                                                    <div class="benefits-content">
                                                        <p>{{item.title}} </p>
                                                    </div>
                                                </div>
                                            </div>
                                            </ng-template>
                                        </ng-container>
                                </owl-carousel-o>

                                    <div class="lifestyle-contact">
                                        <p class="text-color">Contact</p>
                                        <p>Toll Free No.: 1800 118 887 Landline No.: 022 42320226 </p>
                                        <p>Email ID: Infinia.support@smartbuyoffers.co</p>
                                    </div>

                                    <div class="lifestyle-Click-a text-center mt-3">
                                        <a href="javaScript:void(0);">Click here for detailed T&Cs </a>
                                    </div>
                                </div>
                            </div>
                            <div id="Priority" class="common-table-list">
                                <div class="common-table-list-box mt-4">
                                    <div class="row justify-content-center benefits-box pt-4">
                                        <div class="col-md-4">
                                            <div class="benefits-list">
                                                <div class="benefits-icon">
                                                    <img src="{{cdnUrl}}images/infinia_static/lifestyle/8.svg" alt="" />
                                                </div>
                                                <div class="benefits-content">
                                                    <p>HDFC Bank priority Customer Service to help with all your queries
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="lifestyle-contact">
                                        <p class="text-color">Contact</p>
                                        <p>Toll Free No.: 1800 118 887 Landline No.: 022 42320226 </p>
                                        <p>Email ID: Infinia.support@smartbuyoffers.co</p>
                                    </div>
                                    <div class="lifestyle-Click-a text-center mt-3">
                                        <a href="javaScript:void(0);">Click here for detailed T&Cs </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Lifestyle-Benefits end -->



    <!-- Travel-Benefits start -->
    <section id="TravelBenefits" class="Travel-Benefits-area pt-5 pb-5" #TravelBenefits>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="tabs-Welcome text-center">
                        <h1 class="fw-1">Travel Benefits</h1>
                    </div>
                    <div class="benefits-membership-area mt-4">
                        <div class="common-table-title">
                            <ul class="list-unstyled ">
                                <li>
                                    <a href="javascript:void(0); " id="ITCHotelsActive" class="common-table-title-active"
                                        data-bind="ITCHotels" (click)="hideShowTravelBenefit('Complimentary')">Complimentary Nights @ ITC Hotels </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"  id="UnlimitedAccessActive" data-bind="UnlimitedAccess" (click)="hideShowTravelBenefit('Unlimited')"> Unlimited Lounge Access
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="">
                            <div id="ITCHotels" class="common-table-list common-table-list-active">
                                <div class="common-table-list-box mt-4">
                                    <div class="row justify-content-center benefits-box pt-4">
                                        <div class="col-md-4">
                                            <div class="benefits-list">
                                                <div class="benefits-icon">
                                                    <img src="{{cdnUrl}}images/infinia_static/Travel/1.svg" alt="" />
                                                </div>
                                                <div class="benefits-content">
                                                    <p>Book stay for 3-nights and pay for 2 at participating ITC Hotels
                                                        with your HDFC Bank Infinia credit card </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div id="UnlimitedAccess" class="common-table-list">
                                <div class="common-table-list-box mt-4">
                                    <div class="row justify-content-center benefits-box pt-4">
                                      <ng-container *ngIf="!isMobile">
                                        <div class="col-md-3" *ngFor="let item of UnlimitedAccess">
                                            <div class="benefits-list min-height-265">
                                                <div class="benefits-icon">
                                                    <img src="{{item.img}}" alt="" />
                                                </div>
                                                <div class="benefits-content">
                                                    <h6><strong>{{item.title}}</strong></h6>
                                                    <p>{{item.desc}} </p>
                                                </div>
                                            </div>
                                        </div>
                                      </ng-container>
                                      <owl-carousel-o [options]="customOptions" *ngIf="isMobile">
                                        <ng-container  *ngFor="let item of UnlimitedAccess">
                                            <ng-template carouselSlide>
                                              <div class="col-md-3">
                                                <div class="benefits-list min-height-265">
                                                    <div class="benefits-icon">
                                                        <img src="{{item.img}}" alt="" />
                                                    </div>
                                                    <div class="benefits-content">
                                                        <h6><strong>{{item.title}}</strong></h6>
                                                        <p>{{item.desc}} </p>
                                                    </div>
                                                </div>
                                                </div>
                                                </ng-template>
                                            </ng-container>
                                    </owl-carousel-o>
                                    </div>
                                </div>
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-10">
                                    <div class="Process-item">
                                        <h6 class="Process-item-title" id="addActiveToggle{{3}}" (click)="welcomeBenefit('3')">Process to Book</h6>
                                        <div class="Benefits-datas d-none" id="redeemWelcome{{3}}">
                                            <ul>
                                                <li>
                                                    <p>Click here for list of participating hotels </p>
                                                </li>
                                                <li>
                                                    <p>Please click <a href="javaScript:void(0);" class="text-color ">Book Now</a> </p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="terms-conditions-area">
                                        <h6 class="terms-title">Terms & Conditions</h6>
                                        <ul class="list-disc">
                                            <li>
                                                <p>The access and usage at all Priority Pass lounges in India/outside is
                                                    complimentary only for Primary and Add on Priority Pass holders </p>
                                            </li>
                                            <li>
                                                <p>Presentation of the Priority Pass card at the participating airport
                                                    lounge is mandatory to avail access </p>
                                            </li>
                                            <li>
                                                <p>Guest visits using Priority pass will be charged at USD 27 + GST per
                                                    visit per guest </p>
                                            </li>
                                            <li>
                                                <p>Domestic lounge program is applicable only for primary cardholders
                                                </p>
                                            </li>
                                            <li>
                                                <p><a href="javaScript:void(0);">Click here for detailed T&C </a></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Travel-Benefits end -->


    <!-- Dining-Benefits start -->
    <section id="DiningBenefits" class="Dining-Benefits-area pt-5 pb-5" #DiningBenefits>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="tabs-Welcome text-center">
                        <h1 class="fw-1">Dining Benefits</h1>
                    </div>
                    <div class="benefits-membership-area mt-4">
                        <div class="common-table-title">
                            <ul class="list-unstyled ">
                                <li>
                                    <a href="javascript:void(0); " class="common-table-title-active"
                                        data-bind="DineoutComplimentary" id="DineoutComplimentaryActive" (click)="hideShowDiningBenefit('1')">1+1 Complimentary weekend buffet @ ITC Hotel
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" id="DineoutmembershipActive" data-bind="Dineoutmembership" (click)="hideShowDiningBenefit('2')"> Complimentary Dineout
                                        passport membership </a>
                                </li>
                            </ul>
                        </div>
                        <div class="">
                            <div id="DineoutComplimentary" class="common-table-list common-table-list-active">
                                <div class="common-table-list-box mt-4">
                                    <div class="row justify-content-center benefits-box pt-4">
                                        <div class="col-md-4">
                                            <div class="benefits-list">
                                                <div class="benefits-icon">
                                                    <img src="{{cdnUrl}}images/infinia_static/Travel/1.svg" alt="" />
                                                </div>
                                                <div class="benefits-content">
                                                    <p>Get 1+1 complimentary weekend buffet at participating ITC Hotels
                                                        with your HDFC Bank Infinia Credit Card.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row justify-content-center">
                                        <div class="col-md-8">
                                            <div class="Process-item">
                                                <h6 class="Process-item-title" id="addActiveToggle{{4}}" (click)="welcomeBenefit('4')">Process to Avail</h6>
                                                <div class="Benefits-datas d-none" id="redeemWelcome{{4}}">
                                                    <div class="Benefits-grid-2">
                                                        <div class="Benefits-datas-list">
                                                            <h6>01</h6>
                                                            <p>Call HDFC INFINIA 24x7 concierge at <br> 1800 118 887 /
                                                                022 42320226 </p>
                                                        </div>
                                                        <div class="Benefits-datas-list">
                                                            <h6>02</h6>
                                                            <p>Share the preference of hotel, <br> date and time of
                                                                visit </p>
                                                        </div>
                                                        <div class="Benefits-datas-list">
                                                            <h6>03</h6>
                                                            <p>Receive reservation confirmation <br> via e-mail </p>
                                                        </div>
                                                        <div class="Benefits-datas-list">
                                                            <h6>04</h6>
                                                            <p>Show the reservation email at the time of dining and <br>
                                                                make balance payment at restaurant with your <br> HDFC
                                                                Bank Infinia credit card </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="lifestyle-Click-a text-center mt-3">
                                                <a href="javaScript:void(0);">Click here for list of participating hotels </a>
                                            </div>

                                        </div>
                                        <div class="col-md-10">
                                            <div class="terms-conditions-area mt-4">
                                                <h6 class="terms-title">Terms & Conditions</h6>
                                                <ul class="list-disc">
                                                    <li>
                                                        <p>Offer is applicable only for weekend buffet (Only on
                                                            Saturdays & Sundays). </p>
                                                    </li>
                                                    <li>
                                                        <p>Offer is only applicable on advance booking done via
                                                            Concierge desk </p>
                                                    </li>
                                                    <li>
                                                        <p>Maximum one complimentary buffet per booking and one booking
                                                            per month/ card allowed </p>
                                                    </li>
                                                    <li>
                                                        <p>Payment to be made via HDFC Bank Infinia credit card to avail
                                                            the offer </p>
                                                    </li>
                                                    <li>
                                                        <p>Booking should be placed latest by Thursday for
                                                            Saturday/Sunday dining </p>
                                                    </li>
                                                    <li>
                                                        <p>Booking once made cannot be cancelled/modified </p>
                                                    </li>
                                                    <li>
                                                        <p>Offer subject to availability of tables reserved under the
                                                            program </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="Dineoutmembership" class="common-table-list">
                                <div class="common-table-list-box mt-4">
                                    <div class="common-table-list-box mt-4">

                                        <div class="text-center pb-4">
                                            <p>Get complimentary Dineout passport membership for a year that offers </p>
                                        </div>
                                        <ng-container *ngIf="!isMobile">
                                        <div class="benefits-box grid-5">

                                            <div class="benefits-list" *ngFor="let item of dineOutMembership">
                                                <div class="benefits-icon">
                                                    <img src="{{item.img}}" alt="">
                                                </div>
                                                <div class="benefits-content">
                                                    <p>{{item.title}}</p>
                                                </div>
                                            </div>

                                        </div>
                                      </ng-container>

                                      <owl-carousel-o [options]="customOptions" *ngIf="isMobile">
                                        <ng-container  *ngFor="let item of dineOutMembership">
                                            <ng-template carouselSlide>
                                                <div class="benefits-box">
                                                <div class="benefits-list">
                                                        <div class="benefits-icon">
                                                            <img src="{{item.img}}" alt="" />
                                                        </div>
                                                        <div class="benefits-content">
                                                            <p>{{item.title}} </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                </ng-template>
                                            </ng-container>
                                    </owl-carousel-o>


                                        <div class="lifestyle-Click-a text-center mt-3">
                                            <p>Get additional 15% off on all your bill payments via Dineout Pay (10k +
                                                restaurants) </p>
                                        </div>

                                        <div class="lifestyle-Click-a text-center mt-5">
                                            <span><a href="javaScript:void(0);">Click here </a>to avail the membership</span>
                                            <span class="ms-2 me-2">|</span>
                                            <span>Click here for <a href="javaScript:void(0);">T&C </a></span>
                                            <span class="ms-2 me-2">|</span>
                                            <span>Click here for <a href="javaScript:void(0);">FAQs </a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Dining-Benefits end -->


    <!-- CoreReward-Benefits start -->
    <section id="CoreRewardPoints" class="CoreReward-Benefits-area pt-5 pb-5" #CoreRewardPoints>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="tabs-Welcome text-center">
                        <h1 class="fw-1">Core Reward Points </h1>
                    </div>
                    <div class="benefits-membership-area mt-4">
                        <div class="common-table-title">
                            <ul class="list-unstyled ">
                                <li>
                                    <a href="javascript:void(0); " id="RewardAccrualActive"   class="common-table-title-active"
                                        data-bind="RewardAccrual" (click)="hideShowCoreReward('1')">Reward Points Accrual</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" id="RewardRedemptionActive" data-bind="RewardRedemption" (click)="hideShowCoreReward('2')"> Reward Points Redemption
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="">
                            <div id="RewardAccrual" class="common-table-list common-table-list-active">
                                <div class="common-table-list-box mt-4">
                                    <div class="row justify-content-center benefits-box pt-4">
                                      <ng-container *ngIf="!isMobile" >
                                        <div class="col-md-3" *ngFor="let item of RewardAccrual">
                                            <div class="benefits-list min-height-206">
                                                <div class="benefits-icon">
                                                    <img src="{{item.img}}" alt="" />
                                                </div>
                                                <div class="benefits-content">
                                                    <p>{{item.title}}</p>
                                                </div>
                                            </div>
                                        </div>
                                      </ng-container>
                                      <owl-carousel-o [options]="customOptions" *ngIf="isMobile">
                                        <ng-container  *ngFor="let item of RewardAccrual">
                                            <ng-template carouselSlide>
                                              <div class="col-md-3">
                                                <div class="benefits-list min-height-206">
                                                    <div class="benefits-icon">
                                                        <img src="{{item.img}}" alt="" />
                                                    </div>
                                                    <div class="benefits-content">
                                                        <p>{{item.title}}</p>
                                                    </div>
                                                </div>
                                                </div>
                                                </ng-template>
                                            </ng-container>
                                    </owl-carousel-o>

                                    </div>



                                </div>
                            </div>
                            <div id="RewardRedemption" class="common-table-list">
                                <div class="common-table-list-box mt-4">
                                    <div class="common-table-list-box mt-4">

                                        <div class="text-center pb-4">
                                            <p>You can redeem your Reward Points on Smartbuy or Netbanking for </p>
                                        </div>
                                        <ng-container *ngIf="!isMobile">
                                          <div class="benefits-box grid-5">
                                              <div class="benefits-list" *ngFor="let item of RewardRedemption">
                                                  <div class="benefits-icon">
                                                      <img src="{{item.img}}" alt="">
                                                  </div>
                                                  <div class="benefits-content">
                                                      <p>{{item.title}}
                                                      </p>
                                                  </div>
                                              </div>
                                          </div>
                                        </ng-container>


                                <owl-carousel-o [options]="customOptions" *ngIf="isMobile">
                                  <ng-container  *ngFor="let item of RewardRedemption">
                                      <ng-template carouselSlide>
                                          <div class="benefits-box">
                                          <div class="benefits-list">
                                                  <div class="benefits-icon">
                                                      <img src="{{item.img}}" alt="" />
                                                  </div>
                                                  <div class="benefits-content">
                                                      <p>{{item.title}} </p>
                                                  </div>
                                              </div>
                                          </div>
                                          </ng-template>
                                      </ng-container>
                              </owl-carousel-o>
                                    </div>
                                </div>
                            </div>

                            <div class="lifestyle-Click-a text-center">
                                <p><a href="javaScript:void(0);">Click here </a> for details</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CoreReward-Benefits end -->

    <!-- Additional-Benefits start -->
    <section id="AdditionalBenefits" class="Additional-Benefits-area pt-5 pb-5" #AdditionalBenefits>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                  <div class="tabs-Welcome text-center">
                    <h1 class="fw-1">Additional Benefits </h1>
                </div>
                    <div class="Additional-Benefits-grid-2 mt-4">
                        <div class="Additional-Benefits-grid-list">
                            <div class="Additional-Benefits-grid-list-image">
                                <img src="{{cdnUrl}}images/infinia_static/Additional/1.svg" alt="" />
                            </div>
                            <div class="Additional-Benefits-grid-list-content">
                                <h6><strong>Forex Markup </strong></h6>
                                <p>1% fuel surcharge waiver at all fuel stations across India on transactions between
                                    Rs.400 and Rs.1,00,000​​​​​​​ <br> <strong>Note - No Reward Points are earned on
                                        fuel transactions </strong></p>
                                <p class="pt-4"><a href="javaScript:void(0);">Click Here</a> for details</p>
                            </div>
                        </div>
                        <div class="Additional-Benefits-grid-list">
                            <div class="Additional-Benefits-grid-list-image">
                                <img src="{{cdnUrl}}images/infinia_static/Additional/2.svg" alt="" />
                            </div>
                            <div class="Additional-Benefits-grid-list-content">
                                <h6><strong>Insurance </strong></h6>
                                <p>Accidental Air Death cover worth Rs. 3 Crore <br> Emergency overseas hospitalization
                                    up to Rs. 50 lakhs in case of emergency <br> Credit Shield Cover for upto 9 lakhs
                                </p>
                                <p class="pt-3"><strong>Update Nominee</strong></p>
                                <p><a href="javaScript:void(0);">Click Here</a>to update your nominee details. </p>
                                <p class="pt-3"><a href="javaScript:void(0);">Click Here</a> for details</p>
                            </div>
                        </div>

                        <div class="Additional-Benefits-grid-list">
                            <div class="Additional-Benefits-grid-list-image">
                                <img src="{{cdnUrl}}images/infinia_static/Additional/1.svg" alt="" />
                            </div>
                            <div class="Additional-Benefits-grid-list-content">
                                <h6><strong>Fuel Surcharge Waiver </strong></h6>
                                <p>1% fuel surcharge waiver at all fuel stations across India on transactions between
                                    Rs.400 and Rs.1,00,000​​​​​​​ <br> <strong>Note - No Reward Points are earned on
                                        fuel transactions </strong></p>
                                <p class="pt-4"><a href="javaScript:void(0);">Click Here</a> for details</p>
                            </div>
                        </div>
                        <div class="Additional-Benefits-grid-list">
                            <div class="Additional-Benefits-grid-list-image">
                                <img src="{{cdnUrl}}images/infinia_static/Additional/2.svg" alt="" />
                            </div>
                            <div class="Additional-Benefits-grid-list-content">
                                <h6><strong>Contactless Payment </strong></h6>

                                <p> The HDFC Bank Infinia Credit Card is enabled for contactless payments, facilitating
                                    fast, convenient and secure payments at retail outlets. To see if your Card is
                                    contactless, look for the contactless network symbol on your Card.</p>
                                <p class="pt-3"> (Please note that in India, payment through contactless mode is allowed
                                    for a maximum of ₹5000 for a single transaction where you are not asked to input
                                    your Credit Card PIN. However, if the amount is higher than or equal to ₹5000, the
                                    Card holder has to enter the Credit Card PIN for security reasons)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- CoreReward-Benefits end -->

</main>
