/*
--------------------------------------------------------------------------------------------------------
* Project    :                                                                                         *
* Author     :                                                        * 
* Support    :                                                              * 
*------------------------------------------------------------------------------------------------------- 
NOTE: This is main stylesheet of template, This file contains the styling for the actual Template.
*/
a{
    text-decoration: none;
}
.text-color{
    color: #00386C !important;
}
.pr-135{
    padding-right: 135px;
}
.pl-135{
    padding-right: 135px;
}
.fs-13{
    font-size: 13px;
}
.pl-40{
    padding-left: 40px;
}

header.header {
    position: absolute;
    background: radial-gradient(80.14% 162.9% at 60.16% 91.34%, rgb(0 46 87 / 80%) 0%, rgb(0 0 0 / 80%) 66.31%, rgb(0 0 0 / 80%) 100%);
}


.topheaders{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0;
}

.h-search{ 
    position: relative;
    margin: auto;
    width: 40%;
}

.h-search input[type="text"] {
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 300;
    background: rgba(242, 248, 251, 0.1);
    border-radius: 3px;
    padding: 7px 87px 7px 7px;
    color: #fff;
}
.h-search input[type="text"]:focus {
    outline: none;
}

.search-right {
    position: absolute;
    right: 15px;
    font-size: 20px;
    top: 0px;
    height: 100%;
} 
.h-right a.loginname {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
}

.h-call-area {
    position: relative;
}
.h-call{
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px; 
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 8px 15px;
    cursor: pointer;
}

.h-call-dropdown {
    position: absolute;
    background: radial-gradient(88.58% 88.58% at 13.06% 11.42%, #000306 0%, #002C52 100%);
    box-shadow: 0px 4px 17px rgb(0 0 0 / 50%);
    width: 222px;
    padding: 30px;
    border-radius: 3px 3px 10px 10px;
    top: 32px;
    z-index: 2;
    display: none;
}
.h-call-dropdown:after {
    content: "";
    position: absolute;
    // background: url("./assets/images/infinia/infinia.png") no-repeat;
    height: 100%;
    width: 162px;
    bottom: 0;
    right: 0;
    z-index: 9;
}
.h-call-dropdown h6, .h-call-dropdown p{ 
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;  
    color: #FFFFFF;
    margin-bottom: 0;
}

.h-card-area{
    position: relative;
}
.h-card-dropdown{
    position: absolute;
    background: radial-gradient(88.58% 88.58% at 13.06% 11.42%, #000306 0%, #002C52 100%);
    box-shadow: 0px 4px 17px rgb(0 0 0 / 50%);
    width: 222px;
    padding: 15px;
    border-radius: 3px 3px 10px 10px;
    top: 32px; 
    right: 0;
    z-index: 2;
    display: none;
}


.h-card-list {
    display: flex;
    gap: 15px;
    align-items: center;
    background: rgb(255 255 255 / 10%);
    border-radius: 5px;
    padding: 12px;
    position: relative;
}
.h-card-list::after {
    content: "";
    position: absolute;
    // background: url("./assets/images/infinia/icon/right.png") no-repeat;
    width: 25px;
    height: 25px;
    right: 0;
    top: 46%;
    opacity: 0.7;
}


.h-card-content h6{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0;
}
.h-card-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px; 
    color: #FFFFFF;
    opacity: 0.5;
    margin: 0;
}

.main-menus{
    margin-top: 10px;
    margin-bottom: 10px;
}

.infinia-header .main-navigation .menu > li > a { 
    margin: 0 20px 0 0px; 
    color: hsla(0, 0%, 100%, 0.5);
    font-size: 16px; 
    font-weight: 400;
    text-decoration: none;
}
.infinia-header .main-navigation .menu > li > a:hover { 
    color: #fff; 
}
.card-Switchto-name {
    background: #FFFFFF;
    border-radius: 3px;
    padding: 4px 8px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px; 
    color: #000000;
    cursor: pointer;
}

.card-Switchto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.pts {
    background: #014A8F;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    display: inline;
    margin-bottom: 0;
    position: relative;
    top: -9px;
    padding: 2px 8px;
} 



/* Menu Css Start*/
/* #main-menu .header-menu-items {
    position: static;
} */

.header-navigation-area{
    display: flex;
}

#main-menu .header-menu-items .header-sub-menu {
    position: absolute;
    z-index: 99;
    top: 100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 652px;
    margin: 0;
    margin-top: 20px;
    padding: 25px;
    list-style: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    opacity: 0;
    background: radial-gradient(95.5% 319.75% at 0% 7.32%, #000000 0%, #002E57 100%);
    -webkit-box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
    box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
    border-radius: 0px 0px 10px 10px;
    gap: 15px;
}
#main-menu  .header-menu-items:hover .header-sub-menu {
    visibility: visible;
    margin-top: 0;
    opacity: 1;
}

.header-sub-menu-items {
    width: 293px;
    background: rgb(255 255 255 / 2%);
    border-radius: 8px;
    display: flex !important;
    align-items: center;
}
.header-sub-menu-items:hover {
    background: rgb(255 255 255 / 4%) url("/assets/images/infinia/menu/next.png") no-repeat;
    background-position: 94% 50%;
}
.header-sub-menu-link {
    display: flex;
    gap: 10px;
    text-decoration: none;
    padding: 10px;
}
.header-sub-menu-link-content {
    width: calc(100% - 37px);
}
.header-sub-menu-link-content p {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: normal;
    color: #FFFFFF;
    margin-bottom: 0;
}
.header-sub-menu-link-content span {
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px; 
    color: rgba(255, 255, 255, 0.5);
}
.header-sub-menu-link-icon {
    position: relative;
    width: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-sub-menu-link-icon:after {
    content: "";
    position: absolute;
    width: 33px;
    height: 33px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    left: 0;
    z-index: -1;
}
.header-sub-menu-items:hover .header-sub-menu-link-icon:after{
    background: rgba(255, 255, 255, 1);
}
.header-sub-menu-items:hover .header-sub-menu-link-content p{
    color: #014A8F;
}
.header-sub-menu-items:hover .header-sub-menu-link-content span{
    color: #fff;
}
.header-sub-menu-items:hover .header-sub-menu-link-icon svg path {
    fill: #014A8F;
}

/* Menu Css End*/





.page-title-area{
    position: relative;
    background-image: url('/assets/images/infinia/inner-banner/banner-1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 233px 0 100px 0; 
}

.page-title-club-area{ 
    background-image: url('/assets/images/infinia/inner-banner/banner-2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.page-title-itc-area{ 
    background-image: url('/assets/images/infinia/inner-banner/banner-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-position: bottom;
}

section.welcome-tabs-area {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
}
.nav-tabs-ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 0;
}
.nav-tabs-ul li a{
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 50px;
    color: #000000;
    opacity: 0.5;
    text-decoration: none;
    padding: 15px 0;
}
.nav-tabs-ul li a.active{
    opacity: 1;
}
.nav-tabs-ul li a.active:after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #00386C;
    left: 0;
}




.tabs-Welcome h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 44px;
    line-height: 50px;
    color: #000000;
}


.common-table-list{
    display: none;
}
.common-table-list-active{
    display: block;
}

.common-table-title{
    position: relative;
}
.common-table-title ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 56, 108, 0.1);
    width: max-content;
    margin: 0 auto;
    border-radius: 50px;
}
.common-table-title ul li{ 
    display: inline-block; 
}
.common-table-title a { 
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 40px;
    color: rgb(0 0 0 / 50%);
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
}
.common-table-title .common-table-title-active {
    background: #00386C;
    box-shadow: 0px 4px 15px rgb(0 56 108 / 25%);
    border-radius: 50px;
    color: #fff;
}
.benefits-box {
    position: relative;  
    text-align: center; 
}
.benefits-box .benefits-list {
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 20px 15px;
    margin-bottom: 30px; 
    display: flex;
    flex-direction: column;
}
.min-height-230{
    min-height: 230px;
}
.min-height-206{ 
    min-height: 206px;
}
.min-height-265{ 
    min-height: 265px;
}

.benefits-content{
    margin-top: 20px;
    
} 
.benefits-content h6, .benefits-content p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    margin: 0;
}
.Process-item-title{
    cursor: pointer;
}
.Benefits-datas{
    padding-bottom: 10px;
}
.Benefits-datas ul li p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px; 
    color: #000000;
}


.visit-text p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px; 
    text-align: center;
    color: #000;
}
.visit-text a{
    text-decoration: none;
    color: #000;
}
.visit-text a:hover{
    text-decoration: underline;
    color: #00386C;
}

.Process-item{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.Process-item .Process-item-title {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #00386C;
    padding: 12px 15px;
}
.Process-item .Process-item-title:after {
    content: "";
    background: url("/assets/images/infinia/icon/add.svg") no-repeat;
    height: 22px;
    width: 22px;
    position: absolute;
    right: 15px;
    top: 29%;
}
.Process-item .Process-item-active:after{
    background: url("/assets/images/infinia/icon/minus.svg") no-repeat;
}

.terms-conditions-area {
    background: rgb(217 217 217 / 40%);
    border-radius: 8px;
    padding: 50px;
}
.terms-title{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px; 
    color: #000000;
}
.terms-conditions-area ul{
    margin: 0; 
}
.terms-conditions-area ul li p {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}
.terms-conditions-area ul li p a{ 
    color: #00386C;
    text-decoration: none;
}

.lifestyle-Benefits-area, .Dining-Benefits-area, .Additional-Benefits-area{
    background: rgba(0, 56, 108, 0.1);
}
.lifestyle-Click{
margin-top: 20px;
}
.lifestyle-Click a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #00386C;
}
.grid-5{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5rem;
}
.lifestyle-contact{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    padding: 20px;
}
.lifestyle-contact p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin: 0;
}
.lifestyle-Click-a a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    color: #00386C;
}


.Benefits-grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    padding: 0 20px;
}
.Benefits-datas-list {
    text-align: center;
}
.Benefits-datas-list h6{
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 22px; 
    text-align: center;
    color: #00386C;
    opacity: 0.2;
}
.Benefits-datas-list p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px; 
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.Additional-Benefits-grid-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem; 
}
.Additional-Benefits-grid-list {
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
}
.Additional-Benefits-grid-list-content{
    margin-top: 20px;
}

.Additional-Benefits-grid-list-content h6{ 
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}
.Additional-Benefits-grid-list-content p{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    margin: 0;
}
.Additional-Benefits-grid-list-content p a{ 
    color: #00386C;
}



/* Footer start */
.footer-area{
    background: #192451;
    padding: 80px 0 10px 0;
}
.footer-desc p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #C7CFFE;
}
.footer-nav {
    position: relative;
    margin-top: 38px;
}
.footer-nav ul{
    display: flex;
}
.footer-desc {
    margin-right: 40px;
}
.footer-nav a, .footer-nav span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #FFFFFF;
}
.footer-nav span {
    margin: 0 8px;
}
.footer-call-area {
    background: rgb(255 255 255 / 8%);
    border-radius: 5px;
    padding: 25px;
}
.footer-call-area p, .footer-call-area a{
    color: #FFFFFF;
}

.footer-call-area .footer-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px; 
    color: #FFFFFF;
    margin: 0 ;
}
.footer-call p, .footer-mail a{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px; 
    color: #FFFFFF;
}
.footer-call span{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px; 
    color: #C7CFFE;
}
.footer-mail {
    margin-top: 20px;
} 
.copyright-bottom-info {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px 0 5px 0;
}
.copyright-bottom-info span, .copyright-bottom-info p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #C7CFFE;
}
/* Footer end */




.section-title-content h1{
    font-weight: 300;
    font-size: 44px;
    line-height: 50px;
    color: #000000;
}
.section-title-content p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    line-height: normal; 
    text-align: center;
    color: #000000;
}
.Membership-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem; 
}
.Membership-grid-content {
    padding: 15px;
    background: #000000;
    border-radius: 8px;
    margin-top: -10px;
    z-index: 2;
    position: relative;
    height: 100%;
}
.Membership-grid-list {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Membership-grid-image img {
    width: 100%;
}
.Membership-grid-content h6{
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #FFFFFF;
}
.Membership-grid-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px; 
    color: #FFFFFF;
    margin-bottom: 0;
}
.Enroll-btna-area p{
    font-weight: 600;
    font-size: 16px;
    line-height: 30px; 
    text-align: center;
}
.Enroll-btna-area p a{
    color: #00386C;
}
.Enroll-btn {
    background: #00386C;
    box-shadow: 0px 0px 12px rgb(0 0 0 / 10%);
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 10px;
}
.Enroll-btn:hover {
    background: #00274b; 
    color: #fff;
}
.Enroll-team{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
}
.Enroll-team .Enroll-title{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #00386C;
    margin-bottom: 20px;
}
.Enroll-team li {
    margin-bottom: 10px;
}
.Enroll-team li p{
    margin: 0;
}
.Enroll-team li p a{
    color: #00386C;
    font-weight: 500;
}
.Clickfaq a {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #00386C;
}

.experiences-text h6{
    font-weight: 700;
    font-size: 39px;
    line-height: 57px; 
    color: #000000;
}


.experiences-content {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: rgb(0 0 0 / 70%);
    border-radius: 8px;
    width: 275px;
    padding: 25px;
}
.experiences-content h6{
    font-weight: 700;
    font-size: 26px;
    line-height: 30px; 
    color: #FFFFFF;
}
.experiences-content p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.experiences-content a {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    display: inline-flex;
    gap: 5px;
    align-items: center;
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 5px;
}
.experiences-content a img{
    width: 7px !important;
}

.experiences-slider-area .owl-nav {
    position: absolute;
    right: 10px;
    bottom: 10px;
    opacity: 0.5;
}
.experiences-slider-area button.owl-prev i {
    background: url("/assets/images/infinia/icon/slider-left.svg") no-repeat !important;
    height: 24px;
    width: 24px;
    font-size: 0;
}
.experiences-slider-area button.owl-next i {
    background: url("/assets/images/infinia/icon/slider-right.svg") no-repeat !important;
    height: 24px;
    width: 24px;
    font-size: 0;
    margin-left: 10px;
}


.itc-offer-icons{
    text-align: center;
    margin-top: 20px;
}
.itc-offer-icons ul {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.itc-hotel-offer-text .itc-tags {
    background: #00386C;
    padding: 1px 30px 1px 10px;
    display: inline-block;
    position: relative;
    color: #fff;
    margin-bottom: 15px;
    border-radius: 5px 0px 0px 5px;
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
}
.itc-hotel-offer-text .itc-tags:after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    border-width: 16px 14px 16px 0;
    border-color: transparent #fff transparent transparent;
    border-style: solid;
    right: 0;
    top: 0;
}


.itc-hotel-offer-text h6{
    font-weight: 700;
    font-size: 35px;
    line-height: 47px; 
    color: #000000;
}
.itc-hotel-offer-text p{    
    margin-bottom: 0;
}

 
.itc-accordion .accordion-item {
    background-color: #fff; 
    border: none;
    border-top: 1px dashed rgb(0 0 0 / 50%); 
}
.accordion .accordion-item:nth-last-child(1) {
    border-bottom: 1px dashed rgb(0 0 0 / 50%);
}

.itc-accordion .accordion-button {
    font-weight: 600;
    font-size: 13px;
    line-height: 30px;
    text-transform: uppercase;
    color: #00386C !important;
    padding: 4px 0;
    background: transparent !important;
    box-shadow: none !important;
    border-radius: 0;
}
.itc-accordion  .accordion-body {
    padding: 0;
}
.itc-accordion  .accordion-body p{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; 
    color: #000000;
}
.itc-accordion .accordion-button::after{
    background-image: url("/assets/images/infinia/icon/add.svg");
    background-size: 15px;
}
.itc-accordion .accordion-button:not(.collapsed)::after{
    
    background-image: url("/assets/images/infinia/icon/minus.svg");
    background-size: 15px;
}


.hl-accordion{
    position: relative;
}
.hl-accordion .accordion .accordion-item:nth-last-child(1){
    border: none;
    background: #00386c;
}
.hl-accordion .accordion-button {
    font-weight: 600;
    font-size: 18px;
    line-height: 47px;
    color: #FFFFFF;
    background: #00386C;
    border-radius: 2px;
    padding: 0 10px 0 20px;
    margin: 0;
}
.hl-accordion .accordion-button::after{
    
    background-image: url("/assets/images/infinia/icon/add.png");
    background-size: 15px;
    filter: brightness(0) invert(1);
    transform: none;
}
.hl-accordion .accordion-button:not(.collapsed)::after{
    background-image: url("/assets/images/infinia/icon/minus.png");
    background-size: 15px;
    filter: brightness(0) invert(1);
    transform: none;
}

.hl-accordion .accordion-collapse{
    border: none;
    border-radius: 0;
}

.hl-list-area {
    background: #00386c;
    
}
.inner-hl-list-area{
    border-radius: 8px;
    padding: 20px;
    height: 100%;
}

.inner-hl-list-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 15px;
}
.inner-hl-list-item:nth-last-child(1) {
    margin-bottom: 0;
}
.inner-hl-list-area.inner-hl-list-area-one {
    background: rgb(5 62 115 / 50%); 
}
.inner-hl-list-area.inner-hl-list-area-two {
    background: rgba(9, 71, 129, 0.5); 
}
.inner-hl-list-area.inner-hl-list-area-three {
    background: rgba(25, 89, 149, 0.4); 
}

.inner-hl-list-item p {
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px; 
    color: #FFFFFF;
    position: relative;
    
}
.inner-hl-list-left p {
    
    background: url("/assets/images/infinia/icon/location.svg") no-repeat;
}

.inner-hl-list-left p {
    background: url("/assets/images/infinia/icon/location.svg") no-repeat;
    background-position: 0 6px;
    padding-left: 20px;
}

.inner-hl-list-right p { 
    padding-left: 50px;
}
.inner-hl-list-right p::after {
    content: "............";
    position: absolute;
    width: 40px;
    left: 10px;
    height: 2px;
    font-size: 10px;
    top: -4px;
    opacity: 0.5;
}

.list-disc li{
    list-style-type: disc;
    font-size:10px;
}

@media only screen and (max-width: 991px) {
    .welcome-tabs-box .nav-tabs-ul {
        display: inline-block !important;
        white-space: nowrap !important;
        overflow-x: scroll;
        width: 100%;
    }
    .welcome-tabs-box .nav-tabs-ul li {
        margin-right: 15px;
        display: inline-block;
        position: relative;
    }

    .welcome-tabs-box .nav-tabs-ul::-webkit-scrollbar { 
        background-color: #fff;
    }
    .welcome-tabs-box .nav-tabs-ul::-webkit-scrollbar { 
        background-color: #fff;
    }
    .welcome-tabs-box .nav-tabs-ul::-webkit-scrollbar-button {
        background-color: #fff;
    }
    .welcome-tabs-box .nav-tabs-ul::-webkit-scrollbar-button {
        background-color: #fff;
    }
    .welcome-tabs-box .nav-tabs-ul::-webkit-scrollbar-thumb {
        background-color: #fff;
    }
    .welcome-tabs-box .nav-tabs-ul::-webkit-scrollbar-thumb {
        background-color: #fff;
    }

    .common-table-title ul { 
        width: 100%;
    }
    .benefits-membership-area .common-table-title a {
        padding: 10px 15px;
        line-height: normal;
    }

    
}

@media only screen and (max-width: 568px) {
    .Additional-Benefits-grid-2 { 
        grid-template-columns: repeat(1, 1fr); 
    }


    .page-title-area{ 
        padding: 60px 0 60px 0;
    }
    .page-title-content h1 {
        font-size: 29px;
    }
}

.benefits-icon  img {
    display: inline-block;
    width: 20% !important;
}