<div class="filter-container ">
  <div class="filter-header">
    <div class="header-left">Filters</div>
    <div class="header-right"><a href="javascript:;" (click)="onlyClearSelectionAll()" >Reset All</a></div>
  </div>
  <div class="col-md-12 float-left p0" id="filter-nav">
        <ng-template >
          <div class="">
            <label class="checkbox-cust" >
              <div class="icons-filter"> 
                  <img src="{{cdnUrl}}images/icons/before6AM.svg" />
              </div>
              <div class="label-filter"  >Before 06 AM</div>
              <input type="checkbox" checked="checked" (change)="updateDepartureTimeFilter(departureTimeFilter[0])" [(ngModel)]="departureTimeFilter[0].selected"  [checked]="departureTimeFilter[0].selected" >
              <span class="checkmark-cust"></span>
            </label>
            <label class="checkbox-cust">
              <div class="icons-filter">
                  <img src="{{cdnUrl}}images/icons/6AMTo12PM.svg" />
              </div>
              <div class="label-filter">06 AM - 12 PM</div>
              <input type="checkbox" checked="checked" (change)="updateDepartureTimeFilter(departureTimeFilter[1])" [(ngModel)]="departureTimeFilter[1].selected"  [checked]="departureTimeFilter[1].selected">
              <span class="checkmark-cust"></span>
            </label>
            <label class="checkbox-cust">
              <div class="icons-filter">
                  <img src="{{cdnUrl}}images/icons/12to6PM.svg" />
              </div>
              <div class="label-filter">12 PM - 06 PM</div>
              <input type="checkbox" checked="checked" (change)="updateDepartureTimeFilter(departureTimeFilter[2])" [(ngModel)]="departureTimeFilter[2].selected"  [checked]="departureTimeFilter[2].selected">
              <span class="checkmark-cust"></span>
            </label>
            <label class="checkbox-cust">
              <div class="icons-filter">
                  <img src="{{cdnUrl}}images/icons/After6PM.svg" />
              </div>
              <div class="label-filter">After 06 PM</div>
              <input type="checkbox" checked="checked" (change)="updateDepartureTimeFilter(departureTimeFilter[3])" [(ngModel)]="departureTimeFilter[3].selected"  [checked]="departureTimeFilter[3].selected">
              <span class="checkmark-cust"></span>
            </label>
          </div>
        </ng-template>

        <ng-template >
          <label class="checkbox-cust" >
            <div class="icons-filter"> 
                <img src="{{cdnUrl}}images/icons/before6AM.svg" />
            </div>
            <div class="label-filter">Before 06 AM</div>
            <input type="checkbox" checked="checked" (change)="updateArrivalTimeFilter(arrivalTimeFilter[0])" [(ngModel)]="arrivalTimeFilter[0].selected"   [checked]="arrivalTimeFilter[0].selected">
            <span class="checkmark-cust"></span>
          </label>
          <label class="checkbox-cust">
            <div class="icons-filter">
                <img src="{{cdnUrl}}images/icons/6AMTo12PM.svg" />
            </div>
            <div class="label-filter">06 AM - 12 PM</div>
            <input type="checkbox" checked="checked" (change)="updateArrivalTimeFilter(arrivalTimeFilter[1])" [(ngModel)]="arrivalTimeFilter[1].selected"  [checked]="arrivalTimeFilter[1].selected">
            <span class="checkmark-cust"></span>
          </label>
          <label class="checkbox-cust">
            <div class="icons-filter">
                <img src="{{cdnUrl}}images/icons/12to6PM.svg" />
            </div>
            <div class="label-filter">12 PM - 06 PM</div>
            <input type="checkbox" checked="checked" (change)="updateArrivalTimeFilter(arrivalTimeFilter[2])" [(ngModel)]="arrivalTimeFilter[2].selected"  [checked]="arrivalTimeFilter[2].selected">
            <span class="checkmark-cust"></span>
          </label>
          <label class="checkbox-cust">
            <div class="icons-filter">
                <img src="{{cdnUrl}}images/icons/After6PM.svg" />
            </div>
            <div class="label-filter">After 06 PM</div>
            <input type="checkbox" checked="checked" (change)="updateArrivalTimeFilter(arrivalTimeFilter[3])" [(ngModel)]="arrivalTimeFilter[3].selected"  [checked]="arrivalTimeFilter[3].selected">
            <span class="checkmark-cust"></span>
          </label>
        </ng-template>
        <ng-template >
          <h6>ORIGIN STATIONS</h6>
          <span><i class="material-icons mob-search">search</i>
            <input class="search-sub-filter" #fromstringm (keyup)="searchboarding('boarding',fromstringm.value)" type="text" placeholder="Origin Stations">
          </span>
          <div class="float-left pt-24 filter-common">
            <div class="col-xs-12 p0 search-hint">
            <!--A--> &nbsp;
            </div>
            <label class="checkbox"  *ngFor="let station of fromStations ">{{station.stationName}}
              <input  type="checkbox"   class="magic-checkbox"  (change)="updateFromStationFilter(station)"  [(ngModel)]="station.selected"  value="{{station.stationCode}}"  [checked]="station.selected" /> 
              <span class="checkmark"></span>
            </label>
          </div>
        </ng-template>
        <ng-template >
          <h6>DESTINATION STATIONS</h6>
          <span><i class="material-icons mob-search">search</i>
            <input class="search-sub-filter" #tostringm (keyup)="searchboarding('dropping',tostringm.value)" type="text" placeholder="Destination Stations">
          </span>
          <div class="float-left pt-24 filter-common">
            <div class="col-xs-12 p0 search-hint">
             <!--A--> &nbsp;
            </div>
            <label class="checkbox"  *ngFor="let station of toStations ">{{station.stationName}}
              <input  type="checkbox"   class="magic-checkbox"  (change)="updateToStationFilter(station)"  [(ngModel)]="station.selected"  value="{{station.stationCode}}" [checked]="station.selected" /> 
              <span class="checkmark"></span>
            </label>
          </div>
        </ng-template>
        <ng-template >
          <h6>FARE CLASS</h6>
          <label *ngFor="let classes of availableClasses " class="checkbox" >{{classes.classCode}} - {{classes.className}}
            <input type="checkbox" checked="checked" (change)="updateAvailableClassFilter(classes)"  [(ngModel)]="classes.selected"  value="{{classes.classCode}}" [checked]="classes.selected">
            <span class="checkmark"></span>
          </label>
        </ng-template>
        <ng-template >
          <h6>TRAIN TYPE</h6>
          <label *ngFor="let ttype of trainTypes " class="checkbox" >{{ttype.trainTypeName}}
            <input type="checkbox" checked="checked" (change)="updateTrainTypeFilter(ttype)"  [(ngModel)]="ttype.selected"  value="{{ttype.trainTypeCode}}" [checked]="ttype.selected">
            <span class="checkmark"></span>
          </label>
        </ng-template>

  </div>
  <!-- <div class="filter-footer">
      <div class="float-left w-50 footer-left"><button class="btn-footer" (click)="clearSelectionAll()" >CANCEL</button></div>
      <div class="float-right w-50 footer-right"><button class="btn-primary-footer" (click)="applyFil()">APPLY</button></div>
  </div> -->
</div>
<div class="w-filter train_filter_section" id="w-filter">
  <!-- <div class="filter-w-header w-100 float-left">
    <div class="filter-left-header float-left">Filters</div>
    <div class="filter-right-header float-right"><a href="javascript:;" (click)="clearSelectionAll()">Reset All</a></div>
  </div> -->

  <mat-accordion>
    <mat-expansion-panel [expanded]="true" *ngIf="isMobile">
      <mat-expansion-panel-header class="h_auto">
       Quota
      </mat-expansion-panel-header>
     <!-- 
          <div>
            <mat-radio-group [(ngModel)]="selectedQuota" class="quota_flex">
            <mat-radio-button class="quota_btn" *ngFor = "let quota of avlQuota " [value]="quota.quotaCode">
              {{quota.quotaName}}
            </mat-radio-button>
          </mat-radio-group>
          </div> -->
          <label class="check-control" *ngFor="let quota of avlQuota">
          <input type="radio" class="quotas" (change)="updateTosSelectedQuota(quota)"  [(ngModel)]="selectedQuota"  [value]="quota.quotaCode"  [checked]="quota.selected"  />
         {{quota.quotaName}}
        </label>
      

    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true" >
      <mat-expansion-panel-header class="h_auto">
       Train Timings
      </mat-expansion-panel-header>
      <div class="mb-3">
        <p class="train_timeTitle">Departing Train ({{fromStationcode}} - {{toStationcode}})</p>
      <div class="departure_check flex-items">

        <label class="checkbox-cust " [ngClass]="{ 'active_bg': departureTimeFilter[0].selected }">
          <div class="filter_category_icons px-1">
            <img src="{{cdnUrl}}images/icons/before6AM.svg" />
          </div>
          <div class="label-filter">Before  06 AM</div><input checked="checked" type="checkbox" (change)="updateDepartureTimeFilter(departureTimeFilter[0])" [(ngModel)]="departureTimeFilter[0].selected"  [checked]="departureTimeFilter[0].selected" ><span class="checkmark-cust"></span>
        </label>
        <label class="checkbox-cust" [ngClass]="{ 'active_bg': departureTimeFilter[1].selected }">
          <div class="filter_category_icons px-1">
            <img src="{{cdnUrl}}images/icons/6AMTo12PM.svg" />
          </div>
          <div class="label-filter">06 AM - 12 PM</div><input checked="checked" type="checkbox" (change)="updateDepartureTimeFilter(departureTimeFilter[1])" [(ngModel)]="departureTimeFilter[1].selected" [checked]="departureTimeFilter[1].selected" ><span class="checkmark-cust"></span>
        </label>
        <label class="checkbox-cust" [ngClass]="{ 'active_bg': departureTimeFilter[2].selected }">
          <div class="filter_category_icons px-1">
            <img src="{{cdnUrl}}images/icons/12to6PM.svg" />
          </div>
          <div class="label-filter">12 PM - 06 PM  </div><input checked="checked" type="checkbox" (change)="updateDepartureTimeFilter(departureTimeFilter[2])" [(ngModel)]="departureTimeFilter[2].selected" [checked]="departureTimeFilter[2].selected" ><span class="checkmark-cust"></span>
        </label>
        <label class="checkbox-cust" [ngClass]="{ 'active_bg': departureTimeFilter[3].selected }">
          <div class="px-1 filter_category_icons"> 
            <img src="{{cdnUrl}}images/icons/After6PM.svg" />
          </div>
          <div class="label-filter">After 06 PM</div><input checked="checked" type="checkbox" (change)="updateDepartureTimeFilter(departureTimeFilter[3])" [(ngModel)]="departureTimeFilter[3].selected" ><span class="checkmark-cust"></span>
        </label>
      </div>
      <p class="train_timeTitle">Arrival Train ({{fromStationcode}}- {{toStationcode}})</p>
      <div class="arrival_check flex-items">
        <label class="checkbox-cust" [ngClass]="{ 'active_bg': arrivalTimeFilter[0].selected }">
          <div class="filter_category_icons px-1">
              <img src="{{cdnUrl}}images/icons/before6AM.svg" />
          </div>
          <div class="label-filter">Before 06 AM</div><input checked="checked" type="checkbox" (change)="updateArrivalTimeFilter(arrivalTimeFilter[0])" [(ngModel)]="arrivalTimeFilter[0].selected" [checked]="arrivalTimeFilter[0].selected" ><span class="checkmark-cust"></span>
        </label>
        <label class="checkbox-cust" [ngClass]="{ 'active_bg': arrivalTimeFilter[1].selected }">
          <div class="filter_category_icons px-1">
              <img src="{{cdnUrl}}images/icons/6AMTo12PM.svg" />
          </div>
          <div class="label-filter">06 AM - 12 PM </div><input checked="checked" type="checkbox" (change)="updateArrivalTimeFilter(arrivalTimeFilter[1])" [(ngModel)]="arrivalTimeFilter[1].selected"  [checked]="arrivalTimeFilter[1].selected"><span class="checkmark-cust"></span>
        </label>
        <label class="checkbox-cust" [ngClass]="{ 'active_bg': arrivalTimeFilter[2].selected }">
          <div class="filter_category_icons px-1">
              <img src="{{cdnUrl}}images/icons/12to6PM.svg" />
          </div>
          <div class="label-filter">12 PM - 06 PM </div><input checked="checked" type="checkbox" (change)="updateArrivalTimeFilter(arrivalTimeFilter[2])" [(ngModel)]="arrivalTimeFilter[2].selected"  [checked]="arrivalTimeFilter[2].selected"><span class="checkmark-cust"></span>
        </label>
        <label class="checkbox-cust" [ngClass]="{ 'active_bg': arrivalTimeFilter[3].selected }">
          <div class="filter_category_icons px-1">
              <img src="{{cdnUrl}}images/icons/After6PM.svg" />
          </div>
          <div class="label-filter">After 06 PM</div><input checked="checked" type="checkbox" (change)="updateArrivalTimeFilter(arrivalTimeFilter[3])" [(ngModel)]="arrivalTimeFilter[3].selected"  [checked]="arrivalTimeFilter[3].selected"><span class="checkmark-cust"></span>
        </label>
      </div>
      </div>

    </mat-expansion-panel>

    
    <mat-expansion-panel>
      <mat-expansion-panel-header class="h_auto">
        Origin Station(s)
      </mat-expansion-panel-header>
      <!-- <h6>DROPPING POINT</h6> -->
      <span><i class="material-icons icn_search">search</i>
      <input class="search-sub-filter" #fromstring (keyup)="searchboarding('boarding',fromstring.value)" type="text" placeholder="Origin Stations">
    </span>
      <div class="float-left pt-24 filter-common">
        <div class="col-xs-12 p0 search-hint">
         <!--A--> &nbsp;
        </div>
        <label class="check-control" *ngFor="let station of fromStations">
          <input type="checkbox" (change)="updateFromStationFilter(station)"  [(ngModel)]="station.selected"   [checked]="station.selected"  />
          {{station.stationName}}
        </label>
      </div>
      
    </mat-expansion-panel>
    

    <mat-expansion-panel>
      <mat-expansion-panel-header class="h_auto">
        Destination Station(s)
      </mat-expansion-panel-header>
      <!-- <h6>OPERATORS</h6> -->
      <span><i class="material-icons icn_search">search</i>
      <input class="search-sub-filter" #tostring (keyup)="searchboarding('dropping',tostring.value)" type="text" placeholder="Destination Stations">
    </span>
      <div class="float-left pt-24 filter-common">
        <div class="col-xs-12 p0 search-hint">
         <!--A--> &nbsp;
        </div>
        
        <label class="check-control" *ngFor="let station of toStations">
          <input type="checkbox" (change)="updateToStationFilter(station)"  [(ngModel)]="station.selected"  value="{{station.stationCode}}"  [checked]="station.selected"  />
          {{station.stationName}}
        </label>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="h_auto">
        Journey Class Filters
      </mat-expansion-panel-header>
        <label class="check-control" *ngFor="let classes of availableClasses ">
          <input type="checkbox" (change)="updateAvailableClassFilter(classes)"  [(ngModel)]="classes.selected"  value="{{classes.classCode}}"  [checked]="classes.selected"  />
          {{classes.classCode}} - {{classes.className}}
        </label>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="h_auto">
        Train Type
      </mat-expansion-panel-header>
      <!-- <label *ngFor="let ttype of trainTypes " class="checkbox" >{{ttype.trainTypeName}}
          <input type="checkbox" checked="checked" (change)="updateTrainTypeFilter(ttype)"  [(ngModel)]="ttype.selected"  value="{{ttype.trainTypeCode}}"  [checked]="ttype.selected">
          <span class="checkmark"></span>
        </label> -->
        <label class="check-control" *ngFor="let ttype of trainTypes">
          <input type="checkbox" (change)="updateTrainTypeFilter(ttype)"  [(ngModel)]="ttype.selected"  value="{{ttype.trainTypeCode}}"  [checked]="ttype.selected"  />
          {{ttype.trainTypeName}}
        </label>
    </mat-expansion-panel>
    <!-- <mat-expansion-panel>
      <mat-expansion-panel-header>
        ADDITIONAL FILTERS
      </mat-expansion-panel-header>
      <label class="checkbox">Seater (27)
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
          <div class="icons float-right">fef</div>
        </label>
        <label class="checkbox">Sleeper (33)
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
          <div class="icons float-right">fef</div>
        </label>
        <label class="checkbox">AC (56)
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
          <div class="icons float-right">fef</div>
        </label>
    </mat-expansion-panel> -->
  </mat-accordion>
</div>
