.head_title {
    font-family: 'opensans-light';
    font-size: 40px;
    margin: 20px 0;
    @media only screen and (max-width: 600px) {
        font-size: 22px;
        font-weight: 400;
        margin: 15px 0;
    }
}

.view_all {
    font-size: 14px;
    a {
        font-family: 'opensans-medium';
    }
}

.container-hftab-pad {
    padding: 20px 40px !important;
    @media screen and (max-width: 600px) {
        padding: 10px 20px !important;
    }
}

.container_hftab-none {
    @media screen and (max-width: 600px) {
        padding: 0px !important;
    }
}

.container-hftab-deals {
    padding: 20px 90px !important;
}

.bg-order-deals {
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    // padding: 25px 60px;
    padding: 25px 0px;
}

.banner_sec {
    position: relative;
    width: 100%;
    overflow: hidden;
    .new_btn_position { 
        position: absolute;
        top: 10%;
        width: 100%;
        text-align: center;
        .new_show {
            font-size: 14px;
            text-transform: capitalize;
            border-radius: 50px;
            padding: 5px 20px;
            width: 100px;
            margin: 0 auto;
            text-align: center;
            background-color: #000;
        }
    }
    img {
        width: 100%;
        height: auto;
        @media only screen and (max-width: 600px) {
            height: 180px;
            object-fit: cover;
        }
    }
    .banner_content {
        position: absolute;
        top: 30%;
        width: 100%;
        text-align: center;
        p {
            font-family: 'opensans-bold';
            font-size: 40px;
            line-height: 60px;
            @media only screen and (max-width: 600px) {
                font-size: 16px;
                line-height: normal;
                margin-top: 15px;
                padding: 0px 30px;
            }
        }
    }
}

.try_nw_btn {
    width: 150px;
}

