<section class="flight-area mt-150" *ngIf="!isMobile">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="travel-box mb-20" >
                    <app-bus-search modifySearch="true"  isViewPartner="false"></app-bus-search>
                 </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <div class="flight-partners">
                      <p>Powered By:</p>
                      <ul class="list-inline ms-3">
                          <li class="list-inline-item" >
                              <img src="{{cdnUrl}}/images/smartbuy/partner/svg/redbus.svg" width="50" alt="redbus">
                          </li>

                      </ul>
                  </div>
              </div>
          </div>

            <div class="col-lg-12">
                <div class="layout-box">
                  <div class="layout-left">
                    <div class="filter-loaders animation-loader" *ngIf="loading">
                      <div class="filter-loader border-0" *ngFor="let dummy of dummyForLoader">
                          <div class="filter-loader-content ">
                             <ngx-skeleton-loader [theme]="{   'border-radius': '0',height: '10px', width:'25%',  'margin-bottom': '10px'  }"></ngx-skeleton-loader>
                             <ngx-skeleton-loader [theme]="{   'border-radius': '0',height: '15px', width:'50%', 'margin-bottom': '10px'  }"></ngx-skeleton-loader>
                             <ngx-skeleton-loader [theme]="{   'border-radius': '0',height: '25px', width:'100%', 'margin-bottom': '10px'  }"></ngx-skeleton-loader>
                          </div>
                      </div>

                  </div>

                        <div [hidden]="loading">
                        <ng-container *ngIf="busResults">
                        <app-filter [busResults]="busResults" (childEvent)="updateDeparture($event)" (arrivalFilterEvent)="updateArrival($event)" [boardingpoints] = "boardingpoints" (boardingfilterEvent)="updateBoardingFilter($event)"
                        [droppingpoints] = "droppingpoints" (droppingfilterEvent)="updateDroppingFilter($event)"
                        [availableClasses] = "availableClasses" (classesfilterEvent)="updateClassesFilter($event)"
                        [operators] = "operators" (operatorsfilterEvent)="updateOperatorsFilter($event)"
                        (removeallfilters) = "clearSelectionAll()"
                        [departureTimeFilter] = "departureTimeFilter"
                        [arrivalTimeFilter]="arrivalTimeFilter"
                        [amenities] = "amenities" (amenitiesfilterEvent)="updateamenitiesFilter($event)"
                        (applyFilter) = "onFilter()"
                        (searchboard) = "searchboarding($event)"
                        ></app-filter>
                        </ng-container>
                        </div>

                </div>

                    <div class="layout-right">


                        <div class="flightsfound" [hidden]="loading">
                            <div class="flight-tosearch">
                                <h6>
                                   <i class="fa fa-bus"></i>
                                    {{busfrom}} to {{busto}}
                                    <small>{{departure | date:"EEE ,dd MMM"}}</small>
                                </h6>

                                <div class="flight-search-filters-right">
                                <mat-form-field>
                                <mat-select [(value)]="selected" placeholder={{Sortby}} [ngClass]="{showSortbuy: showSortbuy}">
                                <mat-option value="Price (Low to High)" selected (click)="orderBy('rating')">Rating</mat-option>
                                <mat-option value="Price (Low to High)" (click)="orderBy('price-low-high')">Price (Low to High)</mat-option>
                                <mat-option value="Price (High to Low)" (click)="orderBy('price-high-low')">Price (High to Low)</mat-option>
                                <mat-option value="Leave Early" (click)="orderBy('leave-early')">Leave Early</mat-option>
                                <mat-option value="Leave Late" (click)="orderBy('leave-late')">Leave Late</mat-option>
                                <mat-option value="Seats Availability" (click)="orderBy('seats-availability')">Seats Availability</mat-option>
                                </mat-select>
                                </mat-form-field>
                                </div>
                            </div>
                            <div class="flight-search-filters">
                                <div class="flight-search-filters-left">
                                    <p *ngIf="busResults">{{(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length}} bus found</p>
                                </div>
                            </div>
       
                           </div>
                        <div class="tabletitle-area" [hidden]="loading">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="tabletitle-content">
                                        <p>Airlines</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="tabletitle-content tabletitle-departure">
                                        <p>Departure</p>
                                        <p>Arrival</p>
                                        <p>Duration</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="tabletitle-content">
                                        <p>Partner</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="tabletitle-content">
                                        <p class="ml-10">Fare</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Listing -->
                        <div class="flight-listing-area" *ngIf="loading" >
                          <div class="listing-loader animation-loader mt-2" *ngFor="let dummy of dummyForLoader">
                                <div class="filter-loader-content w-100">
                                <span style="width:15%;"><ngx-skeleton-loader  [theme]="{ width: '100px', height: '100px' }"></ngx-skeleton-loader></span>
                                <span class="float-right" style="width:85%;" >
                                <ngx-skeleton-loader [theme]="{   'border-radius': '0',height: '10px',width: '50%',  'margin-bottom': '10px'  }"></ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{ 'border-radius': '0',height: '20px',width: '75%',  'margin-bottom': '10px'  }">  </ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{ 'border-radius': '0',height: '30px',width: '100%',  'margin-bottom': '10px'  }">  </ngx-skeleton-loader>
                                </span>
                                </div>
                          </div>
                        </div>

                        <div class="flight-listing-area" *ngIf="!loading && busResults.length > 0">
                                <span *ngIf="(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length>0" >  
                                <list-component *ngFor="let bus of rtc | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy ; let busrow = index;"
                                [parentSubject]="parentSubject" [bus]="bus" [tag]="tag" [params]="params" [rowvalue] = "busrow" [isrtc]="rtctotal[rtc[0].lowercase]" 
                                (seatSelected)="seatSelected($event)" ></list-component> 
                                </span>
                                <span *ngIf="(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length>0" >  
                                <list-component *ngFor="let bus of busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy ; let busrow = index;"
                                [parentSubject]="parentSubject" [bus]="bus" [tag]="tag" [params]="params" [rowvalue] = "busrow" [isrtc]="isrtc"  (seatSelected)="seatSelected($event)"></list-component>
                                </span>

                        </div>
                         <div class="text-center" *ngIf="!loading && busResults.length < 1">No bus found</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Mobile Screen starts-->

<section class="mob-flights-listing" *ngIf="isMobile">
  <div class="container">
      <div class="row">
          <div class="col-md-12 p-0 fixed-top"  >
              <div class="mob-listing-header">
                  <div class="mob-listing-header-left">
                      <a href="javascript:;" routerLink="/compare-fly" >
                          <img src="{{cdnUrl}}/images/icons/left.png" alt="" />
                      </a>
                  </div>
                  <div class="mob-listing-header-center">
                      <h6>{{busfrom}} - {{busto}}</h6>
                      <p>{{departure | date:'EEE, dd MMM' }}   </p>
                  </div>
                  <div class="mob-listing-header-right">
                      <a href="javascript:;" routerLink="/bus" >
                          <img src="{{cdnUrl}}/images/icons/edit.png" alt="" />
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-md-12 mt-70" *ngIf="!loading">
              <div class="mob-listing-fiters">
                  <h6> <p *ngIf="busResults">{{(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length}} bus found</p></h6>
                  <a href="javascript:void(0)" (click)="openMobileFilterSection()">
                      <img src="{{cdnUrl}}/images/icons/filter.png" alt="">
                      <span>Sort/Filters</span>
                  </a>
              </div>
          </div>



          <div class="col-md-12">
            <div *ngIf="loading">
              <div  class="filter-loader border-0" *ngFor="let dummy of dummyForLoader">
                          <div class="filter-loader-content w-100">
                              <span class=" w-25"><ngx-skeleton-loader  [theme]="{ width: '80px', height: '80px' }"></ngx-skeleton-loader></span>
                              <span class="w-75 float-right">
                             <ngx-skeleton-loader [theme]="{   'border-radius': '0',height: '10px',width: '50%',  'margin-bottom': '10px'  }"></ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{ 'border-radius': '0',height: '15px',width: '75%',  'margin-bottom': '10px'  }">  </ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{ 'border-radius': '0',height: '20px',width: '100%',  'margin-bottom': '10px'  }">  </ngx-skeleton-loader>
                               </span>
                          </div>
                      </div>
                 </div>
                  <div class="text-center" *ngIf="!loading && busResults.length < 1">No bus found</div>
               <span *ngIf="(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length>0" >  
                                <list-component *ngFor="let bus of rtc | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy ; let busrow = index;"
                                [parentSubject]="parentSubject" [bus]="bus" [tag]="tag" [params]="params" [rowvalue] = "busrow" [isrtc]="rtctotal[rtc[0].lowercase]" 
                                (seatSelected)="seatSelected($event)" ></list-component> 
                                </span>
                                <span *ngIf="(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length>0" >  
                                <list-component *ngFor="let bus of busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy ; let busrow = index;"
                                [parentSubject]="parentSubject" [bus]="bus" [tag]="tag" [params]="params" [rowvalue] = "busrow" [isrtc]="isrtc"  (seatSelected)="seatSelected($event)"></list-component>
                                </span>
          </div>



 <!-- ------------------------------
            >>> mobile Sort Filters
        ---------------------------------->
        <div class="mob-sf-area" id="sortMobileFilter" *ngIf="isMobile">

          <div class="mob-sf-box">
              <div class="mob-title">
                  <h3>Sort & Filters</h3>
                  <a href="javascript:void(0)" (click)="CloseSortingSection()" class="mob-close mob-ff-from-close">
                      <img src="{{cdnUrl}}/images/icons/close.png" alt="">
                  </a>
              </div>
              <div class="mob-sf-tabs">
                  <ul class="nav nav-tabs">
                      <li>
                          <a class="active" href="#Sort" role="tab" aria-controls="Sort" data-bs-toggle="tab">Sort by</a>
                      </li>
                      <li class="nav-item">
                          <a href="#Filters" role="tab" aria-controls="Filters" data-bs-toggle="tab">Filters</a>
                      </li>
                  </ul>
                  <div class="tab-content clearfix">
                      <div class="tab-pane active" id="Sort" role="tabpanel" aria-labelledby="Sort-tab">
                          <div class="mob-sf-sort">
                              <div class="mob-sf-sort-by">
                                           <mat-form-field>
                                <mat-select [(value)]="selected" placeholder={{Sortby}} [ngClass]="{showSortbuy: showSortbuy}">
                                <mat-option value="Price (Low to High)" selected (click)="orderBy('rating')">Rating</mat-option>
                                <mat-option value="Price (Low to High)" (click)="orderBy('price-low-high')">Price (Low to High)</mat-option>
                                <mat-option value="Price (High to Low)" (click)="orderBy('price-high-low')">Price (High to Low)</mat-option>
                                <mat-option value="Leave Early" (click)="orderBy('leave-early')">Leave Early</mat-option>
                                <mat-option value="Leave Late" (click)="orderBy('leave-late')">Leave Late</mat-option>
                                <mat-option value="Seats Availability" (click)="orderBy('seats-availability')">Seats Availability</mat-option>
                                </mat-select>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="mob-sf-btns">
                              <a href="javascript:void(0)" (click)="applySortingMobile()">Apply</a>
                          </div>
                      </div>
                      <div class="tab-pane" id="Filters" role="tabpanel" aria-labelledby="Filters-tab">
                          <div class="mob-sf-filters">
                              <div class="mob-sf-accordion">
                                   <ng-container *ngIf="busResults">
                        <app-filter [busResults]="busResults" (childEvent)="updateDeparture($event)" (arrivalFilterEvent)="updateArrival($event)" [boardingpoints] = "boardingpoints" (boardingfilterEvent)="updateBoardingFilter($event)"
                        [droppingpoints] = "droppingpoints" (droppingfilterEvent)="updateDroppingFilter($event)"
                        [availableClasses] = "availableClasses" (classesfilterEvent)="updateClassesFilter($event)"
                        [operators] = "operators" (operatorsfilterEvent)="updateOperatorsFilter($event)"
                        (removeallfilters) = "clearSelectionAll()"
                        [departureTimeFilter] = "departureTimeFilter"
                        [arrivalTimeFilter]="arrivalTimeFilter"
                        [amenities] = "amenities" (amenitiesfilterEvent)="updateamenitiesFilter($event)"
                        (applyFilter) = "onFilter()"
                        (searchboard) = "searchboarding($event)"
                        ></app-filter>
                        </ng-container>
                                
                              </div>
                              <div class="mob-sf-btns">
                                  <a href="javascript:void(0)" (click)="onApplyFilter()">Apply</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
       </div>
      </div>
</section>
<!--Mobile Screen ends-->

    <a href="javascript:void(0)"  (click)="moveTop()"  class="scrollToTop" >
        <i class="far fa-dot-circle"></i>
        <span>Top</span>
    </a>
