@import '../../../assets/sharedscss/color';
@import '../../../assets/sharedscss/spacing';


$break-mob-3: 320px;
$break-mob-2: 375px;
$break-mob-1: 425px;
$break-md-tab: 768px;
//   @media screen and (max-width: 768px) and (min-width: 426px)


app-header{
    @media screen and (max-width: $break-mob-1) {
        display: none;
      }
}

.list-back{
    position: relative;
    left: 0;
    display: block;
    width: 20px;
    float: left;
    height: 100%;
    padding-left: 5px;
}
.list-back-title{
    background: $color-dark-blue;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px){
        display: none;
    }
}
.list-back-title-diners{
    background: #020812;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px){
        display: none;
    }
}
.list-back-title-infinia{
    background: #0e255e;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px){
        display: none;
    }
}
.list-back-title-regalia{
    background: #61471d;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px){
        display: none;
    }
}
.list-back-title-corporate{
    background: #000000;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px){
        display: none;
    }
}
.list-back-title-business{
    background: #001f79;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px){
        display: none;
    }
}
.bus_found{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    background: rgba(29, 134, 255, 0.1);
    border-radius: 8px;
    padding: 8px 10px;
  }
.m-locations{
    margin: 0px 30px;
}
.mobile-date-carousel{
    @media screen and (min-width: 769px){
        display: none;
    }
}
.right-arrow, .left-arow{
    color: $color-dark-blue;
}
.xs-mar{
    @media screen and (max-width: $break-mob-1) {
        margin-bottom: 20%;
    }
}
.not-found-img{
    height: 400px;
    position: relative;
    text-align: center;
    top: 55px;
    @media screen and (max-width: $break-mob-1) {
        height: 400px;
        top: 40px;
    }
    .title{
        font-size: 18px;
        font-family: opensans-medium;
        margin-top: 25px;
        margin-bottom: 5px;
    }
    .caption{
        font-size: 12px;
        font-family: opensans-regular;
    }
    .modify-btn{
        font-size: 12px;
        color: $color-white;
        font-family: opensans-medium;
    }
  .not-found{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
}

.modify-search{
    @media screen and (max-width: $break-md-tab){
        display: none;
    }
}
.sort{
    @media screen and (min-width: 1025px){
        width: 25%
    }
    @media screen and (max-width: 1024px) and (min-width: 769px){
        width: 30%
    }
    @media screen and (max-width: 768px) and (min-width: 426px){
        width: 40%
    }
}

.list-row {
    box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
    border: solid 1px #ecf2f6;
    background-color: $color-white;
    padding: 14px 18px;

    .label-name {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $size-base;
        color: $color-dark-gray;
    }

    .label-gary {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $size-small;
        color: $color-dark-gray-01;
    }
}
.footer-btn {
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    .w-50 {
        //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
        background-color: $color--white-blue;
        height: 54px;
        padding: 10px 0;
        border-right: 1px solid rgba(25, 25, 25, 0.2);

        &:nth-child(2) {
            border: 0;
        }

        .blue-label {
            text-align: center;
            font-size: $size-x3-small;
            color: $color-vivid-blue;
        }
    }

    .btn-footer-cust {
        text-align: center;
        font-size: 14px;
        line-height: 1.29;
        color: $color-dark-gray;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 425px) and (min-width: 320px){
    .footer-btn-diners {
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 1;
        .w-50 {
            //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
            background-color: #020812;
            height: 54px;
            padding: 10px 0;
            border-right: 1px solid #ffffff;
    
            &:nth-child(2) {
                border: 0;
            }
    
            .blue-label {
                text-align: center;
                font-size: $size-x3-small;
                color: $color-vivid-blue;
            }
        }
    
        .btn-footer-cust {
            text-align: center;
            font-size: 14px;
            line-height: 1.29;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
    
}

@media screen and (max-width: 425px) and (min-width: 320px){
    .footer-btn-infinia {
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 1;
        .w-50 {
            //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
            background-color: #0e255e;
            height: 54px;
            padding: 10px 0;
            border-right: 1px solid #ffffff;
    
            &:nth-child(2) {
                border: 0;
            }
    
            .blue-label {
                text-align: center;
                font-size: $size-x3-small;
                color: $color-vivid-blue;
            }
        }
    
        .btn-footer-cust {
            text-align: center;
            font-size: 14px;
            line-height: 1.29;
            color: #ffffff;
            text-transform: uppercase;
        }
    }

}




.list-card,.list-card-m {
    box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
    border: solid 1px #ecf2f6;
    background-color: $color-white;
    padding-left: 30px;
    margin: 5px 0px;
    @media screen and (max-width: 425px) and (min-width: 320px){
        margin: 0px 0px;
    }
    .label-name{
        font-size: 18px;
        font-weight: bold;
        color:$color-dark-gray;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        @media screen and (max-width: 425px) and (min-width: 320px){
            font-size: 12px;
        }
    }
    .label-name-large{
        font-size: 16px;
        font-weight: bold;
        color:$color-dark-gray;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .label-gray{
        font-size: $size-small;
        line-height: 1.5;
        text-align: left;
        color: $color-dark-gray-01;
    }

    .next-button {
        width: 37px;
        height: 100px;
        box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
        background-color: $color-vivid-blue;
        float: right;
        position: relative;
        left: 16px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        @media screen and (max-width: 425px) and (min-width: 320px){
            width: 60px;
            height: 90px;
            position: absolute;
            right: 0px;
            left: auto;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
    i.material-icons{
        position: relative;
        left: 25%;
    }
        }
        i.material-icons{
            color: $color-white;
            cursor: pointer;
        }
    }
}
.list-card-m{
    padding-left: 15px;
}
.pt-20{
    padding-top: 10px;
}
.web-pad{
    padding-top: 18px;
    @media screen and (max-width: 425px) and (min-width: 320px){
        padding-top: 0px;
    }
}
@media (max-width: 720px) {
    .m-c-0{
        margin-left: 0;
        margin-right: 0;
    }
    .p-cut-0{
        padding-left: 0;
    
    }
}

// .next-button > i:focus {
//     transform: rotate(90deg) !important;
//   }
.next-button i:focus {
    animation: rotate 1s ease-in-out 0s;
  }
  
  @keyframes rotate {
      from { transform: rotate(0deg); }
      to { transform: rotate(90deg); }
  } 


.custom-date-list{
    margin-top: 0px;
    margin-bottom: 10px;
}

.custom-direction{
    top: 8px;
}

.sort-by-w{
    width: 40%
}

.redbus-logo{
    font-size: 15px;
    // opacity: 0.6;
    // float: right;
    text-align: left;
    float: left;
    font-family: opensans-regular;
    text-transform: uppercase;
    color: $color-dark-gray;
    display: inline-block;
    margin-top: 1.5em;
    padding-left: 10px;
    img{
      width: 80px;
    //   margin-left: 10px;
    }
  }

  @media screen and (max-width: 425px) and (min-width: 319px){
  .footer-btn-regalia {
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    .w-50 {
        //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
        background-color: #61471d;
        height: 54px;
        padding: 10px 0;
        border-right: 1px solid #ffffff;

        &:nth-child(2) {
            border: 0;
        }

        .blue-label {
            text-align: center;
            font-size: $size-x3-small;
            color: $color-vivid-blue;
        }
    }

    .btn-footer-cust {
        text-align: center;
        font-size: 14px;
        line-height: 1.29;
        color: #ffffff;
        text-transform: uppercase;
    }
}
  }

  @media screen and (max-width: 425px) and (min-width: 319px){
    .footer-btn-corporate {
      bottom: 0;
      width: 100%;
      left: 0;
      z-index: 1;
      .w-50 {
          //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
          background-color: #000000;
          height: 54px;
          padding: 10px 0;
          border-right: 1px solid #ffffff;
  
          &:nth-child(2) {
              border: 0;
          }
  
          .blue-label {
              text-align: center;
              font-size: $size-x3-small;
              color: $color-vivid-blue;
          }
      }
  
      .btn-footer-cust {
          text-align: center;
          font-size: 14px;
          line-height: 1.29;
          color: #ffffff;
          text-transform: uppercase;
      }
  }
    }
    
  @media screen and (max-width: 425px) and (min-width: 319px){
    .footer-btn-business {
      bottom: 0;
      width: 100%;
      left: 0;
      z-index: 1;
      .w-50 {
          //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
          background-color: #001f79;
          height: 54px;
          padding: 10px 0;
          border-right: 1px solid #ffffff;
  
          &:nth-child(2) {
              border: 0;
          }
  
          .blue-label {
              text-align: center;
              font-size: $size-x3-small;
              color: $color-vivid-blue;
          }
      }
  
      .btn-footer-cust {
          text-align: center;
          font-size: 14px;
          line-height: 1.29;
          color: #ffffff;
          text-transform: uppercase;
      }
    }
    }    


    .bus-gap{
        margin-top:14em;
    }
    
    
    
.covid-header{
    text-align: center;
    background-color: #015297;
    padding: 5px 20px;
    color: #fff;
}

  .w-covid-popup .modal_row {
    color:#000;
    text-align: left;
    margin-top: 10px;
    
  }

  
   .btn-c{
    border: 1px solid $color-blue-btn;
    background: $color-blue-btn;
    color: $color-white;
    cursor: pointer;
   }


   .mat-form-field-infix {
    width:fit-content !important;
   }


.bus_type{
    font-size: 12px;
    color: #00000050;
    font-weight: 500;
}


//    mobile view filter extra css
.date_sm_round{
    width:22px;
    height:22px;
    line-height: 18px;
    background: #1D86FF10;
    text-align:center;
    border-radius:50%;
    margin:5px;
}
.mob-listing-header{
    padding:10px;
}
.invrt_img{
    transform: rotate(180deg);
}


// mobile
.mob-sf-tabs {
    ul{
        height:101%;
        background: rgba(29, 134, 255, 0.07);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        li{
            a{
                background: none;
            }
            a.active{
                background: #1D86FF;
                box-shadow: 0px 5px 11px rgba(29, 134, 255, 0.25);
                border-radius: 8px;
                color:#fff;
            }

        }
    }
}
.m_sort_text{
    font-size:9px;
    color:#000000;
}
.m_sort_text50{
    font-size:9px;
    color:#00000050;
}
.m_sort_flex_div{

    .checkbox-cust{
        display:flex;
        align-items:center;
        justify-content: flex-start;
        padding:5px;
        border-radius: 5px;
        margin-top:15px;
        background: rgba(29, 134, 255, 0.03);
        border: 1px solid rgba(29, 134, 255, 0.07);
        // gap:8px;
        gap:0px;
        img{
            width:15px;
            height:15px;
        }
        input{
            visibility:hidden;
        }
        &:hover{
            background-color:none;
        }
    }
    .checkbox-cust.selected{
        background: #1d86ff20;
        border: 1px solid #1d86ff25;
        img{
            filter: invert(39%) sepia(33%) saturate(5897%) hue-rotate(203deg) brightness(108%) contrast(101%);
        }
    }
}
// end of mobile
.empty_list_hdr{
font-family: 'opensans-regular';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 41px;
color: #000000;
margin-top:1rem;
margin-bottom:1rem;
@media screen and (max-width: 600px){
   font-size:20px;
}
}
.empty_list_btn{
    background: #1D86FF;
    border-radius: 8px;
    font-family: 'opensans-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding:10px 45px;
    @media screen and (max-width: 600px){
        width:100%;
     }
}
.bus-breadcrumb-item{
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #1D86FF;
}
.bus-breadcrumb-item.active{
    color: #555555;
}
