<section class="flight-area mt-150" *ngIf="!isMobile">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item bus-breadcrumb-item"><a href="javascript:;" routerLink="/bus" >Home</a></li>
                        <li class="breadcrumb-item bus-breadcrumb-item"><a href="javascript:;">Travel & Stays</a></li>
                        <li class="breadcrumb-item bus-breadcrumb-item active" aria-current="page">Buses</li>
                    </ol>
                </nav>

            </div>
            <div class="col-lg-12">
                <div class="travel-box mb-20" >
                    <app-bus-search modifySearch="true"  isViewPartner="false"></app-bus-search>
                 </div>
            </div>
            <!-- <div class="row">
              <div class="col-md-12">
                  <div class="flight-partners">
                      <p>Powered By:</p>
                      <ul class="list-inline ms-3">
                          <li class="list-inline-item" >
                              <img src="{{cdnUrl}}/images/smartbuy/partner/svg/redbus.svg" width="50" alt="redbus">
                          </li>

                      </ul>
                  </div>
              </div>
          </div> -->

            <div class="col-lg-12">
                <div class="layout-box">
                  <div class="layout-left">
                    <div class="filter-loaders animation-loader" *ngIf="loading">
                      <div class="filter-loader border-0" *ngFor="let dummy of dummyForLoader">
                          <div class="filter-loader-content ">
                             <ngx-skeleton-loader [theme]="{   'border-radius': '0',height: '10px', width:'25%',  'margin-bottom': '10px'  }"></ngx-skeleton-loader>
                             <ngx-skeleton-loader [theme]="{   'border-radius': '0',height: '15px', width:'50%', 'margin-bottom': '10px'  }"></ngx-skeleton-loader>
                             <ngx-skeleton-loader [theme]="{   'border-radius': '0',height: '25px', width:'100%', 'margin-bottom': '10px'  }"></ngx-skeleton-loader>
                          </div>
                      </div>

                  </div>

                        <div [hidden]="loading">
                        <ng-container *ngIf="busResults">
                        <app-filter [busResults]="busResults" (childEvent)="updateDeparture($event)" (arrivalFilterEvent)="updateArrival($event)" [boardingpoints] = "boardingpoints" (boardingfilterEvent)="updateBoardingFilter($event)"
                        [droppingpoints] = "droppingpoints" (droppingfilterEvent)="updateDroppingFilter($event)"
                        [availableClasses] = "availableClasses" (classesfilterEvent)="updateClassesFilter($event)"
                        [operators] = "operators" (operatorsfilterEvent)="updateOperatorsFilter($event)"
                        (removeallfilters) = "clearSelectionAll()"
                        [departureTimeFilter] = "departureTimeFilter"
                        [arrivalTimeFilter]="arrivalTimeFilter"
                        [amenities] = "amenities" (amenitiesfilterEvent)="updateamenitiesFilter($event)"
                        (applyFilter) = "onFilter()"
                        (searchboard) = "searchboarding($event)"
                        (removeDeparturefilters) = "clearDepartureSelection()"
                        (removeArrivalTimefilters)  = "clearArrivalTimeSelection()"
                        (removeClassesfilters)  = "clearClassesSelection()"
                        (removeamenitiesfilters)  = "clearAmenitiesSelection()"
                        ></app-filter>
                        </ng-container>
                        </div>

                </div>

                    <div class="layout-right">


                        <div class="flightsfound" [hidden]="loading">
                            <div class="flight-tosearch">
                                <h6>
                                   <i class="fa fa-bus"></i>
                                    {{busfrom}} to {{busto}}
                                    <small>{{departure | date:"EEE ,dd MMM"}}</small>
                                </h6>

                                <div class="flight-search-filters-right bus_sort_btn">
                                <mat-form-field>
                                <mat-select [(value)]="selected" placeholder={{Sortby}} [ngClass]="{showSortbuy: showSortbuy}">
                                <mat-option value="Price (Low to High)" selected (click)="orderBy('rating')">Rating</mat-option>
                                <mat-option value="Price (Low to High)" (click)="orderBy('price-low-high')">Price (Low to High)</mat-option>
                                <mat-option value="Price (High to Low)" (click)="orderBy('price-high-low')">Price (High to Low)</mat-option>
                                <mat-option value="Leave Early" (click)="orderBy('leave-early')">Leave Early</mat-option>
                                <mat-option value="Leave Late" (click)="orderBy('leave-late')">Leave Late</mat-option>
                                <mat-option value="Seats Availability" (click)="orderBy('seats-availability')">Seats Availability</mat-option>
                                </mat-select>
                                </mat-form-field>
                                </div>
                            </div>
                            <div class="flight-search-filters">
                                <div class="flight-search-filters-left">
                                    <p *ngIf="busResults">{{(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length}} bus found</p>
                                </div>
                            </div>
       
                           </div>
                        <div class="tabletitle-area" [hidden]="loading">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="tabletitle-content">
                                        <p>Travels</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="tabletitle-content tabletitle-departure">
                                        
                                        
                                        <div class="row">
                                            <div class="col-md-3"><p>Departure</p></div>
                                            <div class="col-md-3"><p>Duration</p></div>
                                            <div class="col-md-3"><p>Arrival</p></div>
                                            <div class="col-md-3"><p>Fare</p></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Listing -->
                        <div class="flight-listing-area" *ngIf="loading" >
                          <div class="listing-loader animation-loader mt-2" *ngFor="let dummy of dummyForLoader">
                                <div class="filter-loader-content w-100">
                                <span style="width:15%;"><ngx-skeleton-loader  [theme]="{ width: '100px', height: '100px' }"></ngx-skeleton-loader></span>
                                <span class="float-right" style="width:85%;" >
                                <ngx-skeleton-loader [theme]="{   'border-radius': '0',height: '10px',width: '50%',  'margin-bottom': '10px'  }"></ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{ 'border-radius': '0',height: '20px',width: '75%',  'margin-bottom': '10px'  }">  </ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{ 'border-radius': '0',height: '30px',width: '100%',  'margin-bottom': '10px'  }">  </ngx-skeleton-loader>
                                </span>
                                </div>
                          </div>
                        </div>
                        
                        <ng-container *ngIf="totalrtc.length>0">
                        <div *ngFor="let rtc of totalrtc; index as ind" class="d-none d-sm-block cust-pb-20 w-100 float-left">
                        <div  class="list-card w-100 float-left">
                        <div class="row align-items-center" *ngIf="(rtc | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length>0">
                        <div class="col-md-4">
                        <div class="label-name">{{rtc[0].travels}} </div>
                        <div class="label-gray"> {{rtc.length}} Buses</div>
                        </div>
                        <div class="col-md-4">
                        <div class="label-name">{{departureTimeArr[ind].minTime | date:'HH:mm'}}</div>
                        <div class="label-gray">Onwards</div> 
                        </div>
                        <div class="col-md-3 label-gray align-self-flex-end">{{rtc[0].totalavail}} seats available </div>
                        <div class="next-button" (click)="rtccall(rtc[0].lowercase)">

                        <i class="material-icons right-arrow" [ngClass]="{'clicked': isClicked}" *ngIf="currentRtc==rtc[0].lowercase" >keyboard_arrow_down</i>
                        <i class="material-icons right-arrow" [ngClass]="{'clicked': isClicked}" *ngIf="currentRtc !=rtc[0].lowercase" >keyboard_arrow_right</i>
                        </div>
                        </div>
                        </div> 
                        <span *ngIf="(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length>0" >   

                        <list-component *ngFor="let bus of rtc | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy ; let busrow = index;"
                        [parentSubject]="parentSubject" [bus]="bus" [params]="params" [rowvalue] = "busrow" [isrtc]="rtctotal[rtc[0].lowercase]" (seatSelected)="seatSelected($event)" ></list-component> 
                        </span>
                        </div>
                        </ng-container>

                        <div class="flight-listing-area" *ngIf="!loading && busResults.length > 0">
                   
                                <span *ngIf="(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length>0" >  
                                <list-component *ngFor="let bus of busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy ; let busrow = index;"
                                [parentSubject]="parentSubject" [bus]="bus" [tag]="tag" [params]="params" [rowvalue] = "busrow" [isrtc]="isrtc"  (seatSelected)="seatSelected($event)"></list-component>
                                </span>

                        </div>
                         <!-- <div class="text-center" *ngIf="!loading && busResults.length < 1">No bus found</div> -->

                         <div class="card_details_row card_brdr_btm" *ngIf="busFilterlengthZero || !loading && busResults.length < 1">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <div class="empty_list_hdr">Yikes! No buses found.</div>
                                    <div>
                                        <img src="{{cdnUrl}}/images/empty_list_img.svg" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-md-12 mt-5 text-center">
                                    <button class="empty_list_btn">Go back to search page</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Mobile Screen starts-->

<section class="mob-flights-listing" *ngIf="isMobile">
  <div class="container">
      <div class="row">
          <div class="col-md-12 p-0 fixed-top mlist-header"  >
              <div class="mob-listing-header" >
                  <div class="mob-listing-header-left">
                      <a href="javascript:;" routerLink="/bus" >
                          <img src="{{cdnUrl}}/images/icons/left.png" alt="" />
                      </a>
                  </div>
                  <div class="mob-listing-header-center">
                      <h6>{{busfrom}} - {{busto}}</h6>
                      <div class="d-flex align-items-center">
                            <div class="date_sm_round"><img src="{{cdnUrl}}/images/icons/m_arw_icn.svg" alt="" /></div>
                            <p>{{departure | date:'EEE, dd MMM' }}   </p>
                            <div class="date_sm_round"><img src="{{cdnUrl}}/images/icons/m_arw_icn.svg" alt="" class="invrt_img" /></div>
                      </div>
                      
                  </div>
                  <div class="mob-listing-header-right">
                      <a href="javascript:;" routerLink="/bus" >
                          <img src="{{cdnUrl}}/images/icons/edit.png" alt="" />
                      </a>
                  </div>
              </div>
          
          </div>
          <div class="col-md-12 mt-70" *ngIf="!loading">
              <div class="mob-listing-fiters">
                  <h6> <p class="bus_found" *ngIf="busResults">{{(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length}} bus founds</p></h6>
                  <a href="javascript:void(0)" (click)="openMobileFilterSection()" class="d-flex align-items-center justify-content-center">
                      <img src="{{cdnUrl}}/images/icons/filter.svg" alt="">
                      <span class="px-2">Sort/Filters</span>
                  </a>
              </div>
          </div>



          <div class="col-md-12">
            <div *ngIf="loading">
              <div  class="filter-loader border-0" *ngFor="let dummy of dummyForLoader">
                          <div class="filter-loader-content w-100">
                              <span class=" w-25"><ngx-skeleton-loader  [theme]="{ width: '80px', height: '80px' }"></ngx-skeleton-loader></span>
                              <span class="w-75 float-right">
                             <ngx-skeleton-loader [theme]="{   'border-radius': '0',height: '10px',width: '50%',  'margin-bottom': '10px'  }"></ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{ 'border-radius': '0',height: '15px',width: '75%',  'margin-bottom': '10px'  }">  </ngx-skeleton-loader>
                                <ngx-skeleton-loader [theme]="{ 'border-radius': '0',height: '20px',width: '100%',  'margin-bottom': '10px'  }">  </ngx-skeleton-loader>
                               </span>
                          </div>
                      </div>
                 </div>
                  <!-- <div class="text-center" *ngIf="!loading && busResults.length < 1">No bus found</div> -->

                  <!-- no bus found new design mlite -->
                    <div class="row p-2" *ngIf="busFilterlengthZero || !loading && busResults.length < 1">
                        <div class="col-md-12 text-center">
                            <div class="empty_list_hdr">Yikes! No buses found.</div>
                            <div>
                                <img src="{{cdnUrl}}/images/empty_list_img.svg" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-12 mt-3 text-center">
                            <button class="empty_list_btn">Go back to search page</button>
                        </div>
                    </div>
                  <!-- end of no bus found new design mlite -->
                  
                  
                  <div *ngFor="let rtc of totalrtc; index as ind" class="d-block d-sm-none cust-pb-10 w-100 float-left">
        <div  class="list-card-m w-100 float-left hide-w border-4">
        <div class="row align-items-center w-85 float-left" *ngIf="(rtc | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length>0">
        <div class="col-12 pt-10">
        <div class="label-name">{{rtc[0].travels}} </div>
        <div class="label-gray float-left"> {{rtc.length}} Buses</div>
        <div class="label-gray float-left">&nbsp; {{rtc[0].totalavail}} seats available </div>
        </div>
        <div class="col-12 pt-20 pb-20">
        <!-- <div class="label-name-large float-left">{{departureTimeArr[ind].minTime | date:'HH:mm'}}</div> -->
        <div class="label-name-large float-left">&nbsp; Onwards</div>
        </div>
        <div class="next-button float-left" (click)="rtccall(rtc[0].lowercase)">
        <i class="material-icons right-arrow" [ngClass]="{'clicked': isClicked}" *ngIf="currentRtc==rtc[0].lowercase" >keyboard_arrow_down</i>
        <i class="material-icons right-arrow" [ngClass]="{'clicked': isClicked}" *ngIf="currentRtc !=rtc[0].lowercase" >keyboard_arrow_right</i>
        </div>
        </div>


        </div>
        <span *ngIf="(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length>0" >  
        <list-component *ngFor="let bus of rtc | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy ; let busrow = index;"
        [parentSubject]="parentSubject" [bus]="bus" [tag]="tag" [params]="params" [rowvalue] = "busrow" [isrtc]="rtctotal[rtc[0].lowercase]" 
        (seatSelected)="seatSelected($event)" ></list-component> 


        </span>
        </div>

 
                                <span *ngIf="(busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy).length>0" >  
                                <list-component *ngFor="let bus of busResults | busfilter:minSeletedPriceValue:maxSeletedPriceValue:filterDeparture:filterArrival:filterboardingpoints:filterdroppingpoints:filterClasses:filterOperators:filteramenities:sortBy ; let busrow = index;"
                                [parentSubject]="parentSubject" [bus]="bus" [tag]="tag" [params]="params" [rowvalue] = "busrow" [isrtc]="isrtc"  (seatSelected)="seatSelected($event)"></list-component>
                                </span>
          </div>



 <!-- ------------------------------
            >>> mobile Sort Filters
        ---------------------------------->
        <div class="mob-sf-area" id="sortMobileFilter" *ngIf="isMobile">

          <div class="mob-sf-box">
              <div class="mob-title">
                  <h3>Sort & Filters</h3>
                  <a href="javascript:void(0)" (click)="CloseSortingSection()" class="mob-close mob-ff-from-close">
                      <img src="{{cdnUrl}}/images/icons/close.png" alt="">
                  </a>
              </div>
              <div class="mob-sf-tabs">
                  <ul class="nav nav-tabs">
                      <li>
                          <a class="active" href="#Sort" role="tab" aria-controls="Sort" data-bs-toggle="tab">Sort by</a>
                      </li>
                      <li class="nav-item">
                          <a href="#Filters" role="tab" aria-controls="Filters" data-bs-toggle="tab">Filters</a>
                      </li>
                  </ul>
                  <div class="tab-content clearfix">
                      <div class="tab-pane active" id="Sort" role="tabpanel" aria-labelledby="Sort-tab">
                          <div class="mob-sf-sort">
                              <div class="mob-sf-sort-by">
                                           <mat-form-field>
                                <mat-select [(value)]="selected" placeholder={{Sortby}} [ngClass]="{showSortbuy: showSortbuy}">
                                <mat-option value="Price (Low to High)" selected (click)="orderBy('rating')">Rating</mat-option>
                                <mat-option value="Price (Low to High)" (click)="orderBy('price-low-high')">Price (Low to High)</mat-option>
                                <mat-option value="Price (High to Low)" (click)="orderBy('price-high-low')">Price (High to Low)</mat-option>
                                <mat-option value="Leave Early" (click)="orderBy('leave-early')">Leave Early</mat-option>
                                <mat-option value="Leave Late" (click)="orderBy('leave-late')">Leave Late</mat-option>
                                <mat-option value="Seats Availability" (click)="orderBy('seats-availability')">Seats Availability</mat-option>
                                </mat-select>
                                </mat-form-field>
                              </div>
                              <div class="container filter-container">

                                    <!-- <div class="col-md-12 m_sort_flex_div" id="filter-nav"> -->
                                        <div class="row m_sort_flex_div">
                                            <div class="col-6">
                                      <label class="checkbox-cust selected">
                                        <div class="icons-filter px-1"><img src="{{cdnUrl}}images/icons/price-l.png" /></div>
                                        <div class="label-filter text-left">
                                            <p class="m_sort_text">Price</p>
                                            <p class="m_sort_text50">Low to High</p>
                                        </div>
                                        <input checked="checked" type="radio" (click)="orderBy('price-low-high')" value="Price (Low to High)" >
                                        <span class="checkmark-cust"></span>
                                      </label>
                                    </div>

                                    <div class="col-6">
                                      <label class="checkbox-cust" >
                                        <div class="icons-filter px-1"><img src="{{cdnUrl}}images/icons/price-h.png" /></div>
                                        <div class="label-filter text-left">
                                            <p class="m_sort_text">Price</p>
                                            <p class="m_sort_text50">High to Low</p>
                                        </div>
                                        <input checked="checked" type="radio" (click)="orderBy('price-high-low')" value="Price (High to Low)">
                                        <span class="checkmark-cust"></span>
                                      </label>
                                    </div>

                                    <div class="col-6">
                                      <label class="checkbox-cust" >
                                        <div class="icons-filter px-1"><img src="{{cdnUrl}}images/icons/grade.svg" /></div>
                                        <div class="label-filter text-left">
                                            <p class="m_sort_text">Rating</p>
                                            <p class="m_sort_text50">Highest</p>
                                        </div>
                                        <input checked="checked" type="radio" (click)="orderBy('rating')" value="Price (Low to High)" >
                                        <span class="checkmark-cust"></span>
                                      </label>
                                    </div>

                                    <div class="col-6">
                                      <label class="checkbox-cust" >
                                        <div class="icons-filter px-1"><img src="{{cdnUrl}}images/icons/seat_human.svg" /></div>
                                        <div class="label-filter text-left">
                                            <p class="m_sort_text">Seats Availability</p>
                                            <p class="m_sort_text50">Available</p>
                                        </div>
                                        <input checked="checked" type="radio" (click)="orderBy('seats-availability')" value="Seats Availability" >
                                        <span class="checkmark-cust"></span>
                                      </label>
                                    </div>

                                    <div class="col-6">
                                      <label class="checkbox-cust" >
                                        <div class="icons-filter px-1"><img src="{{cdnUrl}}images/icons/bus_time.svg" /></div>
                                        <div class="label-filter text-left">
                                            <p class="m_sort_text">Leave Early</p>
                                            <p class="m_sort_text50">Earliest</p>
                                        </div>
                                        <input checked="checked" type="radio" (click)="orderBy('leave-early')" value="Leave Early">
                                        <span class="checkmark-cust"></span>
                                      </label>
                                    </div>

                                    <div class="col-6">
                                      <label class="checkbox-cust" >
                                        <div class="icons-filter px-1"><img src="{{cdnUrl}}images/icons/bus_time.svg" /></div>
                                        <div class="label-filter text-left">
                                            <p class="m_sort_text">Leave Late</p>
                                            <p class="m_sort_text50">Latest</p>
                                        </div>
                                        <input checked="checked" type="radio" (click)="orderBy('leave-late')" value="Leave Late">
                                        <span class="checkmark-cust"></span>
                                      </label>
                                    </div>
                                    <!-- </div> -->
                                </div>
                                </div>
                          </div>
                          <div class="mob-sf-btns">
                              <a href="javascript:void(0)" (click)="applySortingMobile()">Apply</a>
                          </div>
                      </div>
                      <div class="tab-pane" id="Filters" role="tabpanel" aria-labelledby="Filters-tab">
                          <div class="mob-sf-filters"> 
                              <div class="mob-sf-accordion">
                                   <ng-container *ngIf="busResults">
                        <app-filter [busResults]="busResults" (childEvent)="updateDeparture($event)" (arrivalFilterEvent)="updateArrival($event)" [boardingpoints] = "boardingpoints" (boardingfilterEvent)="updateBoardingFilter($event)"
                        [droppingpoints] = "droppingpoints" (droppingfilterEvent)="updateDroppingFilter($event)"
                        [availableClasses] = "availableClasses" (classesfilterEvent)="updateClassesFilter($event)"
                        [operators] = "operators" (operatorsfilterEvent)="updateOperatorsFilter($event)"
                        (removeallfilters) = "clearSelectionAll()"
                        [departureTimeFilter] = "departureTimeFilter"
                        [arrivalTimeFilter]="arrivalTimeFilter"
                        [amenities] = "amenities" (amenitiesfilterEvent)="updateamenitiesFilter($event)"
                        (applyFilter) = "onFilter()"
                        (searchboard) = "searchboarding($event)"
                        (removeDeparturefilters) = "clearDepartureSelection()"
                        (removeArrivalTimefilters)  = "clearArrivalTimeSelection()"
                        (removeClassesfilters)  = "clearClassesSelection()"
                        (removeamenitiesfilters)  = "clearAmenitiesSelection()"
                        ></app-filter>
                        </ng-container>
                                
                              </div>
                              <div class="mob-sf-btns">
                                  <a href="javascript:void(0)" (click)="onApplyFilter()">Apply</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
       </div>
      </div>
</section>
<!--Mobile Screen ends-->

    <a href="javascript:void(0)"  (click)="moveTop()"  class="scrollToTop" >
        <i class="far fa-dot-circle"></i>
        <span>Top</span>
    </a>


    
