<section class="bradcome-area mt-110 mb-10 d-lg-block d-none">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="bradcome-list">
                  <ul class="list-inline">
                      <li class="list-inline-item"><a href="#">Home</a></li>
                      <li class="list-inline-item"><span>/</span></li>
                      <li class="list-inline-item"><a href="#">Travel &amp; Stays</a></li>
                      <li class="list-inline-item"><span>/</span></li>
                      <li class="list-inline-item" *ngIf="HotelDetail"><span>{{HotelDetail.hotelName}}</span></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="travel-area mt-10 d-lg-block d-none" *ngIf="HotelDetail">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="hd-title-area">
                  <div class="hotel-list-item">
                      <div class="hotel-list-left">
                          <div class="hotel-list-text">
                              <h6 class="hotel-name">{{HotelDetail.hotelName}}</h6>
                              <p class="hotel-place">{{HotelDetail.address=='' ? HotelDetail.city : HotelDetail.address }}</p>
                              <p class="hotel-star" *ngIf="HotelDetail.hotelRatings[0].rating > 0">
                                <i class="fas fa-star " [ngClass]="{'active' : HotelDetail.hotelRatings[0].rating >= 1}"></i>
                                <i class="fas fa-star" [ngClass]="{'active' : HotelDetail.hotelRatings[0].rating >= 2}"></i>
                                <i class="fas fa-star" [ngClass]="{'active' : HotelDetail.hotelRatings[0].rating >= 3}"></i>
                                <i class="fas fa-star" [ngClass]="{'active' : HotelDetail.hotelRatings[0].rating >= 4}"></i>
                                <i class="fas fa-star" [ngClass]="{'active' : HotelDetail.hotelRatings[0].rating >= 5}"></i>
                                <span class="hotel-star-tag">{{HotelDetail.hotelRatings[0].rating}}/5</span>
                            </p>
                          </div>
                      </div>
                      <div class="hotel-list-right">
                          <div class="hotel-list-info">
                              <div class="hotel-list-info-item">
                                  <div class="hotel-list-info-thume">
                                      <img src="{{cdnUrl}}/images/flight_partners/small-no/{{PriceSummery.partnerName}}.png" alt="">
                                  </div>
                                  <div class="hotel-list-info-price">
                                      <h6>
                                          <strong>₹{{PriceSummery.price | number}}</strong>
                                          <span class="information-icon">
                                              <img src="assets/images/icons/info.png" class="ms-2 " alt="">
                                              <div class="hover-popover">
                                                  <div class="hover-popover-title">
                                                      <h6>Price Breakdown</h6>
                                                  </div>
                                                  <div class="hover-popover-content">
                                                      <div class="hover-popover-content-list">
                                                          <p>Base Fare</p>
                                                          <p>₹{{PriceSummery.price | number}}</p>
                                                      </div>
                                                      <div class="hover-popover-content-list">
                                                          <p>tax</p>
                                                          <p>₹0</p>
                                                      </div>
                                                      <hr class="m-0">
                                                      <div class="hover-popover-content-list popover-total">
                                                          <p>Total</p>
                                                          <p>₹{{PriceSummery.price | number}}</p>
                                                      </div>
                                                  </div>
                                                  <div class="hover-popover-footer">
                                                      <p>*Partner Convenience Fee is applicable</p>
                                                  </div>
                                              </div>
                                          </span>
                                      </h6>
                                      <p class="p-rn">Per Room/Night</p>
                                  </div>
                                  <div class="hotel-list-info-Book">
                                      <a href="#" class="button-style">Select Room</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-9">
              <div class="hd-gallery">
                  <div id="big" class="owl-carousel owl-theme">
                    <owl-carousel-o [options]="WideImageCustomOptions" #WideImageOwl >
                      <ng-container *ngFor="let image of HotelDetail.images; let i = index">
                        <ng-template carouselSlide  [id]="'Id_'+i">
                          <div class="item">
                            <img src="{{image.wideAngleImageUrl}}" class="img-fluid" alt="">
                        </div>
                          </ng-template>
                       </ng-container>
                    </owl-carousel-o>
                  </div>
                  <div id="thumbs" class="owl-carousel owl-theme mt-10">
                    <owl-carousel-o [options]="ThumbNailImageCustomOptions" #ThumbNailImageOwl>
                      <ng-container *ngFor="let image of HotelDetail.images; let i = index">
                        <ng-template carouselSlide >
                          <div class="item" (click)="onImageClick(i)">
                            <img src="{{image.thumbnailImageUrl}}" class="img-fluid" alt="">
                        </div>
                          </ng-template>
                       </ng-container>
                    </owl-carousel-o>
                  </div>
              </div>
          </div>
          <div class="col-md-3">
              <div class="hd-map">
                  <iframe class="d-flex" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d119066.55300480236!2d72.82229611618443!3d21.159171328254452!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1662530866151!5m2!1sen!2sin" width="100%" height="440"></iframe>
              </div>
          </div>
      </div>
      <div class="row mt-40">
          <div class="col-12">
              <div class="hd-tabs-area">
                  <ul class="list-unstyled hd-tabs">
                      <li>
                          <a href="javascript:void(0)" (click)="onSectionChange('hdOverview','Overview')" [ngClass]="{'hd-tabs-active':selectedTab == 'Overview'}" data-bind="hdOverview">Overview</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)" (click)="onSectionChange('hdRooms','Rooms')" [ngClass]="{'hd-tabs-active':selectedTab == 'Rooms'}"  data-bind="hdRooms"> Rooms</a>
                      </li>
                      <li>
                          <a href="javascript:void(0)" (click)="onSectionChange('hdAmenities','Amenities')" [ngClass]="{'hd-tabs-active':selectedTab == 'Amenities'}" data-bind="hdAmenities"> Amenities</a>
                      </li>
                  </ul>
                  <div class="hd-tabs-details">
                      <div id="hdOverview" class="hd-details-area hd-tabs-details-active">
                          <div class="hd-details-body">
                              <div class="Overview-area">
                                  <div class="Overview-top">
                                      <div class="Overview-title">
                                          <h6>About</h6>
                                          <p>CHECK-IN {{checkin | date:'hh a'}} | CHECK-OUT {{checkout | date:'hh a'}}</p>
                                      </div>
                                      <div class="Overview-details" innerHtml="{{HotelDetail.description}}">
                                          <!-- <ul>
                                              <li><p><strong>Services</strong>: 24x7 power back up, 24 Hour Power Supply, Lift, Wheelchair accessible elevator, Waiting area, Room Service (24 Hours Available), Special occasion arrangement, Hot water available, Dry cleaning, Room/Rooms reserved for special need guests, Wheelchair accessible ramp, Wake up service/Alarm clock, Ironing Service, Hot water available 24x7, Luggage storage, Concierge, Babysitting or child care, Business center, Wheelchair, Separate Smoking Area, Laundry facilities.</p></li>
                                              <li><p><strong>Languages Spoken by Hotel Staff</strong>: English, Hindi</p></li>
                                              <li><p><strong>Payments Modes Accepted</strong>: Cash, Debit Card, Credit Card, Net-Banking, Visa, American Express, Security deposit, Mastercard</p></li>
                                              <li><p><strong>Parking & Transportation</strong>: 2 Wheeler, 4 Wheeler, Valet Parking, Travel counter, Bus Parking, Outdoor Parking, Bike Rental (Chargeable), Scooty Rental (Chargeable), Cycle Rental (Chargeable), Car rental (Chargeable), Airport//Railway station pickup available (Chargeable), Airport/Railway station drop (chargeable)</p></li>
                                              <li><p><strong>Activities - Indoor & Outdoor</strong>: Spa, Outdoor Pool, Kids Pool, Outdoor Pool (all year), Gym, Swimming pool, Kids Play Area</p></li>
                                              <li><p><strong>General</strong>: TV In Room, Towels, Sofa, Living Area, Restaurant with Dining Menu, Restaurant, Poolside Bar, Pool view, Garden view, Bar, Gardens, Family Rooms, Non-smoking Rooms, Beach Nearby, Conference Room, Jacuzzi</p></li>
                                              <li><p><strong>Safety & Security</strong>: First Aid Kit, CCTV, Fire Extinguisher, CCTV camera installed inside/outside hotel premises, 24-Hour Security, Smoke Detectors, Doctor on Call, CCTV camera installed on each floor</p></li>
                                              <li><p><strong>Media & Entertainment</strong>: Flat-screen TV</p></li>
                                              <li><p><strong>Not Allowed</strong>: Pets</p></li>
                                              <li><p><strong>Suitable For</strong>: Large Groups, Family, Families with Children, Couples,</p></li>
                                          </ul> -->
                                      </div>
                                  </div>
                                  <div class="Overview-bottom mt-10">
                                      <div class="Overview-bottom-title mb-20">
                                          <h6>Facilities Offered</h6>
                                      </div>


                                        <div class="owl-slider grid-7 hd-Offered-slider">
                                          <owl-carousel-o [options]="customOptions">
                                        <ng-container *ngFor="let item of hotelAmenity | slice:0:6 ; let i = index">
                                          <ng-template carouselSlide>
                                            <div class="box-item">
                                              <div class="hd-Offered-thumbe">
                                                  <img src="{{Facilities[item].image}}" class="img-fluid" alt="">
                                              </div>
                                              <div class="hd-Offered-text">
                                                  <h6>{{Facilities[item].name}}</h6>
                                              </div>
                                          </div>
                                            </ng-template>
                                         </ng-container>

                                          <ng-template carouselSlide *ngIf="hotelAmenity.length > 6">
                                         <div class="box-item box-item-text">
                                          <div class="hd-Offered-text">
                                              <a href="#" data-bs-toggle="modal" data-bs-target="#moreAmenities">
                                                  <p>{{hotelAmenity.length - 6}}+</p>
                                                  <span>More Amenities</span>
                                              </a>
                                          </div>
                                      </div>
                                    </ng-template>
                                        </owl-carousel-o>

                                        </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                      <div id="hdRooms" class="hd-details-area  hd-tabs-details-active">
                          <div class="hd-details-body">
                              <div class="hd-Rooms-area">
                                  <div class="hd-Rooms-top">
                                      <div class="hd-Rooms-title mb-20">
                                          <h6>Rooms</h6>
                                          <p>Choose a room with below room types</p>
                                      </div>
                                      <div class="hd-Rooms-details">
                                          <div class="hd-rd-area">
                                              <div class="hd-rd-list" *ngFor="let item of HotelDetail.roomRates">
                                                  <div class="hd-rd-left">
                                                      <div id="hd-rd-big" class="owl-carousel owl-theme room-big hd-rd-big-left">
                                                          <div class="item">
                                                              <img src="{{item.imageInfo.wideAngleImageurl}}" alt="">
                                                          </div>
                                                      </div>
                                                      <div id="hd-rd-thumbs" class="owl-carousel owl-theme room-thumbs hd-rd-thumbs-right">
                                                          <div class="item">
                                                              <img src="{{item.imageInfo.thumbnailImageUrl}}" alt="">
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="hd-rd-right">
                                                      <div class="hd-rdetails-left">
                                                          <h6 class="hd-rd-title">{{item.roomType.roomTitle}}</h6>
                                                          <ul class="hd-rd-Facilities">
                                                              <li *ngFor="let list of item.roomAmenities">
                                                                <p>{{list}}</p>
                                                              </li>
                                                          </ul>
                                                          <span class="information-icon hd-cc-Policy">
                                                              Check Cancellation Policy
                                                              <div class="hover-popover">
                                                                  <a href="" class="popover-close">
                                                                      <img src="./assets/images/icons/close.png" alt="">
                                                                  </a>
                                                                  <div class="hover-popover-title">
                                                                      <h6>Cancellation Policy</h6>
                                                                      <p>{{item.cancellationPolicy}}</p>
                                                                  </div>
                                                              </div>
                                                          </span>
                                                      </div>
                                                      <div class="hd-rdetails-right">
                                                          <h6>₹{{item.rateBreakdown.total | number}}</h6>
                                                          <p>Inclusive of taxes</p>
                                                          <a href="" class="button-style" data-bs-toggle="modal" data-bs-target="#bookingprocess">Book Now</a>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div id="hdAmenities" class="hd-details-area  hd-tabs-details-active">
                          <div class="hd-details-body">
                              <div class="Amenities-area">
                                  <div class="Amenities-top">
                                      <div class="Amenities-title">
                                          <h6>Amenities</h6>
                                      </div>
                                      <div class="Amenities-details">
                                          <ul>
                                              <li *ngFor="let Amenity of HotelDetail.hotelAmenities">
                                                <p><strong>{{Amenity.category}}</strong>: {{Amenity.amenity.toString()}}</p></li>

                                          </ul>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


   <!-- ------------------------------
            >>> Modal More Amenities
        ---------------------------------->
        <div class="modal amenities-modal" id="moreAmenities">
          <div class="modal-dialog modal-lg modal-dialog-centered">
              <div class="modal-content">
                  <div class="modal-body" style="padding: 25px;">
                      <div class="amenitiesmodal-items">
                          <div class="amenitiesmodal-title">
                              <h6>Amenities</h6>
                              <a href="javascript:;" class="modal-close">
                                  <img src="./assets/images/icons/close.png" alt="">
                              </a>
                          </div>
                          <div class="amenitiesmodal-content">
                              <ul class="amenitiesmodal-ul">
                                  <li *ngFor="let item of hotelAmenity"><p>{{Facilities[item].name}}</p></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
