

.hotel-list-info-price{
    .hover-popover{
        top: 27px;
        &::after{
            top: -20px;
            margin-left: -12px;
            transform: scaleY(-1);
        }
    }
}
.hotel-name {
    font-style: normal;
    font-weight: 600;
    font-size: 30px !important;
    line-height: 40.85px !important;
    color: #000000;
}
.Amenities-details{
    ul{
        li{
            p{
                font-weight:normal;
            }
        }
    }
}


