<mat-dialog-content  class="mat-typography">
        <form [formGroup]='filetdragreementForm'>
        <div class="m-2 " style="text-align:center;" >
        <!-- <h3  class="p-3"  [innerHTML]="data.messageData"> -->
            <p class="p-3">Kindly accept if you have gone through the the <b><a href="http://contents.irctc.co.in/en/REFUND%20RULES%20wef%2012-Nov-15.pdf" target="_blank">rules & regulations</a></b> of IRCTC Authorised Partner, mentioned in our T&C, before filing a TDR for this ticket.</p>
        <!-- </h3> -->
        <div class="mb-2 text-left pl-4">
        <mat-checkbox formControlName="termsandconditioncheck">I Accept</mat-checkbox> 
        </div>
        <div *ngIf=" submitted && filetdragreementForm.get('termsandconditioncheck').invalid"class="error text-left pl-4">
                        <span *ngIf="filetdragreementForm.get('termsandconditioncheck').errors.required || filetdragreementForm.get('termsandconditioncheck').errors.pattern">Please accept Terms and Conditions</span>
                </div>
        <hr>
        <div class="mb-2">
        <button (click) = "onNoClick()" class="btn btn-b-{{domainName}} mr-2 float-sm-right mb-1">Cancel</button>
        <button (click) = "onYesClick()"   class="btn btn-c-{{domainName}} mx-2 float-sm-right mb-1">Submit</button>
        </div>
        </div>
    </form>
        </mat-dialog-content>
    
