<div  class="list-back-title"> 
    <div class="row">
      <div class="col-11"> <a routerLink="{{domainPath}}/train/tdrhistory"><i class="fa fa-angle-left backOrder_sym"
      aria-hidden="true"></i><span class="font-weight-bold ml-4">IRCTC Authorised Partner File TDR</span></a></div>
    </div>
 </div>

 <div class="container tdr_cntnr">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;" routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a href="{{domainRedirect}}manage_orders">Manage Account</a></li>
      <li class="breadcrumb-item active" aria-current="page">File TDR</li>
    </ol>
  </nav>

  <div class="main_hdr">
    Train Booking
  </div>
  <div class="col-12 train-btn-group mt-4 mb-2">
    <a routerLink="/{{domainPath}}/train/filetdr" class="sort_btn btnTdr-active-{{domainName}} btn-sm mr-3"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">File TDR</a>
    <a routerLink="/{{domainPath}}/train/tdrhistory" class="sort_btn btnTdr-default btn-sm mr-3"
      [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">TDR History</a>
  </div>

  <div class="pri_hdr">
    File TDR Using PNR / Transaction ID / SmartBuy Reference ID
  </div>

  <div clas="row">
    <div class="col-md-12">
      <div class="tdr_box">
        <form [formGroup]="pnrForm">
          <div class="pnr-section">
            <mat-radio-group formControlName="tdrbuttselection" name="tdrbuttselection" [(ngModel)]="selection"
              #radioGroup="matRadioGroup" (change)="getcheckboxValues()" class="filetdr_sort_radio">
              <mat-radio-button name="tdr_option1" value='1' id='pnrButton' class="mlite_rdio_btn">PNR</mat-radio-button>
              <mat-radio-button name="tdr_option2" value='2' class="mlite_rdio_btn">Transaction ID</mat-radio-button>
              <mat-radio-button name="tdr_option3" value='3' class="mlite_rdio_btn">SmartBuy Reference ID</mat-radio-button>
            </mat-radio-group>
            <div class="row pt-2">
              <div class="col-md-8 col-12">
                <div class="row">
                  <div class="col-md-6 mt-2">
                    <!-- <mat-form-field>
                      <input matInput placeholder="Enter {{placeholderValue}}" formControlName="pnrnumber"
                        [(ngModel)]="pnrnumber" (ngModelChange)="changeEvent()" maxlength="{{dynamiclength}}"
                        name="pnrnumber" onDrag="return false" onDrop="return false" autocomplete="off" class="form-control">
                    </mat-form-field> -->

                    <mat-form-field class="matField_full_width w-100" appearance="outline">
                      <mat-label>Enter {{placeholderValue}}</mat-label>
                      <input matInput placeholder="" formControlName="pnrnumber"
                      [(ngModel)]="pnrnumber" (ngModelChange)="changeEvent()" maxlength="{{dynamiclength}}"
                      name="pnrnumber" onDrag="return false" onDrop="return false" autocomplete="off">
                  </mat-form-field>
    
                    <!-- <div  style="color: red"  class="pb-2"  *ngIf='errormesssage'><small>Please enter PNR/Transaction ID</small></div> -->
    
                    <div *ngIf="tdrFetchingsubmitted && pnrForm.get('pnrnumber').invalid" class="error" style="color: red">
                      <small *ngIf="pnrForm.get('pnrnumber').errors.required">{{placeholderValue}} is required</small>
                      <small *ngIf="pnrForm.get('pnrnumber').errors.minlength">Please enter correct {{dynamiclength}} digits
                        {{placeholderValue}}</small>
                      <small *ngIf="pnrForm.get('pnrnumber').errors.maxlength">Please enter correct {{dynamiclength}} digits
                        {{placeholderValue}}</small>
                      <small *ngIf="pnrForm.get('pnrnumber').errors.pattern">Please enter valid {{dynamiclength}} digits
                        {{placeholderValue}}</small>
                    </div>
    
                  </div>
                  ​
    
                  <!-- <div  style="color: red"  class="pb-2 pl-3"  *ngIf='errormesssage'><small>Please enter PNR/Transaction ID</small></div> -->
                  <div class="col-md-6 pt-2">
                    <div class="row">
                      <div class="col-md-12 col-12 text-center">
                        <button type="submit" class="btn submit_btn btnTdr-submit-{{domainName}}"
                          (click)="gettdrdata()">Submit</button>
                          <button class="btn reset_btn btnTdr-reset-{{domainName}} " (click)="resetpnrform()">Reset</button>
                      </div>
                      <!-- <div class="col-md-6 col-6 text-center px-0">
                        <button class="btn reset_btn btnTdr-reset-{{domainName}} " (click)="resetpnrform()">Reset</button>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
 </div>

<div class="container">

  <div *ngIf="tdrResponse && showdetails">
    <div class="ticketDetailsSection-{{domainName}}">

      <!-- train detrails new design web-->
      <div class="row tdr_train_details" *ngIf="!isMobile">
        <div class="col-md-12">
          <div class="tdr_box">
            <div class="row">
              <div class="col-md-2">
                <div class="train_img_div">
                  <img src="{{cdnUrl}}/images/train_tickets.svg" class="train_img">
                </div>
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-6">
                    <span class="gray_text">Order ID <span class="number_highlight">#{{tdrResponse.reservationId}}</span></span>
                  </div>
                  <div class="col-md-6 text-right">
                    <span class="gray_text">PNR Number <span class="number_highlight">{{tdrResponse.pnrNumber}}</span></span>
                  </div>
                  <div class="col-md-12 mt-2 mb-2">
                    <span class="highlight_text">{{tdrResponse.trainName}}</span>
                    <span class="gray_text px-1">#{{tdrResponse.trainNumber}}</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-8">
                    <div class="row">
                      <div class="col-md-4">
                        <span class="highlight_text">{{fromstn}} ({{tdrResponse.fromStn}})</span>
                        <p class="gray_text px-1">{{tdrResponse.boardingDate | date:'mediumDate'}}  {{tdrResponse.departureTime}}</p>
                        <p class="gray_text px-1"></p>
                      </div>
                      <div class="col-md-4 text-center">
                        <hr class="dashed_hr">
                        <span class="gray_text px-1"></span>
                      </div>
                      <div class="col-md-4">
                        <span class="highlight_text">{{tostn}} ({{tdrResponse.destStn}})</span>
                        <p class="gray_text px-1">{{tdrResponse.destArrvDate | date:'mediumDate'}} {{tdrResponse.arrivalTime}}</p>
                        <p class="gray_text px-1"></p>
                      </div>

                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-6">
                        <span class="gray_text px-1">Booked Via</span>
                        <div class="booked_via_div">
                          <img src="{{cdnUrl}}images/smartbuy/partner/48/svg/irctc_long.svg" class="booked_via_img">
                        </div>
                      </div>
                      <div class="col-md-6 text-right">
                        <p class="price_text">₹ {{tdrResponse.totalCollectibleAmount}}</p>
                        <!-- <span class="text_success">+ 430 points</span> -->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="div_flex">
                    <div class="div_flex_item">
                        <p class="gray_text">Transaction ID</p>
                        <p class="black_text">{{tdrResponse.reservationId}}</p>
                    </div>
                    <div class="div_flex_item">
                      <p class="gray_text">Date of Journey</p>
                      <p class="black_text">{{tdrResponse.journeyDate | date:'mediumDate'}}</p>
                  </div>
                  <div class="div_flex_item">
                    <p class="gray_text">Date of Boarding</p>
                    <p class="black_text">{{tdrResponse.boardingDate | date:'mediumDate'}}</p>
                  </div>
                  <div class="div_flex_item">
                    <p class="gray_text">Class</p>
                    <p class="black_text">{{journeyClass}} ({{tdrResponse.journeyClass}})</p>
                  </div>
                  <div class="div_flex_item">
                    <p class="gray_text">From</p>
                    <p class="black_text">{{fromstn}} ({{tdrResponse.fromStn}})</p>
                  </div>
                  
                  <div class="div_flex_item">
                    <p class="gray_text">To</p>
                    <p class="black_text">{{tostn}} ({{tdrResponse.destStn}})</p>
                  </div>
                  <div class="div_flex_item">
                    <p class="gray_text">Resv Upto</p>
                    <p class="black_text">{{tdrResponse.reservationUpTo}}</p>
                  </div>
                  <div class="div_flex_item">
                    <p class="gray_text">Ticket Type</p>
                    <p class="black_text">E Ticket</p>
                  </div>
                  </div>
                </div>
                <!-- <div class="row mt-4">
                  <div class="col-md-12 d-flex align-items-center">
                    <img src="{{cdnUrl}}images/success_tick.svg">
                    <span class="gray_text px-1">regesara@gmail.com | +91 9635246543</span>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of train details web -->

      <!-- train details mlite -->
      <div class="row tdr_train_details" *ngIf="isMobile">
        <div class="col-md-12">
          <div class="tdr_box">
            <div class="row">
              <div class="col-6">
                <p class="gray_text">#{{tdrResponse.reservationId}}</p>
              </div>
              <div class="col-6 text-right">
                <p class="gray_text px-1">{{tdrResponse.pnrNumber}}</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-6">
                <p class="highlight_text">Train Ticket</p>
              </div>
              <div class="col-6 text-right">
                <p class="price_text">₹ {{tdrResponse.totalCollectibleAmount}}</p>
                <!-- <span class="text_success">+ 430 points</span> -->
              </div>
              <div class="col-12">
                <span class="highlight_text">{{tdrResponse.trainName}}</span>
                <span class="gray_text px-1">#{{tdrResponse.trainNumber}}</span>
              </div>
              <div class="col-12">
                <hr class="dashed_hr">
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-5">
                <span class="highlight_text">{{fromstn}} ({{tdrResponse.fromStn}})</span>
                <p class="gray_text px-1">{{tdrResponse.boardingDate | date:'mediumDate'}}  {{tdrResponse.departureTime}}</p>
                <!-- <p class="gray_text px-1">New Delhi Railway Station</p> -->
              </div>
              <div class="col-2 text-center px-0">
                <hr class="dashed_hr">
                <span class="gray_text px-1"></span>
              </div>
              <div class="col-5 text-right">
                <span class="highlight_text">{{tostn}} ({{tdrResponse.destStn}})</span>
                <p class="gray_text px-1">{{tdrResponse.destArrvDate | date:'mediumDate'}} {{tdrResponse.arrivalTime}}</p>
                <!-- <p class="gray_text px-1">New Delhi Railway Station</p> -->
              </div>
              <div class="col-12">
                <hr class="dashed_hr">
              </div>
            </div>
            <div class="row mt-2">
              <!-- <div class="col-7">
                <div class="d-flex align-items-center">
                  <img src="{{cdnUrl}}/images/success_tick.svg">
                  <div>
                    <p class="gray_text px-1">testingemail@gmail.com</p>
                    <p class="gray_text px-1">91 9876543211</p>
                  </div>
                </div>
              </div> -->
              <div class="col-5 text-right">
                <p class="gray_text px-1">Booked Via</p>
                        <div class="booked_via_div float-right">
                          <img src="{{cdnUrl}}images/smartbuy/partner/48/svg/irctc_long.svg" class="booked_via_img">
                        </div>
              </div>
              <div class="col-12">
                <hr class="dashed_hr">
              </div>
            </div>
            <div class="row">
              <div class="div_flex">
                <div class="div_flex_item">
                    <p class="gray_text">Transaction ID</p>
                    <p class="black_text">{{tdrResponse.reservationId}}</p>
                </div>
                <div class="div_flex_item text-right">
                  <p class="gray_text">Date of Journey</p>
                  <p class="black_text">{{tdrResponse.journeyDate | date:'mediumDate'}}</p>
              </div>
              <div class="div_flex_item">
                <p class="gray_text">Date of Boarding</p>
                <p class="black_text">{{tdrResponse.boardingDate | date:'mediumDate'}}</p>
              </div>
              <div class="div_flex_item text-right">
                <p class="gray_text">Class</p>
                <p class="black_text">{{journeyClass}} ({{tdrResponse.journeyClass}})</p>
              </div>
              <div class="div_flex_item">
                <p class="gray_text">From</p>
                <p class="black_text">{{fromstn}} ({{tdrResponse.fromStn}})</p>
              </div>
              
              <div class="div_flex_item text-right">
                <p class="gray_text">To</p>
                <p class="black_text">{{tostn}} ({{tdrResponse.destStn}})</p>
              </div>
              <div class="div_flex_item">
                <p class="gray_text">Resv Upto</p>
                <p class="black_text">{{tdrResponse.reservationUpTo}}</p>
              </div>
              <div class="div_flex_item text-right">
                <p class="gray_text">Ticket Type</p>
                <p class="black_text">E Ticket</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of train details mlite -->

      <!-- passengers list web -->
      <div class="tdr_train_details" *ngIf="!isMobile">
        <div class="tdr_box">
        <div class="highlight_text">Passengers</div>
        <div class="table-responsive">
          <table class="table table-borderless tdr_pssngr_tbl">
            <thead>
              <tr class="table-titles">
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Berth Preference</th>
                <th scope="col">Booking/Current Status</th>
              </tr>
            </thead>
            <tbody class="table-values">
              <tr *ngFor="let data of passdata">
                <td class="text-center" >
                  <!-- <span *ngIf="data.currentStatus!='CAN'"> -->
                  <span>  
                  <p><label class="checkbox m-0"><input formcontrolname="" name="" type="checkbox" value="{{data}}"
                        class="" (change)="onCheckboxChange(data,$event)">
                      <span class="checkmark"></span></label></p>
                    </span>
                </td>
                <td>{{data.passengerName}}</td>
                <td>{{data.passengerAge}}</td>
                <td>{{data.passengerGender}}</td>
                <td>{{data.passengerBerthChoice}}</td>
                <td>{{data.currentStatus}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="color: red" *ngIf="checkerror">Please select atleast one passenger</div>
      </div>
      </div>
      <!-- end of passengers list web -->

      <!-- passengers list mlite -->
      
      <div class="tdr_train_details" *ngIf="isMobile">
        <div class="tdr_box">
        <div class="highlight_text">Passengers</div>
        <div class="row mt-2" *ngFor="let data of passdata; let i = index;">
          <div class="col-12 panel-title pos_rel" type="button" data-bs-toggle="collapse" data-bs-target="#member_1" aria-expanded="false" aria-controls="member_{{i}}">
            <div class="row">
            <div class="col-1">
              <!-- <span *ngIf="data.currentStatus!='CAN'"> -->
                <span>
                <p><label class="checkbox m-0"><input formcontrolname="" name="" type="checkbox" value="{{data}}"
                      class="" (change)="onCheckboxChange(data,$event)">
                    <span class="checkmark"></span></label></p>
                  </span>
            </div>
            <div class="col-5">
                <p class="black_text">Name</p>
            </div>
            <div class="col-5 text-right">
                <p class="black_text">{{data.passengerName}}</p>
            </div>
            </div>
        </div>
        <div class="collapse" id="member_{{i}}">
          <div class="col-12">
            <div class="row mt-3">
              <div class="col-5 offset-1">
                  <p class="black_text">Age</p>
              </div>
              <div class="col-5 text-right">
                  <p class="black_text">{{data.passengerAge}}</p>
              </div>
              </div>
              <div class="row mt-3">
                <div class="col-5 offset-1">
                    <p class="black_text">Gender</p>
                </div>
                <div class="col-5 text-right">
                    <p class="black_text">{{data.passengerGender}}</p>
                </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5 offset-1">
                      <p class="black_text">Berth Preference</p>
                  </div>
                  <div class="col-5 text-right">
                      <p class="black_text">{{data.passengerBerthChoice}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-5 offset-1">
                      <p class="black_text">Booking/Current Status</p>
                  </div>
                  <div class="col-5 text-right">
                      <p class="black_text">{{data.currentStatus}}</p>
                  </div>
                </div>
          </div>
        </div>
        </div>
        <div style="color: red" *ngIf="checkerror">Please select atleast one passenger</div>
      </div>
      </div>
      <!-- end of passengers list mlite -->

      <div class="tdr_train_details">
        <div class="tdr_box">
        <div class="highlight_text">Reason for TDR</div>
            <mat-form-field class="tdr_select">
              <mat-select placeholder="Select TDR Reason" (selectionChange)="onChange($event)">

                <mat-option *ngFor="let r of tdrReasons" [value]="r.reasonIndex">{{r.tdrReason}} </mat-option>

              </mat-select>
            </mat-form-field>
            <div style="color: red" *ngIf='reasonerror'>Please select a reason</div>


            <div class="row w-select-reason">
              <div class="col-md-12" *ngIf="showwarningmsg && submitShowwarningmsg" style="color: red">
                <p><sup>**</sup>Please ensure that you're filing this TDR with the Original Certificate enclosed and courier
                  it to the following address:</p>
                <small style="color: red">General Manager (Ops)
                  IRCTC Authorised Partner Internet Ticketing Centre,
                  State Entry Road,
                  New Delhi-110055</small>
              </div>
            </div>
        
      </div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-md-12 text-right">
          <a href="javascript:void(0)" class="blue_text_link px-3" (click)="resetpnrform()">Don't Cancel</a>
          <button class="btn tdr_btn" [disabled]="tdrpass != true"
          (click)="submittdrData()">File TDR</button>
        </div>
      </div>


    </div>
  </div>
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type="ball-running-dots" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

</div>
