@import '../../../assets/sharedscss/color';
@import '../../../assets/sharedscss/fonts';

.w-manage-profiles {
    .w-manage-title {
        img {
            padding: 4px;
            border: 1px solid #F6F6F6;
            border-radius: 50%;
            display: inline-block;
            clear: both;
            background: #001f79 !important;
            height: 65px !important;
            width: 65px !important;
        }
        h2 {
            font-size: 22px;
            font-weight: bold;
            margin-top: 3px;
        }
    }
    .w-manage-categories {
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        padding: 0px 20px;
        background-color: #fff;
        min-height:137px;
        ul {
            list-style: none;
            padding: 0px;
            li {
                margin: 0 0 0 30px;
                display: inline-block;
                padding:20px 0px 20px 0px;
                a {
                    text-decoration: none;
                }
                &:hover {
                  border-bottom: 2px solid #025297;
                }
            }
        }
        .w-manage-category-title {
            p {
                font-size: 12px;
                color: #333333;
                margin-top: 11px;
                margin-bottom: 7px;
                font-weight: bold;
            }
            small {
                font-size: 10px;
                color: #666666;
                margin-top: 4px;
                font-weight: 600;
            }
        }
    }
}
.w-select-reason {
    p {
        font-size: 14px;
    }
    small {
        font-size: 12px;
        color: #333333;
        font-weight: 600;
    }
}

.pnr-section {
    margin: 30px 0px;
    .number-title{
        font-size: 16px;
        font-family: 'opensans-medium';
        letter-spacing: 1.5px;
        color: #020202;
        margin-bottom: 15px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .text-or{
        font-size: 14px;
        font-family: 'opensans-medium';
        color: #001f79;
        text-transform: uppercase;
        text-align: center;
        padding: 35px 0px 0px;
        @media screen and (max-width: 425px) {
            padding: 0px;
            margin-bottom: 0px;
        }
    }
    
}

@media screen and (max-width:477px) {
.m-mt-3 {
    margin-top:3rem !important;
}
}
.error{
    color: $color-red;
    padding: 0px 0px;
      margin-top: -14px;
      margin-bottom: 10px;
  
  }
.train-tdr-section{
    margin-top:11em;
    @media screen and (max-width: 425px) {
        margin-top: 2.2em;
    }
}
.train-btn-group{
    margin-bottom: 20px;
    margin-top:1.5rem;
    @media screen and (max-width: 425px) {
        overflow: auto;
        white-space: nowrap;
        padding-bottom: 0px;
        margin-top:0.75rem;
    }
}
.tdr-heading{
    background-color: #001f79;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-family: 'opensans-medium';
    color: #ffffff;
    // margin-top: 25px;
}

.tdr-heading-SMARTBUY{
    background-color: #001f79;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-family: 'opensans-medium';
    color: #ffffff;
    // margin-top: 25px;
}
.tdr-heading-REGALIA{
    // background-color: #001f79;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-family: 'opensans-medium';
    color: #ffffff;
    background-image: linear-gradient(129deg, #61471d, #61471d) !important;
    // margin-top: 25px;
}
.tdr-heading-INFINIA{
    // background-color: #001f79;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-family: 'opensans-medium';
    color: #ffffff;
    background-image: linear-gradient(129deg, #0e255e, #0e255e) !important;
    // margin-top: 25px;
}
.tdr-heading-DINERS{
    // background-color: #001f79;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-family: 'opensans-medium';
    color: #ffffff;
    background-image: linear-gradient(129deg, rgb(74, 144, 224), rgb(74, 144, 224)) !important;
    // margin-top: 25px;
}
.tdr-heading-CORPORATE{
    // background-color: #001f79;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-family: 'opensans-medium';
    color: #ffffff;
    background-image: linear-gradient(117deg, #000, #000) !important;
    // margin-top: 25px;
}
.tdr-heading-BUSINESS{
    // background-color: #001f79;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-family: 'opensans-medium';
    color: #ffffff;
    background-image: linear-gradient(115deg, #4375d4, #0c48ba) !important;
    // margin-top: 25px;
}

.btnTdr-default{
  border-radius: 5px;
  border: solid 1px #979797;
  font-family: 'opensans-medium';
  font-size: 14px;
  color: #020202;
}
.btnTdr-active-SMARTBUY{
    border-radius: 5px;
    // background-color: #337ab7;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    background-image: linear-gradient(129deg, #337ab7, #337ab7) !important;
}
.btnTdr-active-REGALIA{
    border-radius: 5px;
    // background-color: #337ab7;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    border-color:#61471d !important;
    background-image: linear-gradient(129deg, #ffe7bf, #f0b85b) !important;
}
.btnTdr-active-INFINIA{
    border-radius: 5px;
    // background-color: #337ab7;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    border-color:#0c48ba !important;
    background-image: linear-gradient(129deg, #4375d4, #0c48ba) !important;
}
.btnTdr-active-DINERS{
    border-radius: 5px;
    // background-color: #337ab7;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    border-color:#0c48ba !important;
    background-image: linear-gradient(129deg, rgb(132, 201, 250), rgb(74, 144, 224)) !important;
}
.btnTdr-active-CORPORATE{
    border-radius: 5px;
    // background-color: #337ab7;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    border-color:#0c48ba !important;
    background-image: linear-gradient(117deg, #4a4a4a, #000) !important;
}
.btnTdr-active-BUSINESS{
    border-radius: 5px;
    // background-color: #337ab7;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    border-color:#0c48ba !important;
    background-image: linear-gradient(115deg, #4375d4, #0c48ba) !important;
}
.pnr-section {
    padding: 2em 2em;
    margin: 0px;
    @media screen and (max-width:600px){
        padding:1em 1em;
    }
    .number-title{
        font-size: 13px;
        font-family: 'opensans-medium';
        letter-spacing: 1.5px;
        color: #020202;
        margin-bottom: 15px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .text-or{
        font-size: 14px;
        font-family: 'opensans-medium';
        color: #001f79;
        text-transform: uppercase;
        text-align: center;
        padding: 35px 0px 0px;
        @media screen and (max-width: 425px) {
            padding: 0px;
            margin-bottom: 0px;
        }
    }
    
}
.btnTdr-submit{
    border-radius: 5px;
    background-color: rgba(8, 78, 143, 0.945);
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    @media screen and (max-width:477px) {
      width:100%;
    }
}
.btnTdr-submit-SMARTBUY{
    border-radius: 5px;
    background-color: rgba(8, 78, 143, 0.945);
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    @media screen and (max-width:477px) {
      width:100%;
    }
}
.btnTdr-submit-REGALIA{
    border-radius: 5px;
    // background-color: rgba(8, 78, 143, 0.945);
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #61471d;
    width: 130px;
    border-color:#61471d !important;
    background-image: linear-gradient(129deg,  #ffe7bf, #f0b85b) !important;
    @media screen and (max-width:477px) {
      width:100%;
    }
}
.btnTdr-submit-INFINIA{
    border-radius: 5px;
    // background-color: rgba(8, 78, 143, 0.945);
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    border-color:#0f255e !important;
    background-image: linear-gradient(129deg, #4375d4, #0c48ba) !important;
    @media screen and (max-width:477px) {
      width:100%;
    }
}
.btnTdr-submit-DINERS{
    border-radius: 5px;
    // background-color: rgba(8, 78, 143, 0.945);
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    border-color:#0f255e !important;
    background-image: linear-gradient(129deg, rgb(74, 144, 224), rgb(74, 144, 224)) !important;
    @media screen and (max-width:477px) {
      width:100%;
    }
}
.btnTdr-submit-CORPORATE{
    border-radius: 5px;
    // background-color: rgba(8, 78, 143, 0.945);
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    border-color:#0f255e !important;
    background-image: linear-gradient(117deg, #4a4a4a, #000) !important;
    @media screen and (max-width:477px) {
      width:100%;
    }
}
.btnTdr-submit-BUSINESS{
    border-radius: 5px;
    // background-color: rgba(8, 78, 143, 0.945);
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    border-color:#0c48ba !important;
    background-image: linear-gradient(115deg, #4375d4, #0c48ba) !important;
    @media screen and (max-width:477px) {
      width:100%;
    }
}
.btnTdr-file{
    border-radius: 5px;
    background-color: #025297;
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-file-SMARTBUY{
    border-radius: 5px;
    background-color: #025297;
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-file-BUSINESS{
    border-radius: 5px;
    background-color: #0c48ba;
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-file-CORPORATE{
    border-radius: 5px;
    background: linear-gradient(117deg, #4a4a4a, #000) !important;
    border-color: #000 !important;
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-file-INFINIA{
    border-radius: 5px;
    background: linear-gradient(129deg, #4375d4, #0c48ba) !important;
    border-color: #0c48ba !important;
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-file-REGALIA{
    border-radius: 5px;
    background: linear-gradient(129deg, #ffe7bf, #f0b85b) !important;
    border-color: #61471d !important;
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #61471d;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-file-DINERS{
    border-radius: 5px;
    background: linear-gradient(129deg, #84c9fa, #4a90e0) !important;;
    border-color: #0f255e !important;
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-reset{
    border-radius: 5px;
    background-color:#ffffff;
    font-size: 14px;
    border: solid 1px #979797;
    font-family: 'opensans-medium';
    color: #020202;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-reset-SMARTBUY{
    border-radius: 5px;
    background-color:#ffffff;
    font-size: 14px;
    border: solid 1px #979797;
    font-family: 'opensans-medium';
    color: #020202;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-reset-REGALIA{
    border-radius: 5px;
    background-color:#ffffff;
    font-size: 14px;
    border: solid 1px #979797;
    font-family: 'opensans-medium';
    color: #61471d;
    border-color:#61471d !important;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-reset-INFINIA{
    border-radius: 5px;
    background-color:#ffffff;
    font-size: 14px;
    border: solid 1px #979797;
    font-family: 'opensans-medium';
    color: #1951c0;
    border-color:#1951c0 !important;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-reset-DINERS{
    border-radius: 5px;
    background-color:#ffffff;
    font-size: 14px;
    border: solid 1px #979797;
    font-family: 'opensans-medium';
    color: #000000;
    border-color:#4a90e0 !important;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}

.btnTdr-reset-CORPORATE{
    border-radius: 5px;
    background-color:#ffffff;
    font-size: 14px;
    border: solid 1px #979797;
    font-family: 'opensans-medium';
    color: #000000;
    border-color:#000000 !important;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.btnTdr-reset-BUSINESS{
    border-radius: 5px;
    background-color:#ffffff;
    font-size: 14px;
    border: solid 1px #979797;
    font-family: 'opensans-medium';
    color: #0c48ba;
    border-color:#0c48ba !important;
    width: 130px;
    @media screen and (max-width:477px) {
        width:100%;
      }
}
.sub-btn-group{
    margin-top: 15px;
}
.ticketDetailsSection{
    margin:10px 0px;
    .title{
        background-color: rgba(0, 31, 121, 0.1);
        font-size: 16px;
        font-family: 'opensans-medium';
        color: #020202;
        padding: 15px 20px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .ticket-details{
        font-size: 14px;
        color: #020202;
        
        .t-name{
            font-family: 'opensans-medium';
        }
        .t-value{
            font-family: 'opensans-regular';
        }
    }
    
}
.ticketDetailsSection-SMARTBUY{
    margin:10px 0px;
    .title{
        background-color: rgba(0, 31, 121, 0.1);
        font-size: 16px;
        font-family: 'opensans-medium';
        color: #020202;
        padding: 15px 20px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .ticket-details{
        font-size: 14px;
        color: #020202;
        
        .t-name{
            font-family: 'opensans-medium';
        }
        .t-value{
            font-family: 'opensans-regular';
        }
    }
    
}
.ticketDetailsSection-REGALIA{
    margin:10px 0px;
    .title{
        background-color:#61471d;
        font-size: 16px;
        font-family: 'opensans-medium';
        color: #ffffff;
        padding: 15px 20px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .ticket-details{
        font-size: 14px;
        color: #020202;
        
        .t-name{
            font-family: 'opensans-medium';
        }
        .t-value{
            font-family: 'opensans-regular';
        }
    }
    
}
.ticketDetailsSection-INFINIA{
    margin:10px 0px;
    .title{
        background-color: #0e255e;
        font-size: 16px;
        font-family: 'opensans-medium';
        color: #ffffff;
        padding: 15px 20px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .ticket-details{
        font-size: 14px;
        color: #020202;
        
        .t-name{
            font-family: 'opensans-medium';
        }
        .t-value{
            font-family: 'opensans-regular';
        }
    }
    
}
.ticketDetailsSection-DINERS{
    margin:10px 0px;
    .title{
        background-color: #4a90e0;
        font-size: 16px;
        font-family: 'opensans-medium';
        color: #ffffff;
        padding: 15px 20px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .ticket-details{
        font-size: 14px;
        color: #020202;
        
        .t-name{
            font-family: 'opensans-medium';
        }
        .t-value{
            font-family: 'opensans-regular';
        }
    }
    
}
.ticketDetailsSection-CORPORATE{
    margin:10px 0px;
    .title{
        background-color: #020202;
        font-size: 16px;
        font-family: 'opensans-medium';
        color: #ffffff;
        padding: 15px 20px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .ticket-details{
        font-size: 14px;
        color: #020202;
        
        .t-name{
            font-family: 'opensans-medium';
        }
        .t-value{
            font-family: 'opensans-regular';
        }
    }
    
}
.ticketDetailsSection-BUSINESS{
    margin:10px 0px;
    .title{
        background-image: linear-gradient(115deg, #4375d4, #0c48ba) !important;
        font-size: 16px;
        font-family: 'opensans-medium';
        color: #ffffff;
        padding: 15px 20px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .ticket-details{
        font-size: 14px;
        color: #020202;
        
        .t-name{
            font-family: 'opensans-medium';
        }
        .t-value{
            font-family: 'opensans-regular';
        }
    }
    
}
.table-titles{
    border-bottom: solid 1px rgba(151, 151, 151, 0.5);
    th{
        font-size: 14px;
        color: #020202;
        @media screen and (max-width: 425px) {
            font-size: 12px;
        }
    }
}
.table-values{
    tr{
        th, td{
            color: #020202;
            font-size: 14px;
            @media screen and (max-width: 425px) {
                font-size: 12px;
            }
        }
    }
}

.passengerDetailsSection{
     margin:10px 0px;   
    .title{
        background-color: rgba(0, 31, 121, 0.1);
        font-size: 16px;
        font-family: 'opensans-medium';
        color: #020202;
        padding: 15px 20px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    
}
.passengerDetailsSection-SMARTBUY{
    margin:10px 0px;   
   .title{
       background-color: rgba(0, 31, 121, 0.1);
       font-size: 16px;
       font-family: 'opensans-medium';
       color: #020202;
       padding: 15px 20px;
       @media screen and (max-width: 425px) {
           font-size: 14px;
       }
   }
   
}
.passengerDetailsSection-BUSINESS{
    margin:10px 0px;   
   .title{
    background-image: linear-gradient(115deg, #4375d4, #0c48ba) !important;
       font-size: 16px;
       font-family: 'opensans-medium';
       color: #fff;
       padding: 15px 20px;
       @media screen and (max-width: 425px) {
           font-size: 14px;
       }
   }
   
}
.passengerDetailsSection-CORPORATE{
    margin:10px 0px;   
   .title{
    background-image: linear-gradient(115deg, #000, #000) !important;
       font-size: 16px;
       font-family: 'opensans-medium';
       color: #fff;
       padding: 15px 20px;
       @media screen and (max-width: 425px) {
           font-size: 14px;
       }
   }
   
}
.passengerDetailsSection-INFINIA{
    margin:10px 0px;   
   .title{
    background-image: linear-gradient(129deg, #0e255e, #0e255e) !important;
       font-size: 16px;
       font-family: 'opensans-medium';
       color: #fff;
       padding: 15px 20px;
       @media screen and (max-width: 425px) {
           font-size: 14px;
       }
   }
   
}
.passengerDetailsSection-REGALIA{
    margin:10px 0px;   
   .title{
    background-image: linear-gradient(129deg, #61471d, #61471d) !important;
       font-size: 16px;
       font-family: 'opensans-medium';
       color: #fff;
       padding: 15px 20px;
       @media screen and (max-width: 425px) {
           font-size: 14px;
       }
   }
   
}
.passengerDetailsSection-DINERS{
    margin:10px 0px;   
   .title{
    background-image: linear-gradient(129deg, #4a90e0, #4a90e0) !important;
       font-size: 16px;
       font-family: 'opensans-medium';
       color: #fff;
       padding: 15px 20px;
       @media screen and (max-width: 425px) {
           font-size: 14px;
       }
   }
   
}

.bookedTicketHistory-section {
    border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    // .title-book {
    //     padding: 20px;
    //     background-color: #001F79;
    //     color: #ffffff;
    // }
    // label {
    //     font-size: 13px;
    // }
    // .w-btn-submit {
    //     border:1px solid #004c8f;
    //     background-color: #004c8f;
    //     padding: 10px 15px 10px 20px;
    //     color:#ffffff;
    //     border-radius:5px;
    //     outline:none;
    // }
    // .w-btn-danger {
    //     border:1px solid #ee2924;
    //     background-color: #ee2924;
    //     padding: 10px 15px 10px 20px;
    //     color:#ffffff;
    //     border-radius:5px;
    //     outline: none;
    // }
}

.btn-c, .btn-b{
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: 425px) {
     width: 95px;
     margin: 0px 20px 0px 0px;
    }
   }
   .btn-b{
    border: 1px solid $color-blue-btn;
    background: $color-white;
    color: $color-vivid-blue;
    cursor: pointer;
   }
   .btn-c{
    border: 1px solid $color-blue-btn;
    background: $color-blue-btn;
    color: $color-white;
    cursor: pointer;
   }
   .btn-c-SMARTBUY, .btn-b-SMARTBUY{
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: 425px) {
     width: 95px;
     margin: 0px 20px 0px 0px;
    }
   }
   .btn-b-SMARTBUY{
    border: 1px solid $color-blue-btn;
    background: $color-white;
    color: $color-vivid-blue;
    cursor: pointer;
   }
   .btn-c-SMARTBUY{
    border: 1px solid $color-blue-btn;
    background: $color-blue-btn;
    color: $color-white;
    cursor: pointer;
   }


   .btn-c-REGALIA, .btn-b-REGALIA{ 
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background-image: linear-gradient(129deg,  #ffe7bf, #f0b85b) !important;
    @media screen and (max-width: 425px) {
     width: 95px;
     margin: 0px 20px 0px 0px;
    }
   }
   .btn-b-REGALIA{
    border: 1px solid #61471d;
    // background: $color-white;
    color: #61471d;
    cursor: pointer;
    background-image: linear-gradient(129deg,  #ffffff, #ffffff) !important;
   }
   .btn-c-REGALIA{
    border: 1px solid #61471d;
    background: $color-blue-btn;
    color: #61471d;
    cursor: pointer;
   }

   .btn-c-INFINIA, .btn-b-INFINIA{ 
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background-image: linear-gradient(129deg, #4375d4, #0c48ba) !important;
    @media screen and (max-width: 425px) {
     width: 95px;
     margin: 0px 20px 0px 0px;
    }
   }
   .btn-b-INFINIA{
    border: 1px solid $color-blue-btn;
    // background: $color-white;
    color: #0c48ba;
    cursor: pointer;
    background-image: linear-gradient(129deg, #ffffff, #ffffff) !important;
   }
   .btn-c-INFINIA{
    border: 1px solid #0c48ba;
    background: linear-gradient(129deg, #4375d4, #0c48ba) !important;;
    color: #fff;
    cursor: pointer;
   }

   .btn-c-DINERS, .btn-b-DINERS{ 
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background-image: linear-gradient(129deg, rgb(132, 201, 250), rgb(74, 144, 224)) !important;
    @media screen and (max-width: 425px) {
     width: 95px;
     margin: 0px 20px 0px 0px;
    }
   }
   .btn-b-DINERS{
    border: 1px solid $color-blue-btn;
    // background: #fff;
    color: #000;
    cursor: pointer;
    background-image: linear-gradient(129deg,#fff, #fff) !important;
   }
   .btn-c-DINERS{
    border: 1px solid #0c48ba;
    background: $color-blue-btn;
    color: #fff;
    cursor: pointer;
   }

   .btn-c-CORPORATE, .btn-b-CORPORATE{ 
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background-image: linear-gradient(117deg, #4a4a4a, #000) !important;
    @media screen and (max-width: 425px) {
     width: 95px;
     margin: 0px 20px 0px 0px;
    }
   }
   .btn-b-CORPORATE{
    border: 1px solid #000000;
    // background: $color-white;
    color: #000000;
    cursor: pointer;
    background-image: linear-gradient(117deg, #ffffff, #ffffff) !important;
   }
   .btn-c-CORPORATE{
    border: 1px solid #000;
    background: $color-blue-btn;
    color: #fff;
    cursor: pointer;
   }

   .btn-c-BUSINESS, .btn-b-BUSINESS{ 
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    background-image: linear-gradient(115deg, #4375d4, #0c48ba) !important;
    @media screen and (max-width: 425px) {
     width: 95px;
     margin: 0px 20px 0px 0px;
    }
   }
   .btn-b-BUSINESS{
    border: 1px solid $color-blue-btn;
    // background: $color-white;
    color: $color-vivid-blue;
    cursor: pointer;
    background-image: linear-gradient(115deg, #ffffff, #ffffff) !important;
   }
   .btn-c-BUSINESS{
    border: 1px solid #0c48ba;
    background: $color-blue-btn;
    color: #fff;
    cursor: pointer;
   }

   .manage_account {
    margin-bottom: 0em !important;
    background-color: #fff;
    margin-top: 1.5em;
    margin-bottom: 3em;
}


   .manage_account .cus_name {
    font: 28px/40px opensans-medium;
    letter-spacing: 0px;
    color: #050505;
    opacity: 1;
   }

   .manage_account_tabs {
    border: none;
}

.tab_title {
    padding: 10px 20px;
}
.w-bb {
    border-bottom: 1px solid #B2B3B4;
}

.tab_title .title_name {
    font: 22px/40px opensans-medium;
    letter-spacing: 0px;
    color: #050505;
    margin: 0px;
}


.backOrder_sym {
    float: left;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.list-back{
    position: relative;
    left: 0;
    display: block;
    width: 20px;
    float: left;
    height: 100%;
    padding-left: 5px;
}
.list-back-title{
    background: $color-dark-blue;
    text-align: left;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    padding-left:15px;
    @media screen and (min-width: 769px){
        display: none;
    }
}
.list-back-title a{
    color: #fff;
}


// file tdr
.tdr_cntnr{
    margin-top:9rem;
    margin-bottom:5rem;
    @media screen and (max-width:600px){
        margin-top:6rem;
        margin-bottom: 1rem;
    }
    .breadcrumb{
        li{
            a{
                color:#1d86ff;
            }
        }
    }
    .main_hdr{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 300;
        font-size: 29px;
        line-height: 39px;
        color: #1C1C1C;
        margin-top:3rem;
        @media screen and (max-width:600px){
            margin-top:1rem;
            font-size:22px;
        }
    }
    .sort_btn{
        font-family:'opensans-regular';
        background: #FFFFFF;
        border: 1px solid #BBBBBB;
        border-radius: 24px;
        font-size:14px;
        padding:10px 35px;
        color:#555555;
        margin-right:10px;
        @media screen and (max-width:600px){
            padding:5px 20px;
            font-size:12px;
            line-height:3.2;
        }
    }
    .sort_btn.btnTdr-active-SMARTBUY{
        background: #FFFFFF !important;
        border: 1px solid #1d86ff;
        color:#1d86ff;
    }
    .pri_hdr{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #1C1C1C;
        margin-top:3rem;
        @media screen and (max-width:600px){
            font-size: 16px;
            margin-top:0px;
        }
    }
    .tdr_box{
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        padding:15px;
        margin-top:1rem;
        @media screen and (max-width:600px){
           padding:0px;
        }
    }
    .pnr-section{
        .mat-radio-group{
            .mat-radio-button {
                .mat-radio-label{
                    margin-left:20px !important;
                }
                &:first-child{
                    margin-left:0px !important;
                }
            }
        }
    }
    .submit_btn{
        background: #1D86FF;
        border: 1px solid #1D86FF;
        border-radius: 4px;
        padding:19px 0px;
        margin-top:4px;
        @media screen and (max-width:600px){
            margin-top:0px;
            border-radius: 0px 4px 4px 0px;
            padding:19.5px 0px;
        }
    }
    .reset_btn{
        background: #fff;
        border: 1px solid #1D86FF;
        border-radius: 4px;
        padding:19px 0px;
        margin-top:4px;
        color:#1d86ff;
        margin-left:8px;
        @media screen and (max-width:600px){
            margin-top:10px;
            margin-left:0px;
        }
    }
}
.tdr_train_details{
    .tdr_box{
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        padding:15px;
        margin-top:1rem;
    .gray_text{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #838282;
        @media screen and (max-width:600px){
            font-size:10px;
        }
    }
    .number_highlight{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #000000;
    }
    .highlight_text{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        @media screen and (max-width:600px){
            font-size:14px;
        }
    }
    .price_text{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: #000000;
        @media screen and (max-width:600px){
            font-size:16px;
        }
    }
    .text_success{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #009817;
    }
    .black_text{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
    }
    .div_flex{
        display:flex;
        flex-flow: row wrap;
    }
    .div_flex_item{
        flex:0 20%;
        margin-top:1rem;
        @media screen and (max-width:600px){
            flex:0 50%;
        }
    }
    .train_img_div{
        width:150px;
        height:150px;
        border-radius:5px;
        .train_img{
            width:100%;
            height:100%;
            border-radius:5px;
        }
    }
    .dashed_hr{
        border: none;
        border-top: 1px dashed rgba(0, 0, 0, 0.3);
        color: #fff;
        background-color: #fff;
        height: 1px;
        @media screen and (max-width:600px){
            margin-bottom:0px;
        }
    }
    .booked_via_div{
        width:75px;
        height:50px;
        @media screen and (max-width:600px){
            height:25px;
        }
        .booked_via_img{
           max-width:100%;
           max-height:100%;
        }
    }
    .tdr_pssngr_tbl{
        margin-top:2rem;
        .table-titles{
            border-bottom:none;
            th{
                font-family: 'opensans-regular';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                color: #00000050;
            }

        }
        tbody{
            tr{
                    border-top:1px solid #e2dddd50;
            }
        }
    }
    .tdr_select{
        width:100%;
        background:#d9d9d920;
        border-radius:5px;
        padding:0px 10px;
        margin-top:1rem;
            .mat-form-field-underline {
                height:0px !important;
            }
    }
    
}

}
.blue_text_link{
    font-family: 'opensans-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #1D86FF;
}
.tdr_btn{
    background:#1d86ff;
    color:#fff;
    font-weight:600;
    font-size:15px;
    border-radius:8px;
    border:1px solid #1d86ff;
    padding:8px 30px;
}
.panel-title {
    &::after {
        content: "\f107";
        color: #333;
        top: -2px;
        right: 15px;
        position: absolute;
        font-family: "FontAwesome";
    }
}
.panel-title[aria-expanded="true"] {
    &::after {
        content: "\f106";
    }
}
.pos_rel{
    position:relative;
}
@media screen and (max-width:600px){
    .mlite_rdio_btn{
        margin-top:10px;
        display:block;
    }
    .mlite_fixed_hdr{
        position: fixed;
        top:92px;
        background:#fff;
        padding:12px 10px;
        width:100%;
        z-index:5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

        img{
            width:14px;
            height:14px;
        }
        .hdr_navi_title{
            color:#1d86ff;
            font-weight: 600;
            font-size: 14px;
            line-height: 15px;
        }
    }
}
