<mat-dialog-content  class="mat-typography">
        <form [formGroup]='tdragreementForm'>
        <div class="m-2 " style="text-align:center;" >
        <!-- <h3  class="p-3"  [innerHTML]="data.messageData">  -->
        <!-- <p > -->
                <ul class="p-3 text-left pl-4">
                   <li>SmartBuy does not restrict TDR filing for any PNR.</li> 
                   <li>The final decision of accepting/rejecting the filed TDR will rest with IRCTC Authorised Partner as per the T&C mentioned by IRCTC Authorised Partner for the selected TDR reason.</li>  
                   <li>SmartBuy will not be liable/responsible for any decision taken by IRCTC Authorised Partner in this regard.</li> 
                </ul>
        <!-- </p> -->
        <!-- </h3> -->
        <div class="mb-2 text-left pl-3">
        <mat-checkbox formControlName="termsandcondition">I Accept</mat-checkbox>
        </div>
        <div *ngIf=" submitted && tdragreementForm.get('termsandcondition').invalid" class="error text-left pl-3">
                        <span *ngIf="tdragreementForm.get('termsandcondition').errors.required || tdragreementForm.get('termsandcondition').errors.pattern">Please accept Terms and Conditions</span>
                </div>
        <hr>
        <div class="mb-2">
        <button (click) = "onNoClick()"  tabindex="1" class="btn btn-b-{{domainName}} mr-2 mb-1 float-sm-right">Cancel</button>
        <button (click) = "onYesClick()"  tabindex="2" class="btn btn-c-{{domainName}} mx-2 mb-1 float-sm-right">Submit</button>
        </div>

        </div>
</form>
        </mat-dialog-content>
