.disableDiv {
    pointer-events: none;
}

.bootstrap-select>select.bs-select-hidden, select.bs-select-hidden, select.selectpicker
{
    display: block!important;
}

.coupon_mlite_popup .modal-dialog{
    margin: 0;
    display:flex;
    align-items: flex-end;
    min-height: calc(100% - 0px);
  }

  .difference-error
  {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: red;
  }

  .selected-flight-background {
    background: rgba(29, 134, 255, 0.05);
  }

  .selected-flight-background-return {
    background: rgba(29, 134, 255, 0.05);
  }

  .ff-Viewfaredetails_mb:hover .hover-popover {
    display: block;
    top: -80%;
    left: 125px;
}