/*
--------------------------------------------------------------------------------------------------------
* Project    :                                                                                         *
* Author     : piyush Tapaniya | +91 83060 05795                                                       * 
* Support    : piyush.tapaniya90@gmail.com                                                             * 
*------------------------------------------------------------------------------------------------------- 
NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. */


@media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px;
    }
}


@media only screen and (max-width: 991px) { 
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
    .mtb-90 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    .mtb-100 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .mtb-110 {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }
    .mtb-120 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    .mtb-130 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    .mtb-140 {
        margin-top: 90px !important;
        margin-bottom: 90px !important;
    }
    .mtb-150 {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
    .ptb-90 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .ptb-100 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .ptb-110 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .ptb-120 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
    .ptb-130 {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
    .ptb-140 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }
    .ptb-150 {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
    /* helper classes */
    .grid-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-5 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-6 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } 

    .l_claim, .lpb_claim {
        padding: 30px 0px;
    }

    .brands-grid.grid-4 {
        grid-template-columns: repeat(3, 1fr);
    }




    .navbar-brand img {
        width: 100px;
    }
    .h-right a{
        font-size: 14px;
    }
    .h-right .list-inline-item:not(:last-child) {
        margin-right: 0;
    }
    .h-right img{
        width: 20px;
    }

    .travel-select-box { 
        width: 100%;
    }
    .travel-list-ul {
        display: inline-block !important;
        white-space: nowrap !important;
        overflow-x: scroll;
        width: 100%;
    }

    li.travel-list-li {
        display: inline-block;
        position: relative;
    }

    .travel-list-ul li .travel-list-a { 
        padding: 8px 25px ; 
        font-size: 14px;
    }

    .travel-select-trip-ul li:nth-child(n+4) {
        display: none;
    }

    .travel-select-trip-ul span.selectway {
        padding: 4px 12px; 
        font-size: 11px;
    }

    .m-none, .select-dep-ret .area-root-reutrn {
        display: none;
    }
    .mob-select-roottitle{
        display: block;
        font-size: 11px;
        color: #7f7f7f;
        text-transform: uppercase;
    } 
    .select-root-left h5, .select-root-right h5, .select-root-departure h5, .select-root-reutrn h5 { 
        font-size: 16px;
    }

    .select-root-icons {
        width: 30px;
        height: 30px; 
        left: -6px; 
    }
    .select-root-icons img {
        width: 14px;
    }
    .select-root-right { 
        padding: 5px 0px 5px 10px;
    }

    .root-date, .select-dep-ret {  
        flex-direction: column;
    }
    .area-root-departure, .area-root-reutrn {
        width: 100%;  
    }
    .area-root-departure {
        padding-right: 0;
        border-right: none;
    } 
    .root-search {
        width: 100%;
        text-align: center;
    }
    .searchbn { 
        padding: 10px 0px; 
        font-size: 16px; 
        width: 100%;
        display: inline-block;
    }

    .add-search-content { 
        width: 100%;
    }
    .Preferred-title { 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .half-circle-top { 
        top: -39px; 
    }
    .half-circle-bottom {
        bottom: -39px; 
    }

    .Continuesearch-items-actions img {
        width: 20px !important;
        margin-left: auto;
    }

    .flight-from-data, 
    .flight-to-data {
        position: fixed;
        bottom: 0;
        top: inherit;
        left: 0;
        right: 0;
        max-width: 100%;
        width: 100%;
        height: calc(100vh - 0px);
        border-radius: 0;
        background: #b3b3b3;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        display: flex;
    }
    .flight-from-data-ul { 
        max-height: 100%;
        overflow: auto;
        height: calc(100% - 30%);
        background: #fff;
        width: 100%;
    } 
    .flight-from-data.form-hide, 
    .flight-to-data.to-hide {
        display: none;
    }

    .daterangepicker { 
        position: fixed;
        bottom: 0 !important;
        top: auto !important;
        left: 0 !important;
        right: 0 !important;
        width: 100%;
        border-radius: 10px 10px 0 0;
        height: 100%;
        background: #b3b3b3;
    }
    
    .daterangepicker .drp-calendar.left { 
        width: 100%;
        max-width: 100%;
        bottom: 0% !important;
        position: absolute;
        top: auto;
        padding: 0;
        margin: 0;
        left: 0;
    }
    .daterangepicker.openscenter:after{
        display: none !important;
    }
    .daterangepicker:before {
        top: -100%;
        width: 100% !important;
        height: 100%;
        background: #b3b3b3;
        border: none;
    }

    .mob-title{
        display: inline-flex;
        width: 100%;
    }
    .flight-from-data-search { 
        display: none;
    }

    .mob-search {
        display: block;
        width: 100%;
        background: #fff;
        padding: 0 10px;
    }
    .mob-search-list{
        position: relative;
        margin-bottom: 10px;
    }
    .mob-search .mob-search-list label {
        position: absolute;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: #A6A6A6;
        left: 17px;
        top: 3px;
    }
    .mob-search input{ 
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        height: 45px; 
        padding: 0 15px;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px; 
        color: #000000;
        padding-top: 5px;
    }

    .Preferred-data.Preferred-hide {
        display: none;
    }
    .Preferred-data {
        position: fixed;
        bottom: 0;
        top: inherit;
        left: 0;
        right: 0;
        max-width: 100%;
        width: 100%;
        height: calc(100vh - 0px);
        border-radius: 0;
        background: #b3b3b3;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        display: flex;
    }

    .Preferred-search { 
        width: 100%;
        border: none;
        padding: 15px;
        background: #fff;
    }
    .Preferred-items { 
        width: 100%;
        max-height: 290px;
        height: 290px;
        background: #fff;
    }

    .Preferred-search input { 
        background: #FFFFFF;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        height: 45px;
    }

    .mob-Preferred-done {
        display: inline-block;
    }

    .root-date { 
        gap: 8px;
    }

    .mob-travellers-class {
        display: block;
    }
    .preferred-airline-hide{
        display: inline-flex;
    }



    .bradcome-area, .flight-listing-area{
        display: none;
    }
    .mob-flights-listing{
        display: block;
    }
    .mob-main {
        margin-top: -54px;
        z-index: 10;
        position: relative;
        background: #fff;
    }


    .bookingprocess .modal-dialog.modal-dialog-centered {
        align-items: flex-end;
        margin: 0;
        min-height: calc(100% - 0px);
    }
    .bookingprocess .bookingprocess-content { 
        padding: 15px;
    }
    .bookingprocess .modal-body {
        padding: 15px !important;
    }
    .bookingprocess-title h5 br{
        display: none;
    }
    
} 
 
@media only screen and (max-width: 767px) {
    .mtb-90 {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    .mtb-100 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    .mtb-110 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    .mtb-120 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .mtb-130 {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }
    .mtb-140 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    .mtb-150 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    .ptb-90 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .ptb-100 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .ptb-110 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .ptb-120 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .ptb-130 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .ptb-140 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
    .ptb-150 {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
    /* helper classes */
    .grid-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-4 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-5 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-6 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } 
    .brands-grid.grid-4 {
        grid-template-columns: repeat(2, 1fr);
    } 
    
} 

@media only screen and (max-width: 568px) {
    .footer-nav {
        position: relative;
        margin-top: 18px;
    }
    .footer-nav ul {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }
    .footer-nav ul li:nth-child(2n+2) {
        display: none;
    }
    .footer-nav a, .footer-nav span { 
        margin: 5px 0;
        display: inline-block;
    }
}

 