/*
--------------------------------------------------------------------------------------------------------
* Project    :                                                                                         *
* Author     : piyush Tapaniya | +91 83060 05795                                                       * 
* Support    : piyush.tapaniya90@gmail.com                                                             * 
*------------------------------------------------------------------------------------------------------- 
NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. */

@media only screen and (max-width: 991px) { 
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
    .mtb-90 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    .mtb-100 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .mtb-110 {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }
    .mtb-120 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    .mtb-130 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    .mtb-140 {
        margin-top: 90px !important;
        margin-bottom: 90px !important;
    }
    .mtb-150 {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
    .ptb-90 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .ptb-100 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .ptb-110 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .ptb-120 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
    .ptb-130 {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
    .ptb-140 {
        padding-top: 90px !important;
        padding-bottom: 90px !important;
    }
    .ptb-150 {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }
    /* helper classes */
    .grid-1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-5 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .grid-6 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    } 

    .l_claim, .lpb_claim {
        padding: 30px 0px;
    }

    .brands-grid.grid-4 {
        grid-template-columns: repeat(3, 1fr);
    }
} 
 
@media only screen and (max-width: 767px) {
    .mtb-90 {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    .mtb-100 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    .mtb-110 {
        margin-top: 40px !important;
        margin-bottom: 40px !important;
    }
    .mtb-120 {
        margin-top: 50px !important;
        margin-bottom: 50px !important;
    }
    .mtb-130 {
        margin-top: 60px !important;
        margin-bottom: 60px !important;
    }
    .mtb-140 {
        margin-top: 70px !important;
        margin-bottom: 70px !important;
    }
    .mtb-150 {
        margin-top: 80px !important;
        margin-bottom: 80px !important;
    }
    .ptb-90 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .ptb-100 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .ptb-110 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
    .ptb-120 {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }
    .ptb-130 {
        padding-top: 60px !important;
        padding-bottom: 60px !important;
    }
    .ptb-140 {
        padding-top: 70px !important;
        padding-bottom: 70px !important;
    }
    .ptb-150 {
        padding-top: 80px !important;
        padding-bottom: 80px !important;
    }
    /* helper classes */
    .grid-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-4 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-5 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-6 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    } 
    .brands-grid.grid-4 {
        grid-template-columns: repeat(2, 1fr);
    } 
    
} 

 