@media screen and (max-width:600px){

    body{
        margin-top: 5em;
    }

    .partners_container_emi{
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0;
        margin-bottom: 20px;
    }
    
}


/* @media screen and (min-width: 600px) and (orientation: landscape) {
    body {
        color: blue;
    }
} */