/* You can add global styles to this file, and also import other style files */

/*
--------------------------------------------------------------------------------------------------------
* Project    :                                                                                         *
* Author     : piyush Tapaniya | +91 83060 05795                                                       * 
* Support    : piyush.tapaniya90@gmail.com                                                             * 
*------------------------------------------------------------------------------------------------------- 
NOTE: This is main stylesheet of template, This file contains the styling for the actual Template.
*/

/*================================================
    :: general css Style
==================================================*/



/*==========================================
    :: Margin
==========================================*/

.m-0 {
    margin: 0px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-15 {
    margin: 15px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-25 {
    margin: 25px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-35 {
    margin: 35px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-45 {
    margin: 45px !important;
}

.m-50 {
    margin: 50px !important;
}

.m-55 {
    margin: 55px !important;
}

.m-60 {
    margin: 60px !important;
}

.m-70 {
    margin: 70px !important;
}

.m-80 {
    margin: 80px !important;
}

.m-90 {
    margin: 90px !important;
}

.m-100 {
    margin: 100px !important;
}

.m-110 {
    margin: 110px !important;
}

.m-120 {
    margin: 120px !important;
}

.m-130 {
    margin: 130px !important;
}

.m-140 {
    margin: 140px !important;
}

.m-150 {
    margin: 150px !important;
}


