    .site-main {
        @media only screen and (max-width: 600px) {
            margin-bottom: 7em;
        }
    }
    
    .sticky_scroll_sidebar {
        position: sticky;
        top: 120px;
    }
    
    .label-green {
        color: #06ac39;
        font-weight: 600;
        font-size: 14px;
    }
    
    .label-red {
        color: red;
        font-weight: 600;
        font-size: 14px;
    }
    
    .label-orange {
        color: orange;
        font-weight: 600;
        font-size: 14px;
    }
    
    //jay ui change
    .gst_cls {
        width: 1.1em;
        height: 1.1em;
        color: #00000040;
        background-color: #0d6efd;
        vertical-align: sub;
        border: 1px solid rgba(0, 0, 0, .25);
    }
    
    .gst_cls-new {
        width: 1em;
        height: 1em;
        color: #00000040;
        display: inline-block;
        margin-right: 5px;
        margin-top: 7px;
        background-color: #0d6efd;
        vertical-align: middle;
        border: 1px solid rgba(0, 0, 0, .25);
    }
    
    .btn_pay {
        width: 100%;
        background: #1d86ff;
        padding: 12px 0;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: #FFFFFF;
    }
    
    .default_title {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
    }
    
    .warning_msg {
        color: #888888;
        font-size: 12px;
        background-color: #FFF1F1;
        padding: 10px;
        border-radius: 6px;
        margin: 10px 0;
    }
    
    .info_msg {
        color: #000000;
        font-size: 12px;
        background-color: #FFF2D0;
        padding: 10px;
        border-radius: 6px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: start;
        i {
            color: #ECC869;
        }
    }
    
    .check_title {
        color: #212529;
        font-size: 14px;
    }
    
    .res_radio {
        margin-bottom: 5px;
        input,
        label {
            cursor: pointer;
            font-size:14px;
        }
        label {
            @media screen and (max-width: 600px) {
                font-size: 13px;
            }
            @media screen and (max-width:375px) {
                font-size: 11px;
            }
            @media screen and (max-width:320px) {
                font-size: 9px;
            }
        }
    }
    
    .add-traveller-title {
        @media screen and (max-width: 600px) {
            flex-direction: column;
        }
    }
    
    .matField_full_width {
        width: 100%;
    }
    
    .add-title-reserve {
        font-weight: 600;
        font-size: 20px;
        line-height: normal;
        color: #000000;
        margin-bottom: 15px;
        padding: 0px 20px;
    }
    
    .imp-note {
        border-radius: 2px;
        background-color: #FFF2D0;
        padding: 5px 10px;
        .note-one {
            border-radius: 2px;
            background-color: #ECC869;
            font-size: 10px;
            padding: 3px;
            margin-right: 5px;
            color: #000000;
            font-family: 'opensans-medium';
        }
        .note-two {
            font-size: 13px;
            color: #000000;
            font-family: 'opensans-regular';
        }
    }
    
    .irctc_link {
        margin-top: 20px;
        font-weight: 600;
        a {
            font-weight: 700;
            font-size: 14px;
            cursor: pointer;
        }
    }
    
    .error {
        margin-top: -2px;
        color: #ff0000;
        font-size: 14px;
    }
    
    .note_msg {
        color: #000000;
        font-family: 'opensans-regular';
        font-size: 12px;
        font-weight: normal;
        span {
            font-family: 'opensans-medium';
        }
        a {
            color: #1D86FF;
        }
    }
    
    .train_name {
        color: #000000;
        font-size: 20px;
        font-family: "opensans-bold";
        text-transform: uppercase;
        @media screen and (max-width: 600px) {
            font-size: 14px;
        }
        .train_numb {
            font-family: "opensans-regular";
        }
    }
    
    .daily_chart {
        margin-top: 5px;
        span {
            font-size: 14px;
            line-height: 1.33;
            font-weight: 600;
            letter-spacing: normal;
            color: #888888;
            padding-right: 6px;
            &:last-child {
                padding-right: 0;
            }
        }
        span.active {
            color: #1D86FF;
            font-weight: 600;
        }
        @media screen and (max-width:600px) {
            margin-top: 0px;
        }
    }
    
    .trainTimeInfo {
        display: flex;
        justify-content: start;
        // align-items: center;
        gap: 30px;
        div {
            /* margin: 0px 10px;
        flex: 0 0 50px; */
            /* text-align: left; */
        }
        .trainTimeInfo_div {
            width: 33%;
        }
        .time,
        .day {
            font-size: 16px;
            font-family: 'opensans-bold';
            color: #000000;
        }
        /* .day{
        font-size: 12px;
        font-family: 'opensans-regular';
        color: #888888;
    } */
        .place,
        .date {
            font-size: 12px;
            font-family: 'opensans-regular';
            color: #888888;
        }
        .duration_train {
            margin: 0 auto;
            width: 100%;
            position: relative;
            div {
                flex-basis: 33.3%;
            }
            .dur_time {
                color: #888888;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
            }
            .range {
                border-top: 1px solid #E6E6E6;
                position: relative;
                margin: 5px 5px;
                width: 130px;
                &::before {
                    border-radius: 50%;
                    background: #888888;
                    content: "";
                    width: 10px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    top: -5px;
                    left: 0;
                }
                &::after {
                    border-radius: 50%;
                    background: #888888;
                    content: "";
                    width: 10px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    top: -5px;
                    right: 0;
                }
            }
            .m_range {
                @media screen and (max-width: 600px) {
                    width: 140px;
                }
            }
            .route {
                color: #1D86FF;
                font-size: 11px;
                font-weight: 600;
                text-align: center;
                cursor: pointer;
            }
        }
        .m-light {
            .daily_chart {
                font-size: 12px;
            }
            .trainTimeInfo {
                .duration_train {
                    .m_range {
                        @media screen and (max-width: 600px) {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .timeShow {
            flex: 0 0 85px;
            text-align: center;
            p {
                margin-bottom: 0px;
                &:first-child {
                    font-family: 'opensans-regular';
                    font-size: 12px;
                    color: #000;
                }
                &:last-child {
                    font-family: 'opensans-medium';
                    color: #1d86ff;
                    font-size: 12px;
                    padding-top: 5px;
                    cursor: pointer;
                }
            }
        }
        .fromStn,
        .toStn {
            flex: 0 0 60px;
            text-align: center;
            p {
                margin-bottom: 2px;
                color: #000000;
                &:first-child {
                    font-family: 'opensans-bold';
                    font-size: 16px;
                }
                &:last-child {
                    font-family: 'opensans-regular';
                    font-size: 11px;
                }
            }
        }
        .trainCode {
            color: #888888;
            font-size: 12px;
        }
    }
    
    .train_title_label {
        color: #000000;
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .ava_status {
        .coach {
            font-family: 'opensans-bold';
            color: #000000;
            font-size: 14px;
            margin-right: 15px;
            @media screen and (max-width: 600px) {
                color: #1d86ff;
            }
        }
        .list {
            font-family: 'opensans-medium';
            font-size: 14px;
            @media screen and (max-width: 600px) {
                color: #12b150;
            }
        }
    }
    
    .common_box {
        border: 1px solid #e6e6e6;
        padding: 15px;
        border-radius: 5px;
        // height:55px;
        height: 63px;
        display: flex;
        align-items: center;
        @media screen and (max-width: 600px) {
            width: fit-content;
            height: 45px;
        }
    }
    
    .boarding_point {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;
        .mat-form-field{
            font-weight: bold;
        }
        .mat-form-field-wrapper {
            padding-bottom: 10px;
        }
        .mat-form-field-appearance-outline {
             ::ng-deep {
                .mat-form-field-wrapper {
                    margin: 0px 0px !important;
                }
            }
        }
        .mat-form-field-appearance-outline .mat-form-field-infix {
            padding: 5px 0px 10px 0;
        }
    }
    
    .train-schedule-time {
        font-size: 12px;
    }
    
    .w-120 {
        width: 120px;
    }
    
    .btn-w {
        width: 160px;
    }
    
    .view_more_btn {
        font-size: 14px;
        font-weight: 600;
        // text-align: center;
        // width: 50%;
        margin: 10px 2.5rem;
        // background: rgba(29, 134, 255, 0.1);
        // border-radius: 5px;
        // padding: 6px 10px;
        @media screen and (max-width:600px){
            margin: 10px 2.2rem;
        }
        a{
            color:#1d86ff;
            text-decoration: underline;
        }
    }
    
    .add-traveller-btn {
        padding: 0px;
        @media screen and (max-width: 767px) {
            margin-top: 0px;
        }
        a {
            border-radius: 8px;
            padding: 12px 18px;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            display: inline-block;
            cursor: pointer;
            @media screen and (max-width: 767px) {
                width: 100%;
                text-align: center;
            }
        }
    }
    
    .travel_details {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-flow: wrap;
        gap: 15px;
    }
    
    .note_text {
        color: #555555;
        font-size: 12px;
        font-weight: 400;
        margin-top: 10px;
    }
    
    .link_text {
        font-size: 12px;
    }
    
    .heading_text {
        display: flex;
        align-items: baseline;
        margin-bottom: 0;
        @media screen and (max-width: 600px) {
            font-size: 18px;
        }
        @media screen and (max-width:320px) {
            font-size: 14px;
        }
    }
    
    .sub_head_text {
        color: #888888;
        font-weight: 600;
        font-size: 16px;
        @media screen and (max-width: 600px) {
            font-size: 12px;
        }
    }
    
    .traveller_table {
        thead {
            border-bottom: 1px dashed #ccc;
            tr {
                th {
                    color: #555555;
                    font-size: 13px;
                    border-bottom: 1px dashed #cacaca;
                }
            }
        }
        tbody {
            tr {
                td {
                    color: #000000;
                    font-size: 14px;
                    border-bottom: 1px dashed #ccc;
                    padding: 12px;
                }
            }
        }
        .age_data {
            font-size: 11px;
            color: #888888;
            padding-left: 10px;
            @media screen and (max-width: 600px) {
                padding-left: 0px;
                display: block;
            }
        }
         :not(:first-child) {
            border-top: none;
        }
    }
    
    .value-free {
        font-weight: bold;
    }
    
    .text-free {
        color: #00B11C;
    }
    
    .dash_line {
        text-decoration: line-through;
    }
    
    .footer-sticky-mlite {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.5);
        z-index: 4;
        .apply_fare {
            padding: 10px;
            /* display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center; */
            border-bottom: 1px solid #00000030;
            p {
                margin: 0;
                a {
                    margin: 0;
                    line-height: normal;
                    color: #1D86FF;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
        .price_sec {
            padding: 15px;
            text-align: left;
            .price {
                color: #000000;
                font-size: 18px;
                font-family: 'opensans-bold';
            }
            .emi {
                color: #000000;
                opacity: 50%;
                font-size: 12px;
            }
        }
    }
    
    .coupon_mlite_popup {
        animation-name: slideInUp;
        animation-duration: 200ms;
        animation-timing-function: ease-in-out;
        .modal-dialog {
            margin: 0;
            display: flex;
            align-items: flex-end;
            min-height: calc(100% - 0px);
            .modal-content {
                border-radius: 15px 15px 0px 0px;
                .modal-header {
                    border-bottom: 0px;
                    .modal-title {
                        font-family: 'opensans-bold';
                        font-size: 18px;
                    }
                }
            }
        }
    }
    
    // IRCTC Forgot Popup Style
    .title-for {
        color: #000000;
        font-size: 18px;
        margin: 15px 0px;
        font-family: opensans-medium;
        text-align: center;
        @media screen and (max-width: 600px) {
            text-align: left;
        }
    }
    
    .sub_title-for {
        color: #000000;
        font-size: 14px;
        font-family: opensans-regular;
        text-align: center;
        @media screen and (max-width: 600px) {
            text-align: left;
        }
    }
    
    .otp-mobile {
        border-radius: 2px;
        border: solid 1px #a3cc9c;
        background-color: #ecf5ea;
        padding: 10px;
        font-size: 11px;
    }
    
    .resend-otp {
        float: right;
        font-size: 12px;
        position: relative;
        top: -15px;
    }
    
    .mobile-summary-section {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    
    .payment-text {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.5);
    }
    
    .mat-form-field-type-mat-select:not(.mat-form-field-disabled) {
        .mat-form-field-flex {
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    .confirm_title {
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
        color: #000000;
    }
    
    ng::deep .mat-dialog-container {
        overflow: hidden;
    }
    
    .modal_row {
        .confirm_text {
            font-family: 'opensans-regular';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 29px;
            text-align: center;
            color: #000000;
            text-align: left;
        }
        .confirm_text_lg {
            font-family: 'opensans-regular';
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            text-align: center;
            color: #000000;
            margin-top: 2rem;
            margin-bottom: 1rem;
        }
    }
    
    .brdr_btn {
        border: 1px solid #1d86ff;
        border-radius: 4px;
        padding: 10px 50px;
        color: #1d86ff;
        font-size: 14px;
        font-weight: 600;
        margin-right: 8px;
    }
    
    .filled_btn {
        border: 1px solid #1d86ff;
        border-radius: 4px;
        padding: 10px 50px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        background: #1d86ff;
    }
    
    .alert_covid {
        mat-dialog-container {
            overflow: hidden;
        }
    }
    
    .mob-listing-header-center {
        h6 {
            font-size: 12px;
        }
    }
    
    .mlite_fixed_hdr {
        background: #fff;
        padding: 15px;
        box-shadow: 0px 4.14444px 4.14444px rgba(0, 0, 0, 0.05);
    }
    
    .mt-6rem {
        margin-top: 6rem;
    }
    
    .m-contact-form ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
        width: 50%;
    }
    
    @media screen and (max-width:600px) {
        .details-steps-ul {
            .steps-text {
                font-size: 12px;
            }
        }
        .booking-title-box {
            padding: 0px 0px;
            h4 {
                font-size: 16px;
            }
        }
        .booking-inner-box {
            padding: 15px;
            @media screen and (max-width: 600px) {
                padding: 12px;
            }
            .train_name {
                font-size: 12px;
            }
            .daily_chart {
                span {
                    font-size: 12px;
                    padding-right: 5px;
                }
            }
            .trainTimeInfo {
                .time {
                    font-size: 12px;
                }
                .duration_train {
                    .m_range {
                        width: 100%;
                    }
                    .range {
                        &::before {
                            width: 6px;
                            height: 6px;
                            top: -4px;
                        }
                        &::after {
                            width: 6px;
                            height: 6px;
                            top: -4px;
                        }
                    }
                    .dur_time {
                        font-size: 9px;
                    }
                }
            }
            @media screen and (max-width: 600px) {
                .gst-optional-data .m-contact-form ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
                    top: unset;
                    width: 85vw;
                }
                .contact-whatsapp-info {
                    position: relative;
                    .mlite-whatsapp-img {
                        position: absolute;
                        top: 29px;
                        left: 0px;
                    }
                    .mlite-whatsapp-ct {
                        position: absolute;
                        top: 30px;
                        left: 32px;
                    }
                }
                .contact-whatsapp {
                    position: relative;
                    .form-check {
                        position: absolute;
                        right: 4px;
                        top: 25px;
                    }
                }
            }
        }
        .traveller-person-left {
            h6 {
                font-size: 16px;
            }
        }
        .traveller-person-right {
            p {
                font-size: 12px;
            }
        }
        .traveller-adults-ul {
            .custom-check-box {
                padding: 10px;
            }
        }
        .form-check {
            .form-check-label {
                font-size: 13px;
            }
        }
        .mlite_add_traveller_popupbody {
            height: 75vh;
            overflow-y: auto;
        }
        .add_new_submit_btn {
            font-family: 'opensans-regular';
            font-size: 14px;
            font-weight: 600;
            background: #1D86FF;
            border-radius: 5px;
            padding: 12px;
            width: 100%;
            color: #fff;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        .fixed-top {
            z-index: 5;
        }
         ::ng-deep .mat-dialog-container {
            padding: 10px;
            overflow: hidden;
            /* button {
                margin: 5px;
            } */
        }
    }
    
    .custom_select {
        custom_option {
            padding: 5px 10px;
            background: #fff;
            color: #000;
        }
    }
    
    .trip_select {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    
    .buttonTrip {
        float: left;
        margin: 0 8px 0 0;
        width: 21%;
        height: 34px;
        position: relative;
        @media screen and (max-width: 600px) {
            width: 150px;
            height: 35px;
            margin: 0 0px 0 0;
        }
    }
    
    .buttonTrip label,
    .buttonTrip input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .buttonTrip input[type="radio"] {
        opacity: 0.011;
        z-index: 100;
    }
    
    .buttonTrip input[type="radio"]:checked+label {
        // background: #2C0E00;
        // border-radius: 5px;
        // border: 0px solid #CF8D56;
        // font-family: 'opensans-medium';
        // color: #ffffff;
        font-family: 'opensans-regular';
        font-weight: 600;
        font-size: 14px;
        border-radius: 100px;
        padding: 5px 25px;
        margin-right: 10px;
        color: #000;
        background: rgba(29, 134, 255, 0.1);
        border: 1px solid #1D86FF;
        cursor: pointer;
        @media screen and (max-width: 600px) {
            padding: 9px 8px;
            font-size: 11px;
        }
    }
    
    .buttonTrip label {
        cursor: pointer;
        font-family: 'opensans-regular';
        font-weight: 600;
        color: #00000050;
        font-size: 14px;
        border-radius: 100px;
        padding: 5px 25px;
        margin-right: 10px;
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        @media screen and (max-width: 600px) {
            padding: 9px 8px;
            font-size: 11px
        }
    }
    
    .buttonTrip>label.btn-default:before,
    .buttonTrip>label.btn-default:after {
        display: none;
    }
    
    .gstTitle {
        color: #1C1C1C;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }
    
    .savedGst_sec {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-columns: repeat(2, 1fr);
        grid-gap: 15px;
        max-height: 250px;
        overflow-y: auto;
        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
        .travel-card-details {
            border: 1px solid #ededed;
            padding: 15px;
            border-radius: 8px;
            width: 100%;
        }
        .active {
            border-color: #1b73f9 !important;
        }
        .gstHeading {
            color: #000000;
            font-size: 18px;
            font-weight: 600;
        }
        .gstName {
            font-size: 15px;
            font-weight: 500;
        }
        .gstAddress {
            color: #828282;
            font-size: 15px;
            font-weight: 500;
        }
    }
    
    .align_center {
        display: flex;
        align-items: center;
    }
    
    .change_text {
        position: absolute;
        left: 54.5vw;
        margin-top: -21px;
        color: #1d86ff;
        font-size: 14px;
        font-weight: bold;
        @media screen and (min-width: 1500px) and (max-width: 2249px) {
            left: 53.5vw;
        }
        @media screen and (min-width:2250px) {
            left: 52.5vw;
        }
        @media screen and (max-width:600px) {
            left: 74.5vw;
            font-size: 12px;
            margin-top: -30px;
        }
        @media screen and (max-width:390px) {
            left: 69.5vw;
            font-size: 12px;
        }
    }
    
    .mat-form-field {
        .mat-form-field-label {
            top: 2.1em;
            margin-top: 0px;
            font-size: 13px;
        }
    }
    
    .mat-form-field {
        .mat-form-field-label {
            top: 2.1em;
            margin-top: 0px;
            font-size: 13px;
        }
    }
    
    .train_main_hdr {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: #000000;
        margin-bottom: 20px;
    }
    
    .child_berth_chckbox {
        padding-left: 0px;
        margin-top: 12px;
        margin-bottom: 0px;
    }
    
    .remove-traveller {
        cursor: pointer;
    }
    
    .label_top_align {
        margin-top: 2px;
        font-size:14px;
    }
    
    .train_gst_err_msg {
        font-size: 75%;
        margin-bottom: 0.66666em;
    }
    
    .border_btn_link {
        padding: 10px 15px;
        border: 1.25806px solid #1D86FF;
        border-radius: 5px;
        color: #1d86ff;
        font-size: 15px;
        font-weight: 600;
        min-width: 100px;
        margin: 5px;
        @media screen and (max-width: 600px) {
            width: 100%;
            margin: 5px 0px;
        }
    }
    
    .background_btn_link {
        padding: 10px 15px;
        border: 1.25806px solid #1D86FF;
        border-radius: 5px;
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        background: #1d86ff;
        min-width: 100px;
        margin: 5px;
        @media screen and (max-width: 600px) {
            width: 100%;
            margin: 5px 0px;
        }
    }
    
    @media screen and (max-width:600px) {
        /* animation css */
        @keyframes bottom_top_animation {
            from {
                bottom: -300px;
                opacity: 0;
            }
            to {
                bottom: 0;
                opacity: 1;
            }
        }
         ::ng-deep .reset_popup_mlite {
            width: 100% !important;
            position: fixed;
            bottom: 0px !important;
            left: 0;
            // top: auto !important;
            right: auto;
            max-height: 90vh;
            border-radius: 18px 18px 0px 0px;
            animation-name: bottom_top_animation;
            animation-duration: 200ms;
            animation-timing-function: ease-in-out;
            background: #fff;
            padding: 13px;
            .mlite_reset_pass_form {
                padding: 5px;
                max-height: 60vh;
                overflow-y: auto;
                width: 100%;
                overflow-x: hidden;
            }
        }
        .rc-anchor-normal {
            width: 250px;
        }
        .button-style {
            background: #1d86ff;
            color: #fff;
        }
    }