@import '../../../../assets/sharedscss/color';
@import '../../../../assets/sharedscss/fonts';

.w-manage-profiles {
    .w-manage-title {
        img {
            padding: 4px;
            border: 1px solid #F6F6F6;
            border-radius: 50%;
            display: inline-block;
            clear: both;
            background: #001f79 !important;
            height: 65px !important;
            width: 65px !important;
        }
        h2 {
            font-size: 22px;
            font-weight: bold;
            margin-top: 3px;
        }
    }
    .w-manage-categories {
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        padding: 0px 20px;
        background-color: #fff;
        min-height:137px;
        ul {
            list-style: none;
            padding: 0px;
            li {
                margin: 0 0 0 30px;
                display: inline-block;
                padding:20px 0px 20px 0px;
                a {
                    text-decoration: none;
                }
                &:hover {
                  border-bottom: 2px solid #025297;
                }
            }
        }
        .w-manage-category-title {
            p {
                font-size: 12px;
                color: #333333;
                margin-top: 11px;
                margin-bottom: 7px;
                font-weight: bold;
            }
            small {
                font-size: 10px;
                color: #666666;
                margin-top: 4px;
                font-weight: 600;
            }
        }
    }
}

.bookedTicketHistory-section {
    border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #001F79;
        color: #ffffff;
    }
    label {
        font-size: 13px;
    }
    .w-btn-submit {
        border:1px solid #004c8f;
        background-color: #004c8f;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline:none;
    }
    .w-btn-danger {
        border:1px solid #ee2924;
        background-color: #ee2924;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline: none;
    }
}




.bookedTicketHistory-section-SMARTBUY {
    border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #001F79;
        color: #ffffff;
    }
    label {
        font-size: 13px;
    }
    .w-btn-submit {
        border:1px solid #004c8f;
        background-color: #004c8f;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline:none;
    }
    .w-btn-danger {
        border:1px solid #ee2924;
        background-color: #ee2924;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline: none;
    }
}


.bookedTicketHistory-section-REGALIA {
    border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #61471d;
        color: #ffffff;
    }
    label {
        font-size: 13px;
    }
    .w-btn-submit {
        border:1px solid #004c8f;
        // background-color: #004c8f;
        padding: 10px 15px 10px 20px;
        color:#61471d;
        border-radius:5px;
        outline:none;
        background-image: linear-gradient(129deg, #ffe7bf, #f0b85b) !important;
    }
    .w-btn-danger {
        border:1px solid #ee2924;
        background-color: #ee2924;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline: none;
    }
}
.bookedTicketHistory-section-INFINIA {
    border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #0e255e;
        color: #ffffff;
    }
    label {
        font-size: 13px;
    }
    .w-btn-submit {
        border:1px solid #004c8f;
        // background-color: #004c8f;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline:none;
        background-image: linear-gradient(129deg, #4375d4, #0c48ba) !important;
    }
    .w-btn-danger {
        border:1px solid #ee2924;
        background-color: #ee2924;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline: none;
    }
}
.bookedTicketHistory-section-DINERS {
    border: 1px solid #4a90e0;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #4a90e0;
        color: #ffffff;
    }
    label {
        font-size: 13px;
    }
    .w-btn-submit {
        border:1px solid #4a90e0;
        // background-color: #004c8f;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline:none;
        background-image: linear-gradient(129deg, #84c9fa, #4a90e0) !important;
    }
    .w-btn-danger {
        border:1px solid #ee2924;
        background-color: #ee2924;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline: none;
    }
}


.bookedTicketHistory-section-CORPORATE {
    border: 1px solid #000;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #000;
        color: #ffffff;
    }
    label {
        font-size: 13px;
    }
    .w-btn-submit {
        border:1px solid #000;
        // background-color: #004c8f;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline:none;
        background-image: linear-gradient(129deg, #000, #000) !important;
    }
    .w-btn-danger {
        border:1px solid #ee2924;
        background-color: #ee2924;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline: none;
    }
}

.bookedTicketHistory-section-BUSINESS {
    border: 1px solid #000;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #0c48ba;
        color: #ffffff;
    }
    label {
        font-size: 13px;
    }
    .w-btn-submit {
        border:1px solid #0c48ba;
        // background-color: #004c8f;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline:none;
        background-image: linear-gradient(129deg, #0c48ba, #0c48ba) !important;
    }
    .w-btn-danger {
        border:1px solid #ee2924;
        background-color: #ee2924;
        padding: 10px 15px 10px 20px;
        color:#ffffff;
        border-radius:5px;
        outline: none;
    }
}



.bookedTickets-section {
    // border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #001F79;
        color: #ffffff;
    }
    table {
        border:1px solid #ddd;
        tr {
            border:1px solid #ddd;
            background-color: #ffffff !important;
            th{
                background-color: #5aa0e8;
                color:#ffffff;
                // padding:8px 10px;
                border:1px solid #ddd;
                font-size: 13px;
            }
        }
    }
}
.bookedTickets-section-SMARTBUY {
    // border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #001F79;
        color: #ffffff;
    }
    table {
        border:1px solid #ddd;
        tr {
            border:1px solid #ddd;
            background-color: #ffffff !important;
            th{
                background-color: #5aa0e8;
                color:#ffffff;
                // padding:8px 10px;
                border:1px solid #ddd;
                font-size: 13px;
            }
        }
    }
}
.bookedTickets-section-REGALIA {
    // border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #61471d;
        color: #ffffff;
    }
    table {
        border:1px solid #ddd;
        tr {
            border:1px solid #ddd;
            background-color: #ffffff !important;
            th{
                background-color: #61471d;
                color:#ffffff;
                // padding:8px 10px;
                border:1px solid #ddd;
                font-size: 13px;
                
            }
        }
    }
}
.bookedTickets-section-INFINIA {
    // border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #0e255e;
        color: #ffffff;
    }
    table {
        border:1px solid #ddd;
        tr {
            border:1px solid #ddd;
            background-color: #ffffff !important;
            th{
                background-color: #0e255e;
                color:#ffffff;
                // padding:8px 10px;
                border:1px solid #ddd;
                font-size: 13px;
                
            }
        }
    }
}
.bookedTickets-section-DINERS {
    // border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #4a90e0;
        color: #ffffff;
    }
    table {
        border:1px solid #ddd;
        tr {
            border:1px solid #ddd;
            background-color: #ffffff !important;
            th{
                background-color: #4a90e0;
                color:#ffffff;
                // padding:8px 10px;
                border:1px solid #ddd;
                font-size: 13px;
                
            }
        }
    }
}
.bookedTickets-section-CORPORATE {
    // border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #000;
        color: #ffffff;
    }
    table {
        border:1px solid #ddd;
        tr {
            border:1px solid #ddd;
            background-color: #ffffff !important;
            th{
                background-color: #000;
                color:#ffffff;
                // padding:8px 10px;
                border:1px solid #ddd;
                font-size: 13px;
                
            }
        }
    }
}

.bookedTickets-section-BUSINESS {
    // border: 1px solid #001F79;
    margin-bottom: 2em;
    font-weight: bold;
    .title-book {
        padding: 20px;
        background-color: #0c48ba;
        color: #ffffff;
    }
    table {
        border:1px solid #ddd;
        tr {
            border:1px solid #ddd;
            background-color: #ffffff !important;
            th{
                background-color: #0c48ba;
                color:#ffffff;
                // padding:8px 10px;
                border:1px solid #ddd;
                font-size: 13px;
                
            }
        }
    }
}



@media screen and (max-width:477px) {
.m-mt-3 {
    margin-top:3rem !important;
}
}

.train-tdr-section{
    margin-top:11em;
    @media screen and (max-width: 425px) {
        margin-top: 2.2em;
    }
}
.train-btn-group{
    margin-bottom: 20px;
    @media screen and (max-width: 425px) {
        overflow: auto;
        white-space: nowrap;
        padding-bottom: 15px;
    }
}
.tdr-heading{
    background-color: #001f79;
    padding: 15px 20px;
    color: #fff;
    font-size: 16px;
    font-family: 'opensans-medium';
    color: #ffffff;
    margin-top: 25px;
}

.btnTdr-default{
  border-radius: 5px;
  border: solid 1px #979797;
  font-family: 'opensans-medium';
  font-size: 14px;
  color: #020202;
}
.btnTdr-active{
    border-radius: 5px;
    background-color: #337ab7;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
}
.btnTdr-active-SMARTBUY{
    border-radius: 5px;
    background-color: #337ab7;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
}
.btnTdr-active-REGALIA{
    border-radius: 5px;
    // background-color: #337ab7;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    border-color: #61471d !important;
    background-image: linear-gradient(129deg, #ffe7bf, #f0b85b) !important;
}
.btnTdr-active-INFINIA{
    border-radius: 5px;
    // background-color: #0c48ba;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    border-color: #0c48ba !important;
    background-image: linear-gradient(129deg, #4375d4, #0c48ba) !important;
}
.btnTdr-active-DINERS{
    border-radius: 5px;
    // background-color: #0c48ba;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    border-color: #0c48ba !important;
    background-image: linear-gradient(129deg, rgb(132, 201, 250), rgb(74, 144, 224)) !important;
}
.btnTdr-active-CORPORATE{
    border-radius: 5px;
    // background-color: #0c48ba;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    border-color: #000 !important;
    background-image: linear-gradient(129deg, #000, #000) !important;
}
.btnTdr-active-BUSINESS{
    border-radius: 5px;
    // background-color: #0c48ba;
    color: #ffffff;
    font-family: 'opensans-medium';
    font-size: 14px;
    border-color: #000 !important;
    background-image: linear-gradient(115deg, #4375d4, #0c48ba) !important;
}
.pnr-section {
    margin: 30px 0px;
    .number-title{
        font-size: 16px;
        font-family: 'opensans-medium';
        letter-spacing: 1.5px;
        color: #020202;
        margin-bottom: 15px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .text-or{
        font-size: 14px;
        font-family: 'opensans-medium';
        color: #001f79;
        text-transform: uppercase;
        text-align: center;
        padding: 35px 0px 0px;
        @media screen and (max-width: 425px) {
            padding: 0px;
            margin-bottom: 0px;
        }
    }
    
}
.btnTdr-submit{
    border-radius: 5px;
    background-color: rgba(8, 78, 143, 0.945);
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
}
.btnTdr-file{
    border-radius: 5px;
    background-color: #025297;
    font-size: 14px;
    font-family: 'opensans-medium';
    color: #ffffff;
    width: 130px;
}
.btnTdr-reset{
    border-radius: 5px;
    background-color:#ffffff;
    font-size: 14px;
    border: solid 1px #979797;
    font-family: 'opensans-medium';
    color: #020202;
    width: 130px;
}
.sub-btn-group{
    margin-top: 15px;
}
.ticketDetailsSection{
    margin:10px 0px;
    .title{
        background-color: rgba(0, 31, 121, 0.1);
        font-size: 16px;
        font-family: 'opensans-medium';
        color: #020202;
        padding: 15px 20px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    .ticket-details{
        font-size: 14px;
        color: #020202;
        
        .t-name{
            font-family: 'opensans-medium';
        }
        .t-value{
            font-family: 'opensans-regular';
        }
    }
    
}
.table-titles{
    border-bottom: solid 1px rgba(151, 151, 151, 0.5);
    th{
        font-size: 14px;
        color: #020202;
        @media screen and (max-width: 425px) {
            font-size: 12px;
        }
    }
}
.table-values{
    tr{
        th, td{
            color: #020202;
            font-size: 14px;
            @media screen and (max-width: 425px) {
                font-size: 12px;
            }
        }
    }
}

.passengerDetailsSection{
     margin:10px 0px;   
    .title{
        background-color: rgba(0, 31, 121, 0.1);
        font-size: 16px;
        font-family: 'opensans-medium';
        color: #020202;
        padding: 15px 20px;
        @media screen and (max-width: 425px) {
            font-size: 14px;
        }
    }
    
}
table {
    width: 100%;
  }
  th.mat-sort-header-sorted {
    color: black;
  }


  .manage_account .cus_name {
    font: 28px/40px opensans-regular;
    letter-spacing: 0px;
    color: #050505;
    opacity: 1;
   }

   .manage_account_tabs {
    border: none;
}

.tab_title {
    padding: 10px 20px;
}
.w-bb {
    border-bottom: 1px solid #B2B3B4;
}

.tab_title .title_name {
    font: 22px/40px opensans-regular;
    letter-spacing: 0px;
    color: #050505;
    margin: 0px;
}


.backOrder_sym {
    float: left;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.list-back{
    position: relative;
    left: 0;
    display: block;
    width: 20px;
    float: left;
    height: 100%;
    padding-left: 5px;
}
.list-back-title{
    background: $color-dark-blue;
    text-align: left;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    padding-left:15px;
    @media screen and (min-width: 769px){
        display: none;
    }
}
.list-back-title a{
    color: #fff;
}


// tdr history new design
.tdr_cntnr{
    margin-top:9rem;
    margin-bottom:5rem;
    @media screen and (max-width:600px){
        margin-top:4rem;
        margin-bottom: 0rem;
    }
    .breadcrumb{
        li{
            a{
                color:#1d86ff;
            }
        }
    }
    .main_hdr{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 300;
        font-size: 29px;
        line-height: 39px;
        color: #1C1C1C;
        margin-top:3rem;
        @media screen and (max-width:600px){
            margin-top:1rem;
        }
    }
    .sort_btn{
        font-family:'opensans-regular';
        background: #FFFFFF;
        border: 1px solid #BBBBBB;
        border-radius: 24px;
        font-size:14px;
        padding:10px 35px;
        color:#555555;
        margin-right:10px;
        @media screen and (max-width:600px){
            padding:8px 25px;
            font-size:12px;
            line-height:3.2;
        }
    }
    .sort_btn.btnTdr-active-SMARTBUY{
        background: #FFFFFF !important;
        border: 1px solid #1d86ff;
        color:#1d86ff;
    }
    .pri_hdr{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 27px;
        color: #1C1C1C;
        margin-top:3rem;
        @media screen and (max-width:600px){
            font-size: 16px;
            margin-top:0px;
        }
    }
    .tdr_box{
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        padding:15px;
        margin-top:1rem;
        @media screen and (max-width:600px){
           padding:0px;
        }
    }
    .pnr-section{
        .mat-radio-group{
            .mat-radio-button {
                .mat-radio-label{
                    margin-left:20px !important;
                }
                &:first-child{
                    margin-left:0px !important;
                }
            }
        }
    }
    .submit_btn{
        background: #1D86FF;
        border: 1px solid #1D86FF;
        border-radius: 4px;
        padding:19px 0px;
        margin-top:4px;
        @media screen and (max-width:600px){
            margin-top:0px;
        }
    }
    .reset_btn{
        background: #fff;
        border: 1px solid #1D86FF;
        border-radius: 4px;
        padding:19px 0px;
        margin-top:4px;
        color:#1d86ff;
        margin-left:8px;
        @media screen and (max-width:600px){
            margin-top:10px;
            margin-left:0px;
        }
    }
}
.tdr_train_details{
    .tdr_box{
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
        padding:15px;
        margin-top:1rem;
        @media screen and (max-width:600px){
            margin-bottom:1rem;
        }
    .gray_text{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #838282;
        @media screen and (max-width:600px){
            font-size:10px;
        }
    }
    .number_highlight{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 18px;
        color: #000000;
    }
    .highlight_text{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        @media screen and (max-width:600px){
            font-size:14px;
        }
    }
    .price_text{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 22px;
        color: #000000;
        @media screen and (max-width:600px){
            font-size:16px;
        }
    }
    .text_success{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #009817;
    }
    .black_text{
        font-family: 'opensans-regular';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #000000;
    }
    .div_flex{
        display:flex;
        flex-flow: row wrap;
      //  align-items:center;
        @media screen and (max-width:600px){
            justify-content: space-between;
        }
    }
    .div_flex_item{
        flex:0 20%;
        margin-top:1rem;
        @media screen and (max-width:600px){
            flex:0 50%;
        }
    }
    .train_img_div{
        width:150px;
        height:150px;
        border-radius:5px;
        .train_img{
            width:100%;
            height:100%;
            border-radius:5px;
        }
    }
    .dashed_hr{
        border: none;
        border-top: 1px dashed rgba(0, 0, 0, 0.3);
        color: #fff;
        background-color: #fff;
        height: 1px;
        min-width:150px;
        margin-left:10px;
        margin-right:10px;
        @media screen and (max-width:600px){
            // margin-bottom:0px;
            min-width :60%;
            margin-left:8px;
            margin-right:8px;
        }
    }
    .booked_via_div{
        width:75px;
        height:50px;
        @media screen and (max-width:600px){
            height:25px;
        }
        .booked_via_img{
           max-width:100%;
           max-height:100%;
        }
    }
    .tdr_pssngr_tbl{
        margin-top:2rem;
        .table-titles{
            border-bottom:none;
            th{
                font-family: 'opensans-regular';
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 19px;
                color: #00000050;
            }

        }
        tbody{
            tr{
                    border-top:1px solid #e2dddd50;
            }
        }
    }
    .tdr_select{
        width:100%;
        background:#d9d9d920;
        border-radius:5px;
        padding:0px 10px;
        margin-top:1rem;
            .mat-form-field-underline {
                height:0px !important;
            }
    }
    
}

}

