<div  class="list-back-title"> 
    <div class="row">
      <div class="col-11"> <a href="{{domainRedirect}}manage_orders"><i class="fa fa-angle-left backOrder_sym"
      aria-hidden="true"></i><span class="font-weight-bold ml-4">Trains Booking History</span></a></div>
    </div>
 </div>


 <div class="container tdr_cntnr">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="javascript:;" routerLink="/">Home</a></li>
      <li class="breadcrumb-item"><a href="{{domainRedirect}}manage_orders">Manage Account</a></li>
      <li class="breadcrumb-item active" aria-current="page">File TDR</li>
    </ol>
  </nav>

  <div class="main_hdr">
    Train Booking
  </div>
  <div class="col-12 train-btn-group mt-4 mb-0" >
    <a routerLink="/{{domainPath}}/train/filetdr" class="sort_btn  btnTdr-default btn-sm mr-3" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">File TDR</a>
    <a routerLink="/{{domainPath}}/train/tdrhistory" class="sort_btn  btnTdr-active-{{domainName}} btn-sm mr-3" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">TDR History</a>
  </div>

  <div class="d-none d-md-block mt-4" *ngIf="!isMobile">
  <div class="row tdr_train_details" *ngFor="let data of tdrHistoryData">
    <div class="col-md-12">
      <div class="tdr_box">
        <div class="row">
          <div class="col-md-2 text-center">
            <div class="train_img_div">
              <img src="{{cdnUrl}}/images/train_tickets.svg" class="train_img">
            </div>
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4">
                <span class="gray_text">Order ID <span class="number_highlight">{{data.order_ref_num}}</span></span>
              </div>
              <div class="col-md-4 text-center">
                <span class="gray_text">TDR Filing Date <span class="number_highlight">{{data.tdr_fileddate | date:'mediumDate'}}</span></span>
              </div>
              <div class="col-md-4 text-right">
                <span class="gray_text">PNR Number <span class="number_highlight">{{data.pnr_no}}</span></span>
              </div>
              <div class="col-md-12 mt-2 mb-2">
                <span class="highlight_text">#{{data.train_no}}</span>
                <!-- <span class="gray_text px-1">#{{12310}}</span> -->
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col-md-8">
                <div class="div_flex align-items-center">
                  <span class="highlight_text">{{data.from_station}}</span>
                  <hr class="dashed_hr">
                  <span class="highlight_text">{{data.to_station}}</span>
                </div>
              </div>
            </div>
            <div class="row mb-4">
              <div class="div_flex">
                <div class="div_flex_item" *ngIf="data.transaction_id">
                    <p class="gray_text">Transaction ID</p>
                    <p class="black_text">{{data.transaction_id}}</p>
                </div>
                <div class="div_flex_item">
                  <p class="gray_text">Date of Journey</p>
                  <p class="black_text">{{data.journey_date | date:'mediumDate'}}</p>
              </div>
              <div class="div_flex_item">
                <p class="gray_text">Status</p>
                <p class="black_text">{{data.tdrstatus}}</p>
              </div>
              <div class="div_flex_item" *ngIf="data.reason">
                <p class="gray_text">Reason</p>
                <p class="black_text">{{data.reason}}</p>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        <!-- train details mlite -->
       <div *ngIf="isMobile"> 
        <div class="row tdr_train_details" *ngFor="let data of tdrHistoryData">
          <div class="col-md-12">
            <div class="tdr_box">
              <div class="row">
                <div class="col-6">
                  <p class="gray_text">#{{data.order_ref_num}}</p>
                </div>
                <div class="col-6 text-right">
                  <p class="gray_text px-1">{{data.pnr_no}}</p>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-6">
                  <p class="highlight_text">Train Ticket</p>
                </div>
                <div class="col-6 text-right">
                  <p class="highlight_text"><span class="highlight_text">#{{data.train_no}}</span></p>
                </div>
                <div class="col-12">
                  <hr class="dashed_hr">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-8">
                  <div class="div_flex align-items-center">
                    <span class="highlight_text">{{data.from_station}}</span>
                    <hr class="dashed_hr">
                    <span class="highlight_text">{{data.to_station}}</span>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <hr class="dashed_hr">
              </div>
              
              <div class="row mb-4">
                <div class="div_flex">
                  <div class="div_flex_item" *ngIf="data.transaction_id">
                      <p class="gray_text">Transaction ID</p>
                      <p class="black_text">{{data.transaction_id}}</p>
                  </div>
                  <div class="div_flex_item  text-right">
                    <p class="gray_text">TDR Filing Date</p>
                    <p class="black_text">{{data.tdr_fileddate | date:'mediumDate'}}</p>
                </div>
                  <div class="div_flex_item">
                    <p class="gray_text">Date of Journey</p>
                    <p class="black_text">{{data.journey_date | date:'mediumDate'}}</p>
                </div>
                <div class="div_flex_item  text-right">
                  <p class="gray_text">Status</p>
                  <p class="black_text">{{data.tdrstatus}}</p>
                </div>
                <div class="div_flex_item " *ngIf="data.reason">
                  <p class="gray_text">Reason</p>
                  <p class="black_text">{{data.reason}}</p>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div> 
        <!-- end of train details mlite -->


  
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type="ball-running-dots" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

 <!-- train details -->
 </div>
