


<app-banners></app-banners>
<div class="container">
    <div>
        <h5 class="head_title">Book Travel & Stay</h5>
        <div class="mb-30">
            <app-travel></app-travel>
        </div>
    </div>
    <div>
        <h5 class="head_title">Smartbuy Exclusive</h5>
        <div class="mb-50">
            <app-exclusive></app-exclusive>
        </div>
    </div>
    <div>
        <!-- <h5 class="head_title">Offers and Deals</h5> -->
        <div class="mb-30">
            <app-deals></app-deals>
        </div>
    </div>
    <div>
        <h5 class="head_title">Brands in Focus <span class="view_all"><a href="" class="ps-2">View All</a></span></h5>
        <div class="mb-30">
            <app-brands></app-brands>
        </div>
    </div>
</div>


