

.head_title{
    color: #000000;
    font-family: 'opensans-light';
    font-size: 40px;
    margin: 20px 0;
}

.view_all{
    color: #CF8D56;
    font-size: 14px;
    a{
        font-family: 'opensans-medium';
    }
}