<div class="container">
    <h5 class="head_title">Smartbuy Exclusive</h5>
    <div class="mb-30">
        <div class="partner_item">
            <div class="part_sec flipkart_sec">
                <div class="img">
                    <img src="{{cdnUrl}}images/smartbuy/partner/exclusive/flipkart.svg" alt="partner_img">
                </div>
                <div class="point_sec">
                    <p class="points"><span class="value">3X</span> <span class="text">Reward Points</span></p>
                    <p class="points"><span class="value">1%</span> <span class="text">Cashback</span></p>
                </div>
            </div>
            <div class="part_sec mmt_sec">
                <div class="img">
                    <img src="{{cdnUrl}}images/smartbuy/partner/exclusive/mmt.svg" alt="partner_img">
                </div>
                <div class="point_sec">
                    <p class="points"><span class="value">10X</span> <span class="text">Reward Points</span></p>
                    <p class="points"><span class="value">10%</span> <span class="text">Cashback</span></p>
                </div>
            </div>
            <div class="part_sec imagine_sec">
                <div class="img">
                    <img src="{{cdnUrl}}images/smartbuy/partner/exclusive/imagine.svg" alt="partner_img">
                </div>
                <div class="point_sec">
                    <p class="points"><span class="value">5X</span> <span class="text">Reward Points</span></p>
                    <p class="points"><span class="value">5%</span> <span class="text">Cashback</span></p>
                </div>
            </div>
            <div class="part_sec instantVoucher_sec">
                <div class="img">
                    <img src="{{cdnUrl}}images/smartbuy/partner/exclusive/voucher.svg" alt="partner_img">
                </div>
                <div class="point_sec">
                    <p class="points"><span class="value">5X</span> <span class="text">Reward Points</span></p>
                    <p class="points"><span class="value">10%</span> <span class="text">Cashback</span></p>
                </div>
            </div>
        </div>
    </div>
</div>