

.price_hr{
    font-size: 20px;
    font-family: 'opensans-bold';
}

.hotel-amenities{
    margin-top: 10px;
    li{
        display: flex;
        gap: 6px;
        justify-content: start;
        align-items: center;
        flex-basis: 100%;
        img{
            width: 18px;
            height: 18px;
        }
    }
}