

.price_hr{
    font-size: 20px;
    font-family: 'opensans-bold';
    display:flex;
    align-items:center;
    img{
        vertical-align: baseline;
    }
}

.hotel-amenities{
    margin-top: 10px;
    li{
        display: flex;
        gap: 6px;
        justify-content: start;
        align-items: center;
        flex: 0 auto;
        img{
            width: 18px;
            height: 18px;
        }
    }
}