<section class="bradcome-area mt-110 mb-10 d-lg-block d-none">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="bradcome-list">
                  <ul class="list-inline">
                      <li class="list-inline-item"><a href="#">Home</a></li>
                      <li class="list-inline-item"><span>/</span></li>
                      <li class="list-inline-item"><a href="#">Travel &amp; Stays</a></li>
                      <li class="list-inline-item"><span>/</span></li>
                      <li class="list-inline-item"><span>Hotel Search</span></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="travel-area mt-10 d-lg-block d-none">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="travel-box">
                  <div class="travel-select-data-area">
                    <app-hotel-search></app-hotel-search>
                  </div>
              </div>
          </div>

          <div class="col-md-12">
              <div class="flight-partners">
                  <p>Compare &amp; Fly with our flight partners</p>
                  <ul class="list-inline ms-3">
                      <li class="list-inline-item">
                          <img src="./assets/images/flight_partners/1.png" alt="">
                      </li>
                      <li class="list-inline-item">
                          <img src="./assets/images/flight_partners/3.png" alt="">
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-lg-12">
              <div class="layout-box">
                  <div class="layout-left">
                      <div class="">
                          <div class="Filterslayout d-flex justify-content-between align-items-center">
                              <h6 class="fs_16">Filters</h6>
                              <a href="javascript:;" (click)="ResetAllFilter()" class="fs_13 text-color">Reset all</a>
                          </div>
                          <hr>
                          <div class="default-sidebar flight-sidebar">
                              <div class="sidebar-widget Star-widget">
                                  <div class="widget-title">
                                      <h6 class="">Star </h6>
                                      <a href="javascript:;" style="cursor:pointer" (click)="ResetStarFilter()">Reset</a>
                                  </div>
                                  <div class="widget-content">
                                      <ul class="category-list clearfix mt-2">
                                          <li class="custom-check-box" *ngFor="let item of starFiltersList">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" [checked]="item.active" (change)="StarFilter(item)" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">
                                                          <i class="fas fa-star" [ngClass]="{'active' : item.value >= 1}"></i>
                                                          <i class="fas fa-star" [ngClass]="{'active' : item.value >= 2}"></i>
                                                          <i class="fas fa-star" [ngClass]="{'active' : item.value >= 3}"></i>
                                                          <i class="fas fa-star" [ngClass]="{'active' : item.value >= 4}"></i>
                                                          <i class="fas fa-star" [ngClass]="{'active' : item.value >= 5}"></i>
                                                      </span>
                                                  </label>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <hr>
                              <div class="sidebar-widget search-widget">
                                  <div class="widget-title">
                                      <h6 class="">Populat Filters</h6>
                                      <a href="">Reset</a>
                                  </div>
                                  <div class="widget-content">
                                      <ul class="category-list clearfix mt-2">
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Apartment</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" checked="checked" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">ApartHotel</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Holiday Home</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Camping</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Villas</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Resorts</span>
                                                  </label>
                                              </div>
                                          </li>
                                      </ul>
                                      <a href="#" class="widget-content-more ml-20">+2 more</a>
                                  </div>
                              </div>
                              <hr>
                              <div class="sidebar-widget Price-widget">
                                  <div class="widget-title">
                                      <h6 class="">Price</h6>
                                      <a href="javascript:;" (click)="ResetPriceFilter()">Reset</a>
                                  </div>
                                  <div class="widget-content mt-10 mb-30 price-widget-content">
                                      <div style="margin:0 0 20px 0">
                                        <input type="number" min="0" [(ngModel)]="minPrice" [min]="resetMinPrice" id="min_price" class="price-range-field" />
                                        <span class="ms-3 me-3">-</span>
                                        <input type="number" min="0" [(ngModel)]="maxPrice" [max]="resetMaxPrice" id="max_price" class="price-range-field" />
                                      </div>
                                      <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="options" (valueChange)="onMinValueChange($event)" (highValueChange)="onMaxValueChange($event)"></ngx-slider>
                                  </div>
                              </div>
                              <hr>
                              <div class="sidebar-widget Amenities-widget">
                                  <div class="widget-title">
                                      <h6 class="">Amenities</h6>
                                      <a href="javascript:;" (click)="ResetAmenityFilter()">Reset</a>
                                  </div>
                                  <div class="widget-content">
                                      <ul class="category-list clearfix mt-2">
                                          <li class="custom-check-box" *ngFor="let item of amenityList | slice:0:5">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" [checked]="item.active" class="material-control-input" (change)="amenityFilter(item)" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">{{item.name}}</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <ng-container *ngIf="showMoreAmenity">
                                            <li class="custom-check-box" *ngFor="let item of amenityList | slice:5">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" [checked]="item.active" class="material-control-input" (change)="amenityFilter(item)"/>
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">{{item.name}}</span>
                                                  </label>
                                              </div>
                                          </li>
                                          </ng-container>
                                      </ul>
                                      <a href="javascript:;" *ngIf="!showMoreAmenity && amenityList.length>5" (click)="showMoreAmenity = true" class="widget-content-more ml-20">+11 more</a>
                                  </div>
                              </div>
                              <hr>
                              <div class="sidebar-widget SpecialOffers-widget">
                                  <div class="widget-title">
                                      <h6 class="">Special Offers</h6>
                                      <a href="">Reset</a>
                                  </div>
                                  <div class="widget-content">
                                      <ul class="category-list clearfix mt-2">
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Offers 1</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" checked="checked" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Offers 2</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Offers 3</span>
                                                  </label>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <hr>
                              <div class="sidebar-widget HouseRules-widget">
                                  <div class="widget-title">
                                      <h6 class="">House Rules</h6>
                                      <a href="">Reset</a>
                                  </div>
                                  <div class="widget-content">
                                      <ul class="category-list clearfix mt-2">
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Pets Allowed</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" checked="checked" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Bachelors Allowed</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Smoking Allowed</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Alcohol Allowed</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Unmarried Couples Allowed</span>
                                                  </label>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <hr>
                              <div class="sidebar-widget Preferences-widget">
                                  <div class="widget-title">
                                      <h6 class="">Booking Preferences</h6>
                                      <a href="">Reset</a>
                                  </div>
                                  <div class="widget-content">
                                      <ul class="category-list clearfix mt-2">
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Entire Property</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" checked="checked" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Star Host</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Caretaker</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Instant Book</span>
                                                  </label>
                                              </div>
                                          </li>
                                          <li class="custom-check-box">
                                              <div class="custom-controls-stacked">
                                                  <label class="custom-control material-checkbox">
                                                      <input type="checkbox" class="material-control-input" />
                                                      <span class="material-control-indicator"></span>
                                                      <span class="description">Homestays</span>
                                                  </label>
                                              </div>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
                  <div class="layout-right">
                      <div class="hotel-search-data">
                          <div class="hotel-search-left">
                              <div class="hotel-search-fill-icon">
                                  <img src="./assets/images/hotel/icon/ri_hotel-fill.png" alt="">
                              </div>
                              <div class="hotel-search-place">
                                  <h6>{{City}}, India</h6>
                                  <p *ngIf="hotelList">{{hotelList.length}} hotels found</p>
                              </div>
                              <div class="hotel-search-date">
                                  <p>{{CheckInDate | date:'EEE,MMM dd'}} - {{CheckoutDate | date:'EEE,MMM dd'}}</p>
                              </div>
                          </div>
                          <div class="hotel-search-right">
                              <div class="hotel-search-form">
                                  <form action="">
                                      <div class="hotel-listingsearch">
                                          <input type="text" name="search"[(ngModel)]="SearchText" (input)="onSearchInput()" placeholder="Search by Hotel name">
                                      </div>
                                  </form>
                              </div>
                              <div class="ms-2 hotel-Trending-selection">
                                  <select name="" class="liothers selectpicker" aria-label="Trending Hotels">
                                      <option selected="selected">Trending Hotels</option>
                                      <option>Trending Hotels</option>
                                  </select>
                              </div>
                          </div>
                      </div>

                      <div class="hotel-list-box">
                        <ng-container #itemsContainer></ng-container>
                      </div>
                        <div class="text-center" *ngIf="hotelList && hotelList.length < 1">No hotel found</div>


                        <ng-template #item let-item="item">
                          <div class="hotel-list-item" *ngFor="let list of item; let i = index">
                            <div class="hotel-list-left">
                                <div class="hotel-list-thumbe">
                                    <img src="{{list.hotelInfo.image}}" alt="">
                                </div>
                                <div class="hotel-list-text">
                                    <h6 class="hotel-name"><a href="javascript:;">{{list.hotelInfo.name}}</a></h6>
                                    <p class="hotel-place">{{list.hotelInfo.address == '' ? list.hotelInfo.city : list.hotelInfo.address}}</p>
                                    <p class="hotel-star" *ngIf="list.hotelInfo.starRating > 0">
                                        <i class="fas fa-star " [ngClass]="{'active' : list.hotelInfo.starRating >= 1}"></i>
                                        <i class="fas fa-star" [ngClass]="{'active' : list.hotelInfo.starRating >= 2}"></i>
                                        <i class="fas fa-star" [ngClass]="{'active' : list.hotelInfo.starRating >= 3}"></i>
                                        <i class="fas fa-star" [ngClass]="{'active' : list.hotelInfo.starRating >= 4}"></i>
                                        <i class="fas fa-star" [ngClass]="{'active' : list.hotelInfo.starRating >= 5}"></i>
                                        <span class="hotel-star-tag">{{list.hotelInfo.starRating}}/5</span>
                                    </p>
                                    <ul class="hotel-amenities">
                                        <li>
                                            <img src="./assets/images/hotel/icon/gym.png" alt="">
                                            <span>Gym</span>
                                        </li>
                                        <li>
                                            <img src="./assets/images/hotel/icon/pool.png" alt="">
                                            <span>Pool</span>
                                        </li>
                                        <li>
                                            <img src="./assets/images/hotel/icon/bar.png" alt="">
                                            <span>Bar</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="hotel-list-right">
                                <div class="hotel-list-info" >
                                    <div class="hotel-list-info-item" *ngFor="let item of list.priceSummary; let i = index">
                                        <div class="hotel-list-info-thume">
                                            <img src="{{cdnUrl}}/images/flight_partners/small-no/{{item.partnerName}}.png" alt="">
                                        </div>
                                        <div class="hotel-list-info-price">
                                            <h6>
                                                <strong>₹ {{item.price | number}} </strong>
                                                <span class="information-icon">
                                                    <img src="assets/images/icons/info.png" class="ms-2 " alt="">
                                                    <div class="hover-popover">
                                                        <div class="hover-popover-title">
                                                            <h6>Price Breakdown</h6>
                                                        </div>
                                                        <div class="hover-popover-content">
                                                            <div class="hover-popover-content-list">
                                                                <p>Base Fare</p>
                                                                <p>₹{{item.price | number}}</p>
                                                            </div>
                                                            <div class="hover-popover-content-list">
                                                                <p>Tax</p>
                                                                <p>₹0</p>
                                                            </div>
                                                            <hr class="m-0">
                                                            <div class="hover-popover-content-list popover-total">
                                                                <p>Total</p>
                                                                <p>₹{{item.price | number}}</p>
                                                            </div>
                                                        </div>
                                                        <div class="hover-popover-footer">
                                                            <p>*Partner Convenience Fee is applicable</p>
                                                        </div>
                                                    </div>
                                                </span>
                                            </h6>
                                            <p class="p-rn">Per Room/Night</p>
                                        </div>
                                        <div class="hotel-list-info-Book">
                                            <a href="#" class="button-style">Book</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </ng-template>
                        <div id="endOfPage" (click)="loadData()"></div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
