<!-- <app-benefits></app-benefits> -->

<section class="hero">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1 class="hero-title text-white fw-bold mb-0">Crafted for Leaders like you</h1>
        <p class="hero-subtitle text-white mb-0">Invite only card. Full Metal Card.</p>
      </div>
    </div>
  </div>
</section>

<section class="slider-tab-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled custom-nav-tab list-inline mb-0">
          <!-- <li class="list-item " *ngFor="let tabs of tabList">
            <a class="nav-link" href="javascript:void;" (click)="onActive()">{{tabs}}</a>
          </li> -->
          <li class="list-item">
            <a class="nav-link active" href="#">Infinia Reserve <span class="bottom-border"></span></a>
          </li>
          <li class="list-item">
            <a class="nav-link" href="#">Lifestyle Benefits</a>
          </li>
          <li class="list-item">
            <a class="nav-link" href="#">Travel Benefits</a>
          </li>
          <li class="list-item">
            <a class="nav-link disabled">Emergency Support & Insurance</a>
          </li>
          <li class="list-item">
              <a class="nav-link disabled">No Charges</a>
          </li>
          <li class="list-item">
              <a class="nav-link disabled">Network Offers</a>
          </li>
          <li class="list-item">
              <a class="nav-link disabled">Rewards</a>
          </li>
          <li class="list-item">
              <a class="nav-link disabled">Welcome & Renewal Benefits</a>
          </li>
          <li class="list-item">
              <a class="nav-link disabled">Infinia Reserve Smartbuy Portal</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Most Secured Card Ever & Limitless Card -->
<section class="secured-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="section-title">Most Secured Card Ever & Limitless Card</h1>
        <p class="secured-section-subtitle">Feature details:</p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
      <div class="col" *ngFor="let secureData of securedCardImg">
        <div class="card text-center h-100">
          <img src="{{secureData.img}}" class="d-block mx-auto" alt="..." height="72.99" width="62" />
          <div class="card-body p-0">
            <p class="secured-card-text mb-0">{{secureData.title}}</p>
          </div>
        </div>
      </div>

      <!-- <div class="col">
              <div class="card text-center h-100">
                  <img src="/assets/infinia/images/know-your-card/secured_1.png" class="d-block mx-auto" alt="..." height="72.99" width="62" />
                  <div class="card-body p-0">
                      <p class="secured-card-text mb-0">100% limit coverage in case of fraudulent transactions.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card text-center h-100">
                  <img src="/assets/infinia/images/know-your-card/secured_2.png" class="d-block mx-auto" alt="..." height="72.99" width="62" />
                  <div class="card-body p-0">
                      <p class="secured-card-text mb-0">Dedicated Risk management desk which supports with transaction declines/ authorisation issues.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card text-center h-100">
                  <img src="/assets/infinia/images/know-your-card/secured_3.png" class="d-block mx-auto" alt="..." height="72.99" width="62" />
                  <div class="card-body p-0">
                      <p class="secured-card-text mb-0">Easy limit enhancements for large transactions.</p>
                  </div>
              </div>
          </div> -->
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card text-center">
          <h5 class="text-warning secured-process-text mb-2">Process</h5>
          <p class="secured-process-subtext mb-0">Call Infinia Reserve customer care <br>
            Toll Free: 1800 266 3310 <span class="mx-3">|</span> Landline: 022-6171 7606 </p>
        </div>

        <div class="secured-conditions-card mt-4">
          <h5 class="secured-conditions-card-title mb-3">Major Terms and conditions:</h5>
          <ul>
            <li class="secured-conditions-card-subtitle">Limit enhancements will be done only for eligible customers as
              per bank’s policy</li>
            <li class="secured-conditions-card-subtitle text-warning">Click here for detailed T&C</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Lifestyle Benefits -->
<section class="lifestyle-section bg-warning-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="section-title">Lifestyle Benefits</h1>
      </div>
    </div>
  </div>
</section>
