<section class="main-site-listing" *ngIf="!isMobile">
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="layout-box">
              <div class="layout-left">
                <div class="filter-loaders animation-loader" *ngIf="loader">
                  <div class="filter-loader border-0" *ngFor="let dummy of dummyForLoader">
                      <div class="filter-loader-content ">
                          <span class="filter-box-title mt-0 w-50"><ngx-skeleton-loader *ngIf="loader" count="1" appearance="line" animation="pulse"
                            [theme]="{
                              'border-radius': 0
                            }"></ngx-skeleton-loader></span>
                          <span class="filter-box-subtext "><ngx-skeleton-loader *ngIf="loader" count="1" appearance="line" animation="pulse"
                            [theme]="{
                              'height':'8px',
                              'border-radius': '3px'
                            }"></ngx-skeleton-loader></span>
                      </div>
                  </div>

                </div>
            </div>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <h1>hell0</h1>
            </div>
        </div>

    </div>
</div>
</section>