<div class="mobile-summary-section">
    <!-- Modal Header -->
    <div class="modal-header pop-header">
        <h4 class="title">Itinerary & Fare Details</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="closeBottomSheet()">×</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body pop-body">

        <!-- <div>
            <p class="my-2">{{onward.travels}}</p>
            <div class="row bus-journey-details">
              <div class="col-2 w-dashed-line">
                  <img src="{{cdnUrl}}images/icons/icon_from.svg" alt="start">
              </div>
              <div class="col-10 pl-0">
                  <p class="bus-from">{{data.seacthresultFrom}}</p>
                  <p class="bus-time">{{onward.departureTime | date:'HH:mm'}} ({{onward.departureTime | date:'EEE, dd LLL'}})</p>
              </div>
            </div>
            <div class="row mb-3">
                <div class="col-2 text-center">
                    <img src="{{cdnUrl}}images/icons/icon_location.svg" alt="location">
                </div>
                <div class="col-10 pl-0">
                    <p class="bus-to">{{seacthResult.searchTo}}</p>
                    <p class="bus-time">{{onward.arrivalTime | date:'HH:mm'}} ({{onward.arrivalTime | date:'EEE, dd LLL'}})</p>
                </div>
              </div>
              <div class="row mb-3">
                  <div class="col-2"> 
                    <img src="{{cdnUrl}}images/icons/calendar_dark.svg">
                  </div>
                  <div class="col-10 pl-0 mt-1">
                      <p>{{onward.departureTime | date:'EEE, dd LLL'}}</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-2"> 
                    <img src="{{cdnUrl}}images/icons/Seats_img.svg">
                  </div>
                  <div class="col-10 pl-0">
                      <p>{{onward.busType}} | <span *ngFor="let seat of seacthResult.seatdetails;let i = index;let lastRow=last;">{{seat.name}} <span *ngIf="!lastRow" >, </span> </span></p>
                  </div>
              </div>
          </div> -->

        <div class="col-12">
            <p class="travels-name">{{data.onwardtravel}}</p>
            <div class="">
                <div class="row w-dashed-line mb-2">
                    <div class="col-2">
                        <img src="{{cdnUrl}}images/icons/icon_from.svg" alt="start">
                    </div>
                    <div class="col-10 pl-0">
                        <div class="bus-from">{{data.seacthresultFrom}}</div>
                        <div class="bus-time">{{data.onwardDep}} ({{data.onwTime | date:'EEE, dd LLL'}})</div>
                        <div class="bus-time">{{data.bordingPoint}}</div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-2">
                        <img src="{{cdnUrl}}images/icons/icon_from.svg" alt="start">
                    </div>
                    <div class="col-10 pl-0">
                        <div class="bus-from">{{data.seacthesultTo}}</div>
                        <div class="bus-time">{{data.onwardarrv }} ({{data.onwArrivalTime | date:'EEE, dd LLL'}})</div>
                        <div class="bus-time">{{data.droppingpoint}}</div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-2">
                        <img src="{{cdnUrl}}images/icons/calendar_dark.svg" alt="calendar">
                    </div>
                    <div class="col-10 pl-0">
                        <div class="bus-from">{{data.onwTime | date:'EEE, dd LLL'}}</div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-2">
                        <img src="{{cdnUrl}}images/icons/Seats_img.svg" alt="calendar">
                    </div>
                    <div class="col-10 pl-0">
                        <div class="bus-from">{{data.busType}} | <span *ngFor="let seat of data.seacthResult;let lastRow=last;">{{seat.name}}<span *ngIf="!lastRow">,</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- <div class="col-1">
                <img src="{{cdnUrl}}images/icons/right-arrow.svg" class="#" alt="right-arrow">
              </div> -->
        <!-- <div class="col-5">
                  <img src="{{cdnUrl}}images/icons/icon_location.svg" class="pop-fas" alt="location">
                  <span class="pop-text-cut">{{data.seacthesultTo}}</span> 
                  <div class="col-6"><p class="place-names">{{data.onwardarrv }} | {{data.droppingpoint}}</p></div>
                </div>
            </div> -->
        <!-- <div class="row py-1">
              <div class="col-6"><p class="place-names">{{data.onwardDep}} | {{data.bordingPoint}}</p></div>
              <div class="col-6"><p class="place-names">{{data.onwardarrv }} | {{data.droppingpoint}}</p></div>
            </div> -->
        <!-- <div class="row py-1">
                <div class="col-12">
                    <img src="{{cdnUrl}}images/icons/calendar_dark.svg" class="pop-fas">
                    <span class="place-names">{{data.onwTime | date:'EEE, dd LLL'}}</span>
                    <p class="pop-seats">{{data.busType}} | <span *ngFor="let seat of data.seacthResult;let lastRow=last;">{{seat.name}}<span *ngIf="!lastRow">,</span>
                      </span></p>
                </div>
                
            </div> -->


        <!-- 
          <table class="table pop-traveller-list ">
              <thead class="pop-table-header">
                <tr>
                  <th scope="col">Traveler</th>
                  <th scope="col">Gender</th>
                  <th scope="col">Age</th>
                  <th scope="col">Seats</th>
                </tr>
              </thead>
              <tbody class="pop-list-data">
                <tr>
                  <td>Mayank Singh <span> (Primary)</span></td>
                  <td>Male</td>
                  <td>34</td>
                  <td>H1</td>
                </tr>
                <tr>
                    <td>Geeta Subramaniam </td>
                    <td>Female</td>
                    <td>32</td>
                    <td>H2</td>
                  </tr>
              </tbody>
            </table>

            <p class="msg"><i class="material-icons pop-i"> error_outline </i>  <span>If primary passenger's ticket is cancelled, the complete ticket will be cancelled.</span></p> -->


        <div class="fare-details">
            <h6>FARE SUMMARY</h6>
            <div class="p-3">
                <div>
                    <div class="fare-total row  ">
                        <div class="col-7 col-md-6">
                            <p>Base fare
                                <!--<span class="d-block">(Adult x 2)</span>-->
                            </p>
                        </div>
                        <div class="col-5 col-md-6">
                            <p class="m-fare-value"><i class="fas fa-rupee-sign"></i>Rs. {{data.tBaseFare | number:'1.2'}}</p>
                        </div>
                    </div>
                    <div class="fare-total row  ">
                        <div class="col-6">
                            <p>Taxes &amp; surcharges</p>
                        </div>
                        <div class="col-6">
                            <!--<p class="smart-discount float-right f-16i"><i class="fas fa-rupee-sign"></i>1111.00</p>-->
                            <p class="m-fare-value"><i class="fas fa-rupee-sign"></i>Rs. {{data.tTax | number:'1.2'}}</p>
                        </div>
                    </div>
                    <div class="fare-total row  " *ngIf="data.bookingFee > 0">
                        <div class="col-6">
                            <p>Booking Fee</p>
                        </div>
                        <div class="col-6">
                            <!--<p class="smart-discount float-right f-16i"><i class="fas fa-rupee-sign"></i>1111.00</p>-->
                            <p class="m-fare-value"><i class="fas fa-rupee-sign"></i>Rs. {{data.bookingFee | number:'1.2'}}</p>
                        </div>
                    </div>
                    <div class="fare-total row  " *ngIf="data.convFee>0">
                        <div class="col-6">
                            <p>Convenience Fee</p>
                        </div>
                        <div class="col-6">
                            <!--<p class="smart-discount float-right f-16i"><i class="fas fa-rupee-sign"></i>1111.00</p>-->
                            <p class="m-fare-value"><i class="fas fa-rupee-sign"></i>Rs. {{data.convFee| number:'1.2'}}</p>
                        </div>
                    </div>
                    <div class="fare-total row  " *ngIf="data.indexCoupon">
                        <div class="col-6 coupon_code">
                            <p>Discount</p>
                        </div>
                        <div class="col-6 coupon_code">
                            <!--<p class="smart-discount float-right f-16i"><i class="fas fa-rupee-sign"></i>1111.00</p>-->
                            <p class="m-fare-value"><i class="fas fa-rupee-sign"></i>(-)Rs. {{data.coupAmt| number:'1.2'}}
                                <!--<a *ngIf="coupon_amount>0" (click)="removeCoupon(coupon_id,coupon_amount)"><img src="{{cdnUrl}}images/icons/sb-r-close.png" width="10" /></a>--></p>
                        </div>
                    </div>
                    <div class="fare-total row" *ngIf="data.flexiDiscount">
                        <div class="col-6">
                            <p>FlexiPay Discount</p>
                        </div>
                        <div class="col-6">
                            <!--<p class="smart-discount float-right f-16i"><i class="fas fa-rupee-sign"></i>1111.00</p>-->
                            <p class="m-fare-value"><i class="fas fa-rupee-sign"></i>(-)Rs. {{data.flexiDiscount| number:'1.2'}}</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="clearfix"></div>
                <div class="total-charges row">
                    <div class="col-5">
                        <p>Total</p>
                    </div>
                    <div class="col-7">
                        <p class="final-amount"><i class="fas fa-rupee-sign"></i>Rs. {{data.totfare| number:'1.2'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>