.head_title{
    color: #000000;
    font-family: 'opensans-light';
    font-size: 40px;
    margin: 20px 0;
}

.partners_container_deals {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    /*  flex-wrap: nowrap;
        padding: 1.5em 0px; */
    margin-bottom: 10px;
    gap: 20px;
    @media screen and (max-width: 1024.56px) {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0em 0px 0px;
        margin-bottom: 0;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .cardblock {
        width: 100%;
        float: left;
        .card_long {
            background-color: #ffffff;
            padding: 15px 15px 20px;
            border-radius: 8px;
            max-width: 315px;
            border: 1px solid #e6e6e6;
            @media screen and (max-width: 566px) {
                height: auto;
                width: 100%;
            }
            @media screen and (max-width:1366px) {
                max-width: 300px;
            }
            @media screen and (min-width:1600px) {
                max-width: 350px;
            }
            .img_sec {
               /*  height: auto; */
                height: 180px;
                position: relative;
                @media screen and (max-width: 566px) {
                    height: 100px;
                }
                @media screen and (min-width: 1600px) {
                    height: auto;
                }
            }
            .offerCard-title{
                color: #000000;
                font-size: 20px;
                font-weight: 700;
                font-family: 'opensans-bold';
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .offerCard-desc{
                color: #555555;
                font-size: 15px;
                font-weight: 400;
                margin: 0;
                font-family: opensans-regular;
                white-space: pre-line;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 40px;
                line-height: normal;
            }
            .exp_date{
                color: #8B8B8B;
                font-size: 14px;
                font-family: 'opensans-regular';
                margin: 15px 0px;
            }
        }
    }
   
}