<div class="container-no">
    <h5 class="head_title">Offers and Deals</h5>
    <div>
       <span *ngIf="showDealList && topDeals.length > 0"> 
        <owl-carousel-o [options]="dealOptions" class="partners_container_deals deal_item">
            <ng-template carouselSlide  *ngFor="let hit of topDeals;  odd as isOdd; even as isEven;">
                <div class="cardblock item">
                    <div class="card_long ">
                        <div class="img_sec">
                            <img src="{{cdnDealUrl+hit.image}}" alt="" class="img-fluid radius_8"   (error)="onImgErrorDeals($event)"> 
                        </div>
                        <hr class="visi-hide" />
                        <div>
                            <h1 class="offerCard-title">{{hit.name}}</h1>
                            <p class="offerCard-desc">{{hit.short_description}}</p>
                        </div>
                        <div class="my-2"  *ngIf="hit.end_date">
                            <p class="exp_date">Expires on {{hit.end_date}}</p>
                        </div>
                        <div>
                            <button class="btn view_btn w-100" (click)="redirectDisUrl('offer_details/'+hit.slug_url)">View details</button>
                        </div>
                    </div>
                </div>
            </ng-template>   
        </owl-carousel-o>
      </span>
    </div>
</div>