<div class="imptop " *ngIf="importantMessage && !isMobile">&nbsp;</div>
<app-header  [showMobileHeader]="showHeader" [mobileClassName]="mobileClassName" [importantMessageText]="importantMessage" [getVouchersList]="getVouchersList" [dealsoffers]="dealsoffers" [menuActiveClass]="menuActiveClass"></app-header>
<div class="flex-grow-1"><router-outlet ></router-outlet></div>
<app-footer ></app-footer>
<!--<a href="javascript:void(0)" class="scrollToTop">
    <i class="far fa-dot-circle"></i>
    <span>Top</span>
</a>-->
