@import '../../../assets/sharedscss/color';
@import '../../../assets/sharedscss/spacing';

$break-mob-3: 320px;
  $break-mob-2: 375px;
  $break-mob-1: 425px;
  $break-md-tab: 768px;
//   @media screen and (max-width: 768px) and (min-width: 426px)

h6 {
    font-size: $size-small;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
    color: $color-dark-gray;
}

.search-sub-filter {
    border: 0;
    border-bottom: 1px solid $color-dark-gray;
    font-size: $size-small;
    line-height: 1.87;
    text-align: left;
    color: $color-dark-gray;
    padding-left: 15px;
    padding-bottom: 8px;
    margin-bottom: 10px;

    &:focus {
        outline: none;
    }

    ::-webkit-input-placeholder {
        color: $color-dark-gray;
    }

    ::-moz-placeholder {
        color: $color-dark-gray;
    }

    :-ms-input-placeholder {
        color: $color-dark-gray;
    }

    :-moz-placeholder {
        color: $color-dark-gray;
    }
}


.mob-search{
    font-size: 15px;
    position: relative;
    top: 4px;
    height: 4px;
    width: 4px;
    color: #9c9b9b;
}

.filter-common{
    // max-height: 500px;
    overflow-y: auto;
    height: 90%;
    width: 100%;
    @media screen and (min-width: $break-md-tab){
        max-height: 500px;
    }
}

.mb-2em{
    margin-bottom: 2em;
}

.tab-height{
    height: 95%;
}
.tab-height-amen{
    height: 100%;
}
.filter-common-amen{
    overflow-y: auto;
    height: 100%;
    width: 100%;
    @media screen and (min-width: $break-md-tab){
        max-height: 500px;
    }
}

