<section class="hero">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h1 class="hero-title text-white fw-bold mb-0">Crafted for Leaders like you</h1>
        <p class="hero-subtitle text-white mb-0">Invite only card. Full Metal Card.</p>
      </div>
    </div>
  </div>
</section>

<section class="slider-tab-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-unstyled custom-nav-tab list-inline mb-0">
          <!-- <li class="list-item " *ngFor="let tabs of tabList">
            <a class="nav-link" href="javascript:void;" (click)="onActive()">{{tabs}}</a>
          </li> -->
          <li class="list-item">
            <a class="nav-link active" href="#">Infinia Reserve <span class="bottom-border"></span></a>
          </li>
          <li class="list-item">
            <a class="nav-link" href="#">Lifestyle Benefits</a>
          </li>
          <li class="list-item">
            <a class="nav-link" href="#">Travel Benefits</a>
          </li>
          <li class="list-item">
            <a class="nav-link disabled">Emergency Support & Insurance</a>
          </li>
          <li class="list-item">
              <a class="nav-link disabled">No Charges</a>
          </li>
          <li class="list-item">
              <a class="nav-link disabled">Network Offers</a>
          </li>
          <li class="list-item">
              <a class="nav-link disabled">Rewards</a>
          </li>
          <li class="list-item">
              <a class="nav-link disabled">Welcome & Renewal Benefits</a>
          </li>
          <li class="list-item">
              <a class="nav-link disabled">Infinia Reserve Smartbuy Portal</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Most Secured Card Ever & Limitless Card -->
<section class="secured-section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="section-title">Most Secured Card Ever & Limitless Card</h1>
        <p class="secured-section-subtitle">Feature details:</p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
      <!-- <div class="col" *ngFor="let secureData of securedCardImg">
        <div class="card text-center h-100">
          <img src="{{secureData.img}}" class="d-block mx-auto" alt="..." height="72.99" width="62" />
          <div class="card-body p-0">
            <p class="secured-card-text mb-0">{{secureData.title}}</p>
          </div>
        </div>
      </div> -->

      <div class="col">
              <div class="card text-center h-100">
                  <img src="/assets/infinia/images/know-your-card/secured_1.png" class="d-block mx-auto" alt="..." height="72.99" width="62" />
                  <div class="card-body p-0">
                      <p class="secured-card-text mb-0">100% limit coverage in case of fraudulent transactions.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card text-center h-100">
                  <img src="/assets/infinia/images/know-your-card/secured_2.png" class="d-block mx-auto" alt="..." height="72.99" width="62" />
                  <div class="card-body p-0">
                      <p class="secured-card-text mb-0">Dedicated Risk management desk which supports with transaction declines/ authorisation issues.</p>
                  </div>
              </div>
          </div>
          <div class="col">
              <div class="card text-center h-100">
                  <img src="/assets/infinia/images/know-your-card/secured_3.png" class="d-block mx-auto" alt="..." height="72.99" width="62" />
                  <div class="card-body p-0">
                      <p class="secured-card-text mb-0">Easy limit enhancements for large transactions.</p>
                  </div>
              </div>
          </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="card text-center">
          <h5 class="text-warning secured-process-text mb-2">Process</h5>
          <p class="secured-process-subtext mb-0">Call Infinia Reserve customer care <br>
            Toll Free: 1800 266 3310 <span class="mx-3">|</span> Landline: 022-6171 7606 </p>
        </div>

        <div class="secured-conditions-card mt-4">
          <h5 class="secured-conditions-card-title mb-3">Major Terms and conditions:</h5>
          <ul>
            <li class="secured-conditions-card-subtitle">Limit enhancements will be done only for eligible customers as
              per bank’s policy</li>
            <li class="secured-conditions-card-subtitle text-warning">Click here for detailed T&C</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Lifestyle Benefits -->
<section class="lifestyle-section bg-warning-section">
  <div class="container">
      <div class="row">
          <div class="col-12 text-center">
              <h1 class="section-title mb-0">Lifestyle Benefits</h1>
          </div>
      </div>

      <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="lifestyle-nav-tab-custom">
              <ul class="nav nav-pills lifestyle-nav-tab justify-content-center mb-0" id="pills-tab" role="tablist">
                  <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="pills-personal-concierge-tab" data-bs-toggle="pill" data-bs-target="#pills-personal-concierge" type="button" role="tab" aria-controls="pills-personal-concierge" aria-selected="true">
                          Personal Concierge Relationship Manager
                      </button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-redemption-tab" data-bs-toggle="pill" data-bs-target="#pills-redemption" type="button" role="tab" aria-controls="pills-redemption" aria-selected="false">
                          Redemption on Marquee Events
                      </button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-unlimite-golf-tab" data-bs-toggle="pill" data-bs-target="#pills-unlimite-golf" type="button" role="tab" aria-controls="pills-unlimite-golf" aria-selected="false">
                          Unlimited Golf Access across the world
                      </button>
                  </li>
                  <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pills-membership-tab" data-bs-toggle="pill" data-bs-target="#pills-membership" type="button" role="tab" aria-controls="pills-membership" aria-selected="false">
                          Taj Epicure Membership
                      </button>
                  </li>
              </ul>
          </div>

              <div class="tab-content lifestyle-tab-content" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="pills-personal-concierge" role="tabpanel" aria-labelledby="pills-personal-concierge-tab" tabindex="0">
                      <div class="card mb-10">
                          <ul class="lifestyle-tab-list">
                              <li>Dedicated Concierge Relationship Manager for customer.</li>
                              <li>One concierge relationship manager will be tagged for each customer.</li>
                              <li>All of the customer’s requests and calls will be taken by their concierge relationship manager.</li>
                              <li>The concierge RM will help with services like, travel reservations, golf booking, Dining assistance, international gift deliveries, Airport VIP services booking and much more.</li>
                              <li>The concierge desk is available 24x7</li>
                          </ul>
                      </div>
                      <div class="accordion custom-accordion-tab" id="accordionExample1">
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                  <button class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                      Process
                                  </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                                  <div class="accordion-body p-0">
                                      <ul class="lifestyle-accordion-list">
                                          <li>Post card issuance, the concierge RM will be assigned and introduced to the customer.</li>
                                          <li>Customer will be able to reach out to their concierge RM as below:</li>
                                          <li>Toll Free No.: 1800 118 887 Landline No.: 022 42320226</li>
                                          <li>Email ID: Infiniareserve.support@smartbuyoffers.co​​​​​</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="personal-conditions-card mt-4">
                          <h5 class="personal-conditions-card-title mb-3">Major Terms and conditions:</h5>
                          <p class="personal-conditions-card-subtitle">The concierge RM will be available during office hours which will be communicated to them at the time of onboarding. If customer’s RM is not available, they will be serviced by alternate RM, desk will be functional 24X7. </p>
                      </div>
                  </div>

                  <div class="tab-pane fade" id="pills-redemption" role="tabpanel" aria-labelledby="pills-redemption-tab" tabindex="0">
                      <div class="card mb-10">
                          <ul class="lifestyle-tab-list">
                              <li>Customers will be able to redeem their reward points against tickets/ itinerary booking for marquee events (example: F1, Wimbledon, Fifa).</li>
                              <li>The events tickets/itineraries being offered for redemption will be informed well in advance to customers.</li>
                          </ul>
                      </div>
                      <div class="accordion custom-accordion-tab" id="accordionExample2">
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingTwo">
                                  <button class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                      Process
                                  </button>
                              </h2>
                              <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                                  <div class="accordion-body p-0">
                                      <ul class="lifestyle-accordion-list">
                                          <li>Customers will be informed in advance on the events available for redemption along with redemption process and events terms & conditions.</li>
                                          <li>For any further query, customer can reach out to their Concierge Relationship manager as per below:</li>
                                          <li>Toll Free No.: 1800 118 887 Landline No.: 022 42320226</li>
                                          <li>Email ID: Infiniareserve.support@smartbuyoffers.co</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="personal-conditions-card mt-4">
                          <h5 class="personal-conditions-card-title mb-3">Major Terms and conditions:</h5>
                          <p class="personal-conditions-card-subtitle">The concierge RM will be available during office hours which will be communicated to them at the time of onboarding. If customer's RM is not available, they will be serviced by alternate RM, desk will be functional 24X7.</p>
                      </div>
                  </div>

                  <div class="tab-pane fade" id="pills-unlimite-golf" role="tabpanel" aria-labelledby="pills-unlimite-golf-tab" tabindex="0">
                      <div class="card mb-10 text-center">
                          <p class="lifestyle-tab-list-text mb-0">Unlimited complimentary Golf games and coaching at select golf courses across the world. </p>
                      </div>
                      <div class="accordion custom-accordion-tab" id="accordionExample3">
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingThree">
                                  <button class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                      Process
                                  </button>
                              </h2>
                              <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample3">
                                  <div class="accordion-body p-0">
                                      <ul class="lifestyle-accordion-list">
                                          <li>Customer can reach out to their Concierge Relationship manager and place the booking request. </li>
                                          <li>Contact information is below: </li>
                                          <li>Toll Free No.: 1800 118 887 Landline No.: 022 42320226</li>
                                          <li>Email ID: Infiniareserve.support@smartbuyoffers.co</li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="personal-conditions-card mt-4">
                          <h5 class="personal-conditions-card-title mb-3">Major Terms and conditions:</h5>
                          <p class="personal-conditions-card-subtitle">Bookings to be placed with 2 clear days in advance excluding date of play and date of request for India and 7 clear days in advance for outside India.</p>
                          <p class="personal-conditions-card-subtitle mt-2 pt-1"><a href="#" class="text-warning">Click here</a> for details Terms & conditions </p>
                      </div>
                  </div>

                  <div class="tab-pane fade" id="pills-membership" role="tabpanel" aria-labelledby="pills-membership-tab" tabindex="0">
                      <div class="card mb-10">
                          <ul class="lifestyle-tab-list">
                              <li>Customers will get complimentary Taj epicure membership for one year with card issuance. The membership will be renewed for subsequent year if customer spends greater than 30 lacs in pervious cycle.</li>
                          </ul>
                          <p class="lifestyle-tab-list-text text-center mb-0 mt-2 pt-1">Taj epicure membership benefits are</p>

                          <div class="row mt-3">
                              <div class="col-lg-11">
                                  <div class="row">
                                      <div class="col-lg-6 mb-4">
                                          <div class="card-box h-100">
                                              <div class="d-flex align-items-center">
                                                  <div class="flex-shrink-0">
                                                    <img src="/assets/infinia/images/know-your-card/food.png" alt="..." height="34" width="34">
                                                  </div>
                                                  <div class="flex-grow-1 ms-4">
                                                    <p class="lifestyle-tab-list-card-text">25% off on F&B -Dine-in & Take away </p>
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                      <div class="col-lg-6 mb-4">
                                          <div class="card-box h-100">
                                              <div class="d-flex align-items-center">
                                                  <div class="flex-shrink-0">
                                                    <img src="/assets/infinia/images/know-your-card/spa.png" alt="..." height="34" width="34">
                                                  </div>
                                                  <div class="flex-grow-1 ms-4">
                                                    <p class="lifestyle-tab-list-card-text">20% off on spa treatments at Jiva spas, on salon services</p>
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                      <div class="col-lg-6 mb-4">
                                          <div class="card-box h-100">
                                              <div class="d-flex align-items-center">
                                                  <div class="flex-shrink-0">
                                                    <img src="/assets/infinia/images/know-your-card/gift.png" alt="..." height="34" width="34">
                                                  </div>
                                                  <div class="flex-grow-1 ms-4">
                                                    <p class="lifestyle-tab-list-card-text">Exclusive vouchers on 20% discount on best available rates on rooms & suites.</p>
                                                  </div>
                                                </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <ul class="lifestyle-tab-list">
                              <li>Exclusive vouchers on 20% discount on best available rates on rooms & suites.</li>
                              <li>Benefits are applicable on Taj, seleqtions, vivanta, Ginger, expressions properties.</li>
                              <li>Detailed features will be linked out to microsite.</li>
                          </ul>
                      </div>
                      <div class="accordion custom-accordion-tab" id="accordionExample4">
                          <div class="accordion-item">
                              <h2 class="accordion-header" id="headingFour">
                                  <button class="accordion-button collapsed p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                      Process
                                  </button>
                              </h2>
                              <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingFour" data-bs-parent="#accordionExample4">
                                  <div class="accordion-body p-0">
                                      <ul class="lifestyle-accordion-list">
                                          <li>Customer can enroll for membership by logging in to www.offers.smartbuy.hdfcbank.com/Infiniareserve </li>
                                          <li>Or customer can call their concierge relationship manager for enrolment as per below: </li>
                                          <li>Toll Free No.: 1800 118 887 Landline No.: 022 42320226</li>
                                          <li>Email ID: Infiniareserve.support@smartbuyoffers.co</li>
                                          <li class="mt-4">After enrolment request, the taj epicure membership kit will reach their address within 7 working days. </li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <p class="personal-conditions-card-subtitle text-center mt-2 mb-0 pt-1"><a href="#" class="text-warning">Click here</a> for details Terms & conditions </p>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
