@import '../../../assets/sharedscss/color';
@import '../../../assets/sharedscss/spacing';
.slider {
    --primary: #275efe;
    --handle: #fff;
    --handle-active: #{mix(white, #275efe, 70%)};
    --handle-hover: #{mix(white, #275efe, 90%)};
    --handle-border: 2px solid var(--primary);
    --line: #cdd9ed;
    --line-active: var(--primary);
    height: 23px;
    width: 100%;
    position: relative;
    pointer-events: none;
    .ui-slider-handle {
        --y: 0;
        --background: var(--handle);
        cursor: grab;
        -webkit-tap-highlight-color: transparent;
        top: 0;
        width: 23px;
        height: 23px;
        transform: translateX(-50%);
        position: absolute;
        outline: none;
        display: block;
        pointer-events: auto;
        div {
            width: 23px;
            height: 23px;
            border-radius: 50%;
            transition: background .4s ease;
            transform: translateY(calc(var(--y) * 1px));
            border: var(--handle-border);
            background: var(--background);
        }
        &:hover {
            --background: var(--handle-hover);
        }
        &:active {
            --background: var(--handle-active);
            cursor: grabbing;
        }
    }
    svg {
        --stroke: var(--line);
        display: block;
        height: 83px;
        path {
            fill: none;
            stroke: var(--stroke);
            stroke-width: 1;
        }
    }
    .active,
    &>svg {
        position: absolute;
        top: -30px;
        height: 83px;
    }
    &>svg {
        left: 0;
        width: 100%;
    }
    .active {
        position: absolute;
        overflow: hidden;
        left: calc(var(--l) * 1px);
        right: calc(var(--r) * 1px);
        svg {
            --stroke: var(--line-active);
            position: relative;
            left: calc(var(--l) * -1px);
            right: calc(var(--r) * -1px);
            path {
                stroke-width: 2;
            }
        }
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial;
    background: #CDD9ED;
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
}

// end of new css
// mlite filter
.brdr_btm_0 {
    border-bottom: none;
}

.h_auto {
    height: auto !important;
}

@media screen and (max-width: 600px) {
    .m_filter_paddng {
        padding: 10px 15px 2rem 15px;
    }
}

$break-mob-3: 320px;
$break-mob-2: 375px;
$break-mob-1: 425px;
$break-md-tab: 768px;
//   @media screen and (max-width: 768px) and (min-width: 426px)
app-header {
    @media screen and (max-width: $break-mob-1) {
        display: none;
    }
}

.list-back {
    position: relative;
    left: 0;
    display: block;
    width: 20px;
    float: left;
    height: 100%;
    padding-left: 5px;
}

.list-back-title {
    background: $color-dark-blue;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.list-back-title-diners {
    background: #020812;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.list-back-title-infinia {
    background: #0e255e;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.list-back-title-regalia {
    background: #61471d;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.list-back-title-corporate {
    background: #000000;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.list-back-title-business {
    background: #001f79;
    text-align: center;
    color: $color-white;
    padding: 15px 0px;
    /*margin-top: 1em;*/
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.bus_found {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    background: rgba(29, 134, 255, 0.1);
    border-radius: 8px;
    padding: 8px 10px;
}

.m-locations {
    margin: 0px 30px;
}

.mobile-date-carousel {
    @media screen and (min-width: 769px) {
        display: none;
    }
}

.right-arrow,
.left-arow {
    color: $color-dark-blue;
}

.xs-mar {
    @media screen and (max-width: $break-mob-1) {
        margin-bottom: 20%;
    }
}

.not-found-img {
    height: 400px;
    position: relative;
    text-align: center;
    top: 55px;
    @media screen and (max-width: $break-mob-1) {
        height: 400px;
        top: 40px;
    }
    .title {
        font-size: 18px;
        font-family: opensans-medium;
        margin-top: 25px;
        margin-bottom: 5px;
    }
    .caption {
        font-size: 12px;
        font-family: opensans-regular;
    }
    .modify-btn {
        font-size: 12px;
        color: $color-white;
        font-family: opensans-medium;
    }
    .not-found {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.modify-search {
    @media screen and (max-width: $break-md-tab) {
        display: none;
    }
}

.sort {
    @media screen and (min-width: 1025px) {
        width: 25%
    }
    @media screen and (max-width: 1024px) and (min-width: 769px) {
        width: 30%
    }
    @media screen and (max-width: 768px) and (min-width: 426px) {
        width: 40%
    }
}

.list-row {
    box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
    border: solid 1px #ecf2f6;
    background-color: $color-white;
    padding: 14px 18px;
    .label-name {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $size-base;
        color: $color-dark-gray;
    }
    .label-gary {
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $size-small;
        color: $color-dark-gray-01;
    }
}

.footer-btn {
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 1;
    .w-50 {
        //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
        background-color: $color--white-blue;
        height: 54px;
        padding: 10px 0;
        border-right: 1px solid rgba(25, 25, 25, 0.2);
        &:nth-child(2) {
            border: 0;
        }
        .blue-label {
            text-align: center;
            font-size: $size-x3-small;
            color: $color-vivid-blue;
        }
    }
    .btn-footer-cust {
        text-align: center;
        font-size: 14px;
        line-height: 1.29;
        color: $color-dark-gray;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
    .footer-btn-diners {
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 1;
        .w-50 {
            //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
            background-color: #020812;
            height: 54px;
            padding: 10px 0;
            border-right: 1px solid #ffffff;
            &:nth-child(2) {
                border: 0;
            }
            .blue-label {
                text-align: center;
                font-size: $size-x3-small;
                color: $color-vivid-blue;
            }
        }
        .btn-footer-cust {
            text-align: center;
            font-size: 14px;
            line-height: 1.29;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 425px) and (min-width: 320px) {
    .footer-btn-infinia {
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 1;
        .w-50 {
            //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
            background-color: #0e255e;
            height: 54px;
            padding: 10px 0;
            border-right: 1px solid #ffffff;
            &:nth-child(2) {
                border: 0;
            }
            .blue-label {
                text-align: center;
                font-size: $size-x3-small;
                color: $color-vivid-blue;
            }
        }
        .btn-footer-cust {
            text-align: center;
            font-size: 14px;
            line-height: 1.29;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
}

.list-card,
.list-card-m {
    // box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
    // border: solid 1px #ecf2f6;
    // background-color: $color-white;
    padding-left: 30px;
    margin: 5px 0px;
    @media screen and (max-width: 425px) and (min-width: 320px) {
        margin: 0px 0px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
    }
    .label-name {
        font-size: 18px;
        font-weight: bold;
        color: $color-dark-gray;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        @media screen and (max-width: 425px) and (min-width: 320px) {
            font-size: 12px;
            max-width: 85%;
        }
    }
    .label-name-large {
        font-size: 16px;
        font-weight: bold;
        color: $color-dark-gray;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .label-gray {
        font-size: $size-small;
        line-height: 1.5;
        text-align: left;
        color: $color-dark-gray-01;
    }
    .next-button {
        width: 37px;
        height: 100px;
        box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
        background-color: $color-vivid-blue;
        float: right;
        position: relative;
        left: 36px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        @media screen and (max-width: 600px) and (min-width: 320px) {
            // width: 60px;
            // height: 90px;
            position: absolute;
            // right: 0px;
            left: auto;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
            width: 45px;
            height: 125px;
            right: 15px;
            i.material-icons {
                position: relative;
                left: 25%;
            }
        }
        i.material-icons {
            color: $color-white;
            cursor: pointer;
        }
    }
}

.list-card-m {
    padding-left: 15px;
}

.pt-20 {
    padding-top: 10px;
}

.web-pad {
    padding-top: 18px;
    @media screen and (max-width: 425px) and (min-width: 320px) {
        padding-top: 0px;
    }
}

@media (max-width: 720px) {
    .m-c-0 {
        margin-left: 0;
        margin-right: 0;
    }
    .p-cut-0 {
        padding-left: 0;
    }
}

// .next-button > i:focus {
//     transform: rotate(90deg) !important;
//   }
.next-button i:focus {
    animation: rotate 1s ease-in-out 0s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(90deg);
    }
}

.custom-date-list {
    margin-top: 0px;
    margin-bottom: 10px;
}

.custom-direction {
    top: 8px;
}

.sort-by-w {
    width: 40%
}

.redbus-logo {
    font-size: 15px;
    // opacity: 0.6;
    // float: right;
    text-align: left;
    float: left;
    font-family: opensans-regular;
    text-transform: uppercase;
    color: $color-dark-gray;
    display: inline-block;
    margin-top: 1.5em;
    padding-left: 10px;
    img {
        width: 80px;
        //   margin-left: 10px;
    }
}

@media screen and (max-width: 425px) and (min-width: 319px) {
    .footer-btn-regalia {
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 1;
        .w-50 {
            //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
            background-color: #61471d;
            height: 54px;
            padding: 10px 0;
            border-right: 1px solid #ffffff;
            &:nth-child(2) {
                border: 0;
            }
            .blue-label {
                text-align: center;
                font-size: $size-x3-small;
                color: $color-vivid-blue;
            }
        }
        .btn-footer-cust {
            text-align: center;
            font-size: 14px;
            line-height: 1.29;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 425px) and (min-width: 319px) {
    .footer-btn-corporate {
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 1;
        .w-50 {
            //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
            background-color: #000000;
            height: 54px;
            padding: 10px 0;
            border-right: 1px solid #ffffff;
            &:nth-child(2) {
                border: 0;
            }
            .blue-label {
                text-align: center;
                font-size: $size-x3-small;
                color: $color-vivid-blue;
            }
        }
        .btn-footer-cust {
            text-align: center;
            font-size: 14px;
            line-height: 1.29;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: 425px) and (min-width: 319px) {
    .footer-btn-business {
        bottom: 0;
        width: 100%;
        left: 0;
        z-index: 1;
        .w-50 {
            //box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
            background-color: #001f79;
            height: 54px;
            padding: 10px 0;
            border-right: 1px solid #ffffff;
            &:nth-child(2) {
                border: 0;
            }
            .blue-label {
                text-align: center;
                font-size: $size-x3-small;
                color: $color-vivid-blue;
            }
        }
        .btn-footer-cust {
            text-align: center;
            font-size: 14px;
            line-height: 1.29;
            color: #ffffff;
            text-transform: uppercase;
        }
    }
}

.bus-gap {
    margin-top: 14em;
}

.covid-header {
    text-align: center;
    background-color: #015297;
    padding: 5px 20px;
    color: #fff;
}

.w-covid-popup .modal_row {
    color: #000;
    text-align: left;
    margin-top: 10px;
}

.btn-c {
    border: 1px solid $color-blue-btn;
    background: $color-blue-btn;
    color: $color-white;
    cursor: pointer;
}

.mat-form-field-infix {
    width: fit-content !important;
}

.bus_type {
    font-size: 12px;
    color: #00000050;
    font-weight: 500;
}

//    mobile view filter extra css
.date_sm_round {
    width: 22px;
    height: 22px;
    line-height: 18px;
    background: #1D86FF10;
    text-align: center;
    border-radius: 50%;
    margin: 5px;
}

.mob-listing-header {
    padding: 10px;
}

.invrt_img {
    transform: rotate(180deg);
}

// mobile
.mob-sf-tabs {
    ul {
        height: 101%;
        background: rgba(29, 134, 255, 0.07);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        li {
            a {
                background: none;
            }
            a.active {
                background: #1D86FF;
                box-shadow: 0px 5px 11px rgba(29, 134, 255, 0.25);
                border-radius: 8px;
                color: #fff;
            }
        }
    }
}

.m_sort_text {
    font-size: 14px;
    color: #000000;
}

.m_sort_text50 {
    font-size: 14px;
    color: #00000090;
}

.m_sort_flex_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
    grid-gap: 15px;
    margin-top: 1em;
    padding: 10px;
    .checkbox-cust {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /*  padding: 5px;*/
        border-radius: 5px;
        background: rgba(29, 134, 255, 0.03);
        border: 1px solid rgba(29, 134, 255, 0.07);
        /*  gap:8px; */
        gap: 10px;
        min-height: 53px;
        img {
            width: 28px;
            height: 20px;
            object-fit: cover;
        }
        input {
            visibility: hidden;
        }
        &:hover {
            background-color: none;
        }
    }
    .checkbox-cust.selected {
        background: #1d86ff20;
        border: 1px solid #1d86ff25;
        img {
            filter: invert(39%) sepia(33%) saturate(5897%) hue-rotate(203deg) brightness(108%) contrast(101%);
        }
    }
}

// end of mobile
.empty_list_hdr {
    font-family: 'opensans-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
    margin-top: 1rem;
    margin-bottom: 1rem;
    @media screen and (max-width: 600px) {
        font-size: 20px;
    }
}

.empty_list_btn {
    background: #1D86FF;
    border-radius: 8px;
    font-family: 'opensans-regular';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 45px;
    @media screen and (max-width: 600px) {
        width: 100%;
    }
}

.bus-breadcrumb-item {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #1D86FF;
}

.bus-breadcrumb-item.active {
    color: #555555;
}

.list-bus-card {
    padding-left: 15px;
    padding-right: 15px;
    margin: 12px 0px;
}

.bus_list_box {
    box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
    border: solid 1px #ecf2f6;
    background-color: $color-white;
    border-radius: 8px 0px 0px 8px;
    @media screen and (max-width: 600px) {
        min-height: 125px;
    }
}

@media screen and (max-width:600px) {
    .fixed-top {
        z-index: 1;
    }
}

$break-mob-3: 320px;
$break-mob-2: 375px;
$break-mob-1: 425px;
$break-md-tab: 768px;
//   @media screen and (max-width: 768px) and (min-width: 426px)
.search-sub-filter {
    border: 0;
    border-bottom: 1px solid $color-dark-gray;
    font-size: $size-small;
    line-height: 1.87;
    text-align: left;
    color: $color-dark-gray;
    padding-left: 15px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    &:focus {
        outline: none;
    }
     ::-webkit-input-placeholder {
        color: $color-dark-gray;
    }
     ::-moz-placeholder {
        color: $color-dark-gray;
    }
     :-ms-input-placeholder {
        color: $color-dark-gray;
    }
     :-moz-placeholder {
        color: $color-dark-gray;
    }
}

.mob-search {
    font-size: 15px;
    position: relative;
    top: 4px;
    height: 4px;
    width: 4px;
    color: #9c9b9b;
}

.filter-common {
    // max-height: 500px;
    overflow-y: auto;
    height: 90%;
    width: 100%;
    @media screen and (min-width: $break-md-tab) {
        max-height: 500px;
    }
}

.mb-2em {
    margin-bottom: 2em;
}

.tab-height {
    height: 95%;
}

.tab-height-amen {
    height: 100%;
}

.filter-common-amen {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    @media screen and (min-width: $break-md-tab) {
        max-height: 500px;
    }
}

// new css
.filter-header,
.filter-w-header {
    padding: 10px 0px;
    border-bottom: 1px solid #88888810;
    .filter_heading {
        font-size: 16px;
        font-weight: 600;
        color: #555555;
    }
}

.filter_blue_link {
    font-weight: 600;
    font-size: 12px;
    text-align: right;
    color: #1D86FF;
}

.mat-expansion-panel {
    padding: 0px;
    box-shadow: none;
    border-bottom: 1px solid #88888810;
    .mat-expansion-panel-header {
        padding: 15px 5px 15px 0px;
    }
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px 0px 0px 0px !important;
}

.fixed_filter_blue_link {
    position: absolute;
    top: 18px;
    right: 0;
    font-weight: 600;
    font-size: 12px;
    text-align: right;
    color: #1D86FF;
}

.flex-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    .checkbox-cust {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        // border-radius: 5px;
        font-size: 11px;
        color: #000;
        width: 100%;
        // background: rgba(29, 134, 255, 0.03);
        // border: 1px solid rgba(29, 134, 255, 0.07);
        gap: 2px;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        cursor: pointer;
        @media only screen and (max-width: 600px) {
            padding: 5px;
            gap: 5px;
        }
        // border:1px solid #00000010;
        .icons-filter {
            padding-right: 1rem!important;
        }
        .filter_category_icons {
            img {
                width: 15px;
                height: 15px;
            }
        }
        input {
            visibility: hidden;
        }
        &:hover {
            background-color: none;
        }
    }
    /* .checkbox-cust.active{
        background: rgba(29, 134, 255, 0.2);
        border: 1px solid rgba(29, 134, 255, 0.25); 
    } */
}

.active_bg {
    border: 1px solid #1d86ff !important;
    background-color: rgba(29, 135, 255, 0.151) !important;
    color: #1d86ff !important;
}

.checkbox {
    font-weight: 500;
    font-size: 14px;
    color: #555555;
    padding-left: 0px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    input {
        width: 13px;
        height: 13px;
        opacity: 0.2;
        margin-right: 10px;
        &:checked {
            opacity: 1;
        }
    }
}

@media screen and (max-width:600px) {
    .mob-sf-sort {
        .label-filter {
            width: 100%;
        }
    }
}

.filter_search_div {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00000010;
    padding: 5px 0px;
    margin-bottom: 20px;
    .fa {
        opacity: 0.1;
    }
    .search-sub-filter {
        border: 0;
        border-bottom: none;
        font-size: 14px;
        line-height: normal;
        text-align: left;
        /* color: #33333350; */
        padding-left: 15px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .search-sub-filter::placeholder {
        color: #33333350;
        font-size: 14px;
    }
}

.mat-expansion-panel {
    &:not(.mat-expanded) {
        &:not([aria-disabled=true]) {
            .mat-expansion-panel-header {
                &:hover {
                    background-color: none !important;
                }
            }
        }
    }
}

.box {
    --primary: #275efe;
    --headline: #3F4656;
    --text: #99A3BA;
    width: 100%;
    max-width: 312px;
    padding: 36px 32px 48px 32px;
    background: #fff;
    border-radius: 9px;
    box-shadow: 0 1px 4px rgba(18, 22, 33, .12);
    h3 {
        font-family: inherit;
        font-size: 32px;
        font-weight: 700;
        margin: 0 0 20px 0;
        color: var(--headline);
        span {
            font-weight: 500;
        }
    }
    .values,
    small {
        div {
            display: inline-block;
            vertical-align: top;
        }
    }
    .values {
        margin: 0;
        font-weight: 500;
        color: var(--primary);
        &>div {
            &:first-child {
                margin-right: 2px;
            }
            &:last-child {
                margin-left: 2px;
            }
        }
    }
    small {
        color: var(--text);
        display: block;
        margin-top: 8px;
        font-size: 14px;
    }
    .slider {
        margin-top: 40px;
    }
}

.slider {
    --primary: #275efe;
    --handle: #fff;
    --handle-active: #{mix(white, #275efe, 70%)};
    --handle-hover: #{mix(white, #275efe, 90%)};
    --handle-border: 2px solid var(--primary);
    --line: #cdd9ed;
    --line-active: var(--primary);
    height: 23px;
    width: 100%;
    position: relative;
    pointer-events: none;
    .ui-slider-handle {
        --y: 0;
        --background: var(--handle);
        cursor: grab;
        -webkit-tap-highlight-color: transparent;
        top: 0;
        width: 23px;
        height: 23px;
        transform: translateX(-50%);
        position: absolute;
        outline: none;
        display: block;
        pointer-events: auto;
        div {
            width: 23px;
            height: 23px;
            border-radius: 50%;
            transition: background .4s ease;
            transform: translateY(calc(var(--y) * 1px));
            border: var(--handle-border);
            background: var(--background);
        }
        &:hover {
            --background: var(--handle-hover);
        }
        &:active {
            --background: var(--handle-active);
            cursor: grabbing;
        }
    }
    svg {
        --stroke: var(--line);
        display: block;
        height: 83px;
        path {
            fill: none;
            stroke: var(--stroke);
            stroke-width: 1;
        }
    }
    .active,
    &>svg {
        position: absolute;
        top: -30px;
        height: 83px;
    }
    &>svg {
        left: 0;
        width: 100%;
    }
    .active {
        position: absolute;
        overflow: hidden;
        left: calc(var(--l) * 1px);
        right: calc(var(--r) * 1px);
        svg {
            --stroke: var(--line-active);
            position: relative;
            left: calc(var(--l) * -1px);
            right: calc(var(--r) * -1px);
            path {
                stroke-width: 2;
            }
        }
    }
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

// Center & dribbble
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', Arial;
    background: #CDD9ED;
    .dribbble {
        position: fixed;
        display: block;
        right: 20px;
        bottom: 20px;
        img {
            display: block;
            height: 28px;
        }
    }
}

// end of new css
// mlite filter
.brdr_btm_0 {
    border-bottom: none;
}

.h_auto {
    height: auto !important;
}

.reset_link {
    text-align: right;
    a {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        text-align: right;
        color: #1d86ff;
    }
}

.mf_filter {
    height: 370px;
    overflow-y: auto;
}

.mob-sf-accordion .accordion-button {
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 600;
}

.mob-reset {
    margin-top: 0.5rem!important;
}

.listing-loader {
    background: #fff;
    padding: 10px 10px 0px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px
}