/* @import './fonts'; */

/* background */
$primary-gradient:radial-gradient(162.85% 299.59% at 95.16% 186.36%, #5E6164 0%, #090E19 47.35%, #090E19 100%);
$primary-gradient-two:radial-gradient(737.47% 10575.25% at 100% 244.44%, #5E6164 0%, #090E19 47.14%, #090E19 100%);
$primary-gradient-three:radial-gradient(127.34% 127.34% at 9.38% 7.03%, #121A29 0%, #777E8A 76.29%);
$primary-gradient-four:radial-gradient(72.02% 242.07% at 9.22% -9.63%, #0A141F 0%, #21252C 100%);
$c-background03: linear-gradient(to bottom, #fafcff, #f4f7ff);
$c-background04: linear-gradient(129deg, #0e93e6,#0c77b9 );

$color-light-blue:#dcebf8;
$color-dark-blue:#025297;
$color-black: #000000;
$color-light-orange:#fef5e1;
$color-vivid-blue:#1d86ff;
$color-dark-gray:#444444;
$color--white-blue:#e8ecff;
$color-dark-gray-01:#868686;
$color-pure-orange:#ffba00;
$color-white:#ffffff;
$color-red:#ff0000;
$color-very-light-gray:#fafafa;


$color-traveler-bg: #fbfbfb;
$color-blue-btn: #4285f4;
$color-lightGray: #d7d7d7;
$color-gray2: #686868;
$color-redmix: #db3428;


/* for you codes  */
$primary-color: #00386C;
$white-color: #ffffff;
$black-color: #000000;
$red-color:#ff0000; 
$sub-text-color:#555555;
$transparent: transparent;


/* Partners CSS COdes */
$bg_orange:#fff3e5;
$bg_dark_orange:#ffe6c4;
$bg_blue:#e6f1ff;
$bg_dark_blue:#b8d8fe;
$bg_gray:#ffffff;
$bg_dark_gray:#f1f4f5;
$bg_red:#fff1f3;
$bg_dark_red:#fdd9dd;
$bg_violet:#ecf1ff;
$bg_dark_violet:#d4defd;
$bg-dark-brown:#3f261a;

/* Fonts  */
$regular: opensans-regular;
$light: opensans-light;
$medium: opensans-medium;
$bold: opensans-bold;


/*borders*/
$c-border:2px solid $color-pure-orange;
$c-box-shadow:  1px 1.7px 4px 0 rgba(25, 25, 25, 0.24);

$primary-color: #090E19;
$ms_text-color:#030303;
$white-color: #ffffff;
$black-color:#000000;
$transparent: transparent;
$bg-dark-brown: #f2f8fb1a;
$color-dark-gray:#444444;

$footer-text-color:#909193;

$sub-text-color:$primary-color;

/* Buttons CSS Code */

.btn-primary{
    color: $white-color;
    background-color: $primary-color !important;
    border:1px solid $primary-color !important;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 18px;
    &:hover{
        color: $white-color;
        background-color: $primary-color !important;
        border-color: $primary-color !important;
    }
}

.btn-primary-outline{
    color: $primary-color;
    background-color: $white-color !important;
    border: 1px solid $primary-color !important;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 20px;

    &:hover{
        color: $white-color;
        background-color: #9e7049 !important;
        border-color: $primary-color !important;
    }
}

.btn-gradient-three{
    background: $primary-gradient-three;
    color: $white-color;
    border: transparent;
    border-radius: 8px;
}

.search_btn{
    width: 100%;
    text-align: center;
    background: $primary-gradient-two;
    margin-top: 20px;
    padding: 10px;
    color: $white-color;
    font-family: 'opensans-medium';
    border: transparent;
}

.btn-check:focus+.btn, .btn:focus{
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(253 146 13 / 25%);
    color: #ffffff;
}

