/* @import './fonts'; */

/* background */
$c-background01:linear-gradient(154deg, #0c77b9, #00a546);
$c-background02:linear-gradient(to bottom, #fafcff, #f4f7ff);
$c-background03: linear-gradient(to bottom, #fafcff, #f4f7ff);
$c-background04: linear-gradient(129deg, #0e93e6,#0c77b9 );

$color-light-blue:#dcebf8;
$color-dark-blue:#025297;
$color-black: #000000;
$color-light-orange:#fef5e1;
$color-vivid-blue:#1d86ff;
$color-dark-gray:#444444;
$color--white-blue:#e8ecff;
$color-dark-gray-01:#868686;
$color-pure-orange:#ffba00;
$color-white:#ffffff;
$color-red:#ff0000;
$color-very-light-gray:#fafafa;


$color-traveler-bg: #fbfbfb;
$color-blue-btn: #4285f4;
$color-lightGray: #d7d7d7;
$color-gray2: #686868;
$color-redmix: #db3428;


/* for you codes  */
$primary-color: #1d86ff;
$white-color: #ffffff;
$black-color: #000000;
$red-color:#ff0000; 
$sub-text-color:#555555;
$transparent: transparent;


/* Partners CSS COdes */
$bg_orange:#fff3e5;
$bg_dark_orange:#ffe6c4;
$bg_blue:#e6f1ff;
$bg_dark_blue:#b8d8fe;
$bg_gray:#ffffff;
$bg_dark_gray:#f1f4f5;
$bg_red:#fff1f3;
$bg_dark_red:#fdd9dd;
$bg_violet:#ecf1ff;
$bg_dark_violet:#d4defd;
$bg-dark-brown:#3f261a;

/* Fonts  */
$regular: opensans-regular;
$light: opensans-light;
$medium: opensans-medium;
$bold: opensans-bold;


/*borders*/
$c-border:2px solid $color-pure-orange;
$c-box-shadow:  1px 1.7px 4px 0 rgba(25, 25, 25, 0.24);


/* Buttons CSS Code */

.btn-primary{
    color: $white-color;
    background-color: $primary-color ;
    border-color: $primary-color ;
    border-radius: 8px;
    padding: 10px;
}

