
//background
$c-background01:linear-gradient(154deg, #0c77b9, #00a546);
$c-background02:linear-gradient(to bottom, #fafcff, #f4f7ff);
$c-background03: linear-gradient(to bottom, #fafcff, #f4f7ff);
$c-background04: linear-gradient(129deg, #0e93e6,#0c77b9 );

$color-light-blue:#dcebf8;
$color-dark-blue:#61471d;
$color-black: #000000;
$color-light-orange:#fef5e1;
$color-vivid-blue:#61471d;
$color-dark-gray:#444444;
$color--white-blue:#e8ecff;
$color-dark-gray-01:#868686;
$color-pure-orange:#ffba00;
$color-white:#ffffff;
$color-red:#ff0000;
$color-very-light-gray:#fafafa;
$color-footer-bg:#241a0b;


$color-traveler-bg: #fbfbfb;
// $color-blue-btn: #4285f4;
$color-lightGray: #d7d7d7;
$color-gray2: #686868;
$color-redmix: #db3428;

/*borders*/
$c-border:2px solid $color-pure-orange;
$c-box-shadow:  1px 1.7px 4px 0 rgba(25, 25, 25, 0.24);


$primary-color: #CF8D56;
$ms_text-color:#030303;
$white-color: #ffffff;
$black-color:#000000;
$transparent: transparent;
$bg-dark-brown: #3f261a;
$color-dark-gray:#444444;

$footer-text-color:#A38164;

$sub-text-color:$primary-color;