@font-face {
    font-family: opensans-bold;
    src: url(./../fonts/opensans/bold/OpenSans-Bold-webfont.woff);
}

@font-face {
    font-family: opensans-regular;
    src: url(./../fonts/opensans/regular/OpenSans-Regular-webfont.woff);
}

@font-face {
    font-family: opensans-light;
    src: url(./../fonts/opensans/light/OpenSans-Light-webfont.woff);
}
@font-face {
    font-family: opensans-medium;
    src: url(./../fonts/opensans/medium/OpenSans-Semibold-webfont.woff);
}