@font-face {
    font-family: 'opensans-bold';
    /* src: url(./../fonts/opensans/bold/OpenSans-Bold-webfont.woff); */
    src: url('./../fonts/opensans/bold/OpenSans-Bold-webfont.eot'); /* IE9 Compat Modes */
    src: url('./../fonts/opensans/bold/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./../fonts/opensans/bold/OpenSans-Bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('./../fonts/opensans/bold/OpenSans-Bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('./../fonts/opensans/bold/OpenSans-Bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('./../fonts/opensans/bold/OpenSans-Bold-webfont.svg#svgopensans-bold') format('svg'); /* Legacy iOS */
         font-weight: 700;
	     font-style: normal;
}

@font-face {
    font-family: 'opensans-regular';
    /* src: url(./../fonts/opensans/regular/OpenSans-Regular-webfont.woff); */
    src: url('./../fonts/opensans/regular/OpenSans-Regular-webfont.eot'); 
    src: url('./../fonts/opensans/regular/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), 
         url('./../fonts/opensans/regular/OpenSans-Regular-webfont.woff2') format('woff2'), 
         url('./../fonts/opensans/regular/OpenSans-Regular-webfont.woff') format('woff'), 
         url('./../fonts/opensans/regular/OpenSans-Regular-webfont.ttf')  format('truetype'), 
         url('./../fonts/opensans/regular/OpenSans-Regular-webfont.svg#svgopensans-regular') format('svg'); 
         font-weight: 400;
	     font-style: normal;
}

@font-face {
    font-family: 'opensans-light';
   /*  src: url(./../fonts/opensans/light/OpenSans-Light-webfont.woff); */
   src: url('./../fonts/opensans/light/OpenSans-Light-webfont.eot'); 
   src: url('./../fonts/opensans/light/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), 
        url('./../fonts/opensans/light/OpenSans-Light-webfont.woff2') format('woff2'), 
        url('./../fonts/opensans/light/OpenSans-Light-webfont.woff') format('woff'), 
        url('./../fonts/opensans/light/OpenSans-Light-webfont.ttf')  format('truetype'), 
        url('./../fonts/opensans/light/OpenSans-Light-webfont.svg#svgopensans-light') format('svg'); 
        font-weight: 300;
	    font-style: normal;
}
@font-face {
    font-family: 'opensans-medium';
    /* src: url(./../fonts/opensans/medium/OpenSans-Semibold-webfont.woff); */
    src: url('./../fonts/opensans/medium/OpenSans-Semibold-webfont.eot'); 
    src: url('./../fonts/opensans/medium/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), 
        url('./../fonts/opensans/medium/OpenSans-Semibold-webfont.woff2') format('woff2'), 
        url('./../fonts/opensans/medium/OpenSans-Semibold-webfont.woff') format('woff'), 
        url('./../fonts/opensans/medium/OpenSans-Semibold-webfont.ttf')  format('truetype'), 
        url('./../fonts/opensans/medium/OpenSans-Semibold-webfont.svg#svgopensans-medium') format('svg');  
        font-weight: 600;
	    font-style: normal;
}

/* Fonts  */
$regular: opensans-regular;
$light: opensans-light;
$medium: opensans-medium;
$bold: opensans-bold;