@import 'color';
@import 'fonts';
@media (min-width: 992px) {
    .pos-top {
        // top: -50px;
        // margin-top: -50px;
    }
    .hide-w {
        display: none;
    }
    .checkbox-cust {
        margin-bottom: 0;
        padding-right: 0;
        width: 25%;
    }
    .checkmark-cust {
        position: absolute;
        top: 45px;
        left: 10px;
        width: 43px;
        height: 16px;
    }
    .checkbox-cust .label-filter {
        padding-bottom: 15px;
        position: relative;
    }
    .search-home {
        border-radius: 10px;
        padding: 0;
        .button-container {
            padding: 15px 20px;
        }
        .form-group {
            margin-bottom: 0;
            width: 29%;
            float: left;
            padding: 16px 0px;
            border-left: 1px solid $color-pure-orange;
            &:nth-child(1) {
                border-left: 0;
            }
            .from-icon,
            .to-icon,
            .date-icon {
                top: 28px;
                left: 22px;
            }
            .switch-icon {
                top: 25px;
                right: -13px;
                z-index: 2;
                transform: rotate(90deg);
                transition: all .2s ease-in-out;
            }
            input {
                border: 0;
                padding-left: 48px;
                &:focus {
                    outline: none;
                }
                &:first-child,
                &:nth-child(2) {
                    // width: 100%;
                    width: 96%;
                    float: left;
                    // cursor: pointer;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    @media screen and (max-width: 768px) and (min-width: 426px) {}
                }
            }
            &::nth-child(3) {
                width: 40%;
                float: left;
            }
        }
        .dotted-line {
            display: none;
        }
    }
    .w-freshmenu-search {
        .form-group {
            margin-bottom: 0;
            float: left;
            width: 39%;
            padding: 16px 0px;
            border-left: 1px solid $color-pure-orange;
        }
        .w-freshmenu-search-to {
            width: 61%;
        }
    }
    #datepicker-m {
        display: none;
    }
    .button-container {
        width: 13%;
        float: left;
        padding: 15px 20px;
    }
    .city-popup.cityto {
        left: 320px;
        width: 322px;
    }
    #filter-nav {
        display: none;
    }
    .city-popup {
        position: absolute;
        padding: 0px;
        top: 83px;
        border-radius: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
        background-color: $color-white;
        background-color: $color-white;
        width: 322px;
        float: left;
        height: auto;
        ul {
            background: #fff;
            padding: 0;
            float: left;
            z-index: 2;
            width: 100%;
            li:hover {
                background-color: #f2f2f2;
            }
            li {
                padding: 10px 20px;
                box-shadow: none;
            }
            li a {
                padding: 0;
                width: 100%;
                transition: .4s ease-in-out;
                cursor: pointer;
                font-weight: 600;
                box-shadow: none;
                font-family: opensans-medium;
                // display: inline-block;
                display: inline-flex;
                &:hover {
                    -webkit-transform: translateX(10px);
                    transform: translateX(10px);
                }
            }
        }
    }
    // i {
    //   display: none;
    // }
    .form-search-list {
        display: none;
    }
    bs-datepicker-container {
        // padding: 20px;
        // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
        // background-color: $color-white;
        th[aria-label="weekday"] {
            background-color: #e5edf4;
            font-size: 11px;
            font-weight: 600;
            color: #004a8f;
            padding: 8px;
            text-align: center;
        }
        .week {
            padding: 8px;
        }
        .theme-green .bs-datepicker-head {
            background-color: $color-vivid-blue !important;
        }
        .theme-green .bs-datepicker-body table td.week span {
            display: none;
        }
        .theme-green .bs-datepicker-body table td span.selected,
        .theme-green .bs-datepicker-body table td.selected span,
        .theme-green .bs-datepicker-body table td span[class*="select-"]:after,
        .theme-green .bs-datepicker-body table td[class*="select-"] span:after {
            background: $color-vivid-blue !important;
            color: $color-white !important;
        }
    }
    .scroll_y {
        overflow-y: scroll;
        // max-height: 350px;
        // min-height: 350px; 
        height: calc(100vh/2.6);
    }
    .scroll_y::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        background-color: $color-dark-blue;
        border-radius: 50px;
    }
    .scroll_y::-webkit-scrollbar {
        background-color: #000000;
        width: 3px;
        height: 6px;
        // background-color: #ebebeb;
        background-color: #fff;
        // border-radius:20px; 
    }
    /* Scrollbar Styling */
    .fm_cartscroll_y::-webkit-scrollbar {
        width: 2px;
        height: 3px;
    }
    .fm_cartscroll_y::-webkit-scrollbar-track {
        // background-color: #ebebeb;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }
    .fm_cartscroll_y::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        // background: #6d6d6d; 
        background-color: #ebebeb;
    }
}

.p0 {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 768px) {
    .w-filter {
        display: none;
    }
    .check-available {
        .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
            // display: none;
        }
        .mat-tab-group {
            .mat-tab-label {
                padding: 0 13px;
                width: 33.3%;
                min-width: 33.3%;
                max-width: 33.3%;
            }
        }
    }
    .checkAva_m {
        .mat-tab-group {
            .mat-tab-label {
                padding: 0 13px;
                width: 35px;
                min-width: 35px;
                max-width: 35px;
                height: 28px;
                opacity: 1;
            }
        }
    }
    .bus-filter,
    .golf_Mfilter {
        display: none;
    }
    .bus-filter.active,
    .golf_Mfilter.active {
        .filter-container {
            bottom: 0;
            height: 100%;
            -webkit-animation: backSlideIn .5s both ease;
            animation: backSlideIn .5s both ease;
            display: block;
        }
    }
    .filter-container {
        background-color: $color-white;
        height: 0;
        position: fixed;
        left: 0;
        width: 100%;
        display: none;
        z-index: 3;
        bottom: -500px;
        -webkit-animation: backSlideOut .3s both ease;
        animation: backSlideOut .3s both ease;
    }
    #filter-nav {
        // margin-top: 60px;
        // padding-bottom: 60px;
        margin: 3.5em 0em;
        height: 100%;
        ul.nav-tabs {
            width: 40%;
            float: left;
            background-color: #f2f2f2;
            display: inherit;
            height: 100%;
        }
        .nav-tabs .nav-item.show .nav-link,
        .nav-tabs .nav-link.active {
            border: 0;
        }
        .nav-tabs li.nav-item {
            width: 100%;
            float: left;
            padding: 0px;
            font-size: 12px;
            font-weight: 600;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: left;
            a {
                color: $color-dark-gray;
                padding: 16px;
            }
        }
        .tab-content {
            width: 60%;
            float: left;
            height: 85%;
            padding: 20px 10px;
            overflow-y: scroll;
        }
    }
}

@media (max-width: 470px) {
    .city-popup ul {
        // height: calc(100vh/2.6);
        // height: 500px;
        overflow-y: auto;
        height: 400px;
    }
    .switch-icon {
        /* z-index: 2;*/
    }
    footer {
        display: none;
    }
    .m-pt60 {
        padding-top: 60px;
    }
    .mpt-135 {
        padding-top: 70px;
    }
    .mpt-150 {
        padding-top: 0px;
    }
    bs-datepicker-container {
        position: fixed !important;
        top: 0px !important;
        background-color: $color-white;
        width: 100%;
        left: 0 !important;
    }
    .check-available .mat-tab-group.mat-primary .mat-tab-body.mat-tab-body-active {
        /* z-index: 0;*/
    }
    .list-card,
    .sort-by-w,
    .train-avi {
        display: none;
    }
    bs-datepicker-container {
        display: none !important;
    }
    .backgound-img {
        display: none;
    }
    .cust-m0 {
        margin: 0;
    }
    .bus-filter {
        display: none;
    }
    .filter-header {
        background-color: $color-white;
        position: fixed;
        height: auto;
        border-bottom: 1px solid #f2f2f2;
        z-index: 1;
        width: 100%;
        .header-left {
            font-size: $size-base;
            font-weight: 600;
            line-height: 1.13;
            text-align: left;
            color: $color-dark-gray;
            padding: 20px 16px;
        }
        .header-right {
            font-size: $size-small;
            line-height: 1.5;
            color: $color-vivid-blue;
            padding: 20px;
            padding-right: 31px;
            text-align: right;
        }
    }
    .filter-footer {
        position: fixed;
        height: 53px;
        border: solid 1px #d4d9dc;
        bottom: 0;
        z-index: 2;
        width: 100%;
        float: left;
    }
}

@media (min-width: 769px) {
    .bus-filter {
        display: block;
    }
    .filter-header,
    .filter-footer,
    .footer-btn {
        display: none;
    }
    .pb-50-m {
        padding-bottom: 50px;
    }
}

.haeder-pop {
    position: absolute;
    padding: 0px;
    top: 83px;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: $color-white;
    background-color: $color-white;
    margin-left: 20px;
    width: 95%;
    float: left;
    height: auto;
    ul {
        background: #fff;
        padding: 0;
        float: left;
        z-index: 2;
        width: 100%;
        li a {
            padding: 0;
            width: 70%;
            transition: .4s ease-in-out;
            cursor: pointer;
            font-weight: 600;
            box-shadow: none;
            display: inline-block;
        }
    }
}
.sb_header-pop {
    position: absolute;
    padding: 0px;
    top: 83px;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: $color-white;
    background-color: $color-white;
    margin-left: 20px;
    width: 90%;
    float: left;
    height: auto;
    ul {
        background: #fff;
        padding: 0;
        float: left;
        z-index: 2;
        width: 100%;
        li a {
            padding: 0;
            width: 70%;
            transition: .4s ease-in-out;
            cursor: pointer;
            font-weight: 600;
            box-shadow: none;
            display: inline-block;
        }
    }
}

.scroll_head-yy {
    top: 32px;
    overflow-y: scroll;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    // max-height: 350px;
    // min-height: 350px; 
    height: calc(100vh/1.6);
    @media screen and (max-width: 768px) and (min-width: 320px) {
        top: 43px;
        width: 70%;
        margin-left: 16%;
    }
}
.sb_scroll_head-yy {
    top:40px;
    margin: 0;
}

.scroll_head-yy::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    background-color: $color-dark-blue;
    border-radius: 20px;
}

.scroll_head-yy::-webkit-scrollbar {
    background-color: #000000;
    width: 3px;
    height: 6px;
    background-color: #ebebeb;
    border-radius: rem-20px;
}

.mscroll_head-yy {
    top: 50px;
    overflow-y: scroll;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: calc(100vh/1.6);
    width: 100%;
    padding: 3px 5px 5px 12px;
    margin-left: 0px;
}

.mscroll_head-yy::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    background-color: $color-dark-blue;
    border-radius: 20px;
}

.mscroll_head-yy::-webkit-scrollbar {
    background-color: #000000;
    width: 3px;
    height: 6px;
    background-color: #ebebeb;
    border-radius: rem-20px;
}

// NavBar for IE with 1920 * 1080 Resolution
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    @media screen and (max-width: 1920px) and (min-width: 1080px) {
        .navbar-expand-lg .navbar-nav .dropdown-menu {
            left: 400px;
        }
    }
    @media screen and (max-width: 1440px) and (min-width: 900px) {
        .navbar-expand-lg .navbar-nav .dropdown-menu {
            left: 50px !important;
            width: 98% !important;
        }
    }
    @media screen and (max-width: 1280px) and (min-width: 1024px) {
        .navbar-expand-lg .navbar-nav .dropdown-menu {
            left: 120px;
            width: 83% !important;
        }
    }
}

// for Chrome resolutions only 
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
    @media screen and (max-width: 1280px) and (min-width: 1024px) {
        .navbar-expand-lg .navbar-nav .dropdown-menu {
            left: 8em;
            width: 82% !important;
        }
    }
    @media screen and (min-width: 1900px) and (max-width:2048px) {
        .mega-dropdown-menu {
            left: 26em !important;
        }
    }
}

// Banner Image for Safari In 1280 * 800 Resolution
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    @media screen and (max-width: 1280px) and (min-width: 800px) {
        .backgound-img {
            margin-top: 110px;
        }
        .backgound-img1 {
            margin-top: 110px;
        }
    }
}