//spacing
$space-inset-default: 16px 16px 16px 16px;
$space-inset-xs: 4px 4px 4px 4px;
$space-inset-s: 8px 8px 8px 8px;
$space-inset-l: 32px 32px 32px 32px;
$space-inset-xl: 64px 64px 64px 64px;
$space-stack-default: 0 0 16px 0;
$space-stack-xs: 0 0 4px 0;
$space-stack-s: 0 0 8px 0;
$space-stack-l: 0 0 32px 0;
$space-stack-xl: 0 0 64px 0;
$space-default: 16px;
$space-xs: 4px;
$space-s: 8px;
$space-md:12px;
$space-l: 32px;
$space-xl: 64px;
$space-content:45px 0px 30px 0px;
$space-content-m:0 0px 45px 0px;
$space-content-s:45px 0 45px 0;
$space-web-p-max:60px 0px 60px 0px;
$space-web-pb-max:0 0 60px 0;
$space-m-p-max:24px 0 24px 0;
$space-m-pb-max:0 0 24px 0;
$sc-space-b:0 46px;
//web font sizes
$size-x3-small: 10px;
$size-small: 11.5px;
$size-minor: 14px;
$size-base: 16px;
$size-medium: 20px;
$size-large: 24px;
$size-medium-01: 30px;
$size-x-large: 36px;
$size-x1-large: 40px;
$size-x2-large: 48px;
