.banner_container {
    margin:0px;
    padding:0px;
    background-image: url("./../../../assets/regalia_gold/images/smartbuy/rg_benefits_banner.svg");
    object-fit:cover;
    height:65vh;
    width:100vw;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    .banner_title{
        font-weight: 600;
        font-size: 45px;
        line-height: 66px;
        text-align: center;
        color: #FFFFFF;
    }
    .banner_h{
        height:65vh; 
        display:flex;
        align-items:center; 
    }
}
.benefits_tabs{
    height:60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.benefits_tab_ul{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    li{
        height:60px;
    }
    .benefits_tabs_link{
        font-weight: 600;
        font-size: 13px;
        color: #000000;
        opacity: 0.5;
        height:60px;
    }
    .active{
        background:transparent;
        opacity:1;
        margin-bottom:18px;
        border-bottom:4px solid #CF8D56;
    }
}

.tab_content{
    margin-top:2rem;
    .cntnt_title{
        font-family:'opensans-light';
        font-weight: 100 !important;
        font-size: 44px;
        line-height: 50px;
        color: #000000;
    }
    .gold_text{
        font-family:'opensans-regular';
        font-size: 15px;
        line-height: normal;
        color: #CF8D56;
    }
    .black_text{
        font-family:'opensans-regular';
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }
}
.welcome_bnfts_tab{
    display:flex;
    // flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    background: #F6EBE1;
    border-radius: 50px;
    padding:3px;
    width:fit-content;
    .wl_benefits_tabs_link{
        font-weight:600;
        font-size:12px;
        color: #00000050;
    }
    .active{
        color:#ffffff;
        background: #CF8D56;
        box-shadow: 0px 4px 15px rgba(207, 141, 86, 0.25);
        border-radius: 50px;
    }
}
