<!-- banner image -->
<div class="banner_container">
    <div class="row banner_h">
        <div class="col-md-12 text-center">
                <p class="banner_title">Travel in Luxury, </p>
                <p class="banner_title">Shop in Style with Regalia Gold</p>
        </div>
    </div>
</div>
<!-- end of banner image -->

<!-- tabs -->
<div class="benefits_tabs">
    <ul class="nav nav-pills benefits_tab_ul" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link benefits_tabs_link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#welcome_bnfts" type="button" role="tab">Welcome Benefits</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link benefits_tabs_link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#milestone_bnfts" type="button" role="tab">Milestone Benefits</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link benefits_tabs_link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#purchase_bnfts" type="button" role="tab">Purchase Benefits</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link benefits_tabs_link" id="pills-contact1-tab" data-bs-toggle="pill" data-bs-target="#travel_bnfts" type="button" role="tab">Travel Benefits</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link benefits_tabs_link" id="pills-contact1-tab" data-bs-toggle="pill" data-bs-target="#insurance_bnfts" type="button" role="tab">Insurance Benefits</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link benefits_tabs_link" id="pills-contact1-tab" data-bs-toggle="pill" data-bs-target="#reward_bnfts" type="button" role="tab">Core Reward Points</button>
          </li>
      </ul>
</div>
<!-- end of tabs -->

<!-- tab contents -->
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="welcome_bnfts" role="tabpanel">
            
            

            <!-- welcome benefits tab contents -->
            <div class="container">
                <div class="tab_content">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">
                            <p class="cntnt_title">Premium Welcome Benefits</p>
                            <p class="gold_text mt-1 mb-1">Club Vistara and MMT Black Membership within first 90 days </p>
                            <p class="black_text mt-1">Customer will get complimentary Club Vistara and MMT Black membership on spends of Rs. 1lac within first 90 days of credit card issuance. </p>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                            <ul class="nav nav-pills welcome_bnfts_tab" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link wl_benefits_tabs_link active" id="pills-home1-tab" data-bs-toggle="pill" data-bs-target="#welcome_bnfts_club_vistara" type="button" role="tab">Benefits of Club Vistara membership </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link wl_benefits_tabs_link" id="pills-profile1-tab" data-bs-toggle="pill" data-bs-target="#milestone_bnfts_mmt_black" type="button" role="tab">Benefits of MMT Black</button>
                                </li>
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of welcome benefits tab contents -->
        
        
        
        
        </div>
        <div class="tab-pane fade" id="milestone_bnfts" role="tabpanel">Milestone Benefits</div>
        <div class="tab-pane fade" id="purchase_bnfts" role="tabpanel">Purchase Benefits</div>
        <div class="tab-pane fade" id="travel_bnfts" role="tabpanel">Travel Benefits</div>
        <div class="tab-pane fade" id="insurance_bnfts" role="tabpanel">Insurance Benefits</div>
        <div class="tab-pane fade" id="reward_bnfts" role="tabpanel">Rewards Benefits</div>
      </div>
<!-- end of tab contents -->



<div class="container" style="margin-bottom:10rem;"></div>
