<!-- banner image -->
<div class="banner_container">
    <div class="row banner_h">
        <div class="col-md-12 text-center">
            <div class="b_hdr">
                <p class="banner_title">Travel in Luxury, </p>
                <p class="banner_title">Shop in Style with Regalia Gold</p>
            </div>
        </div>
    </div>
</div>
<!-- end of banner image -->


<!-- tabs -->
<div class="benefits_tabs">
    <ul class="nav nav-pills benefits_tab_ul" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link benefits_tabs_link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#welcome_bnfts" type="button" role="tab">Welcome Benefits</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link benefits_tabs_link" id="pills-profile-tab" data-bs-toggle="pill" (click)="scrollToElement(milestone_bnfts)"  type="button" role="tab">Milestone Benefits</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link benefits_tabs_link" id="pills-contact-tab" data-bs-toggle="pill" (click)="scrollToElement(purchase_bnfts)"  type="button" role="tab">Purchase Benefits</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link benefits_tabs_link" id="pills-contact1-tab" data-bs-toggle="pill" (click)="scrollToElement(travel_bnfts)" type="button" role="tab">Travel Benefits</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link benefits_tabs_link" id="pills-contact1-tab" data-bs-toggle="pill" (click)="scrollToElement(insurance_bnfts)" type="button" role="tab">Insurance Benefits</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link benefits_tabs_link" id="pills-contact1-tab" data-bs-toggle="pill" (click)="scrollToElement(reward_bnfts)" type="button" role="tab">Core Reward Points</button>
          </li>
      </ul>
      
</div>
<!-- end of tabs -->

<!-- tab contents -->
      <div class="tab-content mb-0" id="pills-tabContent">
        <div class="tab-pane fade show active mb-0" id="welcome_bnfts" role="tabpanel">
            
            

            <!-- welcome benefits tab contents -->
                <div class="tab_content mb-0">
                    <div class="container">
                    <div class="row">
                        <div class="col-md-8 offset-md-2 text-center">
                            <p class="cntnt_title">Premium Welcome Benefits</p>
                            <p class="gold_text mt-1 mb-1">Club Vistara and MMT Black Membership within first 90 days </p>
                            <p class="black_text mt-1">Customer will get complimentary Club Vistara and MMT Black membership on spends of Rs. 1lac within first 90 days of credit card issuance. </p>
                        </div>
                    </div>

                    <div class="row mt-5 mb-5">
                        <div class="col-md-12 d-flex align-items-center justify-content-center">
                            <ul class="nav nav-pills welcome_bnfts_tab" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link wl_benefits_tabs_link active" id="pills-home1-tab" data-bs-toggle="pill" data-bs-target="#welcome_bnfts_club_vistara" type="button" role="tab">Benefits of Club Vistara membership </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link wl_benefits_tabs_link" id="pills-profile1-tab" data-bs-toggle="pill" data-bs-target="#welcome_bnfts_mmt" type="button" role="tab">Benefits of MMT Black</button>
                                </li>
                              </ul>
                        </div>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="welcome_bnfts_club_vistara" role="tabpanel">
                            <div class="row box_row">
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/welcome_benefits_4.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/welcome_benefits_4.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Increased Check-In Baggage allowance within and outside India  </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/welcome_benefits_3.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/welcome_benefits_3.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Priority Waitlist Clearance   </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/welcome_benefits_2.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/welcome_benefits_2.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">One-Class Upgrade vouchers on Tier Renewal / Upgrade   </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/welcome_benefits_1.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/welcome_benefits_1.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">9 Tier Points/CV Points per INR 100   </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3 mb-3 text-center">
                                <a href="https://www.airvistara.com/in/en/club-vistara/tiers-and-benefits/benefits-and-privileges" target="_blank" class="gold_text">Click here</a><span class="text_black"> for detailed T&C</span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="welcome_bnfts_mmt" role="tabpanel">
                            <div class="row box_row">
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/welcome_benefits_4.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/welcome_benefits_4.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Earn My Cash on your travel spends with MakeMyTrip. My Cash can be used 100% on any booking.  </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/welcome_benefits_3.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/welcome_benefits_3.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Use My Cash to claim exciting rewards like luxury stays at BookMyShow, Zomato and other vouchers.   </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/welcome_benefits_2.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/welcome_benefits_2.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">24x7 premium customer care service with on-trip travel hotline.   </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/welcome_benefits_1.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/welcome_benefits_1.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Differentiated offerings, special privileges, exclusive discounts and much more!   </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3 mb-3 text-center">
                                <a href="https://jsak.mmtcdn.com/pwa_v3/pwa_commons/mmtblack_details.html" target="_blank" class="gold_text">Click here</a><span class="text_black"> for detailed T&C</span>
                            </div>
                        </div>
                    </div>
                    <!-- collapse 1 -->
                    <div class="row mt-3 mb-5">
                        <div class="col-md-8 offset-md-2">
                            <div class="p_rel">
                                <div class="welcome_bnfts_collapse" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    <div class="row ">
                                        <div class="col-md-12"><p class="collapse_header " #milestone_bnfts>Process to Redeem Welcome Benefits / Vouchers</p></div>
                                    </div>
                                    <div class="collapse welcome_bnfts_collapse_cntnt" id="collapseExample">
                                        <div class="row">
                                            <div class="col-md-4 text-center mlite_brdr_btm">
                                                <p class="collapse_numeric">01</p>
                                                <p class="collapse_text">Customer clicks on Regalia Gold Welcome Benefits module</p>
                                            </div>
                                            <div class="col-md-4 text-center mlite_brdr_btm">
                                                <p class="collapse_numeric">02</p>
                                                <p class="collapse_text">Click on membership to be claimed (Club Vistara / MMT Black)</p>
                                            </div>
                                            <div class="col-md-4 text-center mlite_brdr_btm">
                                                <p class="collapse_numeric">03</p>
                                                <p class="collapse_text"> For Club Vistara membership has to be filled and download voucher for MMT Black</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- end of collapse 1 -->
                </div>
                <section class="light_gold_bg" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 offset-md-1 text-center">
                                <p class="cntnt_title" >Milestone Benefits</p>
                                <p class="gold_text mt-1 mb-1">Get Mariott, Reliance Digital, M&S, MMT Hotels or Myntra vouchers worth Rs. 1500 every calendar quarter  </p>
                                <p class="black_text mt-1">Customer will get complimentary vouchers of Mariott, Reliance Digital, MMT Hotels or Myntra worth Rs. 1500 on spends of Rs. 1.5lac in every calendar quarter. </p>
                            </div>
                        </div>
                    <!-- collapse 2 -->
                    <div class="row mt-3 mb-0">
                        <div class="col-md-8 offset-md-2">
                            <div class="p_rel">
                                <div class="welcome_bnfts_collapse" type="button" data-bs-toggle="collapse" data-bs-target="#milestone_collapse" aria-expanded="false" aria-controls="milestone_collapse">
                                    <div class="row">
                                        <div class="col-md-12"><p class="collapse_header" #purchase_bnfts>Process to Redeem Vouchers</p></div>
                                    </div>
                                    <div class="collapse welcome_bnfts_collapse_cntnt mb-0" id="milestone_collapse">
                                        <div class="row">
                                            <div class="col-md-5 offset-md-1 text-center p-3 mlite_brdr_btm">
                                                <p class="collapse_numeric">01</p>
                                                <p class="collapse_text">Customer Clicks on Regalia Gold Premium Voucher Benefits module </p>
                                            </div>
                                            <div class="col-md-5 text-center p-3 mlite_brdr_btm">
                                                <p class="collapse_numeric">02</p>
                                                <p class="collapse_text">Customer selects voucher to redeem and downloads</p>
                                            </div>
                                            <div class="col-md-12 text-center p-3 mlite_brdr_btm">
                                                
                                                <p class="gold_text mt-3 mb-0 text-center mlite_brdr_btm">Please note customer can download only one voucher for every calendar quarter </p>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- end of collapse 2 -->
                    </div>
                </section>
            <!-- </div> -->
            <div class="container mb-5">
                <div class="row mt-5">
                    <div class="col-md-10 offset-md-1 text-center">
                        <p class="cntnt_title">5X Purchase Benefits </p>
                        <p class="gold_text mt-1 mb-1">Get 5x Reward Points on all your purchases at Homestop, Marks and Spencers, Myntra and Reliance Digital  </p>
                        <p class="black_text mt-1">Get 5x Reward Points (20 RP / Rs. 150) on all your purchases (both online and in-store) at Homestop, Marks and Spencers, Myntra and Reliance Digital. Maximum RP capped at Rs. 5000 per month for this program.  </p>
                    </div>
                </div>
                    <!-- collapse 3 -->
                    <div class="row mt-5 mb-0">
                        <div class="col-md-8 offset-md-2">
                            <div class="p_rel">
                                <div class="welcome_bnfts_collapse" type="button" data-bs-toggle="collapse" data-bs-target="#purchase_collapse" aria-expanded="false" aria-controls="purchase_collapse">
                                    <div class="row">
                                        <div class="col-md-12"><p class="collapse_header" #travel_bnfts>Process to Redeem Vouchers</p></div>
                                    </div>
                                    <div class="collapse welcome_bnfts_collapse_cntnt mb-0" id="purchase_collapse">
                                        <div class="row">
                                            <p class="black_text mt-3 mb-0 text-center">Please note customer can download only one voucher for every calendar quarter </p>
                                        </div>
                                        <div class="dflex_div">
                                            <div class="circular_div">
                                                <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/purchase_bnft_1.svg" class="circular_div_img">
                                                    <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/purchase_bnft_1.svg" class="circular_div_img"> -->
                                            </div>
                                            <div class="circular_div">
                                                <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/purchase_bnft_2.svg" class="circular_div_img">
                                                <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/purchase_bnft_2.svg" class="circular_div_img"> -->
                                            </div>
                                            <div class="circular_div">
                                                <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/purchase_bnft_3.svg" class="circular_div_img">
                                                <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/purchase_bnft_3.svg" class="circular_div_img"> -->
                                            </div>
                                            <div class="circular_div">
                                                <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/purchase_bnft_4.svg" class="circular_div_img">
                                                <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/purchase_bnft_4.svg" class="circular_div_img"> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <!-- end of collapse 3 -->
            </div>
            <section class="light_gold_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1 text-center">
                            <p class="cntnt_title">Premium Travel Benefits </p>
                            <p class="gold_text mt-1 mb-1">Get upto 16 lounge access within India, 6 lounge access outside India and priority check-in vouchers </p>
                            <p class="black_text mt-1 p_dot">Get upto 16 lounge access within India using Priority Pass and 6 lounge access using Priority Pass. </p> 
                            <p class="black_text mt-1 p_dot">Get 2 priority check-in vouchers per flight booking via Regalia Gold unified smartbuy portal </p>
                        </div>
                    </div>
                    <div class="text-center mt-2"><p class="sec_header mb-0">Process to Access Lounge</p></div>
                    <div class="row mt-3 mb-5">
                        <div class="col-md-12 d-flex align-items-center justify-content-center mlite_travel_btn">
                            <ul class="nav nav-pills welcome_bnfts_tab" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link wl_benefits_tabs_link active" id="pills-home1-tab" data-bs-toggle="pill" data-bs-target="#travel_bnft_1" type="button" role="tab">Complimentary Airport Lounge Access within India  </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link wl_benefits_tabs_link" id="pills-profile1-tab" data-bs-toggle="pill" data-bs-target="#travel_bnft_2" type="button" role="tab">Complimentary Airport Lounge Access outside India </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link wl_benefits_tabs_link" id="pills-profile1-tab" data-bs-toggle="pill" data-bs-target="#travel_bnft_3" type="button" role="tab">Priority Check-in Vouchers</button>
                                  </li>
                              </ul>
                        </div>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="travel_bnft_1" role="tabpanel">
                            <div class="row box_row">
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_4.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_4.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Upto 16 complimentary access per calendar year within India (both at domestic and international terminals) using the HDFC Bank Regalia Credit Card  </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_3.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_3.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Swipe your Regalia credit card at the lounge to avail the complimentary lounge access </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_2.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_2.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Customer is eligible for 2 lounge access within India per calendar quarter and additional 2 lounge access within India per calendar quarter on spends of Rs. 1.5 lac the previous calendar quarter.    </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_1.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_1.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Visits exceeding the complimentary quota will be allowed at the discretion of lounge and will also be chargeable by the lounge    </p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-12 mt-3 mb-3 text-center">
                                <a href="https://info.dreamfolks.in/partner-lounges?filter=YTdnaXh2ZGhKUWIzVFQyVGd6SitIUT09" target="_blank" class="gold_text">Click here</a><span class="text_black"> to check the list of lounges</span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="travel_bnft_2" role="tabpanel">
                            <div class="row box_row">
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_4.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_4.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Upto 16 complimentary access per calendar year within India (both at domestic and international terminals) using the HDFC Bank Regalia Credit Card  </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_3.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_3.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Swipe your Regalia credit card at the lounge to avail the complimentary lounge access </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_2.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_2.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Customer is eligible for 2 lounge access within India per calendar quarter and additional 2 lounge access within India per calendar quarter on spends of Rs. 1.5 lac the previous calendar quarter.    </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_1.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_1.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Visits exceeding the complimentary quota will be allowed at the discretion of lounge and will also be chargeable by the lounge    </p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-12 mt-3 mb-3 text-center">
                                    <a href="https://info.dreamfolks.in/partner-lounges?filter=YTdnaXh2ZGhKUWIzVFQyVGd6SitIUT09" target="_blank" class="gold_text">Click here</a><span class="text_black"> to check the list of lounges</span>
                                </div>
                        </div>
                        <div class="tab-pane fade" id="travel_bnft_3" role="tabpanel">
                            <div class="row box_row">
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_4.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_4.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Upto 16 complimentary access per calendar year within India (both at domestic and international terminals) using the HDFC Bank Regalia Credit Card  </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_3.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_3.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Swipe your Regalia credit card at the lounge to avail the complimentary lounge access </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_2.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_2.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Customer is eligible for 2 lounge access within India per calendar quarter and additional 2 lounge access within India per calendar quarter on spends of Rs. 1.5 lac the previous calendar quarter.    </p>
                                    </div>
                                </div>
                                <div class="col-md-3 text-center box-col">
                                    <div class="benefit_box">
                                        <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_1.svg" class="img-fluid">
                                        <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_1.svg" class="img-fluid"> -->
                                        <p class="mt-3 card_black_text">Visits exceeding the complimentary quota will be allowed at the discretion of lounge and will also be chargeable by the lounge    </p>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-md-12 mt-3 mb-3 text-center">
                                <a href="https://info.dreamfolks.in/partner-lounges?filter=YTdnaXh2ZGhKUWIzVFQyVGd6SitIUT09" target="_blank" class="gold_text">Click here</a><span class="text_black"> to check the list of lounges</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 benefit_box">
                            <p class="card_black_text text-left">Please write a mail to <a href="mailto:pp@prioritypass.com.hk" class="mail_link">pp@prioritypass.com.hk.</a> Please provide name, complete 18 digit Priority Pass number and state that PP Membership is via HDFC Bank program. If there is more than 1 Priority Pass number (belonging to add on PP holders), then please provide all the PP Numbers. </p>
                        </div>
                    </div>

                <!-- collapse 4 -->
                <div class="row mt-5 mb-0">
                    <div class="col-md-8 offset-md-2">
                        <div class="p_rel">
                            <div class="welcome_bnfts_collapse" type="button" data-bs-toggle="collapse" data-bs-target="#milestone_collapse" aria-expanded="false" aria-controls="milestone_collapse">
                                <div class="row">
                                    <div class="col-md-12"><p class="collapse_header" #insurance_bnfts>Process to Redeem Priority Check-in Vouchers</p></div>
                                </div>
                                <div class="collapse welcome_bnfts_collapse_cntnt mb-0" id="milestone_collapse">
                                    <div class="row">
                                        <div class="col-md-4 text-center mlite_brdr_btm">
                                            <p class="collapse_numeric">01</p>
                                            <p class="collapse_text">Customer visits Regalia Gold Premium Voucher benefits</p>
                                        </div>
                                        <div class="col-md-4 text-center mlite_brdr_btm">
                                            <p class="collapse_numeric">02</p>
                                            <p class="collapse_text">Enter booking ID (future air ticket booked via SmartBuy)</p>
                                        </div>
                                        <div class="col-md-4 text-center mlite_brdr_btm">
                                            <p class="collapse_numeric">03</p>
                                            <p class="collapse_text">Select voucher and download to redeem</p>
                                        </div>
                                        <div class="col-md-12 text-center mlite_brdr_btm">
                                            <p class="gold_text mt-3 mb-0 text-center">Please note customer can download only two vouchers for every booking ID  </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- end of collapse 4 -->
                </div>
            </section>

            <div class="container mb-5">
                <div class="row mt-5">
                    <div class="col-md-10 offset-md-1 text-center">
                        <p class="cntnt_title">Insurance Benefits  </p>
                        <p class="gold_text mt-1 mb-1">Insurance/Comprehensive protection & Nominee details for Insurance</p>
                    </div>
                </div>
                <div class="row box_row">
                    <div class="col-md-4 text-center box-col">
                        <div class="benefit_box">
                            <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/insurance_bnft_3.svg" class="img-fluid">
                            <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/insurance_bnft_3.svg" class="img-fluid"> -->
                            <p class="mt-3 card_black_text">Accidental air death cover worth Rs. 1 Crore   </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center box-col">
                        <div class="benefit_box">
                            <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/insurance_bnft_2.svg" class="img-fluid">
                            <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/insurance_bnft_2.svg" class="img-fluid"> -->
                            <p class="mt-3 card_black_text">Emergency overseas hospitalization: up to Rs. 15 lakhs​​​​​​​ </p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center box-col">
                        <div class="benefit_box">
                            <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/insurance_bnft_1.svg" class="img-fluid">
                            <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/insurance_bnft_1.svg" class="img-fluid"> -->
                            <p class="mt-3 card_black_text">Lost Card Liability Cover : Upto Rs 9 lakhs     </p>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-12 mt-3 mb-3 text-center" #reward_bnfts>
                    <a href="https://leads.hdfcbank.com/applications/webforms/apply/HDFC_NomineeDetails/Nominee.aspx?_ga=2.26251124.810244122.1556024278-537237991.1553082495" target="_blank" class="gold_text">Click here</a><span class="text_black"> to update your nominee details.  |  <a href="https://www.hdfcbank.com/content/bbp/repositories/723fb80a-2dde-42a3-9793-7ae1be57c87f/?path=/Personal/Pay/Cards/Credit%20Card/Credit%20Card%20Landing%20Page/Credit%20Cards/Super%20Premium/Regalia/Coverages-Regalia.pdf" target="_blank" class="gold_text"> Click Here</a> for details.</span>
                </div>
            </div>


            <section class="light_gold_bg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 offset-md-1 text-center">
                            <p class="cntnt_title">Core Reward Points </p>
                            <p class="gold_text mt-1 mb-1">Reward Point Redemption & Validity   </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 offset-md-2 text-center">
                            <p class="primary_hdr mb-2">Reward Points Accrual</p>
                            <div class="benefit_box">
                                <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/rewards_bnft.svg" class="img-fluid">
                                <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/rewards_bnft.svg" class="img-fluid"> -->
                                <p class="mt-3 card_black_text">Earn 4 Reward Points on every Rs. 150 spent on all retail* spends including Insurance, Utilities, Education and Rent Pay.    </p>
                            </div>
                        </div>
                        <div class="col-md-4 text-center mlite_less_padng">
                            <p class="primary_hdr mb-2 d-none d-md-block">Reward Point Redemption</p>
                            <div class="benefit_box div_cntnt_center">
                                <p class="card_black_text">You can redeem your Reward Points on Smartbuy or Netbanking. </p>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3 mb-3 text-center d-none">
                            <a href="#" class="gold_text">Click here</a><span class="text_black"> to update your nominee details.  |  <a href="#" class="gold_text"> Click Here</a> for details.</span>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-12 mt-2 mb-3 text-center"><p class="primary_hdr">Reward Points can be redeemed for</p></div>
                    </div>
                    <div class="row box_row mt-1">
                        <div class="col-md-3 text-center box-col">
                            <div class="benefit_box">
                                <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_4.svg" class="img-fluid">
                                <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_4.svg" class="img-fluid"> -->
                                <p class="mt-3 card_black_text">Flights and hotel bookings via Smartbuy at a value of 1 RP = Rs 0.5 </p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center box-col">
                            <div class="benefit_box">
                                <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_3.svg" class="img-fluid">
                                <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_3.svg" class="img-fluid"> -->
                                <p class="mt-3 card_black_text">Airmiles conversion through netbanking at a value of 1RP = Upto 0.75 airmile </p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center box-col">
                            <div class="benefit_box">
                                <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_2.svg" class="img-fluid">
                                <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_2.svg" class="img-fluid"> -->
                                <p class="mt-3 card_black_text">Products and Vouchers via Netbanking or SmartBuy at a value of 1 RP = upto Rs 0.35 </p>
                            </div>
                        </div>
                        <div class="col-md-3 text-center box-col">
                            <div class="benefit_box">
                                <img src="{{cdnUrl}}regalia_gold/images/smartbuy/icons/travel_bnft_1.svg" class="img-fluid">
                                <!-- <img src="../../../assets/regalia_gold/images/smartbuy/icons/travel_bnft_1.svg" class="img-fluid"> -->
                                <p class="mt-3 card_black_text">Cashback at a value of 1 RP = Rs 0.20 </p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-12 mt-3 mb-3 text-center">
                        <a href="https://www.hdfcbank.com/content/bbp/repositories/723fb80a-2dde-42a3-9793-7ae1be57c87f/?path=/Personal/Pay/Cards/Credit%20Card/Credit%20Card%20Landing%20Page/Credit%20Cards/Super%20Premium/Regalia/rp-regalia.pdf" target="_blank" class="gold_text">Please Click</a><span class="text_black"> Here to know more </span>
                    </div>
                   
                </div>
            </section>


            <!-- end of welcome benefits tab contents -->
        
        
        
        
        </div>
        </div>
      </div>
<!-- end of tab contents -->

















