.banner_container {
    margin:0px;
    padding:0px;
    background-image: url("./../../../assets/regalia_gold/images/smartbuy/rg_benefits_banner.svg");
    object-fit:cover;
    height:65vh;
    width:100vw;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    .banner_title{
        font-weight: 600;
        font-size: 45px;
        line-height: 66px;
        text-align: center;
        color: #FFFFFF;
        @media screen and (max-width: 600px) {
            font-size: 29px;
            line-height: 36px;
        }
    }
    .banner_h{
        height:65vh; 
        display:flex;
        align-items:center; 
    }
}
.benefits_tabs{
    height:60px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.benefits_tab_ul{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 600px) {
        flex-wrap: nowrap;
        display: flex;
        justify-content: start;
        overflow-x: auto;
    } 
    li{
        height:60px;
    }
    .benefits_tabs_link{
        font-weight: 600;
        font-size: 13px;
        color: #000000;
        opacity: 0.5;
        height:60px;
        @media screen and (max-width:600px){
            width:155px;
            color:#000 !important;
        }
    }
    .active{
        background:transparent;
        opacity:1;
        margin-bottom:18px;
        border-bottom:4px solid #CF8D56;
    }

}

.tab_content{
    margin-top:2rem;
    .cntnt_title{
        font-family:'opensans-light';
        font-weight: 100 !important;
        font-size: 44px;
        line-height: 50px;
        color: #000000;
        @media screen and (max-width:600px){
            font-size: 22px;
            line-height: 16px;
        }
    }
    .gold_text{
        font-family:'opensans-regular';
        font-size: 15px;
        line-height: 50px;
        color: #CF8D56;
        @media screen and (max-width:600px){
            font-size: 14px;
            line-height: normal;
        }
    }
    .black_text{
        font-family:'opensans-regular';
        font-size: 15px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        @media screen and (max-width:600px){
            font-size: 14px;
            line-height: normal;
        }
    }
}
.welcome_bnfts_tab{
    display:flex;
    // flex-wrap:wrap;
    align-items:center;
    justify-content: center;
    background: #F6EBE1;
    border-radius: 50px;
    padding:3px;
    width:fit-content;
    @media screen and (max-width:600px){
        flex-wrap: nowrap;
    }
    .wl_benefits_tabs_link{
        font-weight:600;
        font-size:12px;
        color: #00000050;
        @media screen and (max-width:600px){
        }
    }
    .active{
        color:#ffffff;
        background: #CF8D56;
        box-shadow: 0px 4px 15px rgba(207, 141, 86, 0.25);
        border-radius: 50px;
        @media screen and (max-width:600px){
        }
    }
}

  .benefit_box {

        background: #FFFFFF;
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding:30px 20px;
        height:100%;
        .card_black_text{
            font-family:'opensans-regular';
            font-weight: 400;
            font-size: 14px;
            line-height: normal;
            text-align: center;
            color: #000000;
        }
    }
    .p_rel{
        position:relative;
    }
.welcome_bnfts_collapse{
    background: #FFFFFF;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding:10px 20px;
    @media screen and (max-width:360px){
        padding:10px 15px;
    }
    .collapse_header{
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #CF8D56;
        width:100%;
        @media screen and (max-width:600px){
            font-size: 12px;
            line-height: normal;
            margin-top:5px;
            margin-bottom:5px;
        }
        .round_div{
            padding:5px;
            border-radius:50%;
            width:20px;
            height:20px;
            float:right;
            background: #CF8D56;
            @media screen and (max-width:600px){
                margin-top: -0.35rem;
                margin-right: -0.03rem;
            }
            @media screen and (max-width:360px){
                margin-top: -1.4rem;
                margin-right: 0.29rem;
            }
        }  
       
    }
    .welcome_bnfts_collapse_cntnt{
        margin-top:2rem;
        margin-bottom:2rem;
        .collapse_numeric{
            font-family: 'opensans-regular';
            font-style: normal;
            font-weight: 900;
            font-size: 44px;
            line-height: normal;
            text-align: center;
            color: #CF8D56;
            opacity: 0.2;
            margin-bottom:10px;
        }
        .collapse_text{
            font-size:14px;
            color:#000000;
            line-height:normal;
        }
        
    }
    &::after {
        content: "\002B";
        color: #fff;
        float:right;
        position:absolute;
        top:10px;
        right:24px;
        font-family: 'FontAwesome';
        font-weight:900;
        font-size:20px;
    }  
} 
.welcome_bnfts_collapse[aria-expanded="true"] {
    &::after {
        content: "\002D";
        color: #fff;
        float:right;
        position:absolute;
        top:8px;
        right:25px;
        font-family: 'FontAwesome';
        font-weight:900;
        font-size:30px;
    }
}

.light_gold_bg{
    background:#FCF9F6;
    margin:0px;
    padding:35px 25px;
    @media screen and (max-width:600px){
        padding:25px 15px;
    }
}
.dflex_div{
    display:flex;
    align-items:center;
    justify-content:center;
    .circular_div{
        width:125px;
        height:125px;
        border-radius:50%;
        background: #F8F8F8;
        margin:8px;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .circular_div_img{
        max-width:100%;
        max-height:100%;
    }
}

.sec_header{
    font-weight: 600;
    font-size: 22px;
    line-height: 50px;
    color:#000000;
}
.mail_link{
    color:#CF8D56;
}
.div_cntnt_center{
    display:flex;
    align-items:center;
    justify-content:center;
}


.panel-title {
	&::after {
		content: "\f107";
		color: #CF8D56;
		top: -2px;
		right: 55px;
		position: absolute;
		font-family: 'FontAwesome';
	}
}
.panel-title[aria-expanded="true"] {
	&::after {
		content: "\f106";
	}
}


$color_1: #000;
.hide {
	display: none;
}
.internal {
	text-decoration: none;
	color: $color_1;
	&:after {
		content: "\002B";
		padding-left: 5px;
	}
}
.internal.expanded {
	&:after {
		content: "\002D";
	}
}
#name {
	&:not(.hide) {
		display: block;
	}
}

@media screen and (max-width:600px){
    .benefits_tab_ul::-webkit-scrollbar {
        height:0px;
        }
        .box-col{
            margin-bottom:10px;
        }
        .mlite_travel_btn{
            flex-wrap: nowrap !important;
            display: flex !important;
            justify-content: start !important;
            overflow-x: auto !important;
            .welcome_bnfts_tab{
                    flex-wrap: nowrap;
                    height:50px;
                    .wl_benefits_tabs_link{
                        width:200px;
                    }
            }
        }
        .mlite_travel_btn::-webkit-scrollbar {
            height:0px;
            }
}
@media screen and (max-width:360px){
        .milestone_round_div{
            margin-top:-0.3rem !important;
        }
}