

.validate-msg {
	 position: absolute;
	 padding: 5px;
	 height: auto;
	 margin-top:10px;
	 background-color: #ffe0e0;
	 color: #f00;
	 width: auto;
	 border-radius: 5px;
	 z-index: 2;
	 text-align: center;
}


.validate-msg::before {
	content: '';
	border-style: solid;
	border-width: 10px 15px 10px 0;
	border-color: transparent #ffe0e0 transparent transparent;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	position: absolute;
	top: -15px;
	left: 45%;
}

.validate-age-msg {
  position: relative;
  padding: 5px;
  height: auto;
  margin-top:10px;
  background-color: #ffe0e0;
  color: #f00;
  width: auto;
  border-radius: 5px;
  z-index: 2;
  text-align: center;
  top: 10px;
}

@media screen and (max-width:600px){
	.hotel-area, .hotel-in-out , .hotel-room{
		background:#fff;
	}

}


#flight_departure_mlite,#flight_arrival_mlite
{
  position: fixed !important;
  width: 100% !important;
  padding: 0 !important;
}
