<div class="travel-select-data-area">
    <form [formGroup]="hotelSearchForm">
        <div class="hotel-search mt-20">
            <div class="hotel-area" appHotelDropdown>
                <div class="hotel-area-item" >
                    <span class="small-text">CITY, Hotel or Area</span>
                    <h5 class="large-text text-capitalize ">{{cityName}}</h5>
                    <span class="small-text hotel-city">{{hotelSearchForm.value.countryName}}</span>
                </div>
                <div class="hotel-search-list dropdown flight-from-hide" #hideShowCity>
                    <div class="mob-title" *ngIf="isMobile">
                        <h3>City, Hotel or Area</h3>
                        <a href="javaScript:void(0)" class="mob-close close-mobile" >
                            <img src="assets/images/icons/close.png" alt="" class="close-mobile">
                        </a>
                    </div>
                    <div class="hotel-from-data-search">
                        <span>from</span>
                        <!-- <input type="text" class="w-100" id="" placeholder="Search City" formControlName="city"  (keyup)="searchAutoComplete($event)"> -->
                        <input type="text" class="w-100" id="citySearchRef" #citySearchRef placeholder="Search City" formControlName="city" [autofocus]="true">
                        <input type="hidden" class="w-100" formControlName="countryName" >
                    </div>
                    <ul class="hotel-from-data-ul mCustomScrollbar" data-mcs-theme="dark">
                        <ng-container *ngFor="let item of queryText">
                            <li class="hotel-from-ul-li"  >
                                <a href="javaScript:void(0)" class="hotel-from-ul-li-a" (click)="onSelectCity(item)">
                                    <div class="hotel-from-name">
                                        <img src="assets/images/hotel/icon/hotel.png" alt="">
                                        <h6>{{item._source.full_content}}</h6>
                                        <p>528 Hotels</p>
                                    </div>
                                </a>
                            </li>
                        </ng-container>
                       <ng-container *ngIf="!searchEvent">
                        <ng-container *ngFor="let item of defaultHotelOptions">
                            <li class="hotel-from-ul-li"  >
                                <a href="javaScript:void(0)" class="hotel-from-ul-li-a" (click)="onSelectCity(item)">
                                    <div class="hotel-from-name">
                                        <img src="assets/images/hotel/icon/hotel.png" alt="">
                                        <h6>{{item._source.full_content}}</h6>
                                        <p class="d-none">528 Hotels</p>
                                    </div>
                                </a>
                            </li>
                        </ng-container>
                    </ng-container> 
                    </ul>
                </div>
                <div class="error_msg w-35" *ngIf="submitted && Error('city', 'required')">
                    <small class="validate-msg">Please select city</small>
                </div>
            </div>
            <div class="hotel-in-out">
                <div class="hotel-in" (click)="!isMobile ? picker.open() :openMliteDatePicker('checkin',0)" #checkIn>
                    <span class="small-text">CHECK-IN</span>
                    <h5 class="large-text"  [ngClass]="!hotelSearchForm.value.checkIn?'py-3':''">{{hotelSearchForm.value.checkIn | date:'MMM dd'}}</h5>
                    <span class="hotel-city small-text" *ngIf="hotelSearchForm.value.checkIn">{{hotelSearchForm.value.checkIn|date:'EEEE'}}</span>

                    <div class="hotel-date">
                        <mat-form-field [hidden]="isMobile" style="visibility:hidden;position: absolute;right: 0;bottom: 0;">
                            <input matInput [min]="latestDate" [matDatepicker]="picker" formControlName="checkIn"  (dateChange)="checkInDate($event)" >
                            <mat-datepicker-toggle matSuffix [for]="picker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <img src="./assets/images/icons/date.png" class="single-datepicker" alt="">
                    </div>

                    <div class="error_msg w-35" *ngIf="submitted && Error('checkIn', 'required')">
                        <small class="validate-msg">Please select CheckIn date</small>
                    </div>
                </div>
                <div class="hotel-out" (click)="!isMobile ? picker2.open() : openMliteDatePicker('checkout',0)" #checkOut>
                    <span class="small-text">CHECK-OUT</span>
                    <h5 class="large-text" [ngClass]="!hotelSearchForm.value.checkOut?'py-3':''">{{hotelSearchForm.value.checkOut | date:'MMM dd'}}</h5>
                    <span class="hotel-city small-text"  *ngIf="hotelSearchForm.value.checkOut">{{hotelSearchForm.value.checkOut|date:'EEEE'}}</span>
                    <div class="hotel-date" >
                        <mat-form-field [hidden]="isMobile" style="visibility:hidden;position: absolute;right: 0;bottom: 0;">
                            <input matInput [matDatepicker]="picker2" [min]="hotelSearchForm.value.checkIn" formControlName="checkOut" (dateChange)="checkOutDate($event)" >
                            <mat-datepicker-toggle matSuffix [for]="picker2">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <img src="./assets/images/icons/date.png" class="single-datepicker" alt="">
                    </div>
                    <div class="error_msg w-35" *ngIf="submitted && Error('checkOut', 'required')">
                        <small class="validate-msg">Please select CheckOut date</small>
                    </div>
                </div>
            <div class="modal bottom_mlite_popup" style="padding:0"  id="flight_departure_mlite" tabindex="-1"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">CHECK-IN</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <mat-calendar [minDate]="latestDate"
                                (selectedChange)="onSelectMliteDate($event,'checkin')"
                                [selected]="hotelSearchForm.value.checkIn"></mat-calendar>
                        </div>
                        <div class="modal-footer">
                            <div class="select_city d-block mb-15 flex-fill">
                                <div class="row">
                                    <div class="col-6 ">
                                        <div class="input_box  date_input_box">
                                            <label (click)="openMliteDatePicker('checkin',0)">
                                                <span>CHECK-IN</span>
                                                <div class="form-group flex_basis dep_m_cal"
                                                    *ngIf="hotelSearchForm.value.checkIn">
                                                    <b>{{hotelSearchForm.value.checkIn | date:'dd MMM' }} ,
                                                    </b><span> {{hotelSearchForm.value.checkIn | date:'EEEE'}}</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-6 ">
                                        <div class="input_box  date_input_box">

                                            <label *ngIf="!hotelSearchForm.value.checkOut">
                                                <a (click)="openMliteDatePicker('checkout',1)"
                                                    class="">Add CHECK-OUT</a>
                                            </label>

                                            <label (click)="openMliteDatePicker('checkout',0)"
                                                *ngIf="hotelSearchForm.value.checkOut">
                                                <span>CHECK-OUT</span>
                                                <div class="form-group flex_basis dep_m_cal"
                                                    *ngIf="hotelSearchForm.value.checkOut">
                                                    <b>{{hotelSearchForm.value.checkOut | date:'dd MMM' }} , </b><span>
                                                        {{hotelSearchForm.value.checkOut | date:'EEEE' }}</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="w-100 btn btn-primary"
                                data-bs-dismiss="modal"> Done</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal bottom_mlite_popup" id="flight_arrival_mlite" tabindex="-1"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">CHECK-OUT</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <mat-calendar [minDate]="hotelSearchForm.value.checkIn"
                                (selectedChange)="onSelectMliteDate($event,'checkout')"
                                [selected]="hotelSearchForm.value.checkOut"></mat-calendar>
                        </div>
                        <div class="modal-footer">
                            <div class="select_city d-block mb-15 flex-fill">
                                <div class="row">
                                    <div class="col-6 ">
                                        <div class="input_box  date_input_box">
                                            <label (click)="openMliteDatePicker('checkin',0)">
                                                <span>CHECK-IN</span>
                                                <div class="form-group flex_basis dep_m_cal"
                                                    *ngIf="hotelSearchForm.value.checkIn">
                                                    <b>{{hotelSearchForm.value.checkIn | date:'dd MMM' }} ,
                                                    </b><span> {{hotelSearchForm.value.checkIn | date:'EEEE'
                                                        }}</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-6 ">
                                        <div class="input_box  date_input_box">
                                            <label (click)="openMliteDatePicker('checkout',0)">
                                                <span>CHECK-OUT</span>
                                                <div class="form-group flex_basis dep_m_cal"
                                                    *ngIf="hotelSearchForm.value.checkOut">
                                                    <b>{{hotelSearchForm.value.checkOut | date:'dd MMM' }} , </b><span>
                                                        {{hotelSearchForm.value.checkOut | date:'EEEE' }}</span>
                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="w-100 btn btn-primary"
                                data-bs-dismiss="modal"> Done</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="hotel-room" appHotelDropdown>
                <div class="hotel-room-item" >
                    <span class="small-text">ROOMS & GUESTS</span>
                    <h5 class="large-text">{{this.hotelSearchForm.value.rooms.length}} <small class="fs_14 fw_4">Rooms</small>, {{totalAdultsCount}} <small
                            class="fs_14 fw_4">Adults</small>, {{totalChildCount}} <small class="fs_14 fw_4">Child</small>  </h5>
                    <span class="small-text"></span>
                </div>
                <div class="hotel-room-select pt-20 pb-20 dropdown flight-from-hide" #showHideGuest>
                    <div class="mob-title" *ngIf="isMobile">
                        <h3>ROOMS & GUESTS</h3>
                        <a href="javaScript:void(0)" class="mob-close close-mobile" >
                            <img src="./assets/images/icons/close.png" alt="" class="close-mobile">
                        </a>
                    </div>
                    <div class="hotel-from-data-ul mCustomScrollbar" data-mcs-theme="dark">
                        <ng-container formArrayName="rooms">
                            <ng-container *ngFor="let item of roomsDetails.controls; let i = index ">
                                <ng-container [formGroupName]="i">
                                    <div class="hotel-from-data-ul-list">
                                        <p class="fw_7 fs_14 d-flex">Room {{i + 1}} <a *ngIf="i > 0"  class="text-color ms-auto" (click)="removeDetails(i)">Delete</a></p>
                                        <div class="Travellers-passengers-data mb-2">
                                            <div class="Travellers-name">
                                                <h6>Adults</h6>
                                            </div>
                                            <div class="Travellers-qty">
                                                <div class="quantity buttons_added">
                                                    <input type="button" value="-" class="qty-buttons minus" (click)="decreaseCount(i,item,'adult')" [disabled]="item.value.numberOfAdults <= 1 ? true:false">
                                                    <input type="number" step="1" min="1" max="5" name="quantity"
                                                        value="{{item.value.numberOfAdults}}" title="Qty"
                                                        class="input-text qty text quantity_adult1_events" size="4"
                                                        pattern="" inputmode="" formControlName="numberOfAdults">
                                                    <input type="button" value="+" class="qty-buttons plus"  (click)="increaseCount(i,item,'adult')"  id="adultBtn_{{i}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="Travellers-passengers-data">
                                            <div class="Travellers-name">
                                                <h6>Children (2-11 years)</h6>
                                            </div>
                                            <div class="Travellers-qty">
                                                <div class="quantity buttons_added">
                                                    <input type="button" value="-" class="qty-buttons minus" (click)="decreaseCount(i,item,'child')" [disabled]="item.value.numberOfChildren < 1 ? true:false">
                                                    <input type="number" step="1" min="0" max="3" name="quantity"
                                                        value="0" title="Qty"
                                                        class="input-text qty text quantity_adult1_events" size="4" value="{{item.value.numberOfChildren}}"
                                                        pattern="" inputmode="" formControlName="numberOfChildren">
                                                    <input type="button" value="+" class="qty-buttons plus" (click)="increaseCount(i,item,'child')"  id="childBtn_{{i}}">
                                                </div>
                                            </div>
                                        </div>
                                        <br>
                                       <div class="d-flex align-items-center">
                                        <div *ngIf="item.value.numberOfChildren > 0">
                                            <div class="Travellers-name mb-1">
                                                <h6>Child 1</h6>
                                            </div>
                                            <select  (change)="onSelectAge($event,item, i)" id="selectAge1_{{i}}" required class="p-1" style="margin: 1px;">
                                                <option value="0" selected>Age</option>
                                                <option value="{{age.value}}" [attr.selected]="age.value == item.value.childrenAge[0] ? true : null"  *ngFor="let age of childAgeArr">{{age.value}}</option>
                                            </select>
                                        </div>
                                        <div *ngIf="item.value.numberOfChildren > 1" class="ms-2">
                                            <div class="Travellers-name mb-1">
                                                <h6>Child 2</h6>
                                            </div>
                                            <select  (change)="onSelectAge($event,item , i)" id="selectAge2_{{i}}" class="p-1"  style="margin: 1px;">
                                                <option value="0" selected>Age</option>
                                                <option value="{{age.value}}" [attr.selected]="age.value == item.value.childrenAge[1] ? true : null" *ngFor="let age of childAgeArr">{{age.value}}</option>
                                            </select>
                                        </div>
                                        <div *ngIf="item.value.numberOfChildren > 2" class="ms-2">
                                            <div class="Travellers-name mb-1">
                                                <h6>Child 3</h6>
                                            </div>
                                            <select (change)="onSelectAge($event,item,i)" id="selectAge3_{{i}}" class="p-1"  style="margin: 1px;">
                                                <option value="0" selected>Age</option>
                                                <option value="{{age.value}}" [attr.selected]="age.value == item.value.childrenAge[2] ? true : null" *ngFor="let age of childAgeArr">{{age.value}}</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="error_msg w-35" hidden id="error_{{i}}">
                                      <small  class="validate-age-msg">Please select age of child</small>
                                    </div>
                                </div>

                                    <hr>
                                </ng-container>
                            </ng-container>
                            <div class="Add-room">
                                <a href="javaScript:void(0)" class="" (click)="addDetails()" *ngIf="roomsDetails.length < 4">Add Room</a>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="error_msg w-35" hidden id="error_AllAge">
                  <small  class="validate-msg">Please select age of all child</small>
                </div>
            </div>
            <div class="hotel-search-btns">
                <a href="javaScript:void(0)"  data-bs-toggle="modal" data-bs-target="#itinerary" class="hotel-search-btn"
                    (click)="searchHotel()">Search</a>
            </div>

        </div>
    </form>
    <div class="add-search-area " >
        <!-- Preferred-OTA-Partner -->
        <div class="Preferred-OTA-Partner-area d-none">
            <ul class="Preferred-OTA-Partner-ul">
                <li style="display: flex;flex-direction: column;">
                    <span>Preferred </span>
                    <span>OTA Partner:</span>
                </li>
                <li>
                    <div class="OTA-Partner-list">
                        <input type="checkbox" name="" id="">
                        <img src="assets/images/flights/1.png" alt="" />
                    </div>
                </li>
                <li>
                    <div class="OTA-Partner-list">
                        <input type="checkbox" name="" id="" checked>
                        <img src="assets/images/flights/2.png" alt="" />
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Mobile Preferred-OTA-Partner -->
    <div class="mob-Preferred-OTA-Partner-area">
        <div class="mob-Preferred-area">
            <h5 class="mob-Preferred-title">Preferred OTA Partner<img src="./assets/images/icons/down.png" class="ms-1"
                    alt=""></h5>
        </div>

        <div class="mob-OTA-box">
            <div class="mob-ota-bg">
                <div class="mob-title">
                    <h3>Select Preferred OTA Partner</h3>
                    <a href="javaScript:void(0)" class="mob-close mob-OTA-close">
                        <img src="./assets/images/icons/close.png" alt="">
                    </a>
                </div>
                <div class="mob-OTA-listed">
                    <ul class="mob-Preferred-OTA-Partner-ul">
                        <li>
                            <div class="mob-OTA-Partner-list">
                                <input type="checkbox" name="" id="">
                                <img src="assets/images/flights/1.png" alt="" />
                            </div>
                        </li>
                        <li>
                            <div class="mob-OTA-Partner-list">
                                <input type="checkbox" name="" id="" checked>
                                <img src="assets/images/flights/2.png" alt="" />
                            </div>
                        </li>
                        <li>
                            <div class="mob-OTA-Partner-list">
                                <input type="checkbox" name="" id="">
                                <img src="assets/images/flights/4.png" alt="" />
                            </div>
                        </li>
                        <li>
                            <div class="mob-OTA-Partner-list">
                                <input type="checkbox" name="" id="">
                                <img src="assets/images/flights/3.png" alt="" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="mob-sf-btns">
                    <a href="javaScript:void(0)">Done</a>
                </div>
            </div>
        </div>
    </div>
</div>
