.bootstrap-select>select.bs-select-hidden,
select.bs-select-hidden,
select.selectpicker {
    display: block!important;
}

.show-scrollTop {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.no_flights_sec{
    text-align: center;
    margin: 2em 0;
  
    .title{
      color: #555555;
      font-size: 20px;
      font-weight: 700;
    }
    img{
      margin: 2em 0;
    }
    .text_info{
     font-size: 16px;
     font-weight: 400;
     color: #00000060;
     @media only screen and (max-width:600px){
      font-size: 14px;
      width: 90%;
      margin: 0 auto;
     }
    }
    .search_btn{
      margin-top: 3em;
      width: 250px;
      text-transform: capitalize;
    }
  }
  .listing-loader{
    background: #fff;
    padding: 10px 10px 0px 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px
  }

  .flight-partners{
    p{
      font-family:'opensans-medium';
    }
    .flight_partner_box{
      background:#fff;
      padding:5px 15px; 
      margin-left:5px;
      justify-content:center;
      border-radius:5px;
      .flight_partner_box_div{
        width:75px;
        height:35px;
        display:table-cell; 
        vertical-align:middle; 
        text-align:center;
      }
  
    }
  }