.mob-all-flight{
  ul{
    background: rgba(29, 134, 255, 0.07);
    border: 1.28125px solid rgba(0, 0, 0, 0.1);
    border-radius: 7.6875px;
    li{
      a{
        background:none;
      }
      a.active{
        background:#1d86ff;
        border:1.28125px solid #1d86ff;
        margin:-1px;
      }
    }
  }
}
