@import '../../assets/sharedscss/color';
@import '../../assets/sharedscss/spacing';
@import '../../assets/sharedscss/fonts';
  
  $break-mob-xsmall: 320px;
  $break-mob-x2small: 375px;
  $break-mob-small: 425px;
  $break-md-small: 768px;
  
  .w-offer {
    padding-top: 9px;
    text-align: center;
    font-size: 14px;
    @media screen and (max-width:477px) {
      margin: 14px 0px;
      text-align: center;
      font-size: 14px;
    }
     a {
      color: #0d5fb2;
      // border-bottom: 1px solid #dc3545;
     }
  }
  .page-root{
    font-size: 12px;
  }
  .review-title{
    font-family: opensans-regular;
    font-size: 24px;
    font-weight: 600;
    color: $color-dark-gray;
  }
  .arrow{
    font-size: 12px;
    margin-left: 0.4em;
    margin-right: 0.4em;
  }
  .lg-none{
    @media screen and (min-width: $break-md-small) {
      display: none;
    }
  }
  .xs-none{
    @media screen and (max-width: $break-mob-small) {
      display: none;
    }
  }
  p{
    margin: 0px;
  }
.seat-showDesktop{
  position: relative;
  left: 500px;
  top: 18px;

  @media screen and (max-width: 768px) and (min-width: 426px) {
    position: relative;
    left: 190px;
    top: -40px;
  }
}
.seat-showMobile{
    float: right;
    color: $color-dark-gray;
    font-size: 14px;
    font-weight: bold;
}
.btn-paynow{
  width: 294.2px;
  height: 41px;
  border-radius: 3px;
  text-transform: uppercase;
  color: $color-white;
  /* display: inherit; */
  font-size: 14.6px;
  margin: 20px 0;
  background-color: $color-vivid-blue;
  font-weight: 600;
  @media screen and (max-width: $break-mob-small) {
    width: 100%
    
  }
}


.btn-paynow-SMARTBUY{
  width: 60%;
  height: 40px;
  border-radius: 8px;
  text-transform: capitalize;
  color: $color-white;
  display: inherit;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
  background-color: $color-vivid-blue;
  @media screen and (max-width: $break-mob-small) {
    width: 100%
    
  }
}
.btn-paynow-DINERS{
  width: 294.2px;
  height: 41px;
  border-radius: 3px;
  text-transform: uppercase;
  color: $color-white;
  display: inherit;
  font-size: 14.6px;
  margin-bottom: 20px;
  background-color: #020812;
  background-image: linear-gradient(129deg, #84c9fa, #4a90e0) !important;
  @media screen and (max-width: $break-mob-small) {
    width: 100%
    
  }
}
.btn-paynow-INFINIA{
  width: 294.2px;
  height: 41px;
  border-radius: 3px;
  text-transform: uppercase;
  color: $color-white;
  display: inherit;
  font-size: 14.6px;
  margin-bottom: 20px;
  background-color: #0e255e;
  background-image: linear-gradient(129deg, #4375d4, #0c48ba) !important;
  @media screen and (max-width: $break-mob-small) {
    width: 100%
    
  }
}
.btn-paynow-REGALIA{
  width: 294.2px;
  height: 41px;
  border-radius: 3px;
  text-transform: uppercase;
  color: #8c6a3f !important;
  display: inherit;
  font-size: 14.6px;
  margin-bottom: 20px;
  background-color: #61471d;
  background-image: linear-gradient(129deg, #ffe7bf, #f0b85b) !important;
  @media screen and (max-width: $break-mob-small) {
    width: 100%
    
  }
}
.btn-paynow-CORPORATE{
  width: 294.2px;
  height: 41px;
  border-radius: 3px;
  text-transform: uppercase;
  color: $color-white;
  display: inherit;
  font-size: 14.6px;
  margin-bottom: 20px;
  background-color: #000000;
  @media screen and (max-width: $break-mob-small) {
    width: 100%
    
  }
}
.btn-paynow-BUSINESS{
  width: 294.2px;
  height: 41px;
  border-radius: 3px;
  text-transform: uppercase;
  color: $color-white;
  display: inherit;
  font-size: 14.6px;
  margin-bottom: 20px;
  background-color: #0d255e;
  background-image: linear-gradient(129deg, #4375d4, #0c48ba) !important;
  @media screen and (max-width: $break-mob-small) {
    width: 100%
    
  }
}
  .btn-c, .btn-b{
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: 600;
    @media screen and (max-width: $break-mob-small) {
      width: 102px;
      margin: 0px 20px 0px 0px;
    }
    @media screen and (max-width: $break-mob-xsmall) { 
      // width: 150px;
      // margin: 15px 0px 0px 0px;
      width: 90px;
      margin: 0px 5px;
    }
  }
  .btn-b{
    border: 1px solid $color-blue-btn;
    background: $color-white;
    color: $color-vivid-blue;
    cursor: pointer;
  }
  .xs-center{
    @media screen and (max-width: $break-mob-small) {
      text-align: center;
    }
  }
.session-exp{
    // width: 695px;
    // height: 34px;
    border-radius: 2px;
    background-color: $color-light-orange;
    margin-bottom: 10px;
    p{
      font-family: opensans-regular;
      font-size: 15px;
      margin-left: 4em;
      padding: 5px;
      color: $color-dark-gray;
      @media screen and (max-width: $break-mob-small) {
        font-size: 13px;
      }
    }

}
.session-exp-img{
  float: left;
  width: 30px;
  height: 30px;
  margin-left: 20px;
    padding: 2px;
}
.redeem-section{
  padding: 10px;
  margin: 5px 0px;
  background-color: #fef6ca;
  border-radius: 8px;
  a, .redeem-title{
    font-size: 12px;
  }
}
.saveCard_radio{
  background-color: #FBFBFB;
  border-radius: 8px;
  padding: 15px 20px;
  margin: 20px 0px 15px;
}
.secure_text{
    display: flex;
    justify-content: end;
    margin-top: 15px;
    align-items: center;
    gap: 10px;
    @media only screen and (max-width:600px) {
      justify-content: start;
      margin: 0px 0px 10px;
    }
    p.invalid{
      color: #EB001B;
      display: flex;
      align-items: center;
      gap: 25px;
      font-size: 14px;
      .form-check{
        padding-left:0;
      }
    }
    p.valid{
      color: #009817;
      display: flex;
      align-items: end;
      font-size: 14px;
    }
}
.payPoints-section{
  // border-radius: 8px;
  // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  // padding: 15px 10px;
  // margin: 20px 0px;
}
.payPointsSuccess-section{
  background-color: #ecf0f4;
  padding: 15px 10px;
  margin: 20px 0px;
}
.redeem-text {
  font-size: 12px;
  font-family: 'opensans-medium';
  color: #444444;
  margin-bottom: 5px;
}
.redeem-btn {
  border-radius: 3px;
  border: solid 1.2px #4285f4;
  text-transform: uppercase;
  background-color: #fff;
  color: #1d86ff;
  font-size: 11px;
  font-family: 'opensans-medium';
}
.redeem-sucess {
  border: solid 1.2px #09b304;
  text-transform: uppercase;
  background-color: #fff;
  color: #09b304;
  font-size: 11px;
  font-family: 'opensans-medium';
}
.redeem-sucess span {
  // background-color: #09b304;
  // color: #fff;
  // border-radius: 50px;
  // padding: 2px 3px;
  // font-size: 5px;
  // margin-left: 6px;
  padding: 2px 7px;
}

.redeem-bor{
    border-right: 1px solid #b7b7b7;
    position: relative;
    right: 15px;
    // top: 5px;
    // height: 14px;
}
.f-14{
  @media screen and (max-width: $break-mob-small) {
    font-size: 14px;
  }
  
}
.f-16i{
  font-size: 16px !important;
  @media screen and (max-width: $break-md-small) {
    font-size: 14px !important;
  }
}
.expandHeader{
    // width: 696px;
  height: 55px;
  // border: solid 1px $color-lightGray;
  background-color: $color-light-blue;
  border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
  background-color: $color-light-blue;
}
.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover, .mat-panel-title{
  background-color: $color-light-blue;

}
.ff-op{
  font-family: opensans-regular;
  font-size: 16px;
}
.seat-num{
  font-size: 14px;
  font-weight: normal;
}
.travel-title{
  font-family: opensans-regular;
  font-size: 14px;
  font-weight: bold;
  color: $color-dark-gray;
}
mat-expansion-panel-header, .expandHeader:hover{
  background-color: $color-light-blue;
}
.mat-accordion[_ngcontent-c1] .mat-expansion-panel[_ngcontent-c1]:first-of-type{
  border: 1px solid $color-lightGray !important;
  box-shadow: none;
}
.mat-expansion-panel:not([class*=mat-elevation-z]){
  border: 1px solid $color-lightGray !important;
  box-shadow: none;
}

.mat-expansion-panel-body{
  @media screen and (max-width: $break-mob-small) {
    padding: 0 15px 10px;
  }
}

.cvv-w {
  margin-left: 30px;
}
.expandBody{
    // width: 696px;
    height: 1031px;
    background-color: $color-white;
}
.travel-count{
  margin: 15px 0px -20px 0px;
  font-family: opensans-regular;
  font-size: 14px;
  font-weight: bold;
  color: $color-dark-gray;
}
.traveler-details-info{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.traveller-header span{
  font-family: opensans-regular;
}
.ladies-span{
  font-weight: normal;
  font-size: 14px;
  font-family: opensans-regular;
}
.message-trav{
  margin: 20px 0px 20px 0px;
  .view-sec{
    font-size: 14px;
    font-weight: 600;
  }
}
.traveler-details, .contact-details{
  // width: 653px;
  // height: 216px;
  border: solid 1px #e8e8e8;
  margin: 20px 0px 20px 0px;
  background-color: $color-traveler-bg;
  padding: 20px;
}
.contact-header{
  margin-bottom: 20px;
}
.agree-info{
    margin: 10px 0px;
}
.summary-section{
  // width: 224px;
  height: 500px;
  border-radius: 3px;
  z-index: 2;
  // box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
  border: solid 1px #cbcbcb;
  background-color:$color-white;
  @media screen and (max-width: $break-md-small) {
    height: 500px;
  }
  @media screen and (max-width: $break-mob-small) {
    display: none;
    margin: 20px;
    height: auto;
  }
  h6{
    margin: 20px 0px 0px 0px;
  }
  p{
    font-size: 12px;
    color: $color-dark-gray-01; 
    // margin-left: 10px;

  }
}

// set as primary radio buttons
$dark: #292929;
$light: $color-white;
$green: #2ECC71;
$blue: #4183D7;
$small: 40em;


.button-wrap {
  position: relative;
  top: 50%;
  // @media (max-width: $small) {margin-top: -1.5em;}
}
.hidden {
  display: none;
}
.button-label {
  display: inline-block;
  padding: 0px 10px;
  cursor: pointer;
  color: $dark;
  border-radius: 0.25em;
  background: $light;
  transition: 0.3s;
  user-select: none;
  h1 {
    font-size: 12px;
    margin: 5px;
    font-family: opensans-regular;
    // color: #292929;
  }
  &:hover {
    background: darken($light, 10%);
    color: darken($dark, 10%);
  }
  &:active {
    transform: translateY(2px);
  }
  @media (max-width: $small) {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

.radio-label:checked + .button-label {
  background: $green;
  color: $light;
  &:hover {
    background: darken($green, 5%);
    color: darken($light, 5%);
  }
}



.xs-fare-charges{
  // height: 70.1px;
  border-radius: 3px;
  box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.67);
  border: solid 1px #cbcbcb;
  background-color: #e9ecff;
  margin: 25px 0px;
  padding: 10px;
  a{
    font-size: 10px;
    font-weight: 600;
  }
  .fare-title{
    opacity: 0.77;
    font-family: opensans-regular;
    font-size: 10px;
    font-weight: 600;
    text-align: left;
    color: $color-gray2;
  }
  .fare-price{
    font-family: opensans-regular;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  color: $color-dark-gray;
  .tax{
    font-family: opensans-regular;
    font-size: 8px;
    line-height: 4.31;
    color: $color-dark-gray;
  }
      
  }
  .seat-title{
    opacity: 0.76;
  font-family: opensans-regular;
  font-size: 10px;
  font-weight: 600;
  color: $color-gray2;
  }
    .seat-num{
      font-family: opensans-regular;
    font-size: 12px;
    font-weight: 600;
    color: $color-dark-gray;
  }
  

}
.newcard-info-img{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 11em;
    width: 20px;
    @media screen and (max-width: $break-mob-small) {
      top: 2px;
      right: 0px;
      left: 20em;
    }
    @media screen and (max-width: $break-mob-x2small) {
      top: 2px;
      right: 0px;
      left: 17em;
    }
    @media screen and (max-width: $break-mob-xsmall) {
      top: 2px;
      right: 0px;
      left: 13em;
    }
}
.primary-msg{
  color: $color-gray2;
  font-size: 12px;

}
.newcard-info-cvvimg{
  position: absolute;
  top: 8px;
  left: 5.5em;
  font-size: 15px;
  color: $color-vivid-blue;
  transform: rotate(180deg);
  // @media screen and (max-width: $break-mob-small) {
  //   top: 2px;
  //   right: 0px;
  //   left: 8em;
  // }
  // @media screen and (max-width: $break-mob-x2small) {
  //   top: 2px;
  //   right: 0px;
  //   left: 7em;
  // }
  // @media screen and (max-width: $break-mob-xsmall) {
  //   top: 2px;
  //   right: 0px;
  //   left: 5em;
  // }
}
.text-cut{
  text-overflow: ellipsis;
  overflow: hidden; 
  width: 69px; 
  height: 19px; 
  white-space: nowrap;
  font-family: opensans-regular;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: normal;
  color: $color-dark-gray;
}

.sum-date-info, .sum-seat-info {
  margin: 5px 0px 5px 0px;
  img{
    float: left;
    margin-right: 10px;
  }
}

.fare-header{
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
}
.fare-total, .smart-charges, .total-charges{
    color:$color-dark-gray-01;
    margin-bottom: 15px;
    height: 60px;
}
.total-charges{
    text-transform: uppercase;
}
.fare-total{
    // border-bottom: 1px dashed $color-lightGray;
    border-bottom: 1px dashed #000;
    p{
      margin: 0px;
    }
}

.smart-discount{
    text-decoration: line-through;
    // border-bottom: 1px solid #000;
    // padding: 20px 0px;
    color: $color-dark-gray-01;
}
.gst-optional-data{
  margin: 15px;
}
.mat-form-field .mat-focused .mat-form-field-label{
  color: red !important;
}
.mat-form-field-appearance-legacy .mat-form-field-label{
  color: red !important;
}
// Font-Icons
.fas{
  color: $color-dark-gray-01;
  margin: 0px 5px;
}
.final-amount{
  font-family: opensans-regular;
  font-size: 16px !important;
  font-weight: 600;
  line-height: 1.28;
  text-align: right;
  color: $color-dark-gray !important;
  
}
.timing-zone{
  margin: 5px 25px;
  .time{
    font-family: opensans-regular;
    font-size: 12px;
    color: $color-dark-gray-01;
  }
  .line {
    border-top: 2px solid #CBCBCB;
    padding-top:5px;
    padding-bottom: 5px;
    margin: 12px 12px 0;
    width: 30%;
    position: absolute;
    @media screen and (max-width: $break-mob-small) {
      width: 20%;
    }
    
  }

  
  .line:before, .line:after {
    content: "";
    width: 10px;
    height: 10px;
    background: #CBCBCB;
    border-radius: 5px;
    position: absolute;
    top: -6px;
  }
  
  .line:after {
    right: 0;
  }
  .time-two {
    margin-left: 9em;
    @media screen and (max-width: $break-mob-small) {
      margin-left: 9em;
    }
    @media screen and (max-width: $break-mob-xsmall) {
      margin-left: 7em;
    }
  }
}


// Payment Method CSS
.payment-ad {
  .desktop-click-coupon{
    text-align: center;
    border: solid 1px #9ca2ef;
    background-color: #edeefc;
    a{
      text-decoration: none;
    }
    p{
      @media screen and (max-width: $break-md-small) {
        display: inline;
      }
    }
    .coupon-img{
      font-size: 42px;
      color: #c4c4c4;
      width: 25%;
      @media screen and (max-width: 1024px) {
        font-size: 27px;
      }
      @media screen and (max-width: $break-md-small){
        font-size: 20px;
        text-align: center;
        padding: 5px 10px;
        vertical-align: middle;
        color: #c4c4c4;
      }
    }
    .desktop-coupon-msg{
      font-size: 11px;
      color: $color-dark-gray;
      font-family: opensans-medium;
    }
  }
  
}
.saved-cards, .other-cards{
  margin: 20px 0px;
  .pay-card-title{
    p{
      font-size: 12px;
      color: $color-dark-gray;
    }
  }
}

.radio {
  position: relative;
  cursor: pointer;
  line-height: 20px;
  padding: 0px;
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0px 5px;
  // font-weight: bold;
  color: #000;
  text-transform: capitalize;

}
.radio .label {
  position: relative;
  top: 2px;
  display: block;
  float: left;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 2px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;

}
.radio .label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: $color-vivid-blue;
  transform: scale(0);
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}

input[type="radio"]:checked + .label {
  border-color: $color-vivid-blue;
}
input[type="radio"]:checked + .label:after {
  transform: scale(1);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.save-card-img{
  margin-left: 3em;
  width: 94px;
  height: 60px;
  margin-top: -23px;
  border-radius: 5px;
  @media screen and (max-width: $break-mob-small) {
    margin-left: 3em;
  }
  @media screen and (max-width: $break-mob-x2small) {
    margin-left: 40px;
    margin-top: -20px;
  }
  @media screen and (max-width: $break-mob-xsmall) {
    margin-left: 0;
  }
}
.w-40{
  width: 40px;
}
.save-card-info{
  display: inline-block;
  margin-left: 50px;
  margin-top: 15px;
  @media screen and (max-width: $break-mob-x2small) {
      margin-left: 10px;
    }
    .save-card-num{
      font-size: 14px;
      color: #888888;
      @media screen and (max-width: $break-mob-x2small) {
          font-weight: normal;      
        }
    }
}
.new-card-titleoffer{
  margin-left: 2.2em;
    width: 20px;
    position: absolute;
}
.xs-mti-50{
  @media screen and (max-width: $break-mob-small) {
      // margin-top: 50px !important;
      margin: -20px 0px 20px 0px !important;
  }
}
.offer2{
    position: relative;
    top: 65px;
    left: 250px;
    @media screen and (max-width: $break-md-small) {
      top: -1px;
      left: 100px;
      right: 0px;
    }
    @media screen and (max-width: $break-mob-small) {
      top: 10px;
      left: 60px;
      right: 0px;
      display: block;
    }
    

}

.new-card-info, .pay-emi-info, .hdfcNetBank-info, .bharatqr-info, .payzapp-info, .rupay-info{
  // width: 653px;
  // height: 216px;
  border: solid 1px #e6e6e6;
  // border-top: none; 
  margin: 20px 0px 20px 0px;
  // background-color: $color-traveler-bg;
  padding: 15px 15px;
  border-radius: 8px;
}
.common_title{
  font-size: 16px;
    color: #000;
    font-weight: 600;
    margin: 10px 0px;
}
.pay-emi-info{
  .payTitle{
    height: 22px;
    font-family: opensans-regular;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: $color-dark-gray;
    @media screen and (max-width: $break-md-small) {
      line-height: normal;
      height: auto;
      margin-bottom: 10px;
    }
  }
  
}
.payTitle{
  font-size: 12px;
}
.payMethod-label{
  font-weight: normal;
    font-size: 16px;
}
.check_saveCard, .check_redeem{
    position: relative;
    top: 4px;
  }
.xs-check-font{
  font-size: 11px;
  line-height: normal;
  @media screen and (max-width: $break-mob-small) {
    font-size: 10px;
  }
  a{
    color: $primary-color;
  }
}
.mat-form-field{
  @media screen and (max-width: $break-mob-small) {
    width: 100%;
  }
}
.mobile-click-coupon{
    height: 55px;
    border: solid 1px #9ca2ef;
    background-color: #edeefc;
    padding: 5px;
    cursor: pointer;
    .coupon-msg{
      margin: 13px -52px;
    }
}

.payMethod-label-visa{
  font-family: opensans-medium;
  font-size: 14px;
  color: $color-dark-gray;
  @media screen and (max-width: $break-mob-small) {
    font-size: 12px;
  }
  @media screen and (max-width: $break-mob-xsmall) { 
    display: table-cell;
  }
}
.sub-info{
  margin-left: 2em;
  .payemi-best{
    background-color: $color-redmix;
    padding: 4px;
    border-radius: 5px;
    color: $color-white;
    font-family: opensans-regular;
    font-size: 11px;
    width: 75px;
    height: auto;
    display: block;
    text-align: center;
    @media screen and (max-width: $break-mob-small) {
      font-size: 9px;
    }
  }
  .emi-duration{
    font-family: 'opensans-regular';
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    /* border-bottom: 1px solid #F0F0F0;
    padding-bottom:5px; */
  }
  .emi-tenure{
    font-family: 'opensans-regular';
    font-size: 12px;
    font-weight: normal;
    @media screen and (max-width: $break-mob-small) {
      margin-left: 12px;
    }
    
  }
}
.hdfcNetBank-info{
  .netBank-total{
    height: 19px;
    font-family: 'opensans-regular';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    color: $color-dark-gray;
  }
  .netBank-price{
    font-family: 'opensans-regular';
    font-size: 24px;
    font-weight: bold;
    line-height: 1.44;
    height: 33px;
    margin: 5px 0px;
    color: $color-dark-gray;
  }
  .netBank-fee{
    font-size: 12px;
    height: 17px;
    font-weight: 600;
    color: $color-dark-gray;
  }
}

.bharatqr-info{
  .bharatqr-title{
    height: 22px;
    font-family: opensans-regular;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0px;
    color: $color-dark-gray;
  }
  .bharat-refund{
    margin: 15px 0px;
    font-family: opensans-regular;
    font-size: 11px;
    line-height: 1.27;
    color:$color-dark-gray-01;
  }
  .bharatqr-price-section{
    display:inline-block;
    vertical-align: top;
    .bharat-total{
      height: 19px;
      font-family: opensans-regular;
      font-size: 14px;
      font-weight: bold;
      color:$color-dark-gray;
    }
    .bharat-price{
      height: 33px;
      margin: 10px 0px;
      font-family: opensans-regular;
      font-size: 24px;
      font-weight: bold;
      color: $color-dark-gray;
    }
    .bharat-list{
      margin: -6px 18px;
      padding: 0px;
      font-size: 12px;
      width: 100%;
    }
    
  }
  img{
    margin-right: 20px;
    width: 172px;
    height: 172px;
    display: inline-block;
  }
}
.payzapp-info{
  // img{
  //   width: 141px;
  //   height: 47px;
  // }
  .payzapp-total{
    height: 19px;
    font-family: opensans-regular;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0px;
    color:  $color-dark-gray;
  }
  .payzapp-price{
    height: 33px;
    font-family: opensans-regular;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.44;
    color: $color-dark-gray;
  }
  .payzapp-fee{
    height: 17px;
    font-family: opensans-regular;
    font-size: 12px;
    font-weight: 600;
    color: $color-dark-gray;
  }
}

.error{
    color: $color-red;
    padding: 0px 0px;
    margin-top: -4px;
    margin-bottom: 5px;
    font-size: 12px;
}
.error1{
  color: $color-red;
   font-size: 12px;
}
.error_tc{
  color: $color-red;
  padding: 0px 0px;
  margin-bottom: 10px;
  font-size: 12px;
}
.redeem_error, .redeem_error small{
  color: #ff0000;
  padding: 0px 0px;
  margin: 5px 0px;
  font-size: 11px;
}

.visa-label{
 background-color: $color-traveler-bg;
 border: solid 1px #e8e8e8;
  border-bottom: none; 
 .row{
   margin: 0px;
   padding: 0px 30px;
   @media screen and (max-width: $break-mob-small) {
    padding: 0px 0px;
   }
 }
}

.rupay-info{
  border: solid 1px #e8e8e8;
    // margin: 0px 0px 20px 0px;
    // background-color: $color-traveler-bg;
    padding: 15px 50px;
  // img{
  //   width: 141px;
  //   height: 47px;
  // }
  .rupay-total{
    height: 19px;
    font-family: opensans-regular;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0px;
    color:  $color-dark-gray;
  }
  .rupay-price{
    height: 33px;
    font-family: opensans-regular;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.44;
    color: $color-dark-gray;
  }
  .rupay-fee{
    height: 17px;
    font-family: opensans-regular;
    font-size: 12px;
    font-weight: 600;
    color: $color-dark-gray;
  }
}
.visaMasterDiners-section{
  // margin: -20px 0px 0px 0px;
  .new-card-info-2{
    border: solid 1px #e8e8e8;
    border-top: none;
    margin: 0px 0px 20px 0px;
    background-color: $color-traveler-bg;
    padding: 15px 50px;
    @media screen and (max-width: $break-mob-small) {
      padding: 15px 20px;
    }
  }
  
  
}

.img-coupon{
  width: 100%;
  height: 89px;
  @media screen and (max-width: 1024px) and (min-width: 770px) {
    height: 75px;
  }
}


.promo-section{
  color: $color-dark-gray-01;
  font-family: opensans-regular;
}
.promo-code{
  font-size: 14px;
  display: block;
  font-family: opensans-medium;
  color: $color-vivid-blue;
}
.promo-desc{
    color: $color-dark-gray-01;
    font-size: 10px;
    display: block;
    font-family: opensans-regular;
    margin-left: 32px;
    line-height: 1.4;
}
.promo-terms{
  font-size: 9px;
  margin-top: 10px;
  margin-left: 33px;
}
.btn-promo{
   border: 1px solid $color-blue-btn;
    background: $color-white;
    color: $color-vivid-blue;
    font-size: 12px;
    float: right;
    cursor: pointer;
}
.promo-msg{
  color: $color-dark-gray-01;
  font-size: 9px;
  margin: -10px 0px 10px 1.5em;
  @media screen and (max-width: $break-mob-small) {
    //margin: -5px 12px;
    margin: -10px 0px 10px -0.5em;
  }
  img{
    float: left;
    margin-right: 5px;
    width: 13px;
    height: 13px;
    @media screen and (max-width: $break-mob-small) {
      margin-left: 18px;
    }
  }
  .promo-error{
    color: $color-red;
    margin: 3px;
    @media screen and (max-width: $break-mob-small) {
      margin: 10px;
    }
  }
}

.otp-section{
  margin: 15px 0px;
}

.amount-section{
  border-radius: 8px;
  border: solid 1px #ebebeb;
}
.emi-show{
  padding: 10px;
  text-align: center;

  .total-amount{
    font-size: 12px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .total-price{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    padding-bottom: 0px;
  }
  .emi-price{
    font-size: 16px;
    font-weight: bold;
    color: $color-vivid-blue;
  }
  .emi-title{
    font-size: 12px;
    color: $color-vivid-blue;
  }
   .emi-para{
    font-size: 12px;
    color: #768a99;
    font-family: opensans-regular;
  }
}

.bor-right{
  border-right: solid 1px #ebebeb;
  position: relative;
  // top: 10px;
  height: 90%;

  @media screen and (max-width: 425px) {
    border-bottom: solid 1px #ebebeb;
    border-right: none;
    position: relative;
    top: 0px;
    margin: 0px 30px;
  }
}

.address-section{
  padding: 15px 25px;
  border-radius: 8px;
  background-color: #f8f8f8;
  margin: 5px 0px 25px;
}
.name-info .title-name, .address-info .title-name{
  font-size: 12px;
  color: #acacac;
  margin-bottom: 0px;
}
.name-info .title-data, .address-info .title-data{
  font-size: 12px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 0px;
}

.pg-title{
  font-size: 12px;
  font-weight: 600;
  color: #1e89ff;
}
.w-pg-title {
  color:#030303;
  opacity: 0.7;
  font-weight: normal;
  position: relative;
  top: 4px;
}
.pg-subtitle{
  color: #6f6f6f;
  font-size: 10px;
  display: block;
  line-height: 1.25;
  font-weight: normal;
}


@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {

    .w-radio { 

      position: relative;
      top: -21px;
      right: -55px;

    }
}}

// .error{
//   color: $color-red;
//   padding: 0px 0px;
//     margin-top: -14px;
//     margin-bottom: 10px;

// }



.w-input {
  border: 1px solid #dddddd;
}
.sign-section{
  position: relative;
  width:511px;
  @media screen and (max-width:477px) {
    width:100%;
    padding:0px 20px;
  }
}
.dc_close{
  position: absolute;
    right: -10px;
    top: -14px;
    @media screen and (max-width: 425px) {
      right: 8px;
      top: 0px;
    }
}

.w-card-id {
  margin-left: 32px !important;
    margin-top: 0px !important;
    font-size: 12px;
    color: #555;
}

//Flexipay Style//
.w-flexipay {
  .w-flexipay-plan {
    // background-color: #FBFBFB;
    // padding: 20px;
    // border: 1px solid #e8e8e8;
    p {
      color: #014B8F;
      font-size: 14px;
    }
    small {
      color: #0A0909;
      font-size: 12px;
    }
    .w-flexpay-price {
      background: #FBFBFB;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 3px 10px #00000029;
    border: 1px solid #213C8A; 
    opacity: 0.87; */
    border-radius: 6px;
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    .flexi_radio{
      padding: 8px 0px;
      margin: 0px;
    }
    .emi-duration {
      color:$black-color;
      font-weight: bold;
      font-size:14px;
    }
    .emi-tenure {
      color:#484848;
      font-size:10px;
      font-weight: bold;
    }
    }
    .w-flexpay-active {
      box-shadow: 0px 3px 10px #00000029;
      border: 1px solid #1D86FF;
      border-radius: 4px;
      /* background-color:#213C8A; */
      background: rgba(29, 134, 255, 0.1);
      padding: 15px;
      margin-top: 20px;
      cursor: pointer;
      text-align: center;
      .emi-duration {
        color:$black-color;
        font-weight: bold;
        font-size:14px;
      }
      .emi-tenure {
        color:#484848;
        font-size:10px;
        font-weight: bold;
      }
    }
    .w-flexpay-price-text {
      background-color: #f1f2f6;
      border-radius: 3px;
      padding: 10px 0px 12px 0px;
      p {
        color:#203B8A;
        font-size: 12px;
      }
    }
    //Tooltip style//
    .flex-tooltip {
      position: relative;
      display: inline-block;
      // left: -220px;
      img {
        cursor: pointer;
      }
      .flex-tooltiptext {
        visibility: hidden;
        width: 230px;
        background-color: #fff;
        color: #000;
        text-align: center;
        border-radius: 6px;
        padding: 15px 15px 0px 15px;
        position: absolute;
        z-index: 1;
        top: 25px;
        right: -110px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
        @media screen and (max-width:477px) {
          width: 180px;
          top: 28px;
          right: -29px;
        }
        h5 {
          text-align: left;
          font-family: opensans-regular !important;
          color: #000;
          font-weight: bold;
          font-size: 12px;
          margin: 0px;
        }
        p {
          text-align: left;
          font-family: opensans-regular !important;
          color: #000;
          font-size: 10px;
          opacity: 0.6;
          margin: 0px;
          font-weight: bold;
        }
        ul {
          text-align: left;
          font-family: opensans-regular !important;
          color: #F8954D;
          font-size: 10px;
          list-style: none;
          padding: 0px;
          font-weight: bold;
          li {
            line-height: 15px;
          }
        }
        .flex-terms {
          text-align: right;
          font-size:8px;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 50%;
          margin-left: -5px;
          @media screen and (max-width:477px) {
            margin-left: 13px;
          }
          border-width: 5px;
          border-style: solid;
          border-color: transparent transparent #fff transparent;
          box-shadow: 3px solid #000;
        }
      }
      &:hover {
        .flex-tooltiptext {
          visibility: visible;
        }
      }
    }
    
  }
}
.w-flexipay-image {
  padding-left:45px;
  padding-left: 25px;
  font-size: 12px;
  // @media screen and (max-width:477px) {
  //   padding-left:13px;
  // }
}
.flexi_Carderror{
  color: $color-red;
  font-size: 12px;
}
.flexi_Error{
  color: $color-red;
  padding: 0px 0px;
  margin-top: -4px;
  font-size: 12px;
  margin-bottom: 10px;
}
.dcemi_error{
   margin-top: -20px;
}
.flexi_points li{
  font-size: 12px;
}

@media screen and (max-width:477px) {
  .m-btn-c {
    width:100% !important;
  }
}


//paywithpoints pop up code


.voucher-code-entry .small-gray-text {
  margin: 15px 0px;
  font-size: 14px;
}

.card-num-edit .card-input {
  border: 0;
  top: 102px;
  right: auto;
  left: 47em;
  width: 5% !important;
  position: absolute;
  padding: 0px 5px;
  background: transparent;
}

.card-num-edit .crad_x {
  // top: 262px;
  // right: auto;
  // left: 46em;
  font-size: 14px;
  // position: absolute;
  color: #b3b3b3;
  // padding: 10px;
}
input:focus, .in-range:focus{
  outline: none;
}

.voucher-code-entry input {
  width: 100%;
  font-size: 14px;
  border: 1px solid #aecde8;
  border-radius: 5px;
  padding: 10px;
  // margin-bottom:10px;
  @media screen and (max-width:477px) {
    font-size: 12px;
  }
}
.creditcard-det1 input {
  width: 100%;
}

.pop-range .in-range{
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ede9d7;
  font-size: 12px;
  font-weight: 600;
  color: #191919;
  min-width: 70px;
}

.f-12{
  font-size: 12px;
}

.master-text {
  font-size: 14px;
  font-weight: bold;
  color: #191919;
  // padding-top: 40px;
  // padding-right: 35px;
}
.bal-text{
  font-size: 12px;
  font-weight: bold;
  color: #191919;
}

.note {
  font-size: 12px;
  color: #757575;
}
.note-green{
  font-size: 14px;
  color: #008000;
  font-weight: bold;
}
p{
  margin-bottom: 0rem;
}

.line{
  margin:0.6rem 0em;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.checkmark{
  top: 5px;
}

.voucher-main .img-offer {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  object-fit: cover;
  width: 240px;
  height: 200px;
}

// .voucher-main .voucher-content {
//     padding: 30px 30px 30px 28px;
// }
.voucher-main .txt-title {
  color: #4a90e2;
  font-size: 20px;
  padding: 5px 0px;
  @media screen and (max-width: 425px) and (min-width: 320px){
      font-size: 18px;
  }
}

.payment-tab-container .border-success-pos {
  position: relative;
}
.text-green {
  color: #2bb368 !important;
}
.content-msg{
  font-size: 14px;
  @media screen and (max-width: 425px) and (min-width: 320px){
      font-size: 12px;
  }
}
.img-border{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  @media screen and (max-width: 425px) and (min-width: 320px){
      height: 100px;
      width: 100%;
      border-radius: 5px;
  }
}
.m-redeemsuccess{
  @media screen and (max-width: 425px) and (min-width: 320px){
      font-size: 12px;
      margin: 15px 0px;
  }
}
.border-success {
  // position: absolute;
  // top: -10px;
  margin: 0.5em 0em;
  border-top: solid 1px rgba(225, 225, 225, 0.6);
  float: left;
  width: 100%;
}
.close-icon {
  float: right;
  position: relative;
  bottom: 10px;
  left: 10px;
  background-color: transparent;
  @media screen and (max-width: 425px) and (min-width: 320px){
      bottom: -10px;
      left: -11px;
  }
  i{
      cursor: pointer;
      @media screen and (max-width: 477px) and (min-width: 310px){
        font-size: 16px;
    }
  }
}
.xs-check-font{
  @media screen and (max-width: 425px) and (min-width: 320px){
      font-size: 10px;
      text-align: left;
  }
}

.two-inputs{
  border: 1px solid #aecde8;
  border-radius: 5px;
  // padding: 10px;
  .cus-input{
      border: none;
      // margin-left: 2px;
      border-radius: none;
  }
}

.cc-template img {
  height: 30px;
  width: 50px;
}

.date-section{
  position: relative;
  .date-icon{
      position: absolute;
      right: 0px;
  }
}
.noteOne {
  font-size:12px;
  color:#191919;
  padding: 3px 0px;
  // @media screen and (max-width: 477px){
  //   font-size:12px;
  // }
}

.redeem-value-section{
  max-width: 550px;
  @media screen and (max-width: 425px){
      max-width: 350px;
  }
}

.w-checkbox {
  top:2px;
}

// .error {
//   color: red;
//   font-size: 10px;
//   margin-top: 5px;
//   text-align: left;
//   margin-left: 5px;
// }


.new-redeem-body {
  .availablePoints-section {
    padding: 25px 0px 10px;
    .f-18 {
  font-size: 18px;
  font-weight: bold;
}
.bal-title {
  font-size: 14px;
  font-family: 'opensans-regular';
  color: #031d2f;
  @media screen and (max-width: 477px){
    font-size: 12px;
  }
}
.bal-value{
  @media screen and (max-width: 477px){
    font-size: 12px;
    font-weight: bold;
  }
}
.bal-paid {
  border-radius: 4px;
  background-color: #f4f2f2;
  padding: 10px;
}
.noteOne {
  margin: 0 0 3px;
  font-size: 12px;
  color: #191919;
}
.avai-check {
  font-size: 12px;
}
.redeem-default-btn {
  border-radius: 3px;
  border: solid 1px #144fbe;
  color: #144ebe;
  font-size: 12px;
  font-family: 'opensans-regular';
}
.redeem-active-btn {
  border-radius: 3px;
  color: #fff;
  background-image: linear-gradient(105deg, #4375d4, #0c48ba);
  font-size: 12px;
  font-family: 'opensans-regular';
}
  }
}

.redeem-title {
  font-size: 12px;
}
//Pop up verfication code//
.redeem-verification-section {
  padding: 25px 0px 10px;
  .p-y-15 {
      padding-top: 15px !important;
      padding-bottom: 15px !important;
  }
  .ver-info {
      font-family: 'opensans-regular';
      font-size: 12px;
  }
  .voucher-code-entry {
      margin-bottom: 10px;
      
  }
  .redeem-title {
      font-size: 12px;
      color: #757575;
      padding: 10px 0px 10px 3px;
      margin-bottom: 0px;
  }
  .voucher-code-entry input {
      width: 100%;
      font-size: 14px;
      border: solid 1px #e5edf4;
      border-radius: 5px;
      padding: 10px;
  }
  .time-left {
      color: #757575;
      font-size: 12px;
      padding-top: 10px;
  }
  .time-left p span {
      color: #c1382f;
  }
  
  .p-y-10 {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
  }
  .redeem-default-btn {
      border-radius: 3px;
      border: solid 1px #144fbe;
      color: #144ebe;
      font-size: 12px;
      font-family: 'opensans-regular';
  }
  .redeem-active-btn {
      border-radius: 3px;
      color: #fff;
      background-image: linear-gradient(105deg, #4375d4, #0c48ba);
      font-size: 12px;
      font-family: 'opensans-regular';
  }
  }  
  .w-flexipay-discount  {
    border: 1px solid #48ce5d;
    border-radius: 3px;
    padding: 5px 3px 3px 3px;
    small {
      font-size: 13px !important;
      color: #48ce5d !important;
      font-weight: bold;
      line-height: normal;
      @media screen and (max-width:477px) {
        font-size: 10px !important;
      }
    }
  }
  .big-dark-text{
    font-weight: 600;
    line-height: 1.28;
    text-align: left;
    float: left;
    @media screen and (max-width:477px) {
      font-size: 12px;
      padding-top:3px;
    }
  }
  .big-strike {
    font-size: 13px;
    float: right;
    color: #4d4949;
    text-decoration: line-through;
    float: left;
  }
  .total-amt {
    font-size: 16px;
  }

@media screen and (max-width:477px) {
  .m-by-redeem {
    display:inline-flex;
    input {
      margin-top: .25rem!important;
    }
  .w-flexipay-image {
    padding-top:0px !important;
    padding-left: 50px;
    padding-right: 0px;
  }
}
.m-font {
  font-size: 14px;
}
}
.success_text{
  color: #09b203;
    font-weight: bold;
    margin-bottom: 15px;
}
.success_msg{
  color: #191919;
  font-size: 14px;
  padding: 0px 20px;
  // font-weight: bold;
  @media screen and (max-width: 477px) and (min-width: 320px){
    padding: 0px 8px 10px;
    word-break: break-word;
  }
}

.card-body{
  @media only screen and (max-width:600px) {
    padding: 0px;
  } 
}

//spc dialog
.w-hurry {
  font-size:24px;
}
.w-eligible {
  font-size: 16px;
  @media screen and (max-width:477px) {
    font-size: 14px;
    line-height: 18px;
  }
}
.non_head_title{
  color: #020202;
  font-size: 22px;
  text-align: right;
  @media screen and (max-width:477px) {
    font-size: 16px;
  }
}
.price-strike{
  text-decoration: line-through;
  font-size: 16px;
  text-align: left;
  color: #9d9797;
  padding-left: 10px;
  @media screen and (max-width:477px) {
    font-size: 14px;
    display: block;
    padding-left: 0px;
    padding-top: 5px;
  }
}
.conv_section{
  background-color: #e2eef8;
  padding: 10px;
  text-align: center;
  margin: 0px 0px 25px;
  font-size: 14px;
  @media screen and (max-width:477px) {
    font-size: 12px;
    margin: 0px 0px 5px;
  }
}
.conv_text{
  color: #020202;
  font-size: 12px;
  font-family: 'opensans-regular';
}
.w-price-strike {
  font-size:16px;
  color:gray;
  // text-align: center; 
  @media screen and (max-width:477px) {
    font-size: 12px;
  }
 }
 .w-price {
  font-size:22px;
  color:#020202;
  text-align: left;
  font-family: 'opensans-medium';
  @media screen and (max-width:477px) {
    font-size: 16px;
  }
 }
 .w-price-no {
  font-size:16px;
  color:#001F79;
  text-align: left;
  @media screen and (max-width:477px) {
    font-size: 14px;
  }
 }
 .greenfont {
  font-size: 14px;
  color: #119825;
 }


//  Spc-dialog css 
.cash-flex{
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0px 2em;
  @media screen and (max-width:477px) {
    margin:0px 1rem;
  }
}
.cash-flex > div{
  flex-grow: 1;
  padding: 0px 5px;
  align-self: center;
}
.conv_text{
  font-size: 12px;
  padding-top: 10px;
  padding: 0px;
  @media screen and (max-width:477px) {
   padding: 0px;
   font-size: 12px;
  }
}
//  saved card css 
.card-drop-section {
  position: relative;
  display: inline-block;
}
.drop-card-btn {
  width: 100%;
  padding-left: 15px;
  @media screen and (max-width:488px) {
   width: 101%;
  }
  @media screen and (max-width: 1280px) {
    width: 100%;
 }
}
.redeem-savedCard .card-no {
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #000000;
  text-align: right;
}
.redeem-savedCard .card-name {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.5);
  text-align: right;
  text-transform: uppercase;
}
.card-drop-menu {
  width: 76%;
  margin-left: 10px;
  margin-top: -2px;
  padding: 0px;
  border: none;
  border-radius: 0px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
    max-height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
}
.card-drop-menu>li {
    margin: 5px 0px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.card-drop-menu > li:last-child {
  border: none;
}
.card-drop-menu>li>a {
  font-size: 13px;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
}
.card-drop-menu>li>a > div {
  flex-grow: 1;
  align-self: auto;
}
.disabledbtnCls{
  cursor: not-allowed;
}
.flexi_img{
  width: 100px;
}
.flexi_newBlink{
  width: 40px;
}

.flexiClose_content{
  position: absolute;
  top: 4px;
  right: 3px;
  background-color: transparent;
  cursor: pointer;

}
.flexiOTPNote{
  font-size: 14px;
  /* font-style: italic; */
  font-weight: bold;
  color: #2AB9AC;
}


// New Css for Phase 3 payment page 
.iti_cnt{
  max-width: 60%;
  margin-bottom: 6em;
  .title{
    font-size: 24px;
    text-align: left;
    color: #000;
  }
  @media screen and (max-width: 576px) {
    max-width: 100%;
    margin-bottom: 10em;
  }
}
// Pyament sec css 

.payment_cnt{
  border: solid 1px #e6e6e6;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  .card_partner_info{
    .amount_sec{
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    .partner_name{
      font-size: 14px;
      font-weight: 600;
      color: #000;
    }
    .partner_logo{
      float: left;
      margin-right: 15px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;
      padding: 5px;
      border: 1px solid #ccc;
    }
    .title{
      color: #000000;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .title_sub{
      color: #8F8888;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .title_value{
      font-size: 20px;
      font-weight: bold;
      color: #000000;
      a{
        font-size: 12px;
        font-weight: 600;
        color: #1d86ff;
      }
    }
    .card_img_sec{
      ul{
        list-style-type: none;
        padding: 0px;
        li{
          margin-right: 10px;
          display: inline;
          img{
            height: 20px;
            width: 45px;
            display: inline;
          }
        }
      }
    }
  }

  .payment_final_sec{
    border: solid 1px #e6e6e6;
    background-color: #fff;
    border-radius: 8px;
    .powered_sec{
      padding: 15px 15px 5px;
      .title{
        font-size: 10px;
        font-weight: 600;
        color: #9f9f9f;
      }
      img{
        width: 50%;
      }
    }
    .nav-tabs {
        display: none;
      }

      @media (min-width: 768px) {
        .nav-tabs {
          display: flex;
          flex-flow: column nowrap;
        }
        .nav-tabs {
          border-bottom: none;
          // border-right: 1px solid #e6e6e6;
          display: flex;
        }
        .tab-content.payment-content{
          border-left: 1px solid #e6e6e6;
          display: flex;
          height: 100%;
        }
        // .nav-tabs {
        //   margin: 0 15px;
        // }
        .nav-tabs .nav-item + .nav-item {
          // margin-top: 0.25rem;
          // padding: 10px 0px;
          margin-bottom: 0px;
        }
        .nav-tabs .nav-link {
          transition: border-color 0.125s ease-in;
          white-space: nowrap;
          border: none;
          padding: 15px 15px;
          color: #555;
          font-size: 14px;
        }
        .nav-tabs .nav-link:hover {
          background-color: #f0f7ff;
          border-color: transparent;
        }
        .nav-tabs .nav-link.active {
          // border-bottom-color: #ddd;
          // border-right-color: #fff;
          // margin-right: -1px;
          background-color: #f0f7ff;
          font-size: 14px;
          font-weight: 600;
          border-left: 3px solid #1d86ff;
          border-radius: 0px;
          color: #000000;
          img{
            filter: invert(1%) sepia(379%) saturate(8482%) hue-rotate(198deg) brightness(140%) contrast(103%);;
            // filter: invert(1%) sepia(69%) saturate(6482%) hue-rotate(198deg) brightness(100%) contrast(103%);
          }
        }
        // .nav-tabs .nav-link.active:hover {
        //   background-color: #1d86ff;
        // }

        .card {
          border: none;
        }

        .card .card-header {
          display: none;
        }

        .card .collapse {
          display: block;
        }
      }

      @media (max-width: 767px) {
        .payment-content{

          .tab-content{
            border-radius: 8px;
            border: solid 0px #e6e6e6;
            background-color: #fff;
            padding: 10px 0px;
          }
          .card.tab-pane {
            display: block !important;
            opacity: 1;
            border: none;
            border-bottom: 1px dashed #e6e6e6;
            h6{
              a{
                font-size: 16px;
                font-weight: 600;
                color: #000;
              }
            }
          }
        }
        
      }

  }

}



.tab_btn_payments{
  .nav-justified {
    .nav-item{
      // width: 50%;
      display: inline-flex;
      padding: 10px 15px 10px 0px;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0px;
      a{
        padding: 10px 15px;
        border: 1px solid #e6e6e6;
        color: #555;
        font-size: 14px;
        margin-bottom: 0px;
      }
    }
  }
  .nav-pills .nav-item .nav-link.active, .nav-pills .show>.nav-link{
    color: #ffffff;
  }
}

.tokenise_popup{
  .modal-body{
    width: 80%;
    margin: 0 auto;
    @media only screen and (max-width:600px) {
      width: 100%;
    }
  }
  .text_points{
    text-align: left;
  }
}

.payment_final_sec{
  .tab-pane{
    border-radius: 0px;
    .panel-heading{
      padding: 10px;
      @media only screen and (min-width:768.5px) {
        display: none;
      }
      .accordion-button{
        padding: 0px;
      }
      .accordion-button:not(.collapsed){
        img{
          filter: invert(1%) sepia(379%) saturate(8482%) hue-rotate(198deg) brightness(140%) contrast(103%);
        }
      }
    }
  }
}


.hdfc_note{
  font-weight: 600;
  font-size: 14px;
  color: #565252;
  line-height: 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.emiTenure{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #ccc;
    gap:15px;
  .title{
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    margin-bottom: 5px;
    @media only screen and (max-width:320px) {
      font-size: 10px;
    }
  }
  .value{
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    @media only screen and (max-width:320px) {
      font-size: 10px;
    }
  }
}
.inner-content-emi{
  background: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #F0F0F0;
}
.emi_check_radio{
  background-color: #FBFBFB;
  padding: 3px 10px;
  border-bottom: 1px solid #F0F0F0;
  &:first-child{
    border-radius: 8px 8px 0px 0px;
  }
  &:last-child{
    border-radius: 0px 0px 8px 8px;
    border: none;
  }
}
.middle_text{
  font-family: 'opensans-regular';
  font-weight: normal;
  font-size: 14px;
  @media only screen and (max-width:320px) {
    font-size: 12px;
  }
}

.emi-active{
  background-color: transparent ; 
}

