<div class="flight_mlite_process"  *ngIf="REWARD_CUSTOMERID !='0000'">
    <section class="mob-flights-listing" *ngIf="searchData && isMobile">
        <div class="container">
          <div class="row">
            <div class="col-md-12 p-0">
              <div class="mob-listing-header">
                <div class="mob-listing-header-left">
                  <a href="javascript:;" (click)="triggerBack()">
                    <img src="{{cdnUrl}}/images/icons/left.png" alt="" />
                  </a>
                </div>
                <div class="mob-listing-header-center">
               
                </div>
                <div class="mob-listing-header-right">

                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="details-steps-area mb-40" [ngClass]="{'mt-140': !isMobile , 'mt-4':isMobile }">
          <div class="container">
            <div class="row justify-content-center ">
              <div class="col-md-3" >
                <div class="details-steps-box">
                  <ul class="m-0 details-steps-ul">
                    <li>
                      <a href="javascript:void(0)" [ngClass]="{'active1': completedSteps > 1 , 'active':steps==1 }"
                        (click)="moveTab(1)">
                        <!-- steps-done - Class For done steps -->
                        <span class="steps-icons"><img src="{{cdnUrl}}/images/flights_details/flight.png" alt="" /></span>
                        <span class="steps-text">Booking Details</span>
                      </a>
                    </li>
                    <li>
                      <a href="javascript:void(0)" [ngClass]="{'active1': completedSteps== 2 , 'active':steps==2  }"
                        (click)="moveTab(2)">
                        <span class="steps-icons"><img src="{{cdnUrl}}/images/flights_details/payment.png" alt="" /></span>
                        <span class="steps-text">Payment</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
</div>
<main class="site-main" *ngIf="REWARD_CUSTOMERID !='0000'" >

  <section class="flight-details-area mt-10">
    <!-- Mlite Sesssion Timer Code -->
    <div class="d-block d-sm-none">
      <div class="sidebar-widget session-expires-widget text-center">
        <p><img src="{{cdnUrl}}/images/icons/sestion.png" class="me-2" alt="">Booking Expires in <strong>
            <countdown [config]="{ leftTime: 900, format: 'mm:ss'}" (event)="bookingSessionExpires($event)"></countdown>
            min
          </strong></p>
      </div>
    </div>
    <input *ngIf="searchData" type="hidden" id="journery_date" value='{{searchData.departure | date:"YYYY-MM-dd"}}' />
    <div class="container">
      <div class="row">

        <!--Steps 1-->
        <div class="col-md-8" *ngIf="steps==1">
          <div class="booking-process-content" >
            <div class="booking-title-box">
              <h4>Booking Details</h4>
            </div>

            <div class="booking-inner-box from-to-box">

              <div class="booking-inner-title">
                <div class="booking-inner-title-left" >
                  
                  
                </div>
                <div class="booking-inner-title-right" >
                  
                </div>
              </div>

            </div>
     
          </div>

          <form [formGroup]="passengerForm"  name="passengerForm">
              <div class="">
                <ng-container *ngIf="getTravllerShow">
                  <div class="message-trav"> 
                    <button type="button" class="travel-title btn" (click)="chooseFromSavedTravellers()">
                      Choose from Saved Travellers
                      </button>
                  </div>
                </ng-container>

                <!-- redbus saved traveller & GST pop up  -->
                <ng-template #contentTraveller let-modal>
                  <div class="w-flexipay-popup text-center">
                    <div class="w-flexi-content">
                    <div class="modal-header" style="background: #dcebf8 !important;">
                      <h4 class="modal-title"><small>Choose from Saved Travellers</small></h4>
                      <!-- <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button> -->
                    </div>
                    <div class="modal-body">
                      <div class="travel-userNames">
                        <p> <label class="checkbox" *ngFor="let data of travellerlist | slice:0:5;let travellerIndex = index">{{data.firstName}} {{data.lastName}}
                            <input type="checkbox" name="travellerlist" (change)="fillupTravellerDetailOnCheck($event,data,travellerIndex)" [disabled]="disableCheckbox[travellerIndex]" [checked]="isChecked[travellerIndex]">
                            <span class="checkmark"></span>
                          </label>
                        </p>
                        <ng-container *ngIf="isExpanded">
                          <ng-container *ngFor="let expandedItem of travellerlist; let i = index">
                            <p *ngIf="i > 5">
                               <label class="checkbox">{{expandedItem.firstName}} {{expandedItem.lastName}}
                                <input type="checkbox" name="travellerlist" (change)="fillupTravellerDetailOnCheck($event,expandedItem,i)" [disabled]="disableCheckbox[i]" [checked]="isChecked[i]">
                                <span class="checkmark"></span>
                              </label>
                            </p>
                          </ng-container>
                        </ng-container>
                        <p *ngIf="travellerlist.length > 5">
                          <label class="checkbox pl-0">
                          <a (click)="expandItems()">
                            {{!isExpanded ? 'View More &#x25BC;' : 'View Less &#x25B2;'}}
                          </a>
                        </label>
                        </p>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn-c btn-primary" (click)="travellerReset()">Reset</button>
                      <button type="button" class="btn-c btn-primary" aria-label="Close" data-dismiss="modal" id="cloaseSavepop" (click)="modal.dismiss('Cross click')">Close</button>
                    </div>
                    </div>
                  </div>
                </ng-template>

                <div class="button-wrap" >
                  
                  <div class="passenger-note-{{domainName}}" >
                      <span class="remove-msg" (click) = "closemsg()">
                        <!-- <img src="{{cdnUrl}}images/trash.png" > -->
                        <i class="material-icons" style="color: #007bff;">close</i>
                      </span>
                    <div class="float-left"> <i class="material-icons pass-icon">error_outline</i></div>
                    <div class="primary-msg-{{domainName}}">
                      <div class="">Please ensure all the details entered are as per the Govt. ID Proof.</div>
                      <div class=""> If primary passenger's ticket is cancelled, the complete ticket will be cancelled.</div>
                    </div>

                  </div>
                 

                  <div class="traveler-details"
                    *ngFor="let item of seacthResult.seatdetails; let i = index;let firstRow = first;">
                    <div class="traveller-header">
                      <span class="float-right">
                        <input class="hidden radio-label" type="radio" id="first-traveller{{i+1}}" [checked]="defaultPrimary==i" (click)="setPrimary(i)" />
             
                        <label class="button-label-{{domainName}}" for="first-traveller{{i+1}}" data-toggle="popover"
                          data-content="Primary Details" data-placement="bottom">
                          <h5 *ngIf="defaultPrimary==i">Primary Traveller</h5>
                          <h5 *ngIf="defaultPrimary!=i">Set As Primary Traveller</h5>
                        </label>
                      </span>

                    </div>
                    <div class=clearfix></div>
                    <p class="travel-count"><b>Traveller {{i+1}}</b>
                      <!-- for desktop -->
                      <span class="seat-showDesktop xs-none">
                        <p>Seat<p>
                            <img src="{{cdnUrl}}images/icons/Seat-1.svg" class="xs-none"> <span
                              class="ml-3 seat-num">{{seacthResult.seatdetails[i].name}}</span> <small
                              *ngIf="seacthResult.seatdetails[i].ladiesSeat"><br>This seat is reserved for
                              ladies</small>
                      </span>
                      <!-- for mobile -->
                      <span class="seat-showMobile lg-none">
                        <p>Seat : {{seacthResult.seatdetails[i].name}} <p> <small
                              *ngIf="seacthResult.seatdetails[i].ladiesSeat">This seat is reserved for ladies</small>
                      </span>
                    </p>

                     <!-- <div class="travel-userNames" *ngIf="saveTravllerShow">
                      <p> <label class="checkbox">Save Traveller
                         <input type="checkbox"  checked="true" formControlName="saveTraveller{{i}}">
                         <span class="checkmark"></span>
                       </label>
                      </p>
                    </div>  -->

                    <div class="traveler-details-info">
                      <div class="row">
                        <div class="col-12 col-lg-3 col-md-6">
                          <mat-form-field>
                            <input matInput placeholder="First Name" formControlName="passengerFirstName{{i}}"
                              name="passengerFirstName{{i}}" id="passengerFirstName{{i}}" (keypress)="flInput($event)" autocomplete="off">
                          </mat-form-field>
                          <div *ngIf="submitted && passengerForm.controls['passengerFirstName'+i]['errors']"
                            class="error">
                            <small *ngIf="passengerForm.controls['passengerFirstName'+i]['errors']['required']">First
                              Name is required</small>
                            <small *ngIf="passengerForm.controls['passengerFirstName'+i]['errors']['pattern']">Please enter valid name</small>
                            <small *ngIf="passengerForm.controls['passengerFirstName'+i]['errors']['minlength']">Please enter atleast 2 character</small>

                          </div>
                        </div>
                        <div class="col-12 col-lg-3 col-md-6 offset-lg-1">
                          <mat-form-field>
                            <input matInput placeholder="Last Name" formControlName="passengerLastName{{i}}"
                              name="passengerLastName{{i}}" id="passengerLastName{{i}}" (keypress)="flInput($event)" autocomplete="off">
                          </mat-form-field>
                          <div *ngIf="submitted && passengerForm.controls['passengerLastName'+i]['errors']"
                            class="error">
                            <small *ngIf="passengerForm.controls['passengerLastName'+i]['errors']['required']">Last Name
                              is required</small>
                            <small *ngIf="passengerForm.controls['passengerLastName'+i]['errors']['pattern']">Please enter valid name</small>
                          </div> 
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-6 col-lg-3 col-md-6">
                          <mat-form-field>
                            <input matInput placeholder="Age" formControlName="passengerAge{{i}}" type="tel"
                              name="passengerAge{{i}}" id="passengerAge{{i}}" maxlength="3" autocomplete="off" (keypress)="numberInput($event)" (keyup)="ageCheck($event,i)">
                          </mat-form-field>
                          <div *ngIf="submitted && passengerForm.controls['passengerAge'+i]['errors']" class="error">
                            <small *ngIf="passengerForm.controls['passengerAge'+i]['errors']['required']">Age is required</small>
                            <small *ngIf="passengerForm.controls['passengerAge'+i]['errors']['pattern']">Age should be numeric</small>
                            <small *ngIf="passengerForm.controls['passengerAge'+i]['errors']['max']">Age should be less than 125</small>
                          </div>
                          <div *ngIf="submitted && i==defaultPrimary" class="error">
                            <small>{{ageValidError}}</small>
                        </div>
                        </div>
                        <!-- For Web Only -->
                        <div class="col-6 col-lg-3 col-md-6 offset-lg-1 d-none d-sm-block">
                          <mat-form-field>
                            <mat-select placeholder="Gender" formControlName="passengerGender{{i}}">
                              <mat-option value="Male" *ngIf="!seacthResult.seatdetails[i].ladiesSeat"> Male
                              </mat-option>
                              <mat-option value="Female"> Female </mat-option>
                            </mat-select>
                          </mat-form-field>
                          <div *ngIf="submitted && passengerForm.controls['passengerGender'+i]['errors']" class="error">
                            <small *ngIf="passengerForm.controls['passengerGender'+i]['errors']['required']">Gender is
                              required</small>
                          </div>
                        </div>
                        <!-- For Mobile Only -->
                        <div class="col-6 col-lg-3 col-md-6 offset-lg-1 d-block d-sm-none">
                          <mat-form-field>
                            <mat-label>Gender</mat-label>
                            <select matNativeControl  formControlName="passengerGender{{i}}">
                              <option value="Gender" disabled>Gender</option>
                              <option value="Male" *ngIf="!seacthResult.seatdetails[i].ladiesSeat" >Male</option>
                              <option value="Female" >Female</option>
                            </select>
                          </mat-form-field>
                          <div *ngIf="submitted && passengerForm.controls['passengerGender'+i]['errors']" class="error">
                            <small *ngIf="passengerForm.controls['passengerGender'+i]['errors']['required']">Gender is
                              required</small>
                          </div>
                        </div>

                      </div>
                    </div>


                    <!--<div class="travel-userNames" *ngIf="saveTravllerShow">
                      <p> 
                        <label class="checkbox">Save Traveller
                        <input type="checkbox"  checked value="true" formControlName="saveTraveller{{i}}">
                        <span class="checkmark"></span>
                        </label>
                      </p>
                    </div>-->

                  </div>

                </div>
                
		<div class="travel-userNames" *ngIf="saveTravllerShow">
                      <p> 
                        <label class="checkbox">Save this traveller for your future travel
                        <input type="checkbox"  value="true" formControlName="saveTraveller" id="save_traveller" >
                        <span class="checkmark"></span>
                        </label>
                      </p>
                       <span class="save_consent">I give consent to Reward360 to store personal information. Please <a href="javascript:;" (click)="saveTravellerConsent()" >click here</a> for more information.</span>
                    </div>
                    
                    	

                <div class="contact-details">
                  <div class="contact-header">
                    <h5><b class="f-14">Contact Information</b></h5>
                    <p>Your ticket will be sent to</p>
                  </div>

                  <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                      <mat-form-field>
                        <input  matInput placeholder="Mobile Number" formControlName="passengerMobile" type="tel"
                          name="passengerMobile" id="passengerMobile"  autocomplete="off" (keypress)="numberInput($event)" maxlength="10">
                      </mat-form-field>
                      <div *ngIf="submitted && passengerForm.controls.passengerMobile.errors" class="error">
                        <small *ngIf="passengerForm.controls.passengerMobile.errors.required">Please enter mobile
                          number</small>
                        <small *ngIf="passengerForm.controls.passengerMobile.errors.pattern">Please enter valid mobile number</small>
                        <small *ngIf="passengerForm.controls.passengerMobile.errors.minlength">Please enter valid mobile number</small>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <mat-form-field>
                        <input matInput placeholder="Email Id" formControlName="passengerEmail" name="passengerEmail"
                          id="passengerEmail" (keypress)="AvoidSpace($event)" autocomplete="off"> 
                      </mat-form-field>
                      <div *ngIf="submitted && passengerForm.controls.passengerEmail.errors" class="error">
                        <small *ngIf="passengerForm.controls.passengerEmail.errors.required">Please enter email
                          address</small>
                        <small *ngIf="passengerForm.controls.passengerEmail.errors.pattern">Please enter a valid email
                          id</small>
                      </div>
                    </div>
                    <div class="col-12 mt-3" *ngIf="whatsappFeature==1">
                        <p> <label class="checkbox"> <img src="{{cdnUrl}}images/whatsapp.svg" alt="whatsapp icon" class="mx-2">
                              <span class="wappcontent">Send booking details and updates on above WhatsApp Number</span>
                            <input type="checkbox" checked formControlName="whatsappFlag" name="whatsappFlag" value="true">
                            <span class="checkmark wappcheck" ></span>
                          </label>
                        </p>
                    </div>
                  </div>
                </div>

                <div class="agree-info">
                  <p> <label class="checkbox">Enter GSTIN for tax benefits (optional)
                      <input type="checkbox" (click)="gstToggle()">
                      <span class="checkmark"></span>
                    </label>
                  </p>
               
                  <div class="gst-optional-data row" *ngIf="gstshow">

                    <ng-container  *ngIf="getGSTShow">
                      <div class="col-lg-12 col-md-6 col-12">
                        <div class="message-trav"> 
                          <button type="button" class="travel-title btn" (click)="chooseFromSavedGST()">Choose from Saved GSTs</button> 
                        </div>
                      </div>
                    </ng-container>

                    <ng-template #contentGST let-modal>
                      <div class="w-flexipay-popup text-center">
                        <div class="w-flexi-content">
                        <div class="modal-header" style="background: #dcebf8 !important;">
                          <h4 class="modal-title"><small>Choose from Saved GSTs</small></h4>
                          <!-- <button type="button" class="close" aria-label="Close" data-dismiss="modal" (click)="modal.dismiss('Cross click')"><span aria-hidden="true">&times;</span></button> -->
                        </div>
                        <div class="modal-body">
                          <div class="col-lg-12 col-md-6 col-12">
                            <p> <label class="checkbox" *ngFor="let data of GSTList | slice:0:5;let GSTIndex = index">{{data.gstName}}
                                <input type="radio" name="GSTList" (change)="fillupGSTDetailOnCheck($event,data,GSTIndex)" [checked]="isCheckedGST[GSTIndex]">
                                <span class="checkmark"></span>
                              </label>
                            </p>
                            <ng-container *ngIf="isGstExpanded">
                              <ng-container *ngFor="let gstexpandedItem of GSTList; let i = index">
                                <p *ngIf="i > 5">
                                   <label class="checkbox">{{gstexpandedItem.gstName}}
                                    <input type="radio" name="GSTList" (change)="fillupGSTDetailOnCheck($event,gstexpandedItem,i)" [checked]="isCheckedGST[i]">
                                    <span class="checkmark"></span>
                                  </label>
                                </p>
                              </ng-container>
                            </ng-container>
                            <p *ngIf="GSTList.length > 5">
                              <label class="checkbox pl-0">
                              <a (click)="gstExpandItems()">
                                {{!isGstExpanded ? 'View More &#x25BC;' : 'View Less &#x25B2;'}}
                              </a>
                            </label>
                            </p>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-c btn-primary" (click)="gstReset()">Reset</button>
                          <button type="button" class="btn-c btn-primary" aria-label="Close" id="cloaseSavegst" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Close</button>
                        </div>
                        </div>
                      </div>
                    </ng-template>

                    <div class="col-lg-6 col-md-6 col-12">
                      <mat-form-field>
                        <input matInput placeholder="GST Number" formControlName="gstNumber"  name="gstNumber"
                          id="gstNumber" (keypress)="AvoidSpace($event);specialcharInput($event)" minlength="15" maxlength="15">
                      </mat-form-field>
                      <div *ngIf="submitted && passengerForm.controls.gstNumber.errors" class="error">
                        <small *ngIf="passengerForm.controls.gstNumber.errors.required">Please enter gst number</small>
                        <small *ngIf="passengerForm.controls.gstNumber.errors.pattern">Please enter valid gst number</small>
                        <small *ngIf="passengerForm.controls.gstNumber.errors.minlength">Please enter 15 alpha-numeric number</small>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <mat-form-field>
                        <input matInput placeholder="Business Name" formControlName="gstBusinessName" 
                          name="gstBusinessName" id="gstBusinessName" maxlength="30" (keypress)="specialcharInput($event)">
                      </mat-form-field>
                      <div *ngIf="submitted && passengerForm.controls.gstBusinessName.errors" class="error">
                        <small *ngIf="passengerForm.controls.gstBusinessName.errors.required">Please enter name</small>
                        <small *ngIf="passengerForm.controls.gstBusinessName.errors.pattern">Please enter valid name.No special characters allowed</small>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <mat-form-field>
                        <input matInput placeholder="Business Address" formControlName="gstAddress"  name="gstAddress"
                          id="gstAddress" maxlength="100" (keypress)="specialcharInputAddress($event)">
                      </mat-form-field>
                      <div *ngIf="submitted && passengerForm.controls.gstAddress.errors" class="error">
                        <small *ngIf="passengerForm.controls.gstAddress.errors.required">Please enter gst
                          address</small>
                          <small *ngIf="passengerForm.controls.gstAddress.errors.pattern">Please enter valid address.No special characters allowed except #/-,</small>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <mat-form-field>
                        <input matInput placeholder="City" formControlName="gstCity"  name="gstCity" id="gstCity" (keypress)="flInput($event)" maxlength="20">
                      </mat-form-field>
                      <div *ngIf="submitted && passengerForm.controls.gstCity.errors" class="error">
                        <small *ngIf="passengerForm.controls.gstCity.errors.required">Please enter city</small>
                        <small *ngIf="passengerForm.controls.gstCity.errors.pattern">Please enter valid city name.</small>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12">
                      <mat-form-field>
                        <input matInput placeholder="Pincode" formControlName="gstPincode" name="gstPincode"
                          id="gstPincode" (keypress)="AvoidSpace($event)" (keypress)="numberInput($event)" minlength="6" maxlength="6">
                      </mat-form-field>
                      <div *ngIf="submitted && passengerForm.controls.gstPincode.errors" class="error">
                        <small *ngIf="passengerForm.controls.gstPincode.errors.required">Please enter pincode</small>
                        <small *ngIf="passengerForm.controls.gstPincode.errors.minlength">Please enter 6 digits [0-9] pincode</small>
                      </div>
                    </div>
              <!-- For Web Only -->
                    <div class="col-lg-6 col-md-6 col-12  d-none d-sm-block">
                     <mat-form-field>
                            <mat-select placeholder="State" formControlName="gstState" [(value)]="stateSelect" [(ngModel)]="stateSelect" >
                              <mat-option [value]="state.statevalue" *ngFor="let state of statesdump;">{{state.statevalue}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                      <div *ngIf="submitted && passengerForm.controls.gstState.errors" class="error">
                        <small *ngIf="passengerForm.controls.gstState.errors.required">Please enter state</small>
                        <small *ngIf="passengerForm.controls.gstState.errors.pattern">Please enter valid state name.</small>
                      </div>
                    </div>
              <!-- For Mobile Only -->
                  <div class="col-lg-6 col-md-6 col-12 d-block d-sm-none">
                     <mat-form-field>
                            <mat-label>State</mat-label>
                             <select matNativeControl  formControlName="gstState"  [(value)]="stateSelect" [(ngModel)]="stateSelect" >
                              <option  *ngFor="let state of statesdump;" value="{{state.statevalue}}" >{{state.statevalue}}</option>
                            </select>
                          </mat-form-field>
                      <div *ngIf="submitted && passengerForm.controls.gstState.errors" class="error">
                        <small *ngIf="passengerForm.controls.gstState.errors.required">Please enter state</small>
                        <small *ngIf="passengerForm.controls.gstState.errors.pattern">Please enter valid state name.</small>
                      </div>
                    </div>

                    <div class="col-lg-12 col-md-6 col-12" *ngIf="getGSTShow">
                      <p> <label class="checkbox">Save this GST
                         <input type="checkbox"  value="true" formControlName="saveGST" id="gst_storage" >
                         <span class="checkmark"></span>
                       </label>
                      </p>
                         <span class="save_consent">I give consent to Reward360 to store personal information. Please <a href="javascript:;" (click)="saveGSTConsent()" >click here</a> for more information.</span>
                    </div>
                    
                  </div>

                </div>
                <p> <label class="checkbox">I agree to the <a href="{{domainRedirect}}terms_conditions" target="_blank" >Terms & Conditions</a> and <a href="{{domainRedirect}}privacy_policy" target="_blank" >Privacy Policy</a>
                    <input type="checkbox" formControlName="passengerAgree" name="passengerAgree"> <span
                      class="checkmark"></span></label>
                </p>
                <div *ngIf="submitted && passengerForm.controls['passengerAgree']['errors']" class="error">
                  <small *ngIf="passengerForm.controls['passengerAgree']['errors']['required'] || passengerForm.controls.passengerAgree.errors.pattern">Please accept Terms and Conditions</small>
                </div>
              </div>

             
            </form>
        </div>
        <!--Step1 Ends-->


        <!--Steps 2-->
        <div class="col-md-8" *ngIf="steps==2">
          <div class="booking-process-content" >
            <div class="booking-title-box">
              <h4>Payment</h4>
            </div>

            <app-payment (sendCouponEvent)="receiveCouponDetails($event)" [remove_Coupon]="remove_Coupon"
              [passSavedCardsData]="savedCards" [passSessionKey]="searchBusKey"
              (sendflexiAmount)='reciveflexiAmount($event)' [passTotalFare]="totalFare"
              [passActualFare]="intialTotalFare" [passConvinenceFee]="convenience_fee"
              [passServiceId]="serviceId" [passXSRFTOKEN]="XSRFTOKEN" [passIsDcemiEligibleFlag]="IsDcemiEligibleFlag"
              [passREWARD_MOBILE]="REWARD_MOBILE" [passFlexipayEligibleFlag]="isFlexipayEligibleFlag"
              (sendtotalfare)="recivetotalFare($event)" [passflexiFare]="sendflexiFare">
            </app-payment>
          </div>
        </div>
        <!--Step5 Ends-->

        <div class="col-md-4" *ngIf="fareData">
          <!-- <app-fare-summary></app-fare-summary> -->
          <div class="default-sidebar">
            <div class="d-none d-sm-block">
              <div class="sidebar-widget session-expires-widget">
                <p><img src="{{cdnUrl}}/images/icons/sestion.png" class="me-2" alt="">Booking Expires in <strong>
                    <countdown [config]="{ leftTime: 900, format: 'mm:ss'}" (event)="bookingSessionExpires($event)">
                    </countdown> min
                  </strong></p>
              </div>
              <div class="sidebar-widget fare-summary-widget">
                <div class="widget-title">
                  <h4>Fare Summary</h4>
                  <img *ngIf="selectedOnwardVendor"
                    src="{{cdnUrl}}images/flight_partners/{{selectedOnwardVendor.partnerName}}.png"
                    alt="{{selectedOnwardVendor.partnerName}}">
                </div>
                <div class="widget-content">
                  <ul class="widget-list clearfix">
                    <li class="fare-list-item">
                      <div class="fare-list-box">
                        <div class="fare-list-left">
                          <div (click)="isCollapseShow('BaseFare')">
                            <div data-bs-toggle="collapse" class="collapse_text" href="#base-collpase" role="button" aria-expanded="false"
                              aria-controls="base-collpase"  >

                              <img class="me-2" src="{{cdnUrl}}/images/icons/expand.png"
                                alt=""  *ngIf="!isCollapseBasefare" >

                                <img class="me-2" src="{{cdnUrl}}/images/icons/remove.png"
                                alt="" *ngIf="isCollapseBasefare" >

                              Base Fare</div>

                          </div>
                        </div>
                        <div class="fare-list-right">
                          <p>₹ {{fareData.totalBaseFare|number}}</p>
                        </div>

                      </div>
                 
                    </li>
                    <li class="fare-list-item">
                      <div class="fare-list-box">
                        <div class="fare-list-left">
                          <p>

                            Taxes and Fees
                          </p>
                        </div>
                        <div class="fare-list-right">
                          <p>&#8377; {{fareData.totalTax |number}}</p>
                        </div>
                      </div>
                    </li>



                    <li class="fare-list-item" *ngIf="convenience_fee>0.00" >
                      <div class="fare-list-box">
                        <div class="fare-list-left">
                          <p>
                           Convenience Fee
                          </p>
                        </div>
                        <div class="fare-list-right">
                          <p>&#8377; {{convenience_fee |number}}</p>
                        </div>
                      </div>
                    </li>

                    <li class="fare-list-item" *ngIf="coupon_amount>0.00">
                      <div class="fare-list-box">
                        <div class="fare-list-left" data-bs-toggle="collapse" class="collapse_text" href="#coupon-collpase" role="button" aria-expanded="false" aria-controls="coupon-collpase"(click)="isCollapseShow('discount')">

                          <p>
                            <img class="me-2" src="{{cdnUrl}}/images/icons/expand.png"
                            alt=""  *ngIf="!isCollapseDiscount" >

                            <img class="me-2" src="{{cdnUrl}}/images/icons/remove.png"
                            alt="" *ngIf="isCollapseDiscount" >
                            Discounts
                          </p>
                        </div>
                        <div class="fare-list-right">
                          <p class="text-green">- &#8377; {{coupon_amount}}</p>
                        </div>
                      </div>

                      <div >
                        <div class="collapse base_fare_collapse" id="coupon-collpase">
                          <div class="row ">
                            <div class="col-md-11 offset-md-1">

                              <div class="row collapse_row">
                                <div class="col-5 fare-list-left">
                                   <p>Coupoun Code</p>
                                </div>
                                <div class="col-7 fare-list-right">
                                   <p>{{coupon_code}}</p>
                                </div>
                             </div>


                            </div>
                          </div>
                          </div>

                        </div>

                    </li>


                    <li class="fare-list-item">
                      <div class="fare-list-box pt-30">
                        <div class="fare-list-left">
                          <h6 class="fw_7">Grand Total</h6>
                        </div>
                        <div class="fare-list-right" >
                          <h6 class="fw_7">₹ {{totalFare|number}}</h6>
                          <p class="opacity_05" *ngIf="TotalFare > EMIAvailableLimit">EMI @
                            {{calculateEMI(totalFare)|number: '.2'}}/month</p>
                        </div>
                             
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
              <div class="continue-widget mb-20">
                <a href="javascript:void(0);" class="button-style w-100" (click)="createBusItinerary()"
                  *ngIf="steps==1">Continue</a>
               
              </div>
            </div>
            <div *ngIf="steps==2 && !isMobile">
              <app-coupons (sendCouponEvent)="receiveCouponDetails($event)" [passSessionKey]="searchBusKey" [orderReferenceNumber]="orderReferenceNumber" [remove_Coupon]="remove_Coupon"
                [passTotalFare]="totalFare" [passActualFare]="intialTotalFare"
                [passConvinenceFee]="convenience_fee" passServiceToken="Bus" [passPartnerToken]="partnerToken"
                (sendtotalfare)="recivetotalFare($event)" [customerInfo]="customerInfo">
              </app-coupons>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ------------------------------
            >>> Modal bookingprocess
        ---------------------------------->
  <div class="modal bookingprocess" id="infoprocess" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body " style="padding: 25px;" *ngIf="searchData">
          <div class="bookingprocess-items">
            <div class="bookingprocess-title text-center mb-30">
              <h5><strong>We are processing your booking. <br> Please wait...</strong></h5>
            </div>
            <div class="bookingprocess-content">
              <div class="bookingprocess-flight">
                <h6>{{searchData.fromCity}},{{searchData.fromContry}} ({{searchData.flightfrom}})</h6>
                <p class="mt-10">{{searchData.departure | date:'dd.MM.yyyy'}} - <span>{{searchData.travellers}}
                    Adult,</span> <span *ngIf="searchData.child != '0'">{{searchData.child}} Child,</span> 
                <h6>{{searchData.toCity}},{{searchData.toContry}} ({{searchData.flightto}})</h6>
              </div>
              <div class="bookingprocess-processbar">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{loaderValue}}" aria-valuemin="0"
                    aria-valuemax="100" [ngStyle]="{'max-width':loaderValue +'%'}">
                    <span class="title"> &nbsp; </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="refresh-text text-center pt-2">
              <p>Please don't click or refresh the page</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bookingprocess" id="bookingprocessFailed" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body " style="padding: 25px;">
          <div class="bookingprocess-items">
            <div class="bookingprocess-content">
              An Error occurred during fetching details. Do Not Worry! <br><br> Click on Retry
            </div>
            <div class="refresh-text text-center pt-2">
              <button type="button" class="btn btn-primary" (click)="triggerBack()">Retry</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- Mlite Footer Price Section  -->
  <div class="d-block d-sm-none">
    <div class="footer-sticky-mlite">
      <div>
        <div class="apply_fare row">
         <!--  <p *ngIf="steps<5" class="w-75"></p> -->
            <div class="col-6 text-left">
                <p *ngIf="steps==2"><a href="javascript:;" type="button" class="" data-bs-toggle="modal"
                    data-bs-target="#applyCoupon_mlite">Apply Coupon</a></p>
            </div>
            <div class="col-6 text-right">
                <p><a href="javascript:;" type="button" class="" data-bs-toggle="modal"
                    data-bs-target="#fareSummary_mlite">Fare Summary</a></p>
            </div>
        </div>
        <div class="price_sec">
          <div class="row">
            <div class="col-5">
              <div class="">
                <h6 class="price">₹{{fareData.totalFare|number}}</h6>
                <p class="emi" *ngIf="TotalFare > EMIAvailableLimit">EMI @
                  {{calculateEMI(fareData.totalFare|number)|number: '.2'}}/month</p>

              </div>
            </div>
            <div class="col-7">
              <div>
                <a href="javascript:void(0);" class="button-style btn_pay" (click)="createBusItinerary()"
                  *ngIf="steps==1">Continue</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mlite Apply Coupon Popup -->
  <div class="modal coupon_mlite_popup" id="applyCoupon_mlite" tabindex="-1" aria-labelledby="applyCoupon_mliteLabel"
    aria-hidden="true" *ngIf="steps==2 && isMobile">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Coupon Code</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" >

          <app-coupons (sendCouponEvent)="receiveCouponDetails($event)" [passSessionKey]="searchBusKey" [orderReferenceNumber]="orderReferenceNumber" [remove_Coupon]="remove_Coupon"
            [passTotalFare]="totalFare" [passActualFare]="intialTotalFare"
            [passConvinenceFee]="convenience_fee" passServiceToken="Bus" [passPartnerToken]="partnerToken"
            (sendtotalfare)="recivetotalFare($event)" [customerInfo]="customerInfo">
          </app-coupons>
        </div>
        <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
      </div>
    </div>
  </div>

  <!-- Mlite Fare Summary Popup -->
  <div class="modal coupon_mlite_popup" id="fareSummary_mlite" tabindex="-1" aria-labelledby="fareSummary_mliteLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header pb-0">
          <h5 class="modal-title">Fare Summary</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body pt-0">
          <div>
           
          </div>
          <div class="widget-content">
            <ul class="widget-list clearfix">
              <li class="fare-list-item">
                <div class="fare-list-box">
                  <div class="fare-list-left">
                    <p>
                      <img class="me-2" src="{{cdnUrl}}/images/icons/add.png" alt="">
                      Base Fare
                    </p>
                  </div>
                  <div class="fare-list-right">
                    <p>&#8377;{{fareData.totalBaseFare|number}}</p>
                  </div>
                </div>
              </li>
              <li class="fare-list-item">
                <div class="fare-list-box">
                  <div class="fare-list-left">
                    <p>
                      <img class="me-2" src="{{cdnUrl}}/images/icons/add.png" alt="">
                      Taxes and Fees
                    </p>
                  </div>
                  <div class="fare-list-right">
                    <p>&#8377;{{fareData.totalTax|number}}</p>
                  </div>
                </div>
              </li>


  
              <li class="fare-list-item" *ngIf="coupon_amount>0.00">
                <div class="fare-list-box">
                  <div class="fare-list-left">
                    <p>
                      <img class="me-2" src="{{cdnUrl}}/images/icons/add.png" alt="">
                      Discounts
                    </p>
                  </div>
                  <div class="fare-list-right">
                    <p class="text-green">-&#8377;{{coupon_amount}}</p>
                  </div>
                </div>
              </li>
              <li class="fare-list-item">
                <div class="fare-list-box pt-30">
                  <div class="fare-list-left">
                    <h6 class="fw_7">Grand Total </h6>
                  </div>
                  <div class="fare-list-right" >
                    <h6 class="fw_7">₹{{fareData.totalFare|number}}</h6>
                    <p class="opacity_05" *ngIf="totalFare > EMIAvailableLimit">EMI @
                      {{calculateEMI(fareData.totalFare)|number: '.2'}}/month</p>
                  </div>

          

                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->
      </div>
    </div>
  </div>


  <div class="modal fade bookingprocess" id="bookingprocessExpires" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body " style="padding: 25px;">
          <div class="bookingprocess-items">
            <div class="" id="after-expiry">
              <div class="">
                <div class="text-center ">
                  <div><img src="{{cdnUrl}}images/alert.png" /></div>
                </div>
                <div class="session-title text-center ">
                  <h2>Sorry!</h2>
                </div>
                <div class="alert-box-msg  plr50"> This session has expired due to inactivity</div>
              </div>
              <div class="">
                <div class="continue-btn-div">
                  <button type="button" data-bs-dismiss="modal" class="btn btn-normal btn-animated btn-session-expired"
                    (click)="triggerBack()"><span>Start over</span></button>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<div class="modal fade bookingprocess" id="bookingprocessFailed1" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body " style="padding: 25px;">
        <div class="bookingprocess-items">
          <div class="bookingprocess-content">
            An Error occurred during fetching details. Do Not Worry! <br><br> Click on Retry
          </div>
          <div class="refresh-text text-center pt-2">
            <button type="button" class="btn btn-primary" (click)="goBack()">Retry</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
