
.site-main{
    @media only screen and (max-width:600px){
        margin-bottom: 10em;
    }
}

.btn_pay{
    width: 100%;
    background: #1d86ff;
    padding: 12px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.bus_details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.city{
    font-size: 18px;
    font-weight: 800;
    color: #000000;
    padding-bottom: 15px;
}
.time{
    font-size: 12px;
    font-weight: 600;
    color: #00000060;
    line-height: 20px;
}

.seat_cnf_number{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.bus_name{
    border-top: 1px dashed #ccc;
    margin: 10px 0 0;
    padding: 10px 0;
    p{
        font-size: 12px;
        color:#00000080;
    }
}

.info_msg_bus{
    color: #000000;
    font-size: 12px;
    background: #1D86FF10;
    border-radius: 4px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    i{
        color:#86A9D7;
    }
}

.note_text{
    color: #555555;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}

.link_text{
    color: #1d86ff;
    font-size: 12px;
}
.travel-num{
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.seat-num{
    color: #00000080;
    font-size: 18px;
    font-weight: 600;
}
.ladies_seat{
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

.primary_pass{
    color:#12B150;
    font-size: 14px;
    font-weight: 600;
}
.primary_pass_select{
    color:#1D86FF;
    font-size: 14px;
    font-weight: 600;
}

.traveller-details{
    border: 1px solid #F0F0F0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    .traveller-header{
        padding-bottom: 10px;
        border-bottom: 1px dashed #00000020;
    }
}

.travel-userNames {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}

.view_more_btn{
    font-size: 14px;
    font-weight: 600;
    text-align: center; 
    width: 50%;
    margin: 10px auto;
    background: rgba(29, 134, 255, 0.1);
    border-radius: 5px;
    padding: 6px 10px;
    cursor: pointer;
}

.saved_travellers_bus{
    .modal-footer{
        border:none;
    }
}

.footer-sticky-mlite{
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.5);
    z-index: 4;
    .apply_fare{
        padding: 10px;
        /* display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center; */
        border-bottom: 1px solid #00000030;
        p{
            margin: 0;
            a{
                margin: 0;
                line-height: normal;
                color: #1D86FF;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
    .price_sec{
        padding: 15px;
        text-align: left;
        .price{
            color: #000000;
            font-size: 18px;
            font-family: 'opensans-bold';
        }
        .emi{
            color: #000000;
            opacity: 50%;
            font-size: 12px;
        }
    }
}

.coupon_mlite_popup{
    animation-name: slideInUp;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    .modal-dialog{
        margin: 0;
        display:flex;
        align-items: flex-end;
        min-height: calc(100% - 0px);
        .modal-content{
            border-radius: 15px 15px 0px 0px;
            .modal-header{
                border-bottom: 0px;
                .modal-title{
                    font-family: 'opensans-bold';
                    font-size: 18px;
                }
            }
        }
    }
}

.sticky_scroll_sidebar{
    position: sticky;
    top: 120px;
}

.details-steps-ul li a:before{
    left: 70px;

    @media only screen and (max-width:600px){
        width: 300px; 
    }
    @media only screen and (max-width:375px){
        width: 250px; 
    }
    @media only screen and (max-width:320px){
        width: 200px; 
    }
}

.bookingprocess-processbar .progress .title:after {
    content: "";
    background: url(../../../../src/assets/images/icons/bus_loader.svg) no-repeat;
    height: 30px;
    width: 42px;
}
.bus-collapse-txt,.fare-list-font {
    font-weight:600;
    font-size:14px;
}
.fare-list-left  p,.fare-list-right span {
    font-size:12px;
}
.fare-list-right p {
    font-size:14px;
}

mat-error {
    display: none;
  }

  mat-form-field mat-error:first-child {
    display: block;
  }

.error_bus {
    background-color: #ffe0e0;
    color: red;
    position: relative;
    width: auto;
    border-radius: 5px;
    z-index: 2;
    text-align: center;
    margin-top: -20px;
    font-size:10px;
    padding: 0px 10px 0px 10px;
    display: inline-flex;
    &::before {
      content: "";
    width: 0;
    height: 0;
    border-left: 5px solid #67606000;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ffe0e0;
    z-index: 3;
    position: absolute;
    left: 5px;
    top: -10px;
    }
  }

 .error_bus_contectDetails{

    background-color: #ffe0e0;
    color: red;
    position: relative;
    width: auto;
    border-radius: 5px;
    z-index: 2;
    text-align: center;
    margin-top: 0px;
    font-size:10px;
    padding: 0px 10px 0px 10px;
    display: inline-block;
    &::before {
      content: "";
    width: 0;
    height: 0;
    border-left: 5px solid #67606000;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ffe0e0;
    z-index: 3;
    position: absolute;
    left: 5px;
    top: -10px;
    }

 }
 .error_msg{
    color:red;
 }
 .traveller_details_ul_sort{
    display:flex;
    margin-bottom:2rem;
    margin-top:1.5rem;
    li{
        a{
            font-family: 'opensans-regular';
            font-weight:600;
            color:#00000050;
            font-size:14px;
            border-radius: 100px;
            padding:8px 30px;
            margin-right:10px;
            background: #FFFFFF;
            border: 1px solid #E6E6E6;
        }
        a.active{
            color:#000;
            background: rgba(29, 134, 255, 0.1);
            border: 1px solid #1D86FF;
        }
    }
 }
 .blue_link{
    font-weight:600;
    font-size:14px;
    color:#1d86ff;
 }
 .brdr_top{
    border-top:1px solid #f0f0f0;
 }
 .travel_checkbox{
    opacity:0.5;
  }
  .travel_checkbox:checked{
    opacity:1;
  }
  .travellers_list{
    border-top:1px solid #f0f0f0;
    padding:12px 0px 12px 0px;
  }
  .add-search-ul {
    display:block;
  }

  .traveller-adults-ul {
    margin:0px -20px;
	.custom-check-box {
        padding:20px;
        border-bottom:none;
        border-top:1px solid #f0f0f0;
		&:last-child {
			border-bottom: none;
		}
	}
}

// mlite checkout page extra css
@media screen and (max-width:600px){
    .site-main{
        margin-bottom:3em;
    }
    .booking-inner-box {
        padding:12px;
    }
    .traveller-details{
        padding:18px;
        .travel-num, .seat-num{
            font-size:14px;
        }
        .primary_pass, .primary_pass_select{
            font-size:12px;
        }
        .traveller_details_ul_sort{
            li{
                a{
                    padding:5px 20px;
                    font-size:12px;
                }
            }
        }
    }
    .booking-title-box{
        margin-bottom:0px;
        h4 {
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 0px;
            color: #000000;
            padding-top:15px;
        }
    } 
    .btn-primary-outline {
        font-size:12px;
        padding:8px 20px;
        width:100%;
    }

}

// end of mlite checkout page extra css

.trip_select {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    margin-top:0.5rem;
    margin-bottom:1rem;
}
.buttonTrip {
    float: left;
    margin: 0 8px 0 0;
    width: 16%;
    height: 34px;
    position: relative;
    @media screen and (max-width:600px){
        width:100px;
    }
}

.buttonTrip label,
.buttonTrip input {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.buttonTrip input[type="radio"] {
    opacity: 0.011;
    z-index: 100;
}

.buttonTrip input[type="radio"]:checked+label {
    // background: #2C0E00;
    // border-radius: 5px;
    // border: 0px solid #CF8D56;
    // font-family: 'opensans-medium';
    // color: #ffffff;

    font-family: 'opensans-regular';
            font-weight:600;
            font-size:14px;
            border-radius: 100px;
            padding:5px 25px;
            margin-right:10px;
            color:#000;
            background: rgba(29, 134, 255, 0.1);
            border: 1px solid #1D86FF;
            cursor:pointer;
            @media screen and (max-width:600px){
                padding:5px 20px;
            }
}

.buttonTrip label {
    cursor: pointer;
    font-family: 'opensans-regular';
            font-weight:600;
            color:#00000050;
            font-size:14px;
            border-radius: 100px;
            padding:5px 25px;
            margin-right:10px;
            background: #FFFFFF;
            border: 1px solid #E6E6E6;
            @media screen and (max-width:600px){
                padding:5px 20px;
            }
}

.buttonTrip>label.btn-default:before,
.buttonTrip>label.btn-default:after {
    display: none;
}
