<!-- <mat-nav-list>
    <div class="mobile-summary-section">
        <div class="xs-fare-charges lg-none">
          <div class="row m-0">
            <div class="col-7">
                <p class="fare-title"> TOTAL FARE</p>
                <button mat-raised-button (click)="openBottomSheet()">Open file</button>
                <p class="fare-price"><i class="fas fa-rupee-sign"></i> Rs. 1500 <span class="tax"></span></p>
          <a href="#" data-toggle="modal" (click)="openBottomSheet()" > Itinerary & Fare Details </a>
                 <a href="#" data-toggle="modal" > Itinerary & Fare Details </a>
            </div>
            <div class="col-5">
                <p class="seat-title">SELECTED SEATS</p>
                <p class="seat-num"><span>5,6,7</span></p>   
            </div>
          </div>
        </div>
        </div>
  </mat-nav-list> -->
<div class="mobile-summary-section">
    <!-- Modal Header -->
    <div class="modal-header pop-header">
        <h4 class="title">Itinerary & Fare Details</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body pop-body">

        <div class="vehicle-data">
            <p class="travels-name py-1">{{onward.travels}}</p>
            <div class="row bus-journey-details">
                <div class="col-2 w-dashed-line">
                    <img src="{{cdnUrl}}images/icons/icon_from.svg" alt="start">
                </div>
                <div class="col-10 pl-0">
                    <p class="bus-from">{{seacthResult.searchFrom}}</p>
                    <p class="bus-time">{{onwards.departtime | date:'HH:mm'}} ({{onwards.departdate | date:'EEE, dd LLL'}})</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2 text-center">
                    <img src="{{cdnUrl}}images/icons/icon_location.svg" alt="location">
                </div>
                <div class="col-10 pl-0">
                    <p class="bus-to">{{seacthResult.searchTo}}</p>
                    <p class="bus-time">{{onwards.arrivetime | date:'HH:mm'}} ({{onward.arrivaldate | date:'EEE, dd LLL'}})</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-2">
                    <img src="{{cdnUrl}}images/icons/calendar_dark.svg">
                </div>
                <div class="col-10 pl-0 mt-1">
                    <p>{{onward.departureTime | date:'EEE, dd LLL'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <img src="{{cdnUrl}}images/icons/Seats_img.svg">
                </div>
                <div class="col-10 pl-0">
                    <p>{{onward.busType}} | <span *ngFor="let seat of seacthResult.seatdetails;let i = index;let lastRow=last;">{{seat.name}} <span *ngIf="!lastRow" >, </span> </span>
                    </p>
                </div>
            </div>

            <!-- <div class="row py-1">
                  <div class="col-6"><img src="{{cdnUrl}}images/icons/icon_from.svg" class="pop-fas" alt="start">
                    <span class="pop-text-cut">{{seacthResult.searchFrom}}</span> 
                  </div>
                  <div class="col-1 p-0">
                    <img src="{{cdnUrl}}images/icons/right-arrow.svg" class="#" alt="right-arrow">
                  </div>
                  <div class="col-5">
                      <img src="{{cdnUrl}}images/icons/icon_location.svg" class="pop-fas" alt="location">
                      <span class="pop-text-cut">{{seacthResult.searchTo}}</span> 
                    </div>
                </div> -->
            <!-- <div class="row py-1">
                  <div class="col-6"><p class="place-names">{{onward.departureTime | date:'HH:mm'}} | {{seacthResult.searchFrom}}</p></div>
                  <div class="col-6"><p class="place-names">{{onward.arrivalTime | date:'HH:mm'}} | {{seacthResult.searchTo}}</p></div>
                </div>
                <div class="row py-1">
                    <div class="col-12">
                        <img src="{{cdnUrl}}images/icons/calendar_dark.svg" class="pop-fas">
                        <span class="place-names">{{onward.departureTime | date:'EEE, dd LLL'}}</span>
                        <p class="pop-seats">{{onward.busType}} | <span *ngFor="let seat of seacthResult.seatdetails;let i = index;">{{seat.name}}
                          </span></p>
                    </div>
                    
                  </div> -->
        </div>


        <!-- 
              <table class="table pop-traveller-list ">
                  <thead class="pop-table-header">
                    <tr>
                      <th scope="col">Traveler</th>
                      <th scope="col">Gender</th>
                      <th scope="col">Age</th>
                      <th scope="col">Seats</th>
                    </tr>
                  </thead>
                  <tbody class="pop-list-data">
                    <tr>
                      <td>Mayank Singh <span> (Primary)</span></td>
                      <td>Male</td>
                      <td>34</td>
                      <td>H1</td>
                    </tr>
                    <tr>
                        <td>Geeta Subramaniam </td>
                        <td>Female</td>
                        <td>32</td>
                        <td>H2</td>
                      </tr>
                  </tbody>
                </table>

                <p class="msg"><i class="material-icons pop-i"> error_outline </i>  <span>If primary passenger's ticket is cancelled, the complete ticket will be cancelled.</span></p> -->


        <div class="fare-details">
            <p class="fare-title">FARE SUMMARY</p>
            <div class="p-3">
                <div class="fare-total row below-bor">
                    <div class="col-7 col-md-6">
                        <p>Base fare
                            <!--<span class="d-block">(Adult x 2)</span>-->
                        </p>
                    </div>
                    <div class="col-5 col-md-6">
                        <p class="float-right f-16i"><i class="fas fa-rupee-sign"></i>Rs. {{fareData.totalBaseFare | number:'1.2'}}</p>
                    </div>
                </div>
                <div class="smart-charges row">

                    <div class="col-6">
                        <p>Taxes &amp; surcharges</p>
                    </div>
                    <div class="col-6">
                        <!--<p class="smart-discount float-right f-16i"><i class="fas fa-rupee-sign"></i>1111.00</p>-->
                        <p class="float-right f-16i"><i class="fas fa-rupee-sign"></i>Rs. {{fareData.totalTax| number:'1.2'}}</p>
                    </div>

                    <div class="col-6" *ngIf="convenience_fee>0">
                        <p>Convenience Fee</p>
                    </div>
                    <div class="col-6" *ngIf="convenience_fee>0">
                        <!--<p class="smart-discount float-right f-16i"><i class="fas fa-rupee-sign"></i>1111.00</p>-->
                        <p class="float-right f-16i"><i class="fas fa-rupee-sign"></i>Rs. {{convenience_fee| number:'1.2'}}</p>
                    </div>



                    <div class="col-6 coupon_code" *ngIf="indexCoupon">
                        <p>Discount</p>
                    </div>
                    <div class="col-6 coupon_code" *ngIf="indexCoupon">
                        <!--<p class="smart-discount float-right f-16i"><i class="fas fa-rupee-sign"></i>1111.00</p>-->
                        <p class="float-right f-16i"><i class="fas fa-rupee-sign"></i>Rs. {{coupon_amount| number:'1.2'}}
                            <!--<a *ngIf="coupon_amount>0" (click)="removeCoupon(coupon_id,coupon_amount)"><img src="{{cdnUrl}}images/icons/sb-r-close.png" width="10" /></a>--></p>

                    </div>


                </div>
                <hr>
                <div class="clearfix"></div>
                <div class="total-charges row">
                    <div class="col-6">
                        <p>Total</p>
                    </div>
                    <div class="col-6">
                        <p class="final-amount float-right f-16i"><i class="fas fa-rupee-sign"></i>Rs. {{totalFare| number:'1.2'}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>