<main class="site-main"> 

    <section class="details-steps-area mt-40 mb-40">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="details-steps-box">
                        <ul class="m-0 details-steps-ul">
                            <li>
                                <a routerLink="flight-details" routerLinkActive="active"> <!-- steps-done - Class For done steps -->
                                    <span class="steps-icons"><img src="./assets/images/flights_details/flight.png" alt="" /></span>
                                    <span class="steps-text">Flight Details</span>
                                </a>
                            </li>
                            <li> 
                                <a routerLink="traveller-detail" routerLinkActive="active">
                                    <span class="steps-icons"><img src="./assets/images/flights_details/user.png" alt="" /></span>
                                    <span class="steps-text">Traveller Details</span>
                                </a>
                            </li>
                            <li> 
                                <a href="JavaScript:void(0)" routerLinkActive="active">
                                    <span class="steps-icons"><img src="./assets/images/flights_details/meal.png" alt="" /></span>
                                    <span class="steps-text">Seats & Meals</span>
                                </a>
                            </li>
                            <li> 
                                <a href="JavaScript:void(0)" routerLinkActive="active">
                                    <span class="steps-icons"><img src="./assets/images/flights_details/review.png" alt="" /></span>
                                    <span class="steps-text">Review Booking</span>
                                </a>
                            </li>
                            <li> 
                                <a href="JavaScript:void(0)" routerLinkActive="active">
                                    <span class="steps-icons"><img src="./assets/images/flights_details/payment.png" alt="" /></span>
                                    <span class="steps-text">Payment</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <router-outlet></router-outlet>


</main>