::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 0.4em 0px !important;
}

::ng-deep .mat-form-field-label-wrapper {
    top: -1.5em !important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75) !important;
    width: 133.33333% !important;
}

input::placeholder {
    font-size: 14px !important;
}

.mob-listing-header-center h6 {
    font-family: 'opensans-bold';
}

.route-details {
    /* display: flex;
    justify-content: start;
    align-items: center; */
    padding: 20px 20px 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc60;
    position: relative;
    z-index: 2;
    .city_name {
        span {
            font-size: 17px;
            font-family: 'opensans-bold';
            color: #000000;
        }
    }
    .journey_details {
        text-align: center;
        font-size: 12px;
        color: #888888;
    }
}

.site-main {
    @media only screen and (max-width: 600px) {
        margin-bottom: 10em;
    }
}

.details-steps-area {
    @media only screen and (max-width: 600px) {
        background-color: #fff;
        padding: 10px 0px;
        margin-top: 0px !important;
        box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.09);
        position: relative;
        z-index: 2;
    }
}

.session-expires-widget {
    @media only screen and (max-width: 600px) {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
}

.disable {
    pointer-events: none;
    opacity: 0.5;
}

.hide {
    display: none;
}

.view_more_btn {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    width: 50%;
    margin: 10px auto;
}

.heading_text {
    display: flex;
    align-items: baseline;
    margin-bottom: 0;
    @media screen and (max-width: 600px) {
        font-size: 18px;
    }
    @media screen and (max-width:320px) {
        font-size: 14px;
    }
}

.add-traveller-title {
    @media only screen and (max-width: 600px) {
        display: block;
        .traveller-person-right {
            p {
                font-size: 12px;
            }
        }
    }
}

.booking-inner-box {
    @media screen and (max-width: 600px) {
        padding: 10px;
    }
    h6 {
        font-weight: 700;
        margin-bottom: 0px;
        text-align: center;
    }
}

.booking-inner-title {
    /* .arrow:not(.collapsed) .rotate-icon{
            transform: rotate(180deg);
    } */
    .arrow {
        &::after {
            content: "\f107";
            font-family: 'Font Awesome 5 Free';
            font-weight: 900;
            @media screen and (max-width: 600px) {
                font-size: 20px;
            }
        }
    }
    /* .collapsed{
        &::after{
            content: "\f107";
        }
    } */
    .arrow[aria-expanded="true"]:after {
        content: "\f106";
    }
    .head_info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 600px) {
            gap: 20px;
        }
    }
    .city_text,
    .time_text {
        font-size: 18px;
        font-weight: 700;
        color: #000000;
        margin-bottom: 0;
    }
    .flight_details,
    .duration_flight {
        font-size: 12px;
        color: #888888;
        font-weight: 600;
    }
    .date_text {
        font-size: 12px;
        color: #888888;
        margin-bottom: 0;
    }
}

.flight_detail_review {
    border: 1px solid #88888833;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
}

.layover_break {
    background-color: #FFF1F1;
    border-radius: 8px;
    color: #000000;
    text-align: center;
    padding: 15px;
    margin: 15px 0px;
    p {
        font-size: 14px;
        margin: 0;
    }
}

.sub_head_text {
    color: #888888;
    font-weight: 600;
    font-size: 16px;
    @media screen and (max-width: 600px) {
        font-size: 12px;
    }
}

.label_text {
    color: #555555;
    font-size: 13px;
}

.label_value {
    color: #000000;
    font-size: 14px;
}

.edit_baggage {
    border-top: 1px dashed #cacaca;
    padding: 15px 0;
    .luggage-text {
        width: 100%;
    }
}

.traveller_table {
    thead {
        border-bottom: 1px dashed #ccc;
        tr {
            th {
                color: #555555;
                font-size: 13px;
                border-bottom: 1px dashed #cacaca;
            }
        }
    }
    tbody {
        tr {
            td {
                color: #000000;
                font-size: 14px;
                border-bottom: 1px dashed #ccc;
                padding: 12px;
            }
        }
    }
    .age_data {
        font-size: 11px;
        color: #888888;
        padding-left: 10px;
        @media screen and (max-width: 600px) {
            padding-left: 0px;
            display: block;
        }
    }
     :not(:first-child) {
        border-top: none;
    }
}

.seats_tabs {
    display: flex;
    .city_text {
        font-size: 18px;
        font-weight: 700;
        color: #000000;
    }
    .nav-link {
        padding: 15px;
        width: 90%;
        border-radius: 10px;
        background: #8888880d;
        border: 1.8px solid #8888881a;
        opacity: 0.5;
    }
    .nav-link.active,
    .show>.nav-link {
        background: #1d86ff0d;
        border: 1.8px solid #1d86ff1a;
        opacity: 1;
    }
}

.footer-sticky-mlite {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.5);
    z-index: 4;
    .apply_fare {
        padding: 10px;
        /* display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center; */
        border-bottom: 1px solid #00000030;
        p {
            margin: 0;
            a {
                margin: 0;
                line-height: normal;
                color: #1D86FF;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }
    .price_sec {
        padding: 15px;
        text-align: left;
        .price {
            color: #000000;
            font-size: 18px;
            font-family: 'opensans-bold';
        }
        .emi {
            color: #000000;
            opacity: 50%;
            font-size: 12px;
        }
    }
}


/* Bottom to UP Animation */

@keyframes slideInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible
    }
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

.coupon_mlite_popup {
    animation-name: slideInUp;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    .modal-dialog {
        margin: 0;
        display: flex;
        align-items: flex-end;
        min-height: calc(100% - 0px);
        .modal-content {
            border-radius: 15px 15px 0px 0px;
            .modal-header {
                border-bottom: 0px;
                .modal-title {
                    font-family: 'opensans-bold';
                    font-size: 18px;
                }
            }
        }
    }
}

.btn_pay {
    width: 100%;
    background: #1d86ff;
    padding: 12px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
}

.collapse_text {
    font-family: 'opensans-regular';
    font-weight: 600;
    font-size: 14px;
    color: #000;
}

.base_fare_collapse {
    margin-top: -10px;
    margin-left: -2px;
}

.collapse_row {
    padding: 5px 0px;
    p {
        font-family: 'opensans-regular';
        font-weight: 300;
        font-size: 14px;
        color: #000;
    }
}

.flight_mlite_process {
    @media screen and (max-width: 600px) {
        position: sticky;
        top: 0px;
        z-index: 3;
    }
}

.add_new_traveler {
     ::ng-deep .mat-form-field-subscript-wrapper {
        overflow: unset;
    }
}

mat-error {
    display: none;
}

mat-form-field mat-error:first-child {
    display: block;
}

.error-flight-checkout {
    background-color: #ffe0e0;
    color: red;
    position: relative;
    width: auto;
    border-radius: 5px;
    z-index: 2;
    text-align: center;
    margin-top: -4px;
    font-size: 10px;
    &::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 5px solid #67606000;
        border-right: 5px solid transparent;
        border-bottom: 10px solid #ffe0e0;
        z-index: 3;
        position: absolute;
        left: 5px;
        top: -5px;
    }
}
