@import '../../../assets/sharedscss/color';
@import '../../../assets/sharedscss/spacing';
$break-mob-3: 320px;
$break-mob-2: 375px;
$break-mob-1: 425px;
$break-md-tab: 768px;
//   @media screen and (max-width: 768px) and (min-width: 426px)
.label-name {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $size-base;
    color: $color-dark-gray;
    font-weight: 600;
}

.f-12 {
    font-size: 12px;
}

.label-gray {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $size-small;
    color: $color-dark-gray-01;
}

.label-name-w {
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    color: $color-dark-gray;
    width: 85%;
    display: block;
    word-break: break-word;
}

.list-row,
.list-row-m {
    box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
    border: solid 1px #e6e6e6;
    background-color: $color-white;
    margin-top: 10px;
    float: left;
    width: 100%;
    border-radius: 8px;
    position: relative;
    .tagTrains {
        position: absolute;
        left: -1px;
        top: -5px;
        @media screen and (max-width: 600px) {
            left: 1px;
            top: 6px;
        }
        span {
            text-align: center;
            background-color: #ff7031;
            color: #fff;
            font-size: 10px;
            text-transform: capitalize;
            border-radius: 8px 0px 8px 0px;
            max-width: fit-content;
            padding: 0px 8px 2px;
        }
    }
    .available-status span {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        padding-right: 10px;
        &:last-child {
            padding-right: 0;
        }
    }
    .available-status span.active {
        font-weight: 600;
    }
    .label-black-small {
        color: $color-dark-gray;
        font-size: $size-small;
    }
    .label-gray-bold {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: left;
        color: $color-dark-gray-01;
    }
    .trainTimeInfo {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 30px;
        div {
            /* margin: 0px 10px;
            flex: 0 0 50px; */
            text-align: left;
        }
        .time,
        .day {
            font-size: 16px;
            font-family: 'opensans-bold';
            color: #000000;
        }
        /* .day{
            font-size: 12px;
            font-family: 'opensans-regular';
            color: #888888;
        } */
        .place {
            font-size: 12px;
            font-family: 'opensans-regular';
            color: #888888;
            text-transform: lowercase;
            &::first-line {
                text-transform: capitalize;
            }
            .place_code{
                text-transform: uppercase;
            }
        }
        .duration_train {
            margin: 0 auto;
            width: 100%;
            position: relative;
            .dur_time {
                color: #888888;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
            }
            .range {
                border-top: 1px solid #E6E6E6;
                position: relative;
                margin: 5px 0;
                width: 200px;
                &::before {
                    border-radius: 50%;
                    background: #888888;
                    content: "";
                    width: 10px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    top: -5px;
                    left: 0;
                }
                &::after {
                    border-radius: 50%;
                    background: #888888;
                    content: "";
                    width: 10px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    top: -5px;
                    right: 0;
                }
            }
            .modal_range {
                border-top: 1px solid #E6E6E6;
                position: relative;
                margin: 5px 0;
                width: 100px;
                &::before {
                    border-radius: 50%;
                    background: #888888;
                    content: "";
                    width: 10px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    top: -5px;
                    left: 0;
                }
                &::after {
                    border-radius: 50%;
                    background: #888888;
                    content: "";
                    width: 10px;
                    height: 10px;
                    display: block;
                    position: absolute;
                    top: -5px;
                    right: 0;
                }
            }
            .route {
                margin-top: 15px;
                font-size: 12px;
                font-weight: 600;
                text-align: center;
                cursor: pointer;
            }
        }
        .timeShow {
            flex: 0 0 85px;
            text-align: center;
            p {
                margin-bottom: 0px;
                &:first-child {
                    font-family: 'opensans-regular';
                    font-size: 12px;
                    color: #000;
                }
                &:last-child {
                    font-family: 'opensans-medium';
                    color: #1d86ff;
                    font-size: 12px;
                    padding-top: 5px;
                    cursor: pointer;
                }
            }
        }
        .fromStn,
        .toStn {
            flex: 0 0 60px;
            text-align: center;
            p {
                margin-bottom: 2px;
                color: #000000;
                &:first-child {
                    font-family: 'opensans-bold';
                    font-size: 16px;
                }
                &:last-child {
                    font-family: 'opensans-regular';
                    font-size: 11px;
                }
            }
        }
        .trainCode {
            color: #888888;
            font-size: 12px;
        }
    }
    .amenities {
        .rating {
            width: 40px;
            height: 24px;
            background: green;
            color: $color-white;
            display: block;
            padding: 2px 4px;
            float: left;
            border-radius: 2px;
            .material-icons {
                font-size: 14px;
                float: left;
                width: 18px;
                line-height: 1.5;
                float: left;
                width: 14px;
            }
            .rate-value {
                font-size: 10px;
                width: 10px;
                line-height: 2.2;
                display: block;
                float: left;
            }
        }
        .more-details {
            float: left;
            display: block;
            width: 100%;
            padding-left: 0;
            padding-top: 16px;
            margin-bottom: 0;
            li:nth-child(3)::after {
                content: "";
            }
            li {
                display: inline;
                list-style-type: none;
                font-size: $size-small;
                color: $color-vivid-blue;
                padding-right: 10px;
                cursor: pointer;
                height: 40px;
                float: left;
                align-self: center;
                justify-content: center;
                padding-left: 5px;
                padding-right: 5px;
                &::after {
                    content: "|";
                    color: $color-dark-gray-01;
                    position: relative;
                    left: 5px;
                }
            }
            li.active {
                border-bottom: 4px solid $color-vivid-blue;
                content: "";
            }
        }
    }
    .web_code {
        padding: 25px 15px;
    }
}

.tag_train_row {
    border: 1px solid #f9dac1;
}

.example-ripple-container {
    cursor: pointer;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
}

.align-self-flex-end {
    align-self: flex-end;
}

.check-available,
.rcheck-available {
    border-top: solid 1px #e6e6e6;
    float: left;
    width: 100%;
    margin: 10px 0px 0px;
    & .bus-cashback {
        width: 100%;
        color: #EA4B51;
        background-color: #fdeded;
        font-size: 10px;
        border: none;
        height: 20px;
        padding: 0px;
        margin: 10px 0px 0px;
    }
}

.irctc-junction-view {
    // text-decoration: underline;
    // color: #1d86ff;
    color: #000000;
    font-size: 19px;
    font-family: 'opensans-bold';
    text-transform: uppercase;
}

.train_num {
    color: #000000;
    font-size: 19px;
    font-family: 'opensans-medium';
}

.list-row-m {
    display: none;
}

@-webkit-keyframes backSlideOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
    }
}

@-moz-keyframes backSlideOut {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
}

@keyframes backSlideOut {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
}

@-webkit-keyframes backSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(0px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(-100%);
    }
}

@-moz-keyframes backSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

@keyframes backSlideIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px);
    }
}

.amenities-m {
    width: 100%;
    padding-left: 0;
    // max-height: 900px;
    overflow-y: auto;
    float: left;
    // margin-bottom: 10em;
    li {
        width: 100%;
        box-shadow: 0 1px 0 0 #f9f9f9;
        background-color: $color-white;
        list-style-type: none;
        font-size: $size-small;
        line-height: 1.5;
        padding: 18px;
        margin-bottom: 1px;
        color: $color-dark-gray;
        i {
            float: right;
            svg {
                width: 32px;
            }
        }
    }
}

.cancellation {
    th {
        font-size: $size-small;
        font-weight: bold;
        line-height: 1.5;
        color: $color-dark-gray;
        width: 33.3%;
        padding: 10px;
    }
    thead th:nth-child(1) {
        width: 45%;
    }
    tbody tr:nth-of-type(odd) {
        background-color: #ecf2f6;
    }
    tr {
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: $color-dark-gray;
    }
}

.fare-break {
    width: 100%;
    position: fixed;
    bottom: -200px;
    box-shadow: -0.5px -0.9px 4px 0 rgba(25, 25, 25, 0.2);
    background-color: rgba(232, 236, 255, 0.98);
    display: none;
    padding: 10px;
    //  top: 100%;
    // position: relative;
    transition: all .3s ease-out;
    h4 {
        font-weight: 600;
        color: $color-dark-gray;
    }
    height: 142px;
    li {
        list-style-type: none;
        font-size: $size-base;
        color: $color-dark-gray;
        padding-bottom: 5px;
        span {
            float: right;
        }
    }
}

.fare-break.active {
    bottom: 53px;
    display: block;
    // top:0;
}

.xs-mark {
    position: relative;
    right: -110px;
    top: -30px;
    color: #000;
    opacity: 0.5;
    transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.tier {
    // width:16.66%;
    width: 15.3%;
    float: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    /*  &:hover {
        background-color: #f0f0ff;
    } */
    // &:first-child {
	// 	border-bottom-left-radius: 8px;
	// }
    // &:last-child {
	// 	border-bottom-right-radius: 8px;
	// }
    .TrainSeatsInfo {
        text-align: center;
        p {
            margin-bottom: 5px;
            font-size: 12px;
            span.date {
                color: #888888;
                letter-spacing: normal;
                font-weight: 600;
                font-size: 12px;
            }
            span.price {
                color: #000;
                font-weight: 700;
                font-size: 16px;
            }
        }
        .book_btn {
            cursor: pointer;
            margin: 12px 0px 0px;
            color: #ffffff;
            font-weight: bold;
            border-radius: 4px;
            padding: 8px;
        }
    }
    .label-name {
        font-size: 11px;
        line-height: 1.5;
        text-align: center;
        color: $color-dark-gray;
        padding-bottom: 3px;
    }
    .label-green {
        font-size: 11px;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        color: #06ac39;
        padding: 6px 0px;
    }
    .label-red {
        color: #dc3226;
        font-size: 11px;
        font-weight: 600;
        line-height: 1.5;
        text-align: center;
        padding: 6px 0px;
    }
    .btn-outline {
        height: 23px;
        &:hover {
            color: #ffffff;
            font-size: 14px;
            background-color: #1d86ff;
            border: 1px solid #1d86ff;
        }
    }
}

@media (max-width: 720px) {
    .tier {
        width: 100%;
        padding: 15px 0 0 0;
        .label-name,
        .label-green,
        .label-red,
        .btn-outline {
            width: 33.3%;
            float: left;
            text-align: left;
        }
    }
    .available-status span {
        font-size: 12px;
    }
    .range {
        &::after,
        &::before {
            width: 6px !important;
            height: 6px !important;
            top: -3px !important;
        }
    }
    .list-row .label-gray-bold,
    .list-row-m .label-gray-bold {
        font-size: 12px;
        line-height: 1.8;
        line-height: 1.8;
        padding-left: 4px;
    }
    // .label-gray-bold{
    //     font-size: 14px;
    // }
    .pt-m-15 {
        padding-top: 15px;
    }
    // .check-available .mat-tab-group .mat-tab-label {
    //     width: 33.3%;
    //     min-width: auto;
    //     max-width: none;
    // }
    .label-name-w {
        font-size: 13px;
        // width: 60%;
        float: left;
        padding-right: 0;
    }
    .w-m-100 {
        width: 100%;
    }
    .w-m-36 {
        width: 36%;
        float: left;
        padding: 0;
    }
    .check-available,
    .rcheck-available {
        padding: 15px;
    }
    .checkAva_m {
        padding: 0px;
    }
}

@media (max-width: 576px) {
    .train_list_m {
        box-shadow: none;
        border: none;
        border-bottom: solid 1px #e6e6e6;
        background-color: transparent;
        padding: 10px 0px;
        margin-top: 10px;
        float: left;
        width: 100%;
        border-radius: 0px;
        position: relative;
    }
    .train_list_m {
        .tier_m {
            display: flex;
            justify-content: flex-start;
            overflow-x: auto;
            overflow-y: hidden;
            .TrainSeatsInfo {
                flex-basis: 100%;
                margin-right: 20px;
                text-align: center;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 8px;
                flex: 0 0 130px;
                p {
                    margin-bottom: 5px;
                    font-size: 12px;
                    span.date {
                        color: #000;
                    }
                    span.price {
                        color: #000;
                        font-family: 'opensans-bold';
                    }
                }
                .book_btn {
                    color: #1d86ff;
                    cursor: pointer;
                    color: #1d86ff;
                }
            }
            .label-name {
                font-size: 11px;
                line-height: 1.5;
                text-align: center;
                color: $color-dark-gray;
                padding-bottom: 3px;
            }
            .label-green {
                font-size: 11px;
                font-weight: 600;
                line-height: 1.5;
                text-align: left;
                color: #06ac39;
                padding: 6px 0px;
            }
            .label-red {
                color: #dc3226;
                font-size: 11px;
                font-weight: 600;
                line-height: 1.5;
                text-align: left;
                padding: 6px 0px;
            }
        }
        .trainTimeInfo {
            display: flex;
            justify-content: space-evenly;
            div {
                // margin: 0px 10px;
                flex: auto;
                text-align: center;
                flex-basis: 100%;
            }
            .timeShow {
                flex: 0 0 auto;
                text-align: center;
                p {
                    margin-bottom: 0px;
                    &:first-child {
                        font-family: 'opensans-regular';
                        font-size: 12px;
                        color: #000;
                    }
                    &:last-child {
                        font-family: 'opensans-medium';
                        color: #1d86ff;
                        font-size: 12px;
                        padding-top: 5px;
                        cursor: pointer;
                    }
                }
            }
            .fromStn,
            .toStn {
                flex: 0 0 auto;
                text-align: center;
                p {
                    margin-bottom: 2px;
                    color: #000000;
                    &:first-child {
                        font-family: 'opensans-bold';
                        font-size: 14px;
                        span {
                            font-family: 'opensans-regular';
                        }
                    }
                    &:last-child {
                        font-family: 'opensans-regular';
                        font-size: 11px;
                    }
                }
            }
            .trainCode {
                color: #888888;
                font-size: 12px;
            }
        }
        .w-30-m {
            width: 30px;
        }
    }
}

.tier_m {
    scrollbar-width: thin;
    // scrollbar-color: #90A4AE #CFD8DC;
    scrollbar-color: #90A4AE #CFD8DC;
     ::-webkit-scrollbar {
        width: 5px;
        height: 4px;
    }
     ::-webkit-scrollbar-track {
        background: transparent;
    }
     ::-webkit-scrollbar-thumb {
        background-color: #90A4AE;
        border-radius: 6px;
        border: 0px solid #CFD8DC;
    }
}

.list-row-m {
    box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
    border: solid 1px #ecf2f6;
    background-color: $color-white;
    float: left;
    width: 100%;
    display: block;
    padding: 15px;
    .amenities .more-details {
        width: 60%;
        float: left;
    }
    .label-black-x-small {
        font-size: $size-x3-small;
        text-align: right;
        color: $color-dark-gray;
    }
    .durations {
        .label-pos {
            position: absolute;
            background-color: $color-white;
            text-align: center;
            left: 40%;
            width: 50px;
            top: 5px;
            align-items: center;
            margin: auto;
            right: initial;
            bottom: initial;
        }
    }
}

.label-name {
    font-size: 14px;
}

.label-gray {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $size-small;
    color: $color-dark-gray-01;
}

.hide-m {
    display: none !important;
}

.w-15 {
    width: 15%;
    float: left;
}

.durations {
    margin: 0 auto;
    width: 32%;
    float: left;
}

.p-15 {
    padding: 0px 15px;
}

.w-15-r {
    width: 32%;
    padding-right: 0;
    padding-left: 0;
    float: left;
}

.p0-cut {
    padding-left: 0;
    padding-right: 0;
}

.w-33 {
    width: 33.3%;
    float: left;
}

.w-65 {
    width: 65%;
    float: left;
}

.pl-0 {
    padding-left: 0;
}

.pt-16 {
    padding-top: 16px;
}

.pt20 {
    padding-top: 20px;
}

.m-c-0 {
    margin-left: 0;
    margin-right: 0;
}

.tier .btn-outline {
    text-align: center;
}

.pop-schedule {
    @media (min-width: 992px) {
        max-width: 1010px;
    }
}


/* .irctc-junction-view {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
} */

.irctc-view-content {
    border-radius: 8px;
    font-family: opensans-regular;
    .irctc-header {
        padding: 1rem 1.5rem;
        // background-color: #1457a7;
        // color: $color-white;
        color: #555555;
        .close {
            float: right;
            font-size: 1.5rem;
            line-height: 1;
            color: #707070;
            text-shadow: none;
            opacity: 1;
        }
    }
    .irctc-view-body {
        // padding: 1rem 1.5rem;
        @media screen and (min-width: 426px) {
            max-height: calc(100vh - 200px);
            overflow-y: auto;
        }
        .stations {
            font-size: 16px;
            font-family: opensans-regular;
            text-transform: uppercase;
            @media screen and (max-width: 425px) and (min-width: 320px) {
                font-size: 12px;
            }
        }
        .train-info {
            padding: 1rem 1.5rem;
            .station-name {
                color: $color-dark-gray;
                font-size: 17px;
                text-transform: capitalize;
                font-family: opensans-medium;
                padding-right: 10px;
                @media screen and (max-width: 425px) and (min-width: 320px) {
                    font-size: 12px;
                }
            }
            .station-code {
                color: $color-dark-gray-01;
                font-size: 17px;
                text-transform: uppercase;
                font-family: opensans-regular;
                @media screen and (max-width: 425px) and (min-width: 320px) {
                    font-size: 12px;
                }
            }
        }
        .week {
            font-size: 12px;
            font-family: opensans-regular;
            @media screen and (max-width: 425px) and (min-width: 320px) {
                font-size: 10px;
            }
            span {
                padding: 0px 2px;
                color: #dee2e6;
            }
            .active {
                color: #080808;
            }
        }
        .route-title {
            font-size: 18px;
            font-family: opensans-medium;
            color: $color-black;
            padding: 18px 1.5rem;
        }
        .info-heading thead tr th {
            font-size: 12px;
            font-family: opensans-medium;
            // color: $color-blue-btn;
            color: #888;
            font-weight: 600;
            background-color: #f5f7fa;
            border-bottom: 1px solid #f4f4f4;
            border-top: 1px solid #f4f4f4;
            padding: 10px 1.8rem;
            @media screen and (max-width: 425px) and (min-width: 320px) {
                font-size: 11px;
                padding: 8px 0.5rem;
            }
        }
        .info-heading tbody tr th,
        .info-heading tbody tr td {
            font-size: 14px;
            font-family: opensans-medium;
            color: $color-black;
            padding: 12.5px 2em;
            @media screen and (max-width: 425px) and (min-width: 320px) {
                font-size: 11px;
                padding: 8px 0.5rem;
            }
        }
        .info-heading tbody tr {
            border-bottom: 1px solid #dee2e6;
            padding: 0px 1.5rem;
        }
    }
    .modal-title {
        .title {
            font-size: 22px;
            font-family: opensans-regular;
            text-transform: capitalize;
            font-weight: 600;
            @media screen and (max-width: 425px) and (min-width: 320px) {
                font-size: 16px;
            }
            .num {
                color: #888;
                font-size: 16px;
                font-weight: normal;
                padding-left: 10px;
            }
        }
        .run {
            font-size: 14px;
            font-family: opensans-medium;
        }
    }
}

.xs-none {
    @media screen and (max-width: 425px) and (min-width: 320px) {
        display: none;
    }
}

.mobile-belowData {
    color: $color-dark-gray-01;
    font-size: 10px;
    @media screen and (max-width: 425px) and (min-width: 320px) {
        display: block;
    }
    @media screen and (min-width: 426px) {
        display: none;
    }
}

.mpop-0 {
    @media screen and (max-width: 425px) and (min-width: 320px) {
        margin: 0px;
    }
}

.btn-c,
.btn-b {
    width: 120px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: 425px) {
        width: 95px;
        margin: 0px 20px 0px 0px;
    }
}

.btn-b {
    border: 1px solid $color-blue-btn;
    background: $color-white;
    color: $color-vivid-blue;
    cursor: pointer;
}

.btn-c {
    border: 1px solid $color-blue-btn;
    background: $color-blue-btn;
    color: $color-white;
    cursor: pointer;
}

.btn-b-SMARTBUY {
    border: 1px solid $color-blue-btn;
    background: $color-white;
    color: $color-vivid-blue;
    cursor: pointer;
}

.btn-c-SMARTBUY {
    border: 1px solid $color-blue-btn;
    background: $color-blue-btn;
    color: $color-white;
    cursor: pointer;
}

.btn-c-DINERS,
.btn-b-DINERS {
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: 425px) {
        width: 95px;
        margin: 0px 20px 0px 0px;
    }
}

.btn-b-DINERS {
    border: 1px solid $color-blue-btn;
    background: $color-white;
    color: $color-vivid-blue;
    cursor: pointer;
}

.btn-c-DINERS {
    border: 1px solid $color-blue-btn;
    background: $color-blue-btn;
    color: $color-white;
    cursor: pointer;
    background-image: linear-gradient(129deg, #84c9fa, #4a90e0) !important;
}

.btn-c-REGALIA,
.btn-b-REGALIA {
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: 425px) {
        width: 95px;
        margin: 0px 20px 0px 0px;
    }
}

.btn-b-REGALIA {
    border: 1px solid #f0b85b;
    background: $color-white;
    color: #8c6a3f !important;
    cursor: pointer;
}

.btn-c-REGALIA {
    border: 1px solid #f0b85b;
    background: $color-blue-btn;
    color: #8c6a3f !important;
    cursor: pointer;
    background-image: linear-gradient(129deg, #ffe7bf, #f0b85b) !important;
}

.btn-c-INFINIA,
.btn-b-INFINIA {
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: 425px) {
        width: 95px;
        margin: 0px 20px 0px 0px;
    }
}

.btn-b-INFINIA {
    border: 1px solid #0c48ba;
    background: $color-white;
    color: $color-vivid-blue;
    cursor: pointer;
}

.btn-c-INFINIA {
    border: 1px solid #0c48ba;
    background: $color-blue-btn;
    color: $color-white;
    cursor: pointer;
    background-image: linear-gradient(129deg, #4375d4, #0c48ba) !important;
}

.btn-c-CORPORATE,
.btn-b-CORPORATE {
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: 425px) {
        width: 95px;
        margin: 0px 20px 0px 0px;
    }
}

.btn-b-CORPORATE {
    border: 1px solid #000000;
    background: $color-white;
    color: $color-vivid-blue;
    cursor: pointer;
}

.btn-c-CORPORATE {
    border: 1px solid #000000;
    background: $color-blue-btn;
    color: $color-white;
    cursor: pointer;
    background-image: linear-gradient(117deg, #4a4a4a, #000000) !important;
}

.btn-c-BUSINESS,
.btn-b-BUSINESS {
    width: 102px;
    height: 33px;
    border-radius: 3px;
    margin: 0px 20px 0px 0px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (max-width: 425px) {
        width: 95px;
        margin: 0px 20px 0px 0px;
    }
}

.btn-b-BUSINESS {
    border: 1px solid #0c48ba;
    background: $color-white;
    color: $color-vivid-blue;
    cursor: pointer;
}

.btn-c-BUSINESS {
    border: 1px solid #0c48ba;
    background: $color-blue-btn;
    color: $color-white;
    cursor: pointer;
    background-image: linear-gradient(129deg, #4375d4, #0c48ba) !important;
}

.covid_btn {
    @media screen and (max-width: 477px) {
        width: 150px;
        margin: 0px 0px 10px 0px;
    }
}

.fareData-error {
    padding: 20px 0px;
    font-size: 12px;
}

.fareDataPrice {
    font-size: 11px;
    padding: 0px 0px 20px;
    color: #6c6c6c;
    clear: both;
}

.confirmation-header {
    // background-color: #f8fbfe;
    padding: 10px 0px;
    h4 {
        font-size: 16px;
        margin: 0px;
        font-family: 'opensans-bold';
        // font-weight: 600;
        letter-spacing: 0.73px;
        text-align: center;
        color: #070707;
        @media screen and (max-width: 425px) {
            font-size: 13px;
        }
    }
    .btn {
        width: 110px;
    }
}

.heading_title {
    margin: 10px;
}

.search_change {
    border: 1px dashed #1D86FF;
    border-radius: 8px;
    padding: 15px 10px;
    margin: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.continiue-title {
    text-align: center;
    h4 {
        font-size: 16px;
        margin: 0px;
        font-family: opensans-medium;
        font-weight: 600;
        text-align: center;
        color: #0a0a0a;
        padding: 20px 0px;
        @media screen and (max-width: 425px) {
            font-size: 13px;
        }
    }
}

.mobile-route {
    p {
        @media screen and (max-width: 425px) {
            font-size: 13px;
        }
    }
}

.train-name-conf {
    font-size: 15px;
    // font-weight: 600;
    font-family: opensans-medium;
    // letter-spacing: 0.73px;
    text-align: center;
    color: #000000;
    @media screen and (max-width: 425px) {
        font-size: 10px;
        color: #000;
        line-height: normal;
    }
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .irctc-view-content {
        .irctc-header {
            padding: 1rem 1.5rem 3rem 1.5rem;
        }
    }
}

@media screen and (min-color-index:0) and (-webkit-min-device-pixel-ratio:0) {
    @media (min-width: 800px) and (max-width: 1280px) {
        .irctc-view-content {
            .irctc-header {
                padding: 1rem 1.5rem 2.5rem 1.5rem;
            }
        }
    }
}

.loading-text {
    background: transparent;
}

.RepeatBookingSec {
    .seatDetails {
        color: #888888;
        font-size: 12px;
    }
    .boardDetails {
        span {
            color: #888888;
            font-size: 12px;
            &:last-child {
                color: #000000;
                font-family: 'opensans-medium';
            }
        }
    }
    .info_sec {
        .limitSeats {
            color: #dd327a;
            font-size: 12px;
            font-family: 'opensans-medium';
            margin-right: 20px;
        }
    }
}

.train_mat_tabGroup {
    .mat-tab-header {
        border: none;
        .mat-tab-label-container {
            .mat-tab-list {
                .mat-tab-labels {
                    .mat-tab-label {
                        min-width: 50px;
                        border: 1px solid #eee;
                    }
                }
            }
        }
    }
    .mat-tab-body-wrapper {
        margin-top: 15px;
    }
}


/* popup ranage code  */

.duration_train {
    margin: 0 auto;
    width: 100%;
    position: relative;
    .dur_time {
        color: #888888;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
    .range {
        border-top: 1px solid #E6E6E6;
        position: relative;
        margin: 5px 0;
        width: 150px;
        top: 5px;
        &::before {
            border-radius: 50%;
            background: #888888;
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            position: absolute;
            top: -5px;
            left: 0;
        }
        &::after {
            border-radius: 50%;
            background: #888888;
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            position: absolute;
            top: -5px;
            right: 0;
        }
    }
    .modal_range {
        border-top: 1px solid #E6E6E6;
        position: relative;
        margin: 10px 0;
        width: 90px;
        &::before {
            border-radius: 50%;
            background: #888888;
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            position: absolute;
            top: -5px;
            left: 0;
        }
        &::after {
            border-radius: 50%;
            background: #888888;
            content: "";
            width: 10px;
            height: 10px;
            display: block;
            position: absolute;
            top: -5px;
            right: 0;
        }
    }
    .route {
        color: #1D86FF;
        font-size: 11px;
        font-weight: 600;
        text-align: center;
        cursor: pointer;
    }
}

// mlite new design css code
@media (max-width: 599px) {
    .bordered_div {
        background: #FFFFFF;
        border: 1px solid #E6E6E6;
        border-radius: 8px;
        padding: 10px;
        .label-name-w {
            display: flex;
            .irctc-junction-view {
                font-size: 12px;
            }
        }
        .available-status {
            display: flex;
            span {
                padding-right: 5px;
            }
        }
        .trainTimeInfo {
            display: flex;
            gap: 10;
        }
        .train_time {
            font-weight: 600;
            font-size: 12px;
            line-height: 16px;
            color: #000000;
            .train_time_week {
                color: #888888;
            }
        }
        .train_duration {
            font-weight: 300;
            font-size: 10px;
            line-height: 0px;
            color: #888888;
            padding-bottom: 10px;
            text-transform: lowercase;
            &::first-line {
                text-transform: capitalize;
            }
            .place_code{
                text-transform: uppercase;
            }
        }
        .duration_dot {
            width: 7px;
            height: 7px;
            background: #888888;
            border-radius: 50%;
        }
    }
    .train_card_links {
        font-size: 11px;
        font-weight: 600;
    }
    .m_brdr_btm_0 {
        border-bottom: none;
    }
     ::ng-deep .mat-tab-label {
        min-width: 0px;
        height: 28px;
        padding: 0px 5px;
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 8px;
        margin-right: 10px;
        width: 28px;
        opacity: 1;
    }
    .checkAva_m {
        border-top: none;
    }
    .train_list_m {
        .tier_m {
            display: block;
            .TrainSeatsInfo {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-basis: 100%;
                gap: 0px;
                margin-right: 0;
                text-align: left;
                padding: 10px 0;
                border: none;
                border-radius: 0px;
                
                div{
                    flex-basis: 25%;
                    word-break: break-word;
                    .status{
                        word-break: break-word;
                    }
                }
                .check_avai_week {
                    font-size: 10px;
                    font-weight: 300;
                }
                .check_avai_text {
                    font-size: 12px;
                    font-weight: 600;
                }
                .check_avai_price {
                    font-size: 12px;
                    font-weight: 300;
                }
                .check_avai_book {
                    padding: 4px 8px;
                    border-radius: 4px;
                    font-size: 10px;
                    text-align: center;
                }
            }
        }
    }
     ::ng-deep .mat-dialog-container {
        padding: 10px;
        overflow: hidden;
        border-radius: 8px;
    }
     ::ng-deep .mat-dialog-content {
        padding: 0px;
        margin: 0px;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .m_train_confirm_cntnt::-webkit-scrollbar {
        height: 0px !important;
        width: 0px !important;
    }
    .train_duration_dots {
        width: 8px;
        height: 8px;
        background: #888888;
        border-radius: 50%;
    }
    .dot_connct_hr {
        border: 1px solid #e6e6e6;
    }
    .dashed_brdr_div {
        background: #FFFFFF;
        border: 0.5px dashed #1D86FF;
        border-radius: 8px;
    }
    .cnfrm_modal_btn_brdr {
        padding: 5px 15px;
        min-width: 130px;
        border-radius: 8px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
    }
    .cnfrm_modal_btn {
        padding: 5px 15px;
        min-width: 130px;
        border-radius: 8px;
        text-align: center;
        font-size: 12px;
        font-weight: 600;
    }
    @keyframes horizontalProgressBar {
        0% {
            width: 0%;
        }
        20% {
            width: 10%;
        }
        30% {
            width: 15%;
        }
        40% {
            width: 18%;
        }
        50% {
            width: 20%;
        }
        60% {
            width: 22%;
        }
        100% {
            width: 100%;
        }
    }
    .animated {
        background: #000;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
    }
    .yt-loader {
        -webkit-animation-name: horizontalProgressBar;
        animation-name: horizontalProgressBar;
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease;
        background: red;
        height: 3px;
        left: 0;
        top: 0;
        width: 0%;
        z-index: 9999;
        position: relative;
        &:after {
            display: block;
            position: absolute;
            content: '';
            width: 58vh;
            height: 100%;
            box-shadow: #ef534e 1px 0 6px 1px;
            opacity: 1;
            top: -16px;
        }
    }
}

.train_m_loader {
    .bookingprocess-processbar {
        margin: 25px 0 10px 0;
    }
    .bookingprocess-processbar .progress {
        display: block;
        height: 5px;
        overflow: inherit;
    }
    .bookingprocess-processbar .progress-bar {
        overflow: inherit;
        height: 4px;
        background-color: $primary-color;
        max-width:30% !important;
    }
    .bookingprocess-processbar .progress span.title {
        position: relative;
    }
    .bookingprocess-processbar .progress .title:after {
        content: "";
        background: url(../../../../src/assets/images/icons/train_loader.svg) no-repeat;
        position: absolute;
        // background-size: 25px;
        height: 30px;
        width: 25px;
        right: 0;
        z-index: 1;
        top: -3.5px;
        bottom: 0;
        margin: 0 auto;
    }
}

// end of mlite new design css code

.train_mat_tabGroup{
    .mat-tab-body-content{
        padding:0px !important;
    }
}