
@import './../sharedscss/color-infinia';
@import './../sharedscss/fonts';



/* All Inside Component Color Code CSS ONLY */

/* Header */
.bg-header{
    background: $primary-gradient;
}
.sb_head {
    background-color: $transparent;
}
.dropdown-content-list {
    h5 {
        color: $primary-color;
    }
    p {
        color: $sub-text-color;
    }
    a {
        color: $primary-color;
        &:hover {
            color: $primary-color;
        }
    }
    a.view_text {
        color: $white-color;
        cursor: pointer;
    }
    a.list-travel-font {
        color: $white-color;
        &:hover {
            color: $primary-color;
        }
    }
    
}
.menu_list {
   
    ul {
       
        li {
           
            a {
                color: $white-color;
            }
            &:hover a.nav_link_item {
                border-bottom: 3px solid $primary-color;
            }
            a.active {
                border-bottom: 3px solid $primary-color;
            }
        }

    }
   
}
.list-shop h5{
    color: $white-color;
    &:hover{
        color: $primary-color;
    }
}

.privi-list {
    .privilege_list {
        li {
            border-bottom: 1px solid $primary-color;
            span {
                color: $white-color;
            }
            &:hover a {
                span {
                    color: $primary-color;
                }
            }
        }
    }
}

.list-travel, .list-shop {
    .content_show {
        a {
            img {
                border: 1px solid #DFE2F6;
                background-color: $white-color;
            }
            /*  h5{
                
            } */
        }
        &:hover p {
            color: $sub-text-color;
        }
        &:hover a, &:hover h5 {
            color: $primary-color;
        }
    }
}
.search_input {
    .sb_search {
        border: none;
        background-color: $bg-dark-brown;
        border-radius: 5px;
        color: $white-color;
        &:focus {
            border-bottom: 1px solid $primary-color;
            border-radius: 5px 5px 0px 0px;
        }
    }
    input.sb_search::placeholder {
        color: #989696;
    }
}

.dropdown-content-list {
    background: $primary-gradient;
}
a.list-travel-font {
    color: $black-color;
}
.myaccount-drop {
    .dropdown-toggle {
        .custName {
            color: $white-color;
        }
        i {
            color: $white-color;
        }
    }
}
.compare-title{
    color: $primary-color;
}

/* New Menu Css */

.gold_navbar_collapse{
    background: radial-gradient(197.29% 103.7% at 150% 106.15%, #00386C 10.23%, #000000 100%) !important;
    .m_profile_name {
        font-family: $regular;
        color: $white-color;
    }
    .m_profile_points {
        background: $primary-color;
        color: $white-color;
    }
    .hdr_text {
        font-family: $regular;
        color: $white-color;
    }
    
    .hdr_text .fa {
        color: $white-color;
    }
    .hdr_seperator {
        border: 1px solid #ffffff50;
    }
    .m_sidebar_link {
        font-family: $regular;
        color: $white-color !important;
    }
    .opt_seperator {
        border: 1px dashed #ffffff50;
    }
    .m_support_div {
        .m_support_text {
            font-family: $regular;
            color: $white-color;
        }
    }
    .hdr_travel {
        background: #FFFFFF05;
        &:hover {
            .circular_div {
                background: $white-color;
                .card_img {
                    filter: invert(55%) sepia(22%) saturate(1391%) hue-rotate(355deg) brightness(95%) contrast(85%);
                }
            }
            .travel_highlight {
                color: $primary-color !important;
            }
            background: #FFFFFF15;
        }
        .circular_div {
            background: #FFFFFF20;
            .fa {
                color: $white-color;
            }
        }
        .travel_highlight {
            color: $white-color !important;
        }
        .travel_text {
            color: $white-color !important;
            opacity: 0.5;
        }
        .travel_arw_icn {
            color: $primary-color;
        }
    }
    .m_navigational_link {
        font-family: $regular;
        color: $white-color;
    }
    .hdr_privilege_card{
        background: #FFFFFF10;
        .privilege_text_highlight{
            font-family: $regular;
            color: $white-color;
        }
        .privilege_text{
            font-family: $regular;
            color: $white-color;
        }
    }
}

/*  Infinia new header style */
.infinia_hdr {
    .hdr_search {
        background: #f2f8fb15;
        color: #FFFFFF;
    }
    .header-concierge-btn {
        .header_drpdwn_btn {
            background: rgba(0, 0, 0, 0.2);
            color: #fff;
        }
        .header_drpdwn_btn_div {
            background: radial-gradient(88.58% 88.58% at 13.06% 11.42%, #000306 0%, #002C52 100%);
        }
        .support_bg_img {
            background-image: url("../../assets/infinia/images/smartbuy/icons/header_support.svg");
            background-position: right bottom;
            background-repeat: no-repeat;
            padding: 30px 20px;
        }
        .header_support_title {
            color: #FFFFFF;
        }
    }
    .hdr_menu {
        color: #FFFFFF ;
    }
    .hdr_menu.active {
        border-bottom: 4px solid $primary-color !important;
        color: #fff;
    }
    .hdr_menu_li {
        &:hover {
            .hdr_menu {
                border-bottom: 4px solid $primary-color !important;
            }
        }
    }
    .privilege_drpdwn_div {
        background: radial-gradient(107.58% 305.38% at 3.6% 6.99%, #2C0E00 0%, $primary-color 100%);
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.5);
    }
    .hdr_privilege_card {
        background: #FFFFFF10;
    }
    .tool_seperater {
        color: #ffffff !important;
    }
    .privilege_text_highlight {
        color: #fff !important;
    }
    .privilege_text {
        color: #fff;
    }
    .hdr_travel {
        background: #FFFFFF05;
        &:hover {
            
            .circular_div {
                background: #FFFFFF;
                .card_img {
                    filter: invert(55%) sepia(22%) saturate(1391%) hue-rotate(355deg) brightness(95%) contrast(85%);
                }
            }
            .travel_highlight {
                color: $primary-color !important;
            }
            .travel_text {
                opacity: 1 !important;
            }
            background: #FFFFFF15;
        }
    }
    .circular_div {
        background: #FFFFFF20;
        .fa {
            color: #fff;
        }
    }
    .travel_highlight {
        color: #fff !important;
    }
    .travel_text {
        color: #fff !important;
    }
    .travel_arw_icn {
        color: $primary-color;
    }
    /* .cstmr_details {
        height: 45px;
    } */
    .menu_list {
        .travel_fly_drpdwn_div {
            background: radial-gradient(95.5% 319.75% at 0% 7.32%, #000000 0%, #002E57 100%)
        }
        .regalia_benefits_drpdwn_div {
            background: radial-gradient(79.8% 553.96% at 4.93% 22.49%, #000000 3.86%, #002E57 100%);
            box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.5);
        }
        .rewards_drpdwn_div {
            background: radial-gradient(82.06% 111.95% at 9.92% 10.81%, #000000 0%, #002E57 100%);
            box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.5);
        }
        .shopping_drpdwn_div {
            background: radial-gradient(92.63% 224.03% at 5.36% 8.7%, #000000 0.77%, #002E57 100%);
            box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.5);
        }
        .privilege_drpdwn {
            background: radial-gradient(107.58% 305.38% at 3.6% 6.99%, #111316 0%, #072947 100%);
            box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.5);
        }
        .privilege_drpdwn::-webkit-scrollbar-thumb {
            background: $primary-color;
        }
        .offers_drpdwn {
            background: radial-gradient(107.58% 305.38% at 3.6% 6.99%, #111316 0%, #072947 100%);
        }
    }
    
    .offers_title {
        color: #fff !important;
    }
    .offers_link {
        color: #fff !important;
    }
    .right_custName {
        color: #FFFFFF !important;
    }
    .rg_btn-login {
        border: solid 1px $primary-color;
        color: $primary-color;
        background-color: #fff;
        &:hover {
            border: solid 1px $primary-color;
            color: #fff;
            background-color: $primary-color;
        }
    }
    .hdr_cstmr_name {
        color: #FFFFFF;
    }
    .hdr_cstmr_name:hover,
    .hdr_cstmr_name:focus {
        color: #FFFFFF;
    }
    .hdr_customer_pts {
        background: $primary-color;
        color: #fff;
    }
    .hdr_btn {
        background: #FFFFFF;
        color: $primary-color;
    }
    .btn-text {
        margin-right: 5px;
    }
    .hdr_btn_caret {
        color: $primary-color !important;
    }
    .privilege_drpdwn_div {
        background: radial-gradient(107.58% 305.38% at 3.6% 6.99%, #2C0E00 0%, $primary-color 100%);
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.5);
    }
    .hdr_privilege_card {
        background: #FFFFFF10;
    }
    .privilege_text_highlight {
        color: #FFFFFF;
    }
    .privilege_text {
        color: #FFFFFF;
    }
}

/*  Infinia mlite header css */
.m_hdr_search_bar {
    background: #FFFFFF09;
    .search_icon {
        color: #fff;
        opacity: 0.35;
    }
    .search_input {
        color: #ffffff;
        background: transparent;
    }
    .search_input::placeholder {
        color: #ffffff30;
    }
}


.cancel_btn, .resend_otp_link{
    color: $primary-color;
}

.m_disclaimer {
    background-color: #4285F410;
    color: $black-color;
    font-family: $regular;
    p {
        #show-more {
            color: $primary-color;
        }
        #show-less {
            color: $primary-color;
        }
    }
}
.btn-card {
    color: $primary-color;
}
.head_title {
    color: #1A2038;
}

/* Banner Section */
.btn-card{
    color: $primary-color;
}

.card-bg-color {
    background-color: #0C1014;
    .card_details {
        background: radial-gradient(123.75% 139.77% at -1.95% 18.75%, #0056A6 0%, #081c3000 51.24%, rgba(8, 28, 47, 0) 100%);
        .goldCardDetails {
            background: radial-gradient(332.14% 4382.53% at 41.84% -102.62%, #0056A6 -30%, #081c3000 12.51%);
            .bg_place {
                background-image: url('../infinia/images/banners/coin.svg');
                @media screen and (max-width: 600px) {
                    background-image: url('../infinia/images/banners/coin-mlite.svg');
                }
                .card_name {
                    color: #ffffff;
                    a {
                        color: #CF8D56;
                    }
                }
            }
            .number {
                color: #ffffff;
            }
            .text {
                color: #ffffff;
            }
        }
        .card_benefit {
            background: radial-gradient(123.75% 139.77% at -1.95% 18.75%, #0056A6 0%, rgba(8, 28, 48, 0) 51.24%, rgba(8, 28, 47, 0) 100%);
            .perk_text {
                color: #ffffff;
            }
            .benefit_sec {
                background: rgba(255, 255, 255, 0.1);
                .benefit_text {
                    .text {
                        color: #ffffff;
                    }
                    .value {
                        color: #27241E;
                        background: linear-gradient(102.53deg, #CC9412 9.09%, #FFE77E 56.91%, #CA8F12 100%);
                    }
                    .value_transfer {
                        background: linear-gradient(180deg, #CC9412 0%, #F7D96C 52.6%, #D39E25 100%);
                    }
                }
                .progress {
                    box-shadow: 0px 0px 8px rgb(255 164 2);
                }
            }
        }
    }
}
.recent_search {
    background-color: #0C1014;
    /* background:  radial-gradient(350.59% 6236.16% at 16.32% 16.07%, #0C1014 44.59%, #012D56 100%); */
    .text_rec {
        .rec_text {
            color: #ffffff;
        }
    }
}

.content_item {
    background: rgba(242, 248, 251, 0.1);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.14);
    .city_name {
        span {
            color: #ffffff;
        }
    }
    .date {
        color: #ffffff90;
    }
    .hotel_place {
        color: #ffffff90;
    }
}

/* Unification Home */

.head_title {
    color: #000000;
}

.view_all {
    color: $primary-color;
}

.bg-order-deals {
    background-image: url('../infinia/images/banners/deals-img-bg.png');
}

.banner_sec {
    .new_btn_position {
        .new_show {
            background-color: #000000;
            color: #ffffff;
        }
    }
    .banner_content {
        p {
            color: #ffffff;
        }
    }
}

/* For you tab */
.view_all_link {
    color: $primary-color;
}
.view_btn{
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: $white-color;
    &:hover {
        background-color: $primary-color;
        color: $white-color;
    }
}
.journey_search_box {
    p{
        span{
            color: $primary-color;
        }
    }
}



/* Travel - Search Component */

.search_icon{
    span{
        background: $primary-gradient;
    }
}
.control_input {
    border: none;
    border-bottom: 1px solid #ccc !important;
    &:hover {
        border-bottom: 1px solid $primary-color !important;
    }
}

.flight_bg {
    background-image: url('../infinia/images/banners/flight_bg.png');
}
.hotel_bg {
    background-image: url('../infinia/images/banners/stay_bg.png');
}

/* Flight Folder SCSS */
.bookingprocess-content{
    .new_fare_flight{
        color: $primary-color;
        font-size: 25px;
    }
}

.mob-all-flight ul {
    background: rgba(29, 134, 255, 0.07);
  }
  .mob-all-flight ul li a {
    background:none;
  }
  .mob-all-flight ul li a.active {
    background:$primary-color;
    border:1.28125px solid $primary-color;
  }

/* Footer Component Inner CSS */
.footer-smartbuy{
    a{
        color: $white-color;
        &:hover{
            color: $primary-color;
        }
    }
}

.sb_footer{
    .footer_one{
        background-color: #192451;
        .footer_links{
            .global_footer_links{
                .footer_link_column{
                    .column_sec{
                        label{
                            h3{
                                color: $white-color;
                            }
                        }
                        ul{
                            li{
                                h4{
                                    color: $white-color;
                                }
                                a{
                                    color: #C7CFFE;
                                }
                            }
                        }
                        
                    }
                }
            }
            .global_footer_links_one{
                .column_sec{
                    label{
                        h3{
                            color: $white-color;
                        }
                    }
                    .voucher_list{
                        li{
                            h4{
                                color: $white-color;
                            }
                            a{
                                color: #C7CFFE;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer_two{
        background: $primary-gradient-two;
        .footer_info{
            .content{
                p{
                    background-color: transparent;
                }
                .img{

                }
                .text{
                    color: $footer-text-color;
                }
            }
            .footer_customercare{
                background-color: #ffffff10;
                .info{
                    color: $white-color;
                    opacity: 1;
                    p{
                        background-color: transparent;
                    }
                    .title{
                        color: $white-color;
                    }
                    .value{
                        color: $white-color;
                    }
                    .day{
                        color:$footer-text-color;
                    }
                }
            }
            .menu_footer{
                p{
                    background-color: transparent;
                    a{
                        color: $white-color;
                    }
                    span{
                        color: $white-color;
                    }
                }
            }
            .footer_final{
                p{
                    background-color: transparent;
                    color: $footer-text-color;
                }
            }
        }
    }
    
}

/* Train Componets */
.train_section{

	.nav-link{
		background: rgba(206, 141, 91, 0.08) !important;
		border: 1px solid #E6E6E6;
		color: #00000050;
	}
	.nav-link.active{
		background: rgba(206, 141, 91, 0.08) !important;
		border: 1px solid $primary-color;
		color: #000000 !important;
	}

	
}

.list-row,
.list-row-m {
    box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
    border: solid 1px #e6e6e6;
    background-color: $color-white;
    
    .tagTrains {
       
        span {
            background-color: #ff7031;
            color: #fff;
        }
    }
    .available-status span {
        
        color: #888888;
        
    }
    .available-status span.active {
        color: #1D86FF;
    }
    .label-black-small {
        color: $color-dark-gray;
    }
    .label-gray-bold {
        
        color: $color-dark-gray-01;
    }
    .trainTimeInfo {
       
        .time,
        .day {
            
            color: $black-color;
        }
        /* .day{
            font-size: 12px;
            font-family: 'opensans-regular';
            color: #888888;
        } */
        .place {
            color: #888888;
        }
        .duration_train {
            
            .dur_time {
                color: #888888;
            }
            .range {
                border-top: 1px solid #E6E6E6;
                &::before {
                    background: #888888;
                }
                &::after {
                    background: #888888;
                }
            }
            .modal_range {
                border-top: 1px solid #E6E6E6;
                &::before {
                    background: #888888;
                }
                &::after {
                    background: #888888;
                }
            }
            .route {
                color: #1D86FF;
            }
        }
        .timeShow {
            
            p {
                &:first-child {
                    color: $black-color;
                }
                &:last-child {
                    color: $primary-color;
                }
            }
        }
        .fromStn,
        .toStn {
            p {
                margin-bottom: 2px;
                color: $primary-color;
            }
        }
        .trainCode {
            color: #888888;
            font-size: 12px;
        }
    }
    .amenities {
        .rating {
            background: green;
            color: $color-white;
        }
        .more-details {
            
            li {
                color: $color-vivid-blue;
                &::after {
                    color: $color-dark-gray-01;
                }
            }
            li.active {
                border-bottom: 4px solid $color-vivid-blue;
            }
        }
    }
}

.btn-icn-search {
    background: radial-gradient(100.63% 100.63% at 91.14% 124.68%, #00386C 26.04%, #000000 74.48%)
}

.select_options {
    
    .travelList {
        
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #ccc;
        
        ul {
            
            li {
                a {
                    
                    .sub_name {
                        color: #5b5e61;
                    }
                    .count {
                        background: #d5e8f8;
                    }
                }
            }
        }
    }
}

.select_city,
.select_date {
    
    .input_box,
    .date_box {
       
        label {
           
            .inputField {
                
                color: #00386C;
                
            }
            
            span {
                color: #555555;
                font-size: 12px;
            }
        }
        .from_cities {
            
            background-color: #ffffff;
            box-shadow: 0 2px 3px 0 #0000001a;
            
            border: 1px solid #ccc;
            
            input {
                background: #ffffff;
                box-shadow: 0 2px 3px 0 #0000001a;
                color: #000000;
            }
            .from_list {
                
                ul {
                    
                    li {
                       
                        &:first-child {
                            background-color: #e5e6e9;
                            &:hover {
                                background-color: #e5e6e9;
                            }
                            
                        }
                        &:hover {
                            background-color: #d3d3d3;
                        }
                        
                    }
                }
            }
        }
        .to_cities {
            
            background-color: #ffffff;
            box-shadow: 0 2px 3px 0 #0000001a;
           
            border: 1px solid #ccc;
            
            input {
                background: #ffffff;
                box-shadow: 0 2px 3px 0 #0000001a;
                color: #000000;
            }
            .to_list {
                max-height: 270px;
                overflow-y: auto;
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        padding: 6px 10px;
                        margin-bottom: 5px;
                        list-style: none;
                        cursor: pointer;
                        font-size: 14px;
                        &:first-child {
                            background-color: #e5e6e9;
                            height: 30px;
                            cursor: not-allowed;
                            &:hover {
                                background-color: #e5e6e9;
                            }
                            span {
                                i {
                                    cursor: pointer;
                                }
                            }
                        }
                        &:hover {
                            background-color: #d3d3d3;
                        }
                    }
                }
            }
        }
    }
}

.train_card_links{
    color: $primary-color;
}
.mob-listing-fiters {
    .train_sort_btn {
        border: 1px solid #1d86ff20;
    }
}
@media (max-width: 599px) {
    ::ng-deep .mat-tab-label {
        border: 1px solid $primary-color;
    }
    .cnfrm_modal_btn_brdr {
        border: 1px solid $primary-color;
        color: $primary-color;
        background: $white-color;
    }
    .cnfrm_modal_btn {
        border: 1px solid $primary-color;
        color: $white-color;
        background: $primary-color;
    }
}
.train_list_m {
    .tier_m {
        .TrainSeatsInfo {
            border-top: 1px solid #e6e6e6;
            .check_avai_week {
                color: #555555;
            }
            .check_avai_text {
                color: #555555;
            }
            .check_avai_price {
                color: $black-color;
            }
            .check_avai_book {
                border: 1px solid $primary-color;
                color: $primary-color;
            }
        }
    }
}

.pnr_srch_result{
    background: $white-color;
    
    .pnr_srch_details{
        background: $white-color;
        border: 1px solid #D9D9D9;
        .check_pnr_title{
            color: $black-color;
        }
        .check_pnr_title_text{
            color: $black-color;
            a{
                color:$primary-color;
            }
        }
        .dots{
            background:#888888;
        }
        hr{
            border:1px solid #e6e6e6;
        }
        .check_pnr_place{
            color: #888888;
        }
        .check_pnr_time{
            color: $black-color;
        }
        .check_pnr_duration{
            color: #888888;
        }
        .pnr_check_tbl{

            thead{
                background: #D9D9D930;
                th{
                    color: #888888;
                }
            }
            tbody{
                td{
                    color: $black-color;
                }
            }
        }
        .success_text{
            color:#009817 !important;

        }
        .pnr_dashed_hr{
            // border:1px dashed #00000030;
            border-top: 1px dashed #00000030;
        }
        .brdr_btm_row{
            border-bottom:1px solid #d9d9d9; 
        }
        .brdr_top{
            border-top:1px solid #d9d9d9;
        }
        .blue_text{
            color: $primary-color;
        }

    }
}
.irctc_link{
    a{
        color: $primary-color;
    }
}

/* shared componet Travel componet */
.buttonTrip input[type="radio"]:checked+label {
    background: #00386C;
    border-radius: 5px;
    border: 0px solid $primary-color;
}
.btn-icn-search {
    /* background: radial-gradient(100.63% 100.63% at 91.14% 124.68%, #CF8D56 26.04%, #2C0E00 74.48%); */
    background: radial-gradient(100.63% 100.63% at 81.14% 84.68%, #003860 36.04%, #000000 74.48%);
}

.select_options {
    
    .travelList {
        
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #ccc;
        
        ul {
            
            li {
                a {
                    
                    .sub_name {
                        color: #5b5e61;
                    }
                    .count {
                        background: #fceee4;
                    }
                }
            }
        }
    }
}


.select_city,
.select_date {
    
    .input_box,
    .date_box {
       
        label {
           
            .inputField {
                
                color: $primary-color;
                
            }
            
            span {
                color: #555555;
                font-size: 12px;
            }
        }
        .from_cities {
            
            background-color: #ffffff;
            box-shadow: 0 2px 3px 0 #0000001a;
            
            border: 1px solid #ccc;
            
            input {
                background: #ffffff;
                box-shadow: 0 2px 3px 0 #0000001a;
                color: #000000;
            }
            .from_list {
                
                ul {
                    
                    li {
                       
                        &:first-child {
                            background-color: #e5e6e9;
                            &:hover {
                                background-color: #e5e6e9;
                            }
                            
                        }
                        &:hover {
                            background-color: #d3d3d3;
                        }
                        
                    }
                }
            }
        }
        .to_cities {
            
            background-color: #ffffff;
            box-shadow: 0 2px 3px 0 #0000001a;
           
            border: 1px solid #ccc;
            
            input {
                background: #ffffff;
                box-shadow: 0 2px 3px 0 #0000001a;
                color: #000000;
            }
            .to_list {
                max-height: 270px;
                overflow-y: auto;
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        padding: 6px 10px;
                        margin-bottom: 5px;
                        list-style: none;
                        cursor: pointer;
                        font-size: 14px;
                        &:first-child {
                            background-color: #e5e6e9;
                            height: 30px;
                            cursor: not-allowed;
                            &:hover {
                                background-color: #e5e6e9;
                            }
                            span {
                                i {
                                    cursor: pointer;
                                }
                            }
                        }
                        &:hover {
                            background-color: #d3d3d3;
                        }
                    }
                }
            }
        }
    }
}

/* Hotel Section */
.hotel_rooms{
    background-color: #F7FAFF;
    .v_line{
        border-right: 1px solid #00000033;
    }
    .label{
        color:#555555;
    }
    .value{
        color:$black-color;
    }
    .duration{
        background-color: $primary-color;
        color: $white-color;
    }
    
}

.mlite_hotel_rooms{
    background-color: #F7FAFF;
    .label{
        color:#555555;
    }
    .value{
        color:$black-color;
    }
}
.price_includes{
    color: $black-color;
}
.list_includes{
    li{
        color: $black-color;
        .hotel_address{
            color: $black-color;
        }
    }
}
.view_all_includes a{
    color: $primary-color;
}

.gstTitle {
    color: #1C1C1C;
}

.savedGst_sec {
   
    .travel-card-details {
        border: 1px solid #ededed;
    }
    .active {
        border-color: $primary-color !important;
    }
    .gstHeading {
        color: $black-color;
    }
    .gstAddress {
        color: #828282;
    }
    
}
.link_text{
    color: $primary-color;
}
.footer-sticky-mlite{
    background-color: $white-color;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.5);
    .apply_fare{
        border-bottom: 1px solid #00000030;
        p{
            a{
                color: $primary-color;
            }
        }
    }
    .price_sec{
        .price{
            color: $black-color;
        }
        .emi{
            color: $black-color;
        }
    }
}


/* override Angular css */
::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: rgba(206, 141, 91, 0.08) !important;
}