
@import './../sharedscss/color-regalia_gold';


/* All Inside Component Color Code CSS ONLY */

/* Header */
.bg-header{
    background: $primary-gradient;
}
.sb_head {
    background-color: $transparent;
}
.dropdown-content-list {
    h5 {
        color: $primary-color;
    }
    p {
        color: $sub-text-color;
    }
    a {
        color: $primary-color;
        &:hover {
            color: $primary-color;
        }
    }
    a.view_text {
        color: $white-color;
        cursor: pointer;
    }
    a.list-travel-font {
        color: $white-color;
        &:hover {
            color: $primary-color;
        }
    }
    
}
.menu_list {
   
    ul {
       
        li {
           
            a {
                color: $white-color;
            }
            &:hover a.nav_link_item {
                border-bottom: 3px solid $primary-color;
            }
            a.active {
                border-bottom: 3px solid $primary-color;
            }
        }

    }
   
}
.list-shop h5{
    color: $white-color;
    &:hover{
        color: $primary-color;
    }
}

.privi-list {
    .privilege_list {
        li {
            border-bottom: 1px solid $primary-color;
            span {
                color: $white-color;
            }
            &:hover a {
                span {
                    color: $primary-color;
                }
            }
        }
    }
}

.list-travel, .list-shop {
    .content_show {
        a {
            img {
                border: 1px solid #DFE2F6;
                background-color: $white-color;
            }
            /*  h5{
                
            } */
        }
        &:hover p {
            color: $sub-text-color;
        }
        &:hover a, &:hover h5 {
            color: $primary-color;
        }
    }
}
.search_input {
    .sb_search {
        border: none;
        background-color: $bg-dark-brown;
        border-radius: 5px;
        color: $white-color;
        &:focus {
            border-bottom: 1px solid $primary-color;
            border-radius: 5px 5px 0px 0px;
        }
    }
    input.sb_search::placeholder {
        color: #989696;
    }
}

.dropdown-content-list {
    background: $primary-gradient;
}
a.list-travel-font {
    color: $black-color;
}
.myaccount-drop {
    .dropdown-toggle {
        .custName {
            color: $white-color;
        }
        i {
            color: $white-color;
        }
    }
}
.compare-title{
    color: $primary-color;
}

/* For you tab */
.view_all_link {
    color: $primary-color;
}
.view_btn{
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: $white-color;
    &:hover {
        background-color: $primary-color;
    }
}
.journey_search_box {
    p{
        span{
            color: $primary-color;
        }
    }
}



/* Travel - Search Component */

.search_icon{
    span{
        background: $primary-gradient;
    }
}
.control_input {
    border: none;
    border-bottom: 1px solid #ccc !important;
    &:hover {
        border-bottom: 1px solid $primary-color !important;
    }
}

/* Flight Folder SCSS */
.bookingprocess-content{
    .new_fare_flight{
        color: $primary-color;
        font-size: 25px;
    }
}


/* Footer Component Inner CSS */
.footer-smartbuy{
    a{
        color: $white-color;
        &:hover{
            color: $primary-color;
        }
    }
}

.sb_footer{
    .footer_one{
        background-color: #192451;
        .footer_links{
            .global_footer_links{
                .footer_link_column{
                    .column_sec{
                        label{
                            h3{
                                color: $white-color;
                            }
                        }
                        ul{
                            li{
                                h4{
                                    color: $white-color;
                                }
                                a{
                                    color: #C7CFFE;
                                }
                            }
                        }
                        
                    }
                }
            }
            .global_footer_links_one{
                .column_sec{
                    label{
                        h3{
                            color: $white-color;
                        }
                    }
                    .voucher_list{
                        li{
                            h4{
                                color: $white-color;
                            }
                            a{
                                color: #C7CFFE;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer_two{
        background: $primary-gradient-two;
        .footer_info{
            .content{
                p{
                    background-color: transparent;
                }
                .img{

                }
                .text{
                    color: $footer-text-color;
                }
            }
            .footer_customercare{
                background-color: #ffffff10;
                .info{
                    color: $white-color;
                    opacity: 1;
                    p{
                        background-color: transparent;
                    }
                    .title{
                        color: $white-color;
                    }
                    .value{
                        color: $white-color;
                    }
                    .day{
                        color:$footer-text-color;
                    }
                }
            }
            .menu_footer{
                p{
                    background-color: transparent;
                    a{
                        color: $white-color;
                    }
                    span{
                        color: $white-color;
                    }
                }
            }
            .footer_final{
                p{
                    background-color: transparent;
                    color: $footer-text-color;
                }
            }
        }
    }
    
}