
@import './../sharedscss/color-regalia_gold';
@import './../sharedscss/fonts';



/* All Inside Component Color Code CSS ONLY */

/* Header */
.bg-header{
    background: $primary-gradient;
}
.sb_head {
    background-color: $transparent;
}
.dropdown-content-list {
    h5 {
        color: $primary-color;
    }
    p {
        color: $sub-text-color;
    }
    a {
        color: $primary-color;
        &:hover {
            color: $primary-color;
        }
    }
    a.view_text {
        color: $white-color;
        cursor: pointer;
    }
    a.list-travel-font {
        color: $white-color;
        &:hover {
            color: $primary-color;
        }
    }
    
}
.menu_list {
   
    ul {
       
        li {
           
            a {
                color: $white-color;
            }
            &:hover a.nav_link_item {
                border-bottom: 3px solid $primary-color;
            }
            a.active {
                border-bottom: 3px solid $primary-color;
            }
        }

    }
   
}
.list-shop h5{
    color: $white-color;
    &:hover{
        color: $primary-color;
    }
}

.privi-list {
    .privilege_list {
        li {
            border-bottom: 1px solid $primary-color;
            span {
                color: $white-color;
            }
            &:hover a {
                span {
                    color: $primary-color;
                }
            }
        }
    }
}

.list-travel, .list-shop {
    .content_show {
        a {
            img {
                border: 1px solid #DFE2F6;
                background-color: $white-color;
            }
            /*  h5{
                
            } */
        }
        &:hover p {
            color: $sub-text-color;
        }
        &:hover a, &:hover h5 {
            color: $primary-color;
        }
    }
}
.search_input {
    .sb_search {
        border: none;
        background-color: $bg-dark-brown;
        border-radius: 5px;
        color: $white-color;
        &:focus {
            border-bottom: 1px solid $primary-color;
            border-radius: 5px 5px 0px 0px;
        }
    }
    input.sb_search::placeholder {
        color: #989696;
    }
}

.dropdown-content-list {
    background: $primary-gradient;
}
a.list-travel-font {
    color: $black-color;
}
.myaccount-drop {
    .dropdown-toggle {
        .custName {
            color: $white-color;
        }
        i {
            color: $white-color;
        }
    }
}
.compare-title{
    color: $primary-color;
}

/* New Menu Css */

.reg_gold_navbar_collapse{
    background: radial-gradient(106.27% 178.22% at 119.25% 161.9%, #CF8D56 10.23%, #2C0E00 65.18%, #2C0E00 100%) !important;
    .m_profile_name {
        font-family: $regular;
        color: $white-color;
    }
    .m_profile_points {
        background: #CF8D56;
        color: $white-color;
    }
    .hdr_text {
        font-family: $regular;
        color: $white-color;
    }
    
    .hdr_text .fa {
        color: $white-color;
    }
    .hdr_seperator {
        border: 1px solid #ffffff50;
    }
    .m_sidebar_link {
        font-family: $regular;
        color: $white-color !important;
    }
    .opt_seperator {
        border: 1px dashed #ffffff50;
    }
    .m_support_div {
        .m_support_text {
            font-family: $regular;
            color: $white-color;
        }
    }
    .hdr_travel {
        background: #FFFFFF05;
        &:hover {
            .circular_div {
                background: $white-color;
                .card_img {
                    filter: invert(55%) sepia(22%) saturate(1391%) hue-rotate(355deg) brightness(95%) contrast(85%);
                }
            }
            .travel_highlight {
                color: #C3832C !important;
            }
            background: #FFFFFF15;
        }
        .circular_div {
            background: #FFFFFF20;
            .fa {
                color: $white-color;
            }
        }
        .travel_highlight {
            color: $white-color !important;
        }
        .travel_text {
            color: $white-color !important;
            opacity: 0.5;
        }
        .travel_arw_icn {
            color: #C3832C;
        }
    }
    .m_navigational_link {
        font-family: $regular;
        color: $white-color;
    }
    .hdr_privilege_card{
        background: #FFFFFF10;
        .privilege_text_highlight{
            font-family: $regular;
            color: $white-color;
        }
        .privilege_text{
            font-family: $regular;
            color: $white-color;
        }
    }
}

.cancel_btn, .resend_otp_link{
    color: $primary-color;
}

.m_disclaimer {
    background-color: #4285F410;
    color: $black-color;
    font-family: $regular;
    p {
        #show-more {
            color: $primary-color;
        }
        #show-less {
            color: $primary-color;
        }
    }
}


/* For you tab */
.view_all_link {
    color: $primary-color;
}
.view_btn{
    color: $primary-color;
    border: 1px solid $primary-color;
    background-color: $white-color;
    &:hover {
        background-color: $primary-color;
        color: $white-color;
    }
}
.journey_search_box {
    p{
        span{
            color: $primary-color;
        }
    }
}



/* Travel - Search Component */

.search_icon{
    span{
        background: $primary-gradient;
    }
}
.control_input {
    border: none;
    border-bottom: 1px solid #ccc !important;
    &:hover {
        border-bottom: 1px solid $primary-color !important;
    }
}

/* Flight Folder SCSS */
.bookingprocess-content{
    .new_fare_flight{
        color: $primary-color;
        font-size: 25px;
    }
}

.mob-all-flight ul {
    /* background: rgba(29, 134, 255, 0.07); */
    background: rgba(207, 141, 86, 0.1);
  }
  .mob-all-flight ul li a {
    background:none;
  }
  .mob-all-flight ul li a.active {
    background: $primary-color;
    border:1.28125px solid $primary-color;
  }


/* Footer Component Inner CSS */
.footer-smartbuy{
    a{
        color: $white-color;
        &:hover{
            color: $primary-color;
        }
    }
}

.sb_footer{
    .footer_one{
        background-color: #192451;
        .footer_links{
            .global_footer_links{
                .footer_link_column{
                    .column_sec{
                        label{
                            h3{
                                color: $white-color;
                            }
                        }
                        ul{
                            li{
                                h4{
                                    color: $white-color;
                                }
                                a{
                                    color: #C7CFFE;
                                }
                            }
                        }
                        
                    }
                }
            }
            .global_footer_links_one{
                .column_sec{
                    label{
                        h3{
                            color: $white-color;
                        }
                    }
                    .voucher_list{
                        li{
                            h4{
                                color: $white-color;
                            }
                            a{
                                color: #C7CFFE;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer_two{
        background: $primary-gradient-two;
        .footer_info{
            .content{
                p{
                    background-color: transparent;
                }
                .img{

                }
                .text{
                    color: $footer-text-color;
                }
            }
            .footer_customercare{
                background-color: #ffffff10;
                .info{
                    color: $white-color;
                    opacity: 1;
                    p{
                        background-color: transparent;
                    }
                    .title{
                        color: $white-color;
                    }
                    .value{
                        color: $white-color;
                    }
                    .day{
                        color:$footer-text-color;
                    }
                }
            }
            .menu_footer{
                p{
                    background-color: transparent;
                    a{
                        color: $white-color;
                    }
                    span{
                        color: $white-color;
                    }
                }
            }
            .footer_final{
                p{
                    background-color: transparent;
                    color: $footer-text-color;
                }
            }
        }
    }
    
}




/* Train Componets */
.train_section{
	.nav-link{
		background: rgba(207, 141, 86, 0.1) !important;
		border: 1px solid #E6E6E6;
		color: #00000050;
	}
	.nav-link.active{
		background: rgba(207, 141, 86, 0.1) !important;
		border: 1px solid $primary-color;
		color: #000000 !important;
	}
}

.list-row,
.list-row-m {
    box-shadow: 0.5px 0.9px 4px 0 rgba(25, 25, 25, 0.08);
    border: solid 1px #e6e6e6;
    background-color: $white-color;
    
    .tagTrains {
       
        span {
            background-color: #ff7031;
            color: #fff;
        }
    }
    .available-status span {
        
        color: #888888;
        
    }
    .available-status span.active {
        color: $primary-color;
    }
    .label-black-small {
        color: $color-dark-gray;
    }
    .label-gray-bold {
        
        color: $primary-color;
    }
    .trainTimeInfo {
       
        .time,
        .day {
            
            color: $black-color;
        }
        /* .day{
            font-size: 12px;
            font-family: 'opensans-regular';
            color: #888888;
        } */
        .place {
            color: #888888;
        }
        .duration_train {
            
            .dur_time {
                color: #888888;
            }
            .range {
                border-top: 1px solid #E6E6E6;
                &::before {
                    background: #888888;
                }
                &::after {
                    background: #888888;
                }
            }
            .modal_range {
                border-top: 1px solid #E6E6E6;
                &::before {
                    background: #888888;
                }
                &::after {
                    background: #888888;
                }
            }
            .route {
                color: $primary-color;
            }
        }
        .timeShow {
            
            p {
                &:first-child {
                    color: $black-color;
                }
                &:last-child {
                    color: $primary-color;
                }
            }
        }
        .fromStn,
        .toStn {
            p {
                margin-bottom: 2px;
                color: $primary-color;
            }
        }
        .trainCode {
            color: #888888;
            font-size: 12px;
        }
    }
    .amenities {
        .rating {
            background: green;
            color: $white-color;
        }
        .more-details {
            
            li {
                color: $primary-color;
                &::after {
                    color: $primary-color;
                }
            }
            li.active {
                border-bottom: 4px solid $primary-color;
            }
        }
    }
}

.tier {
    .TrainSeatsInfo {
        p {
            span.date {
                color: #888888;
            }
            span.price {
                color: $black-color;
            }
        }
        .book_btn {
            cursor: pointer;
            color: $primary-color;
            background-color: $primary-color;
            color: $white-color;
        }
    }
    .label-name {
        color: $color-dark-gray;
    }
    .label-green {
        color: #06ac39;
    }
    .label-red {
        color: #dc3226;
    }
    .btn-outline {
        &:hover {
            color: $white-color;
            background-color: $primary-color;
            border: 1px solid $primary-color;
        }
    }
}

.train_card_links{
    color: $primary-color;
}
.mob-listing-fiters {
    .train_sort_btn {
        border: 1px solid #fb7f1820;
    }
}
@media (max-width: 599px) {
    ::ng-deep .mat-tab-label {
        border: 1px solid $primary-color;
    }
    .cnfrm_modal_btn_brdr {
        border: 1px solid $primary-color;
        color: $primary-color;
        background: $white-color;
    }
    .cnfrm_modal_btn {
        border: 1px solid $primary-color;
        color: $primary-color !important;
        background: $primary-color;
    }
}

.train_list_m {
    .tier_m {
        .TrainSeatsInfo {
            border-top: 1px solid #e6e6e6;
            .check_avai_week {
                color: #555555;
            }
            .check_avai_text {
                color: #555555;
            }
            .check_avai_price {
                color: $black-color;
            }
            .check_avai_book {
                border: 1px solid $primary-color;
                color: $primary-color;
            }
        }
    }
}

.pnr_srch_result{
    background: $white-color;
    
    .pnr_srch_details{
        background: $white-color;
        border: 1px solid #D9D9D9;
        .check_pnr_title{
            color: $black-color;
        }
        .check_pnr_title_text{
            color: $black-color;
            a{
                color:$primary-color;
            }
        }
        .dots{
            background:#888888;
        }
        hr{
            border:1px solid #e6e6e6;
        }
        .check_pnr_place{
            color: #888888;
        }
        .check_pnr_time{
            color: $black-color;
        }
        .check_pnr_duration{
            color: #888888;
        }
        .pnr_check_tbl{

            thead{
                background: #D9D9D930;
                th{
                    color: #888888;
                }
            }
            tbody{
                td{
                    color: $black-color;
                }
            }
        }
        .success_text{
            color:#009817 !important;

        }
        .pnr_dashed_hr{
            // border:1px dashed #00000030;
            border-top: 1px dashed #00000030;
        }
        .brdr_btm_row{
            border-bottom:1px solid #d9d9d9; 
        }
        .brdr_top{
            border-top:1px solid #d9d9d9;
        }
        .blue_text{
            color: $primary-color;
        }

    }
}
.irctc_link{
    a{
        color: $primary-color;
    }
}

/* shared componet Travel componet */
.buttonTrip input[type="radio"]:checked+label {
    background: #2C0E00;
    border-radius: 5px;
    border: 0px solid $primary-color;
}

.btn-icn-search {
    background: radial-gradient(100.63% 100.63% at 91.14% 124.68%, #CF8D56 26.04%, #2C0E00 74.48%);
}

.select_options {
    
    .travelList {
        
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #ccc;
        
        ul {
            
            li {
                a {
                    
                    .sub_name {
                        color: #5b5e61;
                    }
                    .count {
                        background: #fceee4;
                    }
                }
            }
        }
    }
}


.select_city,
.select_date {
    
    .input_box,
    .date_box {
       
        label {
           
            .inputField {
                
                color: #C3832C;
                
            }
            
            span {
                color: #555555;
                font-size: 12px;
            }
        }
        .from_cities {
            
            background-color: #ffffff;
            box-shadow: 0 2px 3px 0 #0000001a;
            
            border: 1px solid #ccc;
            
            input {
                background: #ffffff;
                box-shadow: 0 2px 3px 0 #0000001a;
                color: #000000;
            }
            .from_list {
                
                ul {
                    
                    li {
                       
                        &:first-child {
                            background-color: #e5e6e9;
                            &:hover {
                                background-color: #e5e6e9;
                            }
                            
                        }
                        &:hover {
                            background-color: #d3d3d3;
                        }
                        
                    }
                }
            }
        }
        .to_cities {
            
            background-color: #ffffff;
            box-shadow: 0 2px 3px 0 #0000001a;
           
            border: 1px solid #ccc;
            
            input {
                background: #ffffff;
                box-shadow: 0 2px 3px 0 #0000001a;
                color: #000000;
            }
            .to_list {
                max-height: 270px;
                overflow-y: auto;
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        padding: 6px 10px;
                        margin-bottom: 5px;
                        list-style: none;
                        cursor: pointer;
                        font-size: 14px;
                        &:first-child {
                            background-color: #e5e6e9;
                            height: 30px;
                            cursor: not-allowed;
                            &:hover {
                                background-color: #e5e6e9;
                            }
                            span {
                                i {
                                    cursor: pointer;
                                }
                            }
                        }
                        &:hover {
                            background-color: #d3d3d3;
                        }
                    }
                }
            }
        }
    }
}

/* Hotel Section */
.hotel_rooms{
    background-color: #F7FAFF;
    .v_line{
        border-right: 1px solid #00000033;
    }
    .label{
        color:#555555;
    }
    .value{
        color:$black-color;
    }
    .duration{
        background-color: $primary-color;
        color: $white-color;
    }
    
}

.mlite_hotel_rooms{
    background-color: #F7FAFF;
    .label{
        color:#555555;
    }
    .value{
        color:$black-color;
    }
}
.price_includes{
    color: $black-color;
}
.list_includes{
    li{
        color: $black-color;
        .hotel_address{
            color: $black-color;
        }
    }
}
.view_all_includes a{
    color: $primary-color;
}

.gstTitle {
    color: #1C1C1C;
}

.savedGst_sec {
   
    .travel-card-details {
        border: 1px solid #ededed;
    }
    .active {
        border-color: $primary-color !important;
    }
    .gstHeading {
        color: $black-color;
    }
    .gstAddress {
        color: #828282;
    }
    
}

.link_text{
    color: $primary-color;
}
.footer-sticky-mlite{
    background-color: $white-color;
    box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.5);
    .apply_fare{
        border-bottom: 1px solid #00000030;
        p{
            a{
                color: $primary-color;
            }
        }
    }
    .price_sec{
        .price{
            color: $black-color;
        }
        .emi{
            color: $black-color;
        }
    }
}

/* override Angular css */
::ng-deep .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: rgba(207, 141, 86, 0.1) !important;
}