<section class="flight-details-area mt-10">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="booking-process-content">
                    <div class="booking-title-box">
                        <h4>Traveller Details <span>{{travelerDetails.adults}} Adults, {{travelerDetails.child}} Child,
                                {{travelerDetails.infants}} infant</span></h4>
                    </div>
                    <div class="booking-inner-box traveller-person-box">
                        <div class="traveller-person-title">
                            <div class="traveller-person-left">
                                <h6>Add Travellers</h6>
                            </div>
                            <div class="traveller-person-right">
                                <p class="text-color">Name should be same as in Government ID proof</p>
                            </div>
                        </div>

                        <div class="traveller-addbox traveller-adults">
                            <div class="traveller-addbox-title">
                                <h6>Adult (12 yrs+) <span class="opacity_05"><span class="fw_7 opacity_1">1/2</span>
                                        added</span></h6>
                            </div>
                            <div class="traveller-addbox-details traveller-adults-details">
                                <div class="traveller-adults-ul">
                                    <ul class="add-search-ul d-block">
                                        <li class="custom-check-box">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control material-checkbox">
                                                    <input type="checkbox" class="material-control-input"
                                                        checked="checked">
                                                    <span class="material-control-indicator"></span>
                                                    <span class="description fs_14 text-black fw_7">John Smith . </span>
                                                    <span class="description fw_5">Male</span>
                                                </label>
                                            </div>
                                        </li>
                                        <!-- <li class="custom-check-box">
                                                            <div class="custom-controls-stacked">
                                                                <label class="custom-control material-checkbox">
                                                                    <input type="checkbox" class="material-control-input">
                                                                    <span class="material-control-indicator"></span>
                                                                    <span class="description fs_14 text-black fw_7">Abhay Rege . </span>
                                                                    <span class="description fw_5">Male</span>
                                                                </label>
                                                            </div>
                                                        </li>  -->
                                    </ul>

                                    <div class="add-traveller-adults" *ngIf="toggleAdult">
                                        <form class="forms-field" [formGroup]="addAdultDetail">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="select-gender">
                                                        <li>
                                                            <a href="javascript:void(0);" class="active">Male</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Female</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>First Name</mat-label>
                                                        <input matInput placeholder="First Name" formControlName="firstName">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Last Name</mat-label>
                                                        <input matInput placeholder="Last Name" formControlName="lastName">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Date of Birth</mat-label>
                                                            <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dateOfBirth">
                                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="add-traveller-btn">
                                        <a href="javascript:void(0);" class="Addnew-Adult-btn"
                                            (click)="postAdultDetails()">+ Add New Adult</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="traveller-addbox traveller-child">
                            <div class="traveller-addbox-title">
                                <h6>Child (2-11 yrs) <span class="opacity_05"><span class="fw_7 opacity_1">1/2</span>
                                        added</span></h6>
                            </div>
                            <div class="traveller-addbox-details traveller-adults-details">
                                <div class="traveller-adults-ul">
                                    <ul class="add-search-ul" style="display: none;">
                                        <li class="custom-check-box">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control material-checkbox">
                                                    <input type="checkbox" class="material-control-input"
                                                        checked="checked">
                                                    <span class="material-control-indicator"></span>
                                                    <span class="description fs_14 text-black fw_7">John Smith . </span>
                                                    <span class="description fw_5">Male</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="custom-check-box">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control material-checkbox">
                                                    <input type="checkbox" class="material-control-input">
                                                    <span class="material-control-indicator"></span>
                                                    <span class="description fs_14 text-black fw_7">Abhay Rege . </span>
                                                    <span class="description fw_5">Male</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="add-Child-adults" *ngIf="toggleChild">
                                        <form class="forms-field">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="select-gender">
                                                        <li>
                                                            <a href="javascript:void(0);" class="active">Male</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Female</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>First Name</mat-label>
                                                        <input matInput placeholder="First Name" formControlName="firstName">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Last Name</mat-label>
                                                        <input matInput placeholder="Last Name" formControlName="firstName">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Date of Birth</mat-label>
                                                            <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dateOfBirth">
                                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="add-traveller-btn">
                                        <a href="javascript:void(0);" class="Addnew-Child-btn"
                                            (click)="toggleChild =! toggleChild ">+ Add New Child</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="traveller-addbox traveller-infant">
                            <div class="traveller-addbox-title">
                                <h6>Infant ( &lt; 2 yrs) <span class="opacity_05"><span
                                            class="fw_7 opacity_1">1/2</span> added</span></h6>
                            </div>
                            <div class="traveller-addbox-details traveller-infant-details">
                                <div class="traveller-adults-ul">
                                    <ul class="add-search-ul" style="display: none;">
                                        <li class="custom-check-box">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control material-checkbox">
                                                    <input type="checkbox" class="material-control-input"
                                                        checked="checked">
                                                    <span class="material-control-indicator"></span>
                                                    <span class="description fs_14 text-black fw_7">John Smith . </span>
                                                    <span class="description fw_5">Male</span>
                                                </label>
                                            </div>
                                        </li>
                                        <li class="custom-check-box">
                                            <div class="custom-controls-stacked">
                                                <label class="custom-control material-checkbox">
                                                    <input type="checkbox" class="material-control-input">
                                                    <span class="material-control-indicator"></span>
                                                    <span class="description fs_14 text-black fw_7">Abhay Rege . </span>
                                                    <span class="description fw_5">Male</span>
                                                </label>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="add-Child-adults" *ngIf="infantToggle">
                                        <form class="forms-field">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="select-gender">
                                                        <li>
                                                            <a href="javascript:void(0);" class="active">Male</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:void(0);">Female</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>First Name</mat-label>
                                                        <input matInput placeholder="First Name" formControlName="firstName">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Last Name</mat-label>
                                                        <input matInput placeholder="Last Name" formControlName="lastName">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-xl-4 col-lg-4 col-md-6">
                                                    <div class="form-group">
                                                        <mat-form-field appearance="outline">
                                                            <mat-label>Date of Birth</mat-label>
                                                            <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="dateOfBirth">
                                                            <mat-datepicker-toggle matSuffix [for]="picker">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="add-traveller-btn">
                                        <a href="javascript:void(0);" class="Addnew-infant-btn"
                                            (click)="infantToggle =! infantToggle">+ Add New Child</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="othertraveller">
                            <ul class="add-search-ul d-block">
                                <li class="custom-check-box">
                                    <div class="custom-controls-stacked">
                                        <label class="custom-control material-checkbox">
                                            <input type="checkbox" class="material-control-input" checked="checked">
                                            <span class="material-control-indicator"></span>
                                            <span class="description fs_12 text-black">Add these travellers to
                                                Travellers list. </span>
                                            <span class="description fs_12">You won't have to fill traveller info on
                                                your next visit</span>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="booking-inner-box gst-number-box">
                        <h6>Contact Details</h6>
                        <p>Your booking information will be sent here</p>

                        <form action="" class="forms-field">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput placeholder="Email"  type="email">
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Mobile Number</mat-label>
                                        <input matInput placeholder="Mobile Number">
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>

                        <div class="contact-whatsapp">
                            <div class="contact-whatsapp-info me-2">
                                <span>Send my booking information through</span>
                                <img src="./assets/images/icons/whatsapp.png" class="ms-2" alt="">
                                <span class="fw_7">WhatsApp</span>
                            </div>
                            <div class="form-check form-switch m-0">
                                <input class="form-check-input" type="checkbox" role="switch" checked="checked" />
                            </div>
                        </div>
                    </div>


                    <div class="booking-inner-box gst-number-box">
                        <h6>GST number for business travel (Optional)</h6>
                        <p>To claim credit of GST charged by airlines / SmartBuy, please enter your company’s GST number
                        </p>

                        <form action="" class="forms-field">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6">
                                    <mat-form-field appearance="outline">
                                        <mat-label>GST Number</mat-label>
                                        <input matInput placeholder="GST Number">
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <app-fare-summary></app-fare-summary>
            </div>
        </div>
    </div>
</section>