


#regaliaGoldCarousel{

    .carousel-indicators [data-bs-target]{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
}
