<div class="modal-content session-modal-content ">
    <div class="modal-body session-body">
        <div class="" id="after-expiry" >
            <div class="" >
                <div class="text-center ">
                    <div ><img src="{{cdnUrl}}images/alert.png" /></div>
                </div>
                <div class="session-title text-center ">
                    <h2>Sorry!</h2></div>
                <div class="alert-box-msg  plr50"> This session has timed out, Please try again</div>
            </div>
            <div class="">
                <div class="continue-btn-div">
                    <button type="button" data-dismiss="modal" class="btn btn-normal btn-animated btn-session-expired"  (click)="startOver()"><span>Ok</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
