<div style="background: #F5F5F5;">
    <main>
        <div class="row">
            <div class="col-12">
                <div class="w-100">
                    <img src="assets/images/club-merriot/image 150.png" alt="main" width="100%">
                </div>
            </div>
        </div>
    </main>
    <section>
        <div class="row">
            <div class="container">
            <div class="col-12"  style="height: 85vh">
                    <div class="text-center py-3 club-title">
                        <h3 class="my-3">Complimentary Club Marriott Membership</h3>
                        <p>Complimentary Club Marriott membership for first year that offers up to 20% discounts for
                            Dining and stay <br> across Asia – Pacific region. </p>
                    </div>
                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                        <ng-container *ngFor="let item of membership">
                                <div class="club-second-section-img ">
                                    <img src="{{item.img}}" alt="">
                                    <div class="club-second-section-card py-3">
                                        <div class="club-second-section-title px-3 ">
                                            <h4 class="text-wrap" style="width: 11rem;">{{item.title}}</h4>
                                            <p>{{item.offerMsg}}</p>
                                        </div>
                                    </div>
                                </div>
                        </ng-container>
                    </div>
                </div>
            </div>
    
        </div>
    </section>
<section class="">
    <div class="row">
        <div class="container">

            <div class="col-12">
                <div class="d-flex justify-content-evenly align-items-center">
                    <p class="text-wrap third-section-clb">Indulge <br>
                        in our selection <br> of Club Marriott <br> experiences
                    </p>
                    <video autoplay class="rounded" width="776px" height="514px">
                        <source src="assets/images/club-merriot/video.mp4">
                    </video>
                </div>
            </div>

        </div>
    </div>
</section>
</div>



<div class="col-12"></div>