/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */


.ngx-slider .ngx-slider-pointer {
  width: 16px !important;
  height: 16px !important;
  top: -6px !important;
}
.ngx-slider .ngx-slider-pointer:after{
  display: none !important;
}
.ngx-slider {
  margin: 15px 0 5px !important;
}
