.coupon_sec{
  .part_one{
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),url(https://upload.wikimedia.org/wikipedia/commons/e/e5/Vivek_Express.jpg);
    background-position: center;
    .partner_logo{
      float: left;
      margin-right: 15px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: white;
      padding: 5px;
      border: 1px solid #ccc;
    }
    p{
      span{
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
      }
    }
  }
  .part_two{
    padding: 20px;
    background-color: #ffffff;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #e6e6e6;
    .promo_text{
      font-size: 14px;
      font-weight: 600;
      color: #009817;
      background-color: #e5f5e7;
      padding: 15px;
      border-radius: 8px;
    }
    .promo-error{
      font-size: 14px;
      color: red;
      padding: 10px;
    }
    .discount_price{
      font-size: 20px;
      color: #009817;
      font-family: 'opensans-bold';
      margin-top: 10px;
    }
  }
}
