                <div *ngIf="showoffer">
                    <div class="coupon_sec">
                        <div class="part_one">
                            <p class="mb-3"><img src="{{cdnUrl}}images/smartbuy/partner/48/IRCTC_small.png" class="partner_logo"> <span class="">I have my IRCTC promo code</span></p>
                             <form [formGroup]="promoForm" class="pt-10">
                                <div class="row">
                                    <div class="col-8">
                                        <div class="form-group mb-2">
                                            <label for="promo_code" class="sr-only">Enter Promo Code</label>
                                              <input placeholder="Enter Promo Code" [(ngModel)]="coupon_code" (focus)="clearErrorMsg();" (keyup)="convertToUpperCase($event);" formControlName="promoCode" autocomplete="off" class="form-control radius_8" id="promo_code">
                                        </div>
                                    </div>
                                    <div class="col-3">
                                    <a class="btn btn_primary_a mb-2 radius_8" *ngIf="!couponApplied" (click)="manualApplyCoupon()">Apply</a>
                                    <a class="btn btn_primary_a mb-2 radius_8" *ngIf="couponApplied" (click)="removeCoupon(1)">Remove</a>
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                        <div class="part_two">
                                <div class="row">
                                <div class="promo-msg">
                                <div *ngIf="(submittedpromoCode && promoForm.controls.promoCode.errors)" class="">
                                    <span *ngIf="promoForm.controls.promoCode.errors.required" class="promo-error">Please enter Promo Code.</span>
                                </div>
                                <span class="promo-error pl-2 pl-md-0" *ngIf="couponError!='' || autoApplyError==1"> {{couponError}}</span>
                                </div>
                                </div>

                                <ng-container *ngIf="SHOWCAPTCHA">
                                <div class="row">
                                <div class="col-md-7 col-7 text-center pr-0">
                                <re-captcha #recaptchaRef="reCaptcha" [siteKey]="siteKey" (resolved)="resolved($event)" formControlName="couponCaptcha">
                                </re-captcha>
                                </div>
                                </div>

                                <div class="row">
                                <div class="promo-msg mt-1">
                                    <span *ngIf="submittedpromoCode && promoForm.hasError('required','couponCaptcha')" class="promo-error">You can't leave captcha as empty.</span>
                                </div>
                                </div>
                                </ng-container>
                        
                        
                            <div class="row" *ngIf="!couponError && coupon_amount >0">
                                <div class="col-6">
                                    <p class="promo_text">{{((coupon_amount / payActualFare) * 100) | number : '1.0-0' }}% discount on base fare applied</p>
                                </div>
                                <div class="col-6 text-right">
                                    <p class="discount_price">- ₹{{coupon_amount | number : '1.2-2'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
