
.disableDiv {
    pointer-events: none;
}




@media only screen and (max-width: 991px){
    .select-dep-ret .area-root-departure {
        border: none;
        width: 100%;
    }
    
    .select-dep-ret.mob-select-dep-ret div#datePickerOpen {
        border-right: 1px solid #d3d3d3;
        width: 50%;
    }
    .mob-select-dep-ret {
        flex-direction: row !important;
    }
    .mob-select-dep-ret .area-root-reutrn{
        display: inline-flex !important;
    } 
}