<main class="site-main mt-180">
    <section class="travel-area mt-80 mb-10">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="travel-box">
                        <div class="travel-select-area">
                            <div class="travel-select-box">
                                <ul class="travel-list-ul">
                                    <li class="travel-list-li">
                                        <a href="" class="travel-list-a active">
                                            <img src="{{cdnUrl}}/images/icons/flight.png" alt="">
                                            Flights
                                        </a>
                                    </li>
                                    <li class="travel-list-li">
                                        <a href="" class="travel-list-a">
                                            <img src="{{cdnUrl}}/images/icons/trains.png" alt="">
                                            Trains
                                        </a>
                                    </li>
                                    <li class="travel-list-li">
                                        <a href="" class="travel-list-a">
                                            <img src="{{cdnUrl}}/images/icons/bus.png" alt="">
                                            Bus
                                        </a>
                                    </li>
                                    <li class="travel-list-li">
                                        <a href="" class="travel-list-a">
                                            <img src="{{cdnUrl}}/images/icons/stays.png" alt="">
                                            Stays
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <app-flight-search isViewPartner="true"></app-flight-search>
                    </div>
                </div>
            </div>
        </div>
    </section>
 <!-- Continue Search -->
    <section class="ContinueSearch-area mb-50" *ngIf="continueSearchVal && continueSearchVal.length>0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-ContinueSearch-text">
                        <h4>Continue Your Search</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- continue search website view  -->
                <ng-container *ngIf="isMobile == false">
                    <div class="col-md-3" *ngFor="let continue of continueSearchVal; let i = index">
                        <a href="javascript:void(0)" *ngIf="i<4" (click)="continueSearch(continue)">
                            <div class="Continuesearch-items ">
                                <div class="Continuesearch-items-text">
                                    <div class="Continuesearch-name">
                                        <h6>{{continue.fromCity}}</h6>
                                        <p>{{continue.departure|date:"EEE ,dd MMM"}}</p>
                                    </div>
                                    <div class="Continuesearch-image">
                                        <img *ngIf="!continue.arrival" src="{{cdnUrl}}/images/icons/next-active.png"
                                            alt="">
                                        <img *ngIf="continue.arrival" src="{{cdnUrl}}/images/icons/round.png" alt="">
                                    </div>
                                    <div class="Continuesearch-name">
                                        <h6>{{continue.toCity}}</h6>
                                        <p *ngIf="continue.arrival">{{continue.arrival|date:"EEE ,dd MMM"}}</p>
                                    </div>
                                </div>
                                <div class="Continuesearch-items-actions">
                                    <img src="{{cdnUrl}}/images/icons/next.png" alt="">

                                </div>
                            </div>
                        </a>
                    </div>
                </ng-container>
                <!-- continue search mobile view  -->
                <div class="box-item" *ngIf="isMobile == true">
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let continue of continueSearchVal; let i = index">
                            <ng-template carouselSlide [id]="continue.id" *ngIf="i<4">
                                <a href="javascript:void(0)" (click)="continueSearch(continue)">
                                    <div class="Continuesearch-items ">
                                        <div class="Continuesearch-items-text">
                                            <div class="Continuesearch-name">
                                                <h6>{{continue.fromCity}}</h6>
                                                <p>{{continue.departure|date:"EEE ,dd MMM"}}</p>
                                            </div>
                                            <div class="Continuesearch-image">
                                                <img *ngIf="!continue.arrival"
                                                    src="{{cdnUrl}}/images/icons/next-active.png" alt="">
                                                <img *ngIf="continue.arrival" src="{{cdnUrl}}/images/icons/round.png"
                                                    alt="">
                                            </div>
                                            <div class="Continuesearch-name">
                                                <h6>{{continue.toCity}}</h6>
                                            </div>
                                        </div>
                                        <div class="Continuesearch-items-actions">
                                            <img src="{{cdnUrl}}/images/icons/next.png" alt="">
                                        </div>
                                    </div>
                                </a>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
    <!-- Trending Routes -->
    <section class="TrendingRoutes-area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-TrendingRoutes-text">
                        <h4>Trending Routes</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-slider grid-4 tranding-routes-slider" *ngIf="isMobile == false">
                        <ng-container *ngFor="let trendingItem of trendingRoutes">
                            <div class="box-item">
                                <a href="javascript:void(0)">
                                    <div class="Trending-item">
                                        <div class="Trending-left">
                                            <img src="{{trendingItem.fromImg}}" class="img-fluid" alt="">
                                            <p>{{trendingItem.fromCity}}</p>
                                        </div>
                                        <div class="Trending-center">
                                            <div class="half-circle-top"></div>
                                            <p>Form</p>
                                            <h6>&#8377;3,528</h6>
                                            <img src="assets/images/icons/Trending.png" alt="">
                                            <div class="half-circle-bottom"></div>
                                        </div>
                                        <div class="Trending-right">
                                            <img src="{{trendingItem.toImg}}" class="img-fluid" alt="">
                                            <p>{{trendingItem.toCity}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="owl-slider grid-4 tranding-routes-slider " *ngIf="isMobile == true">
                    <owl-carousel-o [options]="customOptions">
                        <ng-container *ngFor="let trendingItem of trendingRoutes; let i = index">
                            <ng-template carouselSlide>
                                <div class="box-item">
                                    <a href="javascript:void(0)">
                                        <div class="Trending-item">
                                            <div class="Trending-left">
                                                <img src="{{trendingItem.fromImg}}" class="img-fluid" alt="">
                                                <p>{{trendingItem.fromCity}}</p>
                                            </div>
                                            <div class="Trending-center">
                                                <div class="half-circle-top"></div>
                                                <p>Form</p>
                                                <h6>&#8377;3,528</h6>
                                                <img src="assets/images/icons/Trending.png" alt="">
                                                <div class="half-circle-bottom"></div>
                                            </div>
                                            <div class="Trending-right">
                                                <img src="{{trendingItem.toImg}}" class="img-fluid" alt="">
                                                <p>{{trendingItem.toCity}}</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>
   

    <!-- Popular Domestic Flight Routes -->
    <section class="popular-Domestic-area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-ContinueSearch-text">
                        <h4>Popular Domestic Flight Routes</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="popular-routes-list">
                        <ul class="popular-routes-list-ul">
                            <li>
                                <span>From</span>
                            </li>
                            <li>
                                <a href="#" class="active">New Delhi</a>
                            </li>
                            <li>
                                <a href="#">Mumbai</a>
                            </li>
                            <li>
                                <a href="#">Bengaluru</a>
                            </li>
                            <li>
                                <a href="#">Hyderabad</a>
                            </li>
                            <li>
                                <a href="#">Kolkata</a>
                            </li>
                            <li>
                                <a href="#">Others</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="popular-flight-slider">
                        <div class="owl-carousel carousel-popular-flight">
                            <owl-carousel-o [options]="DomasticFlightsOptions">
                                <ng-container *ngFor="let domasticItem of popularDomasticRoutes; let i = index">
                                    <ng-template carouselSlide>
                                        <div class="item">
                                            <a href="javascript:void(0)">
                                                <div class="Popular-flight-items">
                                                    <div class="Popular-flight-image">
                                                        <img src="{{domasticItem.image}}" alt="flight" />
                                                        <div class="Popular-flight-name">
                                                            <span>{{domasticItem.fromCity}} </span>
                                                            <img src="assets/images/icons/twoway.png" alt="" />
                                                            <span>{{domasticItem.toCity}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="Popular-flight-content">
                                                        <p class="pf-date">{{domasticItem.date}}</p>
                                                        <p>
                                                            <span class="opacity-50">Starts from</span>
                                                            <span
                                                                class="pf-price text-color ms-1">&#8377;{{domasticItem.totalFare}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Popular International  Flight Routes -->
    <section class="popular-International-area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-ContinueSearch-text">
                        <h4>Popular International Flight Routes</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="popular-routes-list">
                        <ul class="popular-routes-list-ul">
                            <li>
                                <span>From</span>
                            </li>
                            <li>
                                <a href="#" class="active">New Delhi</a>
                            </li>
                            <li>
                                <a href="#">Mumbai</a>
                            </li>
                            <li>
                                <a href="#">Bengaluru</a>
                            </li>
                            <li>
                                <a href="#">Hyderabad</a>
                            </li>
                            <li>
                                <a href="#">Kolkata</a>
                            </li>
                            <li>
                                <a href="#">Others</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="popular-flight-slider">
                        <div class="owl-carousel carousel-popular-flight">
                            <owl-carousel-o [options]="DomasticFlightsOptions">
                                <ng-container *ngFor="let domasticItem of popularDomasticRoutes; let i = index">
                                    <ng-template carouselSlide>
                                        <div class="item">
                                            <a href="javascript:void(0)">
                                                <div class="Popular-flight-items">
                                                    <div class="Popular-flight-image">
                                                        <img src="{{domasticItem.image}}" alt="flight" />
                                                        <div class="Popular-flight-name">
                                                            <span>{{domasticItem.fromCity}} </span>
                                                            <img src="assets/images/icons/twoway.png" alt="" />
                                                            <span>{{domasticItem.toCity}}</span>
                                                        </div>
                                                    </div>
                                                    <div class="Popular-flight-content">
                                                        <p class="pf-date">{{domasticItem.date}}</p>
                                                        <p>
                                                            <span class="opacity-50">Starts from</span>
                                                            <span
                                                                class="pf-price text-color ms-1">&#8377;{{domasticItem.totalFare}}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Popular International  Flight Routes -->
    <section class="popular-International-area mb-50">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-ContinueSearch-text">
                        <h4>Exciting Offers</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="Exciting-Offers-slider">
                        <div class="owl-carousel carousel-Offers-flight">
                            <owl-carousel-o [options]="existingOffer">
                                <ng-container *ngFor="let exitingItem of exitingOffers; let i = index">
                                    <ng-template carouselSlide>
                                        <div class="item">
                                            <a href="javascript:void(0)">
                                                <div class="Exciting-Offers-slider-items">
                                                    <div class="Exciting-Offers-slider-image">
                                                        <img src="{{exitingItem.image}}" alt="flight" />
                                                    </div>
                                                    <div class="Exciting-Offers-slider-content">
                                                        <p class="pffer-first">{{exitingItem.title}}</p>
                                                        <h6>Up to &#8377;{{exitingItem.totalFare}} OFF* </h6>
                                                        <hr>
                                                        <p class="Offers-time"><img
                                                                src="assets/images/smartbuy/icons/time.png"
                                                                alt="flight" /> Valid till : {{exitingItem.date}}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
