

.owl-carousel {
    display: inline !important;
}

@media only screen and (max-width: 991px)  { 
    .owl-theme .owl-nav [class*=owl-] {
        display: none;

    }

}

.Trending-item {
    background: transparent;
}
.bus_routes_img{
    max-width:250px;
    max-height:250px;
    border-radius:6px;
}
@media only screen and (max-width: 600px) {

    /* .travel-box{
        background:transparent;
        box-shadow: none;
    } */
    .travel-list-ul::-webkit-scrollbar {
        height:0px !important;
      }
      .popular-routes-list-ul::-webkit-scrollbar {
        height:0px !important;
      }
    .travel-box .travel-list-ul{
        padding:10px;
        border-radius:0px;
    }
    .travel-list-ul li .travel-list-a {
        padding: 8px 15px;
    }
    .travel-select-area {
		margin-left:-15px;
        margin-right:-15px;
	}
    .travel-select-box {
		text-align: center;
		margin-top: -90px;
	}

    .ContinueSearch-area .m_box_item .Continuesearch-items {
        /* width:330px; */
    }

  }
  @media screen and (max-width:600px){
    .train_mlite_srch_div{
        background:none;
        box-shadow:none;
        padding:15px 0px;
    }
    .train_mlite_srch_div .train_mlite_tabs{
        padding:0px 15px;
    }
  }
  .trending-card{
    box-sizing: border-box;
    width: 274.18px;
    height: 130px;
    background: #d8f0dd;
    border-radius: 6px; 
  }
  .transit{
    z-index: 2;
    left: 100px;
    top: 50px;
    position: absolute;
  }

.search-container {
  padding: 9px 16px;
}

.columns {
  float: left;
  padding: 0 10px;
  display: flex;
  
}

.card-row {
  margin: 0 -5px;
  display: flex;
}
.price{
    -webkit-transform: rotate(270deg);
    display: inline-block;
    color:green;
}
.padding-li{
    padding-right: 12px;
  }
  
  .tabletitle-content {
    font-family: 'SC Prosper Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    color: #191919;
  }
  .text-li{
    color: #333;
    background-color: #EEEEEE;
    border-radius: 10px;
  }
  .existing-offers{
    margin-top: 230px;
  }
  .img-container {
    position: relative;
    text-align: center;
    color: white;
    padding: 10px;
  }
  
  .centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
