@import '../../assets/sharedscss/color';
@import '../../assets/sharedscss/spacing';
@import '../../assets/sharedscss/fonts';
$break-mob-3: 320px;
$break-mob-2: 375px;
$break-mob-1: 425px;
$break-md-tab: 768px;
.tab_inner {
    // margin-top: 40px;
    padding: 2.5em 0px 1.5em 0px;
    background-color: #f7faff;

    /* @media screen and (max-width: 768.98px) {
        margin-top: 2.5em;
    }
     @media screen and (min-width: 769px) and (max-width: 1024px) {
        margin-top: 1.5em;
    }
     @media screen and (min-width: 1441px) and (max-width: 2560px) {
        margin-top: 2em;
    }
    @media screen and (min-width: 1601px) and (max-width: 1920px) {
        margin-top: 4em;
    }
    @media only screen and (min-width: 1921px) and (max-width: 2560px) {
        margin-top: 4em;
    } */
}

.wi-25 {
    width: 25px;
}

.wi-30 {
    width: 30px;
}

h3.d-inline,
h3 {
    color: #1a2038;
    margin-bottom: 10px;
    @media screen and (max-width: 575.98px) {
        font-size: 20px;
    }
}

.m-right {
    @media screen and (max-width: 575.98px) {
        float: right;
    }
}

.topBannerSlider {
    span {
        a {
            img {
                border-radius: 12px;
            }
        }
        img {
            border-radius: 12px;
            height: auto;
        }
    }
}

.apply_card_sec {
    // background-color: blue;
    color: #fff;
    border-radius: 8px;
    padding: 15px;
    background: url('/..//assets/images/sb_img/bg_card.png') no-repeat;
    background-size: cover;
    background-position: center;
    .card_sec {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p:nth-child(1) {
            font-size: 14px;
            margin-bottom: 10px;
        }
        p:nth-child(2) {
            font-size: 19px;
            margin-bottom: 5px;
        }
        .btn_apply_card {
            border-radius: 8px;
            background-color: #ffffff;
            color: #1d86ff;
            font-size: 16px;
            &:hover {
                border: 1px solid #1d86ff;
            }
        }
        .count_applied {
            font-size: 10px !important;
            margin: 5px 0px;
        }
    }
}

.apply_card_sec_large {
    // background-color: blue;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    background: url('/assets/images/sb_img/bg_card.png') no-repeat;
    background-size: cover;
    background-position: center;
    .card_sec {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p:nth-child(1) {
            font-size: 18px;
            margin-bottom: 10px;
        }
        p:nth-child(2) {
            font-size: 28px;
            margin-bottom: 5px;
            @media screen and (max-width: 575.98px) {
                font-size: 18px;
            }
        }
        .btn_apply_card {
            border-radius: 8px;
            background-color: #ffffff;
            color: #1d86ff;
            font-size: 16px;
            @media screen and (max-width: 575.98px) {
                border-radius: 6px;
                font-size: 14px;
                order: 2;
            }
            &:hover {
                border: 1px solid #1d86ff;
            }
        }
        .count_applied {
            font-size: 14px !important;
            margin: 10px 0px 0px;
            color: #ffffff;
            span {
                background-color: #dd327a;
                padding: 2px 10px;
                border-radius: 2px;
            }
        }
    }
    @media screen and (max-width: 575.98px) {
        margin: 10px 0px;
        .m_flex {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }
        .count_applied {
            span {
                font-size: 12px;
            }
        }
    }
}

.travel_sec_flex {
    @media screen and (min-width: 1024px) {
        display: flex !important;
    }
}

.exclusive_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // flex-wrap: nowrap;
    flex-wrap: nowrap;
    // padding: 1.5em 0px;
    margin-bottom: 10px;
    @media screen and (max-width: 575.98px) {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0em 0px 0px;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .partner_con {
        // flex: 2 0 21%;
        // flex-basis: 25%;
        background-color: #ffe6c4;
        border-radius: 8px;
        border: 1px solid #ffe6c4;
        margin-right: 15px;
        width: 95%;
        float: left;
        display: flex;
        align-items: center;
        // padding: 10px;
        height: 100px;
        // img{
        //     width: 120px;
        //     height: auto;
        //     padding: 10px;
        // }
        // &:nth-child(2){
        //     background-color: #ffe0db;
        //     border: 1px solid #ffe0db;
        //     .logo_img{
        //         background-color: #fff4f2;
        //     }
        // }
        // &:nth-child(3){
        //     background-color: #b7d8ff;
        //     border: 1px solid  #b7d8ff;
        //     .logo_img{
        //         background-color: #e6f1ff;
        //     }
        // }
        // &:nth-child(4){
        //     background-color: #d3d4ff;
        //     border: 1px solid #d3d4ff;
        //     .logo_img{
        //         background-color: #e6e6ff;
        //     }
        // }
        @media screen and (max-width: 575.98px) {
            flex-basis: auto;
            width: 95%;
        }
        .logo_img {
            background-color: #fff4e6;
            border-radius: 8px 0px 0px 10px;
            height: 98px;
            align-items: center;
            display: flex;
            width: 50%;
            text-align: center;
            justify-content: center;
            img {
                width: auto;
                height: 50px;
                @media screen and (max-width: 575.98px) {
                    height: 40px;
                }
            }
        }
        .points_sec {
            width: 50%;
            padding: 1rem;
            color: #000000;
            .ponts_info {
                padding: 0px 0px 10px;
                &:nth-child(2) {
                    padding: 0px;
                }
                p {
                    margin-bottom: 0;
                    font-family: 'opensans-regular';
                    font-size: 14px;
                    @media screen and (max-width: 575.98px) {
                        font-size: 12px;
                    }
                }
                p.points_x {
                    font-family: 'opensans-bold';
                }
            }
        }
    }
    .odd_sec {
        background-color: #ffe0db;
        border: 1px solid #ffe0db;
        .logo_img {
            background-color: #fff4f2;
        }
    }
}

.partner_con_col2 {
    background-color: #ffe0db !important;
    border: 1px solid #ffe0db !important;
    .logo_img {
        background-color: #fff4f2 !important;
    }
}

.partner_con_col2 {
    background-color: #b7d8ff !important;
    border: 1px solid #b7d8ff !important;
    .logo_img {
        background-color: #e6f1ff !important;
    }
}

.partner_con_col4 {
    background-color: #d3d4ff !important;
    border: 1px solid #d3d4ff !important;
    .logo_img {
        background-color: #e6e6ff !important;
    }
}

.carousel-indicators {
    position: static;
}

#curved-corner-topright {
    overflow: hidden;
    position: relative;
}

#curved-corner-topright:before {
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    box-shadow: 50px -50px 0 0 red;
}

#curved-corner-topright:before {
    content: "";
    display: block;
    width: 200%;
    height: 200%;
    position: absolute;
    border-radius: 50%;
}

.carousel-indicators li {
    width: 50px;
    height: 100%;
    opacity: 0.8;
    background-color: transparent;
    position: relative;
    padding: 4px;
    @media screen and (max-width: 575.98px) {
        width: 40px;
    }
    &:nth-child(1) {
        &.active {
            border: 0px solid #606466;
            background-color: #02aafe;
            &::before {
                content: "";
                position: absolute;
                height: 17px;
                width: 15px;
                bottom: 0;
                // background: radial-gradient(circle at top left, rgba(0, 4, 255, 0) 72%, rgb(0, 255, 76) 75%);
                background: radial-gradient(circle at top left, #0004ff00 72%, #02aafe 70%);
                left: -15px;
                top: -1px;
                transform: rotate(-90deg);
            }
            &::after {
                content: "";
                position: absolute;
                height: 17px;
                width: 15px;
                bottom: 0;
                // background: radial-gradient(circle at top left, rgba(0, 4, 255, 0) 72%, rgb(0, 255, 76) 75%);
                background: radial-gradient(circle at top right, #0004ff00 72%, #02aafe 70%);
                right: -15px;
                top: -1px;
                transform: rotate(90deg);
            }
        }
    }
    &:nth-child(2) {
        &.active {
            border: 0px solid #f6d425;
            background-color: #f6d425;
            &::before {
                content: "";
                position: absolute;
                height: 17px;
                width: 15px;
                bottom: 0;
                // background: radial-gradient(circle at top left, rgba(0, 4, 255, 0) 72%, rgb(0, 255, 76) 75%);
                background: radial-gradient(circle at top left, #0004ff00 72%, #f6d425 70%);
                left: -15px;
                top: -1px;
                transform: rotate(-90deg);
            }
            &::after {
                content: "";
                position: absolute;
                height: 17px;
                width: 15px;
                bottom: 0;
                // background: radial-gradient(circle at top left, rgba(0, 4, 255, 0) 72%, rgb(0, 255, 76) 75%);
                background: radial-gradient(circle at top right, #0004ff00 72%, #f6d425 70%);
                right: -15px;
                top: -1px;
                transform: rotate(90deg);
            }
        }
    }
    &:nth-child(3) {
        &.active {
            border: 1px solid #25b5fd;
            background-color: #25b5fd;
        }
    }
    &:nth-child(4) {
        &.active {
            border: 1px solid #f6d425;
            background-color: #f6d425;
        }
    }
    &.active {
        // border: 1px solid green;
        // background-color: green;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: relative;
        img {
            // animation: animix 5s ease forwards;
            border: 4px solid #fff;
            animation: animix 6s 1;
            animation-fill-mode: forwards;
        }
    }
    img {
        border-radius: 50%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        @media screen and (max-width: 575.98px) {
            width: 40px;
            height: 40px;
        }
    }
}

@keyframes animix {
    0% {
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    25% {
        border-top-color: #ffffff;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    50% {
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }
    75% {
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: #ffffff;
        border-left-color: transparent;
    }
    100% {
        border-top-color: #ffffff;
        border-right-color: #ffffff;
        border-bottom-color: #ffffff;
        border-left-color: #ffffff;
    }
}


/*
.owl-thumb-item.active > .circle-box{
top:-60px;
z-index:1;
}
.owl-thumb-item.active > .circle-box .outer{
margin-left:-13px;
margin-top:-7px;
}*/

.bgbox {
    visibility: hidden;
    margin-left: -15px;
}

.banner_thumbs {
    .outer {
        display: inline-block;
        /* 	 padding: 0rem 1rem; */
        transform: rotate(-90deg);
    }
    .circle-box {
        position: relative;
        // display: inline-block;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 3px 10px #00000033 !important;
        top: -50px;
        width: 44px;
        height: 46px;
    }
    .circle {
        fill: none;
        stroke-width: 3px;
        stroke-dashoffset: 276;
        stroke-dasharray: 276;
    }
    .percentage {
        position: absolute;
        margin: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @keyframes fill {
        100% {
            stroke-dashoffset: 0;
        }
    }
    .synced.active {
        .circle--3 {
            // stroke: #ffffff;
            stroke: whitesmoke;
            animation: fill 10s forwards ease-out;
            backdrop-filter: blur(5px);
        }
    }
}

.card_points_info {
    background: #1456a3 url('/assets/images/smartbuy/card_bg.png') no-repeat right;
    background-position: -26px -8px;
    border-radius: 8px;
    padding: 15px;
    .card_select {
        select {
            // display: inline-block;
            background-color: transparent;
            color: #ffffff;
            border: none;
            border-bottom: 1px solid #fff;
        }
        a {
            color: #fff;
        }
    }
    .points_section {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 15px 0px 0px;
        .counter_points {
            color: #ffffff;
            flex-basis: 100%;
            p {
                margin-bottom: 0px;
                span.total_points {
                    font-size: 14px;
                }
                &:nth-child(1) {
                    font-size: 25px;
                    word-break: break-word;
                }
                &:nth-child(2) {
                    font-size: 14px;
                }
            }
        }
    }
}

#carousel_main {
    position: relative;
    .carousel-inner {
        .carousel-item {
            img {
                border-radius: 6px;
            }
        }
    }
}

.carousel-control-prev_banner,
.carousel-control-next_banner {
    position: absolute;
    top: 50%;
    z-index: 1;
}

.carousel-control-next_banner {
    right: 0px;
}

.sub_text {
    color: #555555;
    font-size: 12px;
    span {
        margin-right: 10px;
        img {
            margin-right: 15px;
        }
    }
}

.card_book {
    border-radius: 6px;
    opacity: 1;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-right: 8px;
    // height: auto;
    background-color: lightgray;
    min-width: 150px;
    min-height: 280px;
    max-height: 480px;
    transition: .7s ease-in-out;
    .main_text {
        font-size: 25px;
        font-weight: 600;
    }
    .trip_details {
        display: none;
        transition: .7s ease-in-out;
    }
    .icns span img {
        padding: 0px 5px;
    }
    &:nth-child(2) {
        //background: #f7faff url('/assets/images/smartbuy/stays.svg') no-repeat right bottom;
        background: #f7faff url('/assets/images/smartbuy/travel/stay_s.png');
        // background-size: auto 15%;
        // cursor:pointer;
        border: 1px solid #ddd;
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        /* &:hover {
            background: #ffffff url('/assets/images/smartbuy/stay.jpg');
            background-size: 100% 30%;
            background-repeat: no-repeat;
        } */
    }
    &:nth-child(1) {
        //background: #f7faff url('/assets/images/smartbuy/flights.svg') no-repeat right bottom;
        background: #f7faff url('/assets/images/smartbuy/travel/flight_s.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        //background-size: auto 30%;
        // cursor:pointer;
        border: 1px solid #ddd;
        /* &:hover {
            background: #ffffff url('/assets/images/smartbuy/flight.jpg');
            background-size: 100% 30%;
            background-repeat: no-repeat;
        } */
    }
    &:nth-child(3) {
        //background: #f7faff url('/assets/images/smartbuy/bus.svg') no-repeat right bottom;
        background: #f7faff url('/assets/images/smartbuy/travel/bus_s.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // background-size: auto 20%;
        // cursor:pointer;
        border: 1px solid #ddd;
        /* &:hover {
            background: #ffffff url('/assets/images/smartbuy/bus.jpg');
            background-size: 100% 30%;
            background-repeat: no-repeat;
        } */
    }
    &:nth-child(4) {
        //background: #f7faff url('/assets/images/smartbuy/train.svg') no-repeat right bottom;
        background: #f7faff url('/assets/images/smartbuy/travel/train_s.png');
        //background-size: auto 20%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        // cursor:pointer;
        border: 1px solid #ddd;
        /* &:hover {
            background: #ffffff url('/assets/images/smartbuy/train2.jpg');
            background-size: 100% 32%;
            background-repeat: no-repeat;
            background-size: auto 30%;
        } */
    }
    .tag_desc {
        // color: #dd327a;
        font-size: 12px;
        font-weight: 600;
        i {
            transform: rotate(75deg);
            margin-right: 4px;
        }
    }
}

.card_bookunblock {
    // min-width: 500px !important;
    min-width: 650px !important;
    min-height: 400px !important;
    background-color: #ffffff !important;
    opacity: 1 !important;
    box-shadow: 0 3px 10px #00000033 !important;
    text-align: left;
    .main_text {
        font-weight: 600;
        font-size: 25px;
    }
    .sub_text,
    .icns {
        display: inline;
    }
    .icns span img {
        padding-left: 15px;
    }
    .trip_details {
        display: block !important;
    }
    .tag_desc {
        margin: 15px 0px;
    }
    &:nth-child(4) {
        background: #ffffff url('/assets/images/smartbuy/travel/train_l.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &:nth-child(2) {
        background: #ffffff url('/assets/images/smartbuy/travel/stay_l.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &:nth-child(1) {
        background: #ffffff url('/assets/images/smartbuy/travel/flight_l.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
    &:nth-child(3) {
        background: #ffffff url('/assets/images/smartbuy/travel/bus_l.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

.card_book_m {
    min-height: 170px;
    // height: auto;
    width: 100%;
    border-radius: 6px;
    opacity: 1;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    p.main_text {
        font-size: 16px;
        font-family: 'opensans-bold';
    }
    .sub_text {
        color: #555555;
        font-size: 12px;
        span {
            margin-right: 10px;
        }
    }
    .tag_desc {
        color: #dd327a;
        font-size: 12px;
        font-weight: 600;
        i {
            transform: rotate(75deg);
        }
    }
}

.hotel_m {
    background: #ffffff url(/assets/images/smartbuy/stays.svg) no-repeat right bottom;
    background-size: auto 20%;
    cursor: pointer;
}

.flight_m {
    background: #ffffff url(/assets/images/smartbuy/flights.svg) no-repeat right bottom;
    background-size: auto 35%;
    cursor: pointer;
}

.bus_m {
    background: #ffffff url(/assets/images/smartbuy/bus.svg) no-repeat right bottom;
    background-size: auto 20%;
    cursor: pointer;
}

.train_m {
    background: #ffffff url(/assets/images/smartbuy/train.svg) no-repeat right bottom;
    background-size: auto 28%;
    cursor: pointer;
}

.partners_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 10px 0px 1.5em;
    margin-bottom: 10px;
    @media screen and (max-width: 575.98px) {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 5px 0px 0px;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }
    div {
        // flex: 2 0 21%;
        flex-basis: auto;
        background-color: #ffffff;
        border-radius: 8px;
        border: 1px solid #e6e6e6;
        margin-right: 15px;
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 10px;
        justify-content: center;
        img {
            width: auto;
            padding: 10px;
        }
    }
}

.partners_container_emi {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    // flex-wrap: nowrap;
    flex-wrap: nowrap;
    // padding: 1.5em 0px;
    margin-bottom: 10px;
    @media screen and (max-width: 1024.56px) {
        overflow-x: auto;
        overflow-y: hidden;
        padding: 0em 0px 0px;
        margin-bottom: 20px;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .emi_content_cate {
        position: relative;
        // flex-basis: 300px;
        flex-basis: auto;
        img {
            width: 240px;
            border-radius: 8px;
            @media screen and (max-width: 1200px) {
                width: 200px;
            }
            @media screen and (max-width: 575.98px) {
                margin-right: 10px;
                max-width: 200px;
            }
            @media screen and (min-width: 767.56px) and (max-width: 1024.56px) {
                margin-right: 30px;
            }
            
        }
    }
    .emi_text {
        text-align: center;
        position: absolute;
        top: 30px;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        .cate_name {
            color: #000000;
            font-size: 16px;
            font-family: 'opensans-medium';
        }
        .cate_price {
            color: #555555;
            span {
                &:first-child {
                    display: block;
                    font-family: 'opensans-light';
                    margin-bottom: 5px;
                }
            }
        }
    }
    .all_content_cate {
        border-radius: 8px;
        color: #000000;
        background-color: #ffffff;
        border: solid 1px #e6e6e6;
        flex-shrink: 0;
        flex-shrink: 0;
        flex-basis: 180px;
        p.emi_text_inner {
            color: #555555;
        }
        .cate_price {
            color: #000000;
            font-weight: 600;
            padding: 10px;
            font-size: 20px;
        }
    }
    a {
        cursor: pointer;
    }
}

.categorie_select {
   /*  width:162px; */
    border: none;
    /* border-bottom: 1px solid #ccc; */
    background-color: transparent;
    color: #555;
    font-family: 'opensans-regular';
    font-weight: 600;
    -webkit-appearance: none;
    /* -webkit-appearance: auto;
    -webkit-appearance: initial;
    background: url(/assets/images/smartbuy/icons/angle-down.svg) no-repeat right transparent; */
    position: relative;
    -webkit-appearance: menulist;

    @media screen and (max-width: 320px) {
        font-size: 12px;
    }
    /* &:after{
        content: "\f107";
        font-family: FontAwesome;
        position: relative;
        right: 5%;
    } */
}

.m_cat_select {
    @media screen and (max-width: 566px) {
        width: 160px;
    }
    @media screen and (max-width: 320px) {
        width: 130px;
    }
}

.trend_select {
    @media screen and (max-width: 575.98px) {
        width: 150px;
    }
}

.points_note {
    color: #555555;
    padding: 10px 0px;
    margin-bottom: 10px;
    @media screen and (max-width: 575.98px) {
        font-size: 12px;
    }
}

.product_info {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #e6e6e6;
    padding: 15px;
    // width: 250px;
    width: 267px;
    min-height: 390px;
    max-height: 390px;
    margin: 0px 10px;
    position: relative;
    @media screen and (max-width: 575.98px) {
        margin: 0 auto;
        width: 100%;
        position: relative;
        max-height: inherit;
    }
    .new_tag {
        background-color: #24A148;
        color: #ffffff;
        font-weight: 700;
        font-size: 12px;
        font-size: 12px;
        padding: 2px 12px;
        border-radius: 2px;
    }
    .sold_tag {
        color: #dd327a;
        font-size: 10px;
        float: left;
    }
    .whilist_tag,
    .new_tag {
        float: left;
        // font-size: 10px;
        position: absolute;
        left: 0px;
        top: 10px;
        @media screen and (max-width: 575.98px) {
            left: 0px;
            z-index: 2;
        }
    }
    p {
        margin-bottom: 10px;
    }
    .prd_name {
        font-size: 14px;
        margin-bottom: 0px;
        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        width: 100%;
        font-weight: 700;
        .dot {
            height: 5px;
            width: 5px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            margin: 0px 5px;
            vertical-align: middle;
        }
        span.status {
            color: #24A148;
        }
    }
    .prd_desc {
        font-size: 14px;
        color: #000000;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
        // display: inline-block;
        width: 100%;
        span {
            // display: -webkit-box;
            // -webkit-line-clamp: 2;
            // -webkit-box-orient: vertical;
            // overflow: hidden;
            // text-overflow: ellipsis;
            // width: 100%;
            // height: 35px;
        }
        @media screen and (max-width: 320px) {
            width: 150px;
        }
    }
    .ship_charge {
        color: #909090;
        font-size: 10px;
    }
    .rating_star {
        color: #ff832b;
        font-size: 12px;
        font-weight: bold;
    }
    .price {
        font-size: 20px;
        font-weight: bold;
        color: #000000;
        .points {
            background-color: #24a148;
            color: #ffffff;
            font-size: 10px;
            border-radius: 20px;
            margin-left: 5px;
            padding: 2px 5px;
        }
    }
    .emi_text {
        color: #888888;
        font-size: 10px;
        span {
            font-weight: bold;
        }
    }
    .partner_img {
        color: #000000;
        font-size: 12px;
        font-family: 'opensans-medium';
        span {
            img {
                // width: 50px;
                width: auto;
                height: 15px;
                padding-left: 10px;
                vertical-align: -webkit-baseline-middle;
                object-fit: contain;
            }
        }
    }
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1px;
    grid-auto-rows: minmax(140px, auto);
    grid-auto-flow: column;
    padding: 1px;
    margin: 1em 0px;
    .grid-item {
        padding: 1rem;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        background-color: #ccc;
        // border-radius: 8px;
        // &:nth-child(odd) {
        //     background-color: #ccc;
        // }
        .content {
            width: 160px;
            text-align: left;
            .partner_logo {
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50px;
                }
            }
            .content_text {
                font-size: 16px;
                font-family: 'opensans-light';
                font-weight: 300;
                line-height: 20px;
                text-transform: capitalize;
                padding: 2em 0px;
            }
            .content_info {
                p.price {
                    font-family: 'opensans-bold';
                    padding: 10px 0px;
                    margin-bottom: 0px;
                    span.reward_points {
                        font-size: 12px;
                        font-family: 'opensans-light';
                        padding: 10px 0px;
                        display: block;
                    }
                }
                p.coupon {
                    background-color: #fff;
                    border-radius: 8px;
                    display: inline-block;
                    padding: 6px;
                    margin: 2.5em 0px;
                    span:nth-child(1) {
                        color: #ccc;
                    }
                    span:nth-child(2) {
                        color: #000000;
                        padding: 0px 5px;
                    }
                }
                p.link_text a {
                    text-transform: capitalize;
                }
            }
        }
    }
    .span-2 {
        grid-column-end: span 1;
        grid-row-end: span 2;
    }
    .span-3 {
        grid-column-end: span 3;
        grid-row-end: span 4;
    }
    .item_1 {
        background: #c1dcff url('/assets/images/smartbuy/offers/travel.png') no-repeat right;
        background-size: 100%;
        position: relative;
        background-position: 144px 12px;
    }
    .item_2,
    .item_5 {
        background: #ffe271 url('/assets/images/smartbuy/offers/burger.png') no-repeat right;
        background-size: 70%;
        position: relative;
        background-position: 164px 12px;
    }
    .item_3,
    .item_6 {
        background: #d1ffc0 url('/assets/images/smartbuy/offers/pizza.png') no-repeat right;
        background-size: 60%;
        position: relative;
        background-position: 184px -8px;
    }
    .item_4 {
        background: #ffd1e8 url('/assets/images/smartbuy/offers/mobile.png') no-repeat right;
        background-size: 130%;
        position: relative;
        background-position: 134px 2px;
    }
}

@mixin img_pro {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.recent_search_sec {
    padding: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    background-color: #ffffff;
    .journey_search_box {
        // background-color: #F2F8FB;
        background-repeat: no-repeat;
        background-size: contain;
        padding: 10px;
        margin: 10px 0px 0px;
        height: 110px;
        position: relative;
        background-color: #f2f8fb;
        border-radius: 8px;
        // .js_child {
        //     position: absolute;
        //     left: 32%;
        //     right: auto;
        //     top: 20%;
        //     max-width: 65%;
        // }
        @media screen and (max-width: 566px) {
            min-height: 110px;
        }
        @media screen and (min-width: 1441px) and (max-width: 1600px) {
            height: 150px;
        }
        @media screen and (min-width: 1601px) and (max-width: 1920px) {
            height: 158px;
        }
        @media screen and (min-width: 1921px) and (max-width: 2560px) {
            height: 150px;
        }
        .search_icon {
            display: none;
        }
        p {
            display: flex;
            justify-content: left;
            align-items: center;
            // padding-left: 7em;
            margin-top: 10px;
            margin-bottom: 0px;
            @media screen and (max-width: 566px) {
                display: block;
                text-align: center;
            }
            span {
                flex-basis: auto;
                font-size: 14px;
                color: #1B519D;
                font-weight: 700;
                text-align: left;
                padding: 0px 5px;
                word-break: break-word;
                @media screen and (min-width: 1921px) and (max-width: 2560px) {
                    font-size: 20px;
                }
                @media screen and (min-width: 1600px) and (max-width: 1920px) {
                    font-size: 18px;
                }
                @media screen and (max-width: 566px) {
                    font-size: 14px;
                    text-align: center;
                    display: block;
                }
            }
        }
        p.date_info {
            text-align: left;
            // padding-left: 0px;
            margin-top: 0px;
            display: block;
            padding: 0;
            @media screen and (max-width: 566px) {
                margin-top: 10px;
            }
            .date {
                color: #000000;
                opacity: 50%;
                font-size: 12px;
                @media screen and (min-width: 1600px) and (max-width: 1920px) {
                    font-size: 14px;
                }
                @media screen and (min-width: 1921px) and (max-width: 2560px) {
                    font-size: 16px;
                }
            }
        }
        &:hover .search_icon {
            display: block;
            position: absolute;
            right: 3%;
            bottom: 10px;
            margin: 0px;
        }
    }
    .journey_search.flight {
        background-image: url('/assets/images/smartbuy/recent_search/flight.png');
        @include img_pro;
    }
    .journey_search.bus {
        background-image: url('/assets/images/smartbuy/recent_search/bus.png');
        // background-position: bottom left;
        @include img_pro;
    }
    .journey_search.hotel {
        background-image: url('/assets/images/smartbuy/recent_search/hotel.png');
        @include img_pro;
    }
    .journey_search.train {
        background-image: url('/assets/images/smartbuy/recent_search/train.png');
        @include img_pro;
    }
    p {
        span {
            font-family: 'opensans-medium';
        }
    }
    .recent_view {
        color: #1d86ff;
        padding-left: 10px;
    }
    .item_prd {
        padding: 10px;
        border: 1px solid #e6e6e6;
        border-radius: 8px;
        height: 70px;
        &:hover {
            background-color: #f0f8ff;
        }
        .prd_sec_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .prd_img {
            width: 80px;
            height: 80px;
        }
    }
    .label_reminder {
        color: #dd327a;
        font-size: 11px;
    }
    .prd_item_name {
        font-size: 16px;
        margin: 0;
        color: #000000;
    }
    @media screen and (max-width: 575.98px) {
        margin-bottom: 1.5em;
    }
}

.recomend_prd {
    padding: 0 12px 12px;
    border-radius: 8px;
    background-color: #a7ef9e;
    text-align: center;
    height: 235px;
    .title {
        letter-spacing: normal;
        text-align: center;
        color: #fff;
        font-size: 15px;
        background-color: #67aa5f;
        padding: 4px 0px;
        border-radius: 0px 0px 10px 16px;
        font-weight: 600;
    }
    .price_emi {
        font-size: 25px;
    }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
        .rec_prd_img {
            width: 75%;
        }
    }
    @media screen and (max-width: 575.98px) {
        margin-bottom: 1.5em;
        height: auto;
        img {
            width: 35%;
        }
    }
}

.recomend_prd_img {
    height: 300px;
    text-align: center;
    @media screen and (min-width: 1600px) and (max-width: 1920px) {
        height: 420px;
    }
    @media screen and (min-width: 1921px) and (max-width: 2560px) {
        height: 392px;
    }
    @media screen and (max-width: 566px) {
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }
    img {
        @media screen and (min-width: 1200px) {
            height: 80%;
        }
        @media screen and (min-width: 1366px) {
            height: 92%;
        }
        @media screen and (min-width: 1440px) {
            height: 98%;
        }
        @media screen and (min-width: 1600px) {
            height: 80%;
        }
        @media screen and (min-width: 1900px) {
            height: 91%;
        }
        @media screen and (min-width: 2560px) {
            height: 98%;
        }
    }
}

.trend_item .owl-theme .owl-nav {
    position: relative;
}
.trendItems_mlite{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 50px;
}
.primary_sec {
    display: flex;
    align-items: flex-start;
}

.secondary_sec {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.footer-smartbuy {
    margin-top: 0px;
}

.paapi5-pa-percent-off {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    // -webkit-border-radius: 50%;
    // -moz-border-radius: 50%;
    // -ms-border-radius: 50%;
    border-radius: 0px 10px 10px 0;
    background-color: #DDBB03;
    width: 40px;
    padding: 2px;
    font-weight: bold;
    font-family: 'opensans-regular';
}

.owl-carousel .recomm-stage-outer1 {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.animated-cards {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform
}

.offerCard {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 8px;
    color: #7E7E7E;
    font-size: 12px;
    height: 320px;
    padding: 0 15px 15px
}

.offerCardImg {
    border-radius: 5px 5px 0 0;
    height: 230px;
    vertical-align: middle;
    line-height: 230px;
    background: #ff2241;
    position: relative
}

.cardblock {
    // margin-right: 10px;
    // width: 267px;
    // width: 24.2%;
    width: 100%;
    float: left;
    // @media screen and (max-width: 1366.90px) and (min-width: 1201px) {
    //     width: 24.1%;
    // }
    // @media screen and (max-width: 1024px) and (min-width: 769px) {
    //     width:210px;
    // }
    // @media screen and (max-width: 768px) {
    //     width:220px;
    // }
    // @media screen and (max-width: 575.98px) {
    //     width:180px;
    // }
}

.offerCardImgtag {
    display: block;
    width: 100%;
    height: 170px;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0.76), transparent), -webkit-linear-gradient(90deg, #1d222a, #353e4d);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.76), transparent), linear-gradient(0deg, #1d222a, #353e4d);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.offerCardImg img {
    display: inline-block !important;
    float: none
}

.offerTag {
    position: absolute;
    right: -2px;
    top: 12px;
    line-height: .9;
    background: #E5EDF4;
    padding: 2px 5px 0;
    height: 16px;
    display: inline;
    color: #074F92;
    font-size: 11px;
    font-family: 'opensans_medium';
    min-width: 80px;
    text-align: right;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2)
}

.offerTag:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: -6px;
    width: 6px;
    height: 16px;
    background: url(/assets/images/offer-shape.png) no-repeat left top;
    background-position: 2px 0
}

.left_arrow {
    background: url(/assets/images/smartbuy/icons/left-arrow.svg) no-repeat;
}

.offerCardCnt {
    display: inline-block !important;
    height: 140px;
    margin-top: 15px;
    padding: 0 20px
}

.offerCard-title {
    font-size: 18px;
    color: #000000;
    font-weight: 700;
    font-family: 'opensans-bold';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.offerCard-desc {
    font-size: 14px;
    // color: #191919;
    color: #555555;
    font-weight: 400;
    margin: 0;
    font-family: 'opensans-regular';
    // word-break: break-word;
    // white-space: nowrap;
    // display: inline-block;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // -webkit-line-clamp: 2;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // white-space: normal;
    white-space: pre-line;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
}

.exp_date {
    color: #8B8B8B;
    font-size: 14px;
    font-family: 'opensans-regular';
    margin: 15px 0px;
}

.offerCard-expiry {
    // position: absolute;
    // bottom: 10px;
    // width: 88%;
    // display: inline-block;
    font-family: 'opensans-bold';
    margin: 0;
    font-size: 14px;
    color: #000000;
}

.offerCard-expiry i.fa {
    color: #074F92;
    font-weight: 400;
    font-size: 18px
}

.view_btn {
    font-size: 14px;
    color: #1D86FF;
    border: 1px solid #1D86FF;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    width: 100%;
    &:hover {
        background-color: #1D86FF;
        color: #fff;
    }
}

.recomm-item {
    width: 180px;
    text-align: center;
}

.card_long {
    // background-color: #c1dcff;
    background-color: #ffffff;
    padding: 15px 15px 20px;
    border-radius: 8px;
    max-width: 315px;
    border: 1px solid #e6e6e6;
    @media screen and (max-width: 566px) {
        height: auto;
        width: 100%;
    }
    @media screen and (max-width:1366px) {
        max-width: 300px;
    }
    @media screen and (min-width:1600px) {
        max-width: 350px;
    }
    .img_sec {
       /*  height: auto; */
        height: 180px;
        position: relative;
        @media screen and (max-width: 566px) {
            height: 100px;
        }
        @media screen and (min-width: 1600px) {
            height: auto;
        }
    }
}

// .card_long:nth-child(2n+1){
//     background-color: #FFD1E8;
// }
.card_short {
    .offerCard-desc {
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        width: 220px;
        color: #555;
        margin-bottom: 10px;
        @media screen and (max-width: 1024px) and (min-width: 769px) {
            width: 190px;
        }
    }
}

.short_one {
    // background-color: #FFE271;
    background-color: #ffffff;
    padding: 15px 15px 20px;
    border-radius: 8px;
    height: 195px;
    margin-bottom: 10px;
    border: 1px solid #e6e6e6;
}

.short_two {
    // background-color: #D1FFC0;
    background-color: #ffffff;
    padding: 15px 15px 20px;
    border-radius: 5px;
    height: 195px;
    border: 1px solid #e6e6e6;
}

.short_img {
    width: 40px !important;
    height: 40px;
    border-radius: 50%;
}

.positionRelative {
    position: relative;
    padding-top: 10px;
}

.positionRelative1 {
    position: relative;
}

.imgscale {
    background-color: #fff;
    height: 170px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.imgscale1 {
    height: 170px;
    // background-size: contain;
    // background-size: 100% 100%;
    background-size: 100%;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.imgscale2 {
    // height: 40px;  width: 40px;
    // border-radius:50%;
    // background-size: contain;
    // background-position: 50% 50%;
    // background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: contain;
    background-color: white;
    border: 1px solid #e6e6e6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /*background-size: 100% 100%;*/
}

.imgscale3 {
    background-color: #fff;
    width: 40px;
    height: 50px;
    object-fit: cover;
    // background-size: contain;
    // background-position: 50% 50%;
    // background-repeat: no-repeat;
}

.imgscale4 {
    background-color: #fff;
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-bottom: 15px;
}

.imgscale5 {
    height: 64px;
    object-fit: cover;
}

.redirect-modal-header {
    background-color: #001F79;
    color: #fff;
    border-radius: 0px;
    .close {
        color: #fff;
        text-decoration: none;
        opacity: 0.75;
        &:hover {
            color: #fff;
            text-decoration: none;
            opacity: 1 !important;
        }
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .card_points_info {
        margin: 15px 0px;
    }
}

@media screen and (max-width: 575.98px) {
    .short_one,
    .short_two {
        height: 210px;
        .offerCard-desc {
            // white-space: pre-wrap;
            // display: inline-block;
            // width: auto;
            // height: auto;
            width: auto;
            height: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: initial;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .card_points_info {
        margin: 15px 0px;
    }
    .modal-body {
        div,
        p {
            font-size: 14px;
        }
    }
    .m-modal-footer {
        display: block;
        font-size: 14px;
        padding: 10px;
        a {
            margin: 0px;
            height: auto;
            width: 100% !important;
        }
    }
}


/* .owl-thumbs {
    text-align: center;
    button {
      background-color: transparent;
      border: none;
      display: inline-block;
      margin-right:0px;
      padding: 0px 0px;
     height:60px;
     width:70px;
     margin-top:-6px;
      &.owl-thumb-item.active {
        transition: 0.3s;
   
      }
    }
  }*/

.recent_ser_m {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    .item {
        background-color: #ffffff;
        border-radius: 5px;
        padding: 10px 15px;
        margin-right: 20px;
        flex: 0 0 auto;
        a{
            p{
                line-height: normal;
            }
        }
        .cate {
            color: #0084FF;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        span.name {
            color: #1B519D;
            font-size: 12px;
            font-weight: 700;
            font-family: 'opensans-bold';
        }
        .time {
            color: #000000;
            font-size: 11px;
            font-weight: 400;
            margin-bottom: 5px;
            opacity: 0.7;
        }
    }
}

.recomm-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}

.rec_prd_price {
    color: #000;
    font-size: 14px;
}

.text-truncate {
    padding-left: 0px;
    float: left;
}

.spinBtn {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffff;
    span {
        color: #555;
        .spinLoader {
            color: #1D86FF;
            -webkit-animation: spinner-border .75s linear infinite;
            animation: spinner-border .75s linear infinite;
        }
    }
}

// Containers large scrren for you tab
.container_ftab {
    position: relative;
    @media screen and (min-width: 320px) and (max-width: 566px) {
        // max-width: 80%;
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
        margin: 1.5em 0em;
        .view-all-deals {
            position: absolute;
            right: 10px;
            top: 0px;
            font-size: 14px;
            font-weight: 600;
        }
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        // max-width: 80%;
        width: 100%;
        padding-right: 2em;
        padding-left: 2em;
        margin: 3em 0em;
    }
    
    @media screen and (min-width: 1200px){
        width: 100%;
        padding-right: 4em;
        padding-left: 4em;
    }
    @media screen and (min-width: 1792px) {
        min-width: 1200px;
        max-width: 1680px;
        margin: 0 auto;
        padding: 0px;
    }
}

@media only screen and (min-width: 1366px) and (max-width: 1440.59px) {}

@media only screen and (min-width: 1601px) and (max-width: 1920.59px) {
    .card_bookunblock {
        min-width: 40% !important;
    }
    .exclusive_container .partner_con {
        width: 98%;
    }
    .recent_search_sec p {
        span {
            font-size: 1.5rem;
        }
    }
    .prd_item_name {
        font-size: 1.5rem;
    }
    .item_prd {
        height: 140px;
        .imgscale3 {
            width: 100px;
            height: 100px;
        }
    }
    .recomend_prd {
        height: 370px;
        .title {
            font-size: 20px;
        }
        .imgscale4 {
            width: 90%;
            height: 260px;
            object-fit: contain;
        }
    }
    .trend_item {
        .product_info {
            width: 95%;
        }
    }
    .card_points_info {
        background-position: 100% 0%;
        padding: 30px;
        // height: 270px;
    }
    .partners_container div {
        height: 100px;
    }
    .emi_content_cate {
        font-size: 20px;
    }
    .partners_container_emi .emi_content_cate img {
        width: 300px;
    }
    .view-all-deals {
        font-weight: 600;
        font-size: 14px;
        position: absolute;
        top: 30px;
        right: 0px;
    }
    .cardblock {
        // width: 98%;
        .offerCard-title {
            font-size: 20px;
        }
        .offerCard-desc {
            font-size: 15px;
        }
        .offerCard-expiry {
            font-size: 16px;
        }
        .view_btn {
            font-size: 14px;
        }
        .card_long {
            max-width: 400px;
            .imgscale1 {
                height: 260px;
            }
        }
        .card_short {
            .short_one,
            .short_two {
                // height: 24vh;
                height: 240px;
                .offerCard-desc {
                    width: 90%;
                }
            }
        }
    }
}

@media only screen and (min-width: 1921px) and (max-width: 2560px) {
    .card_bookunblock {
        min-width: 40% !important;
    }
    .exclusive_container .partner_con {
        width: 98%;
    }
    .recent_search_sec p {
        span {
            font-size: 1.5rem;
        }
    }
    .prd_item_name {
        font-size: 1.5rem;
    }
    .item_prd {
        height: 140px;
        .imgscale3 {
            width: 100px;
            height: 100px;
        }
    }
    .recomend_prd {
        height: 370px;
        .title {
            font-size: 20px;
        }
        .imgscale4 {
            width: 90%;
            height: 260px;
            object-fit: contain;
        }
    }
    .trend_item {
        .product_info {
            width: 95%;
        }
    }
    .card_points_info {
        background-position: 100% 0%;
        padding: 30px;
        // height: 270px;
    }
    .partners_container div {
        height: 100px;
    }
    .emi_content_cate {
        font-size: 20px;
    }
    .partners_container_emi .emi_content_cate img {
        width: 300px;
    }
    .cardblock {
        width: 99%;
        .offerCard-title {
            font-size: 20px;
        }
        .offerCard-desc {
            font-size: 15px;
        }
        .offerCard-expiry {
            font-size: 16px;
        }
        .view_btn {
            font-size: 14px;
        }
        .card_long {
            // height: 430px;
            max-width: 400px;
            .imgscale1 {
                height: 260px;
            }
        }
        .card_short {
            .short_one,
            .short_two {
                height: 240px;
                .offerCard-desc {
                    width: 90%;
                }
            }
        }
    }
}

.gifImage {
    width: 45px !important;
    border-radius: 50px;
}

@media only screen and (max-width: 600px) {
    .positionRelative5 {
        position: relative;
        height: 150px !important;
    }
}

.positionRelative5 {
    position: relative;
    height: 200px;
}

.dealsImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.view_all_link {
    color: #1d86ff;
    font-size: 14px;
    font-weight: 600;
}

.sb_exc_xs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
    .item_b {
        background-color: #FFFFFF;
        border-radius: 4px;
        text-align: center;
        flex: 1 1 30.3%;
        padding: 10px;
        margin: 5px;
        .points_text {
            font-size: 10px;
            color: #000000;
        }
    }
}

.book_travel_mlite {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .nav-item {
        text-align: center;
        a {
            color: #000000;
            font-size: 12px;
            font-weight: 600;
            font-family: 'opensans-medium';
            margin: 0px;
            padding: 0px 0.5rem;
            .circle_icn {
                width: 30px;
                height: 30px;
                background-color: #ffffff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                img {
                    width: 15px;
                    height: 15px;
                }
            }
            .tab_name {
                margin: 5px 0px 0px;
                padding-bottom: 5px;
                font-size: 14px;
            }
        }
        a.nav-link.active {
            transition: 1s ease-in-out;
            background-color: transparent;
            .circle_icn {
                background-color: #1D85FE;
                img {
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(350deg) brightness(107%) contrast(250%);
                }
            }
            .tab_name {
                border-bottom: 2px solid #1D85FE;
                color: #1D85FE;
            }
        }
    }
    .tab-content {
        background-color: #fff;
        padding: 1em 0 0;
    }
}

.box_hidden {
    visibility: hidden;
}

.box_visible {
    visibility: visible;
}

.sb_exc_xs_latest {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items:stretch;
    .item_b {
        background-color: #FFFFFF;
        border-radius: 4px;
        text-align: center;
        flex: 1 1 30.3%;
        margin: 5px;
        .dark_warning_bg{
            padding: 10px;
            background-color: #ffe6c4;
            .points_text {
                font-size: 12px;
                color: #000000;
            }
        }
        .dark_red_bg{
            padding: 10px;
            background-color: #fdd9dd;
            .points_text {
                font-size: 10px;
                color: #000000;
            }
        }
    }
    .warning_bg{
        background-color: #FFF3e5;
        .exclusive_brand{
            padding:10px 5px;
        }
        .exclusive_brand_img{
            width:86px;
            height:34px;
        }
    }
    .red_bg{
        background-color: #FFF1F3;
        .exclusive_brand{
            padding:10px 5px;
        }
        .exclusive_brand_img{
            width:86px;
            height:34px;
        }
    }
}
