<main class="site-main"> 
<!-- page title area start -->
    <section class="page-title-area page-title-club-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="page-title-content text-center"> 
                        <h1 class="h1-title fw-bold text-white">&nbsp;</h1>                                
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- page title area end --> 


    <section class="Marriott-area mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="section-title-content text-center"> 
                        <h1 class="h1-title">Complimentary Club Marriott Membership</h1>  
                        <p>Complimentary Club Marriott membership for first year that offers up to 20% discounts for Dining and stay <br> across Asia – Pacific region. </p>                              
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-lg-12 col-md-12">
                    <div class="Membership-grid"> 
                        <div class="Membership-grid-list">
                            <div class="Membership-grid-image">
                                <img src="{{cdnUrl}}images/infinia_static/Membership/1.png" alt="" />
                            </div>
                            <div class="Membership-grid-content">
                                <h6><strong>Unique Dining Experience</strong></h6>
                                <p>Up to a 20% off on the food and beverage bill at the restaurants </p>
                            </div>
                        </div>
                        <div class="Membership-grid-list">
                            <div class="Membership-grid-image">
                                <img src="{{cdnUrl}}images/infinia_static/Membership/2.png" alt="" />
                            </div>
                            <div class="Membership-grid-content">
                                <h6><strong>Endless <br> Travel</strong></h6>
                                <p>Up to a 20% off on the Best Available Rates on rooms at participating Marriott hotels in India</p>
                            </div>
                        </div>
                        <div class="Membership-grid-list">
                            <div class="Membership-grid-image">
                                <img src="{{cdnUrl}}images/infinia_static/Membership/3.png" alt="" />
                            </div>
                            <div class="Membership-grid-content">
                                <h6><strong>Blissfull <br> Relaxation</strong></h6>
                                <p>20% off on Spa services at participating Marriott spas in India between</p>
                            </div>
                        </div>
                        <div class="Membership-grid-list">
                            <div class="Membership-grid-image">
                                <img src="{{cdnUrl}}images/infinia_static/Membership/4.png" alt="" />
                            </div>
                            <div class="Membership-grid-content">
                                <h6><strong>Marriott <br> Certificates</strong></h6>
                                <p>One certificate each for upgrade to next category room and 30% off on Best available rate on base category of room</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center align-items-center mt-5 mb-5">
                <div class="col-md-4">
                    <div class="experiences-text">
                        <h6>Indulge <br> in our selection <br> of Club Marriott <br> experiences </h6>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="experiences-slider-area">
                        <owl-carousel-o [options]="customOptions">
                            <ng-container *ngFor="let item of inClud; let i = index">
                                <ng-template carouselSlide>
                                    <div class="owl-carousel carousel-experiences" data-nav-arrow="false" data-items="1" data-md-items="1"
                                        data-sm-items="1" data-xs-items="1" data-xx-items="1.3" data-space="20" data-autoheight="true">
                                        <div class="item">
                                            <div class="experiences-items">
                                                <div class="experiences-image">
                                                    <img src="{{item.img}}" alt="" />
                                                    <div class="experiences-content">
                                                        <h6>{{item.title}}</h6>
                                                        <p>{{item.desc}}</p>
                                                        <a href="javaScript:void(0);" class="slider-btn">Know more <img src="{{cdnUrl}}images/infinia_static/icon/btn-right.png"
                                                                alt=""></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
          
            <div class="row justify-content-center mt-5">
                <div class="col-md-12">
                    <div class="Enroll-btna-area text-center">
                        <p> Please visit <a href="www.clubmarriott.in">www.clubmarriott.in</a> for list of participating hotels in Asia Pacific and Spas in India. </p>
                        <input type="button" value="Enroll for Membership" class="Enroll-btn" (click)="enrol_membership()" [disabled]="enrol_membership_disabled">
                    </div>
                </div>                        
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-10">
                    <div class="Enroll-team">
                        <h6 class="Enroll-title">Terms & Condition</h6>
                        <ul class="m-0">
                            <li>
                                <p>Infinia cardholders onboarded on or after 20th March 2019 are eligible for this membership for the first year of cardholding.  </p>
                            </li>
                            <li>
                                <p><a href="javaScript:void(0);">Click here for detailed T&C  </a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-md-10">
                    <div class="Clickfaq text-center">
                        <a href="javaScript:void(0);">Click here for FAQs</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>